/* @import url('https://cdn.jsdelivr.net/gh/mendax1234/logseq-cusgit-theme/custom.css') */
@import url('https://cdn.jsdelivr.net/gh/sansui233/logseq-bonofix-theme/custom.css');
/* Personal settingPersonal setting */
/* Fonts */

/* #root>div, */
/* html, */
/* body { */
/*     font-family: var(--ls-font-family); */
/* } */


/* Word wrapper */
span[data-ref="red#"],
span[data-ref="blue#"],
span[data-ref="green#"],
span[data-ref="hl-5#"],
span[data-ref="hl-4#"],
span[data-ref="hl-3#"],
span[data-ref="hl-2#"],
span[data-ref="hl-1#"] {
  display: none;
}

span[data-ref="green#"] + mark,
span[data-ref="green#"] + mark * {
    background: #ccffc1 !important;
    color: #262626 !important;
}

span[data-ref="red#"] + mark,
span[data-ref="red#"] + mark * {
    background: #ffc7c7 !important;
    color: #262626 !important;
}

span[data-ref="blue#"] + mark,
span[data-ref="blue#"] + mark * {
    background: #abdfff !important;
    color: #262626 !important;
}

span[data-ref="hl-1#"] + mark,
span[data-ref="hl-1#"] + mark * {
  background: deepskyblue !important;
  color: #262626 !important;
}
span[data-ref="hl-2#"] + mark,
span[data-ref="hl-2#"] + mark * {
  background: chocolate !important;
  color: #262626 !important;
}
span[data-ref="hl-3#"] + mark,
span[data-ref="hl-3#"] + mark * {
  background: #ff813d !important;
  color: #262626 !important;
}
span[data-ref="hl-4#"] + mark,
span[data-ref="hl-4#"] + mark * {
  background: #12cb77 !important;
  color: #262626 !important;
}
span[data-ref="hl-5#"] + mark,
span[data-ref="hl-5#"] + mark * {
  background: #838080 !important;
  color: #262626 !important;
}
/* End word wrapper */



/* 图片背景修改为白色 */
img {
  background: white;
}
