/* @import url('https://cdn.jsdelivr.net/gh/mendax1234/logseq-cusgit-theme/custom.css') */
@import url('https://cdn.jsdelivr.net/gh/sansui233/logseq-bonofix-theme/custom.css');

@import url('https://cdn.jsdelivr.net/npm/@fontsource/fira-code');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/fira-sans');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-sc');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/inter');

/* Personal settingPersonal setting */
/* Fonts */

/* #root>div, */
/* html, */
/* body { */
/*     font-family: var(--ls-font-family); */
/* } */

:root {
    --ct-code-font-family: Fira Code, 'Noto Sans SC', Monaco, Menlo, Consolas, 'COURIER NEW', "等距更纱黑体 SC", monospace;
    /* --ls-font-family: 'inter', "等距更纱黑体 SC"; */
    --ls-font-family: 'fira sans', 'sarasa ui sc', 'sarasa ui tc', "等距更纱黑体 SC";
    --ls-main-content-max-width-wide: 100%;
    --ls-main-content-max-width: 100%;
}

#root>div,
html,
body {
    font-family: var(--ls-font-family);
    font-size: 18px;
}

.CodeMirror {
    font-family: var(--ct-code-font-family) !important;
}



/* Word wrapper */
span[data-ref="red#"],
span[data-ref="blue#"],
span[data-ref="green#"],
span[data-ref="hl-5#"],
span[data-ref="hl-4#"],
span[data-ref="hl-3#"],
span[data-ref="hl-2#"],
span[data-ref="hl-1#"] {
  display: none;
}

span[data-ref="green#"] + mark,
span[data-ref="green#"] + mark * {
    background: #ccffc1 !important;
    color: #262626 !important;
}

span[data-ref="red#"] + mark,
span[data-ref="red#"] + mark * {
    background: #ffc7c7 !important;
    color: #262626 !important;
}

span[data-ref="blue#"] + mark,
span[data-ref="blue#"] + mark * {
    background: #abdfff !important;
    color: #262626 !important;
}

span[data-ref="hl-1#"] + mark,
span[data-ref="hl-1#"] + mark * {
  background: deepskyblue !important;
  color: #262626 !important;
}
span[data-ref="hl-2#"] + mark,
span[data-ref="hl-2#"] + mark * {
  background: chocolate !important;
  color: #262626 !important;
}
span[data-ref="hl-3#"] + mark,
span[data-ref="hl-3#"] + mark * {
  background: #ff813d !important;
  color: #262626 !important;
}
span[data-ref="hl-4#"] + mark,
span[data-ref="hl-4#"] + mark * {
  background: #12cb77 !important;
  color: #262626 !important;
}
span[data-ref="hl-5#"] + mark,
span[data-ref="hl-5#"] + mark * {
  background: #838080 !important;
  color: #262626 !important;
}
/* End word wrapper */



/* 图片背景修改为白色 */
img {
  background: white;
}

.done {
  text-decoration: none;
}

/* 引用块不再是斜体 */
.content .block-ref{
  font-style: normal;
} 

/* PDF 标准内容处理 */
.block-content[data-type=annotation] a.prefix-link:before,
.block-content[data-type=annotation] div.prefix-link,
.block-content[data-type=annotation] div.prefix-link::before,
.block-content[data-type=annotation] [data-hl-type=area] .hl-page{
	display: none;
}

/* 引用链接只保留背景色，去掉下划线 */
.block-content-wrapper :is(.block-ref, .external-link){
  border-bottom: 0px !important;
  background: transparent !important;
}

/* .content :not(pre)>code { */
/*   color: yellow; */
/* } */

.dark-theme .content .external-link{
  color: var(--ls-primary-text-color,#24292e);
  border-bottom: 0px;
}

/* :root{ */
/*   --ct-inline-code-font-color: yellow !important; */
/* } */
