/* @import url('https://cdn.jsdelivr.net/gh/mendax1234/logseq-cusgit-theme/custom.css') */
@import url('https://cdn.jsdelivr.net/gh/sansui233/logseq-bonofix-theme/custom.css');
/* Personal settingPersonal setting */
/* Fonts */

/* #root>div, */
/* html, */
/* body { */
/*     font-family: var(--ls-font-family); */
/* } */


/* Word wrapper */
span[data-ref="red#"],
span[data-ref="blue#"],
span[data-ref="green#"],
span[data-ref="hl-5#"],
span[data-ref="hl-4#"],
span[data-ref="hl-3#"],
span[data-ref="hl-2#"],
span[data-ref="hl-1#"] {
  display: none;
}

span[data-ref="green#"] + mark,
span[data-ref="green#"] + mark * {
    background: #ccffc1 !important;
    color: #262626 !important;
}

span[data-ref="red#"] + mark,
span[data-ref="red#"] + mark * {
    background: #ffc7c7 !important;
    color: #262626 !important;
}

span[data-ref="blue#"] + mark,
span[data-ref="blue#"] + mark * {
    background: #abdfff !important;
    color: #262626 !important;
}

span[data-ref="hl-1#"] + mark,
span[data-ref="hl-1#"] + mark * {
  background: deepskyblue !important;
  color: #262626 !important;
}
span[data-ref="hl-2#"] + mark,
span[data-ref="hl-2#"] + mark * {
  background: chocolate !important;
  color: #262626 !important;
}
span[data-ref="hl-3#"] + mark,
span[data-ref="hl-3#"] + mark * {
  background: #ff813d !important;
  color: #262626 !important;
}
span[data-ref="hl-4#"] + mark,
span[data-ref="hl-4#"] + mark * {
  background: #12cb77 !important;
  color: #262626 !important;
}
span[data-ref="hl-5#"] + mark,
span[data-ref="hl-5#"] + mark * {
  background: #838080 !important;
  color: #262626 !important;
}
/* End word wrapper */

/* :root{ */
/*   --ct-inline-code-font-color: yellow !important; */
/* } */

.table-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}

table td {
  min-width:100px;
}

.dark-theme .content .external-link{
  color: var(--ls-primary-text-color,#24292e);
  border-bottom: 0px;
}

.content :not(pre)>code {
  color: yellow;
}

.done {
  text-decoration: none;
}

span.block-ref :is(div.text-sm, input.form-checkbox, a.marker-switch.block-marker) {
  display: none;
}  /* 引用块不显示时间信息和 TODO 相关的状态标志 */

span.block-ref span.canceled {
  text-decoration: none;
}

.block-ref-wrap.inline {
  display: inline-block;
}

/* 引用块不再是斜体 */
.content .block-ref{
  font-style: normal;
} 

.block-ref :is(h1,h2,h3,h4,h5,h6) {
  font-size: 1em;
}

/* PDF 标准内容处理 */
.block-content[data-type=annotation] a.prefix-link:before,
.block-content[data-type=annotation] div.prefix-link,
.block-content[data-type=annotation] div.prefix-link::before,
.block-content[data-type=annotation] [data-hl-type=area] .hl-page{
	display: none;
}

/* 引用链接只保留背景色，去掉下划线 */
.block-content-wrapper :is(.block-ref, .external-link){
  border-bottom: 0px !important;
  background: transparent !important;
}


/* 图片背景修改为白色 */
img {
  background: white;
}

div.flex.flex-col .breadcrumb {
  display: none;
}

.breadcrumb div[data-ref="logseq-kanban-plugin"] {
  display: none;
}

h5,h6 {
  font-size: 1.25em !important;
}

.block-content[data-type=annotation] .hl-area img {
  max-height: inherit;
}

#main-content-container {
  font-size: 1.25em;
}

iframe {
  height: 600px;
}

kbd {
	  -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    /* font-size:11px; */
    /* line-height:1.4; */
    /* margin:0 .1em; */
    padding: 0em .3em;
    text-shadow:0 1px 0 #fff;
}
