{:highlights [{:id #uuid "64692dd9-7d85-4c40-b483-6673c6a2bb36",
               :page 6,
               :position {:bounding {:x1 347.953125,
                                     :y1 444.46875,
                                     :x2 910.0850219726562,
                                     :y2 482.46875,
                                     :width 1270.0000000000002,
                                     :height 981.3636363636365},
                          :rects ({:x1 347.953125,
                                   :y1 444.46875,
                                   :x2 910.0850219726562,
                                   :y2 482.46875,
                                   :width 1270.0000000000002,
                                   :height 981.3636363636365}),
                          :page 6},
               :content {:text "An Introduction to Computer Science"},
               :properties {:color "yellow"}}
              {:id #uuid "64692e92-da61-4f3a-bb38-6d63290b88b7",
               :page 7,
               :position {:bounding {:x1 54,
                                     :y1 386,
                                     :x2 1224,
                                     :y2 786,
                                     :width 1270.0000000000002,
                                     :height 981.3636363636365},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1684614801372},
               :properties {:color "yellow"}}
              {:id #uuid "64692ecb-e83b-4c60-ba24-7e7fb09e3598",
               :page 15,
               :position {:bounding {:x1 535.578125,
                                     :y1 444.46875,
                                     :x2 722.9439086914062,
                                     :y2 482.46875,
                                     :width 1270.0000000000002,
                                     :height 981.3636363636365},
                          :rects ({:x1 535.578125,
                                   :y1 444.46875,
                                   :x2 722.9439086914062,
                                   :y2 482.46875,
                                   :width 1270.0000000000002,
                                   :height 981.3636363636365}),
                          :page 15},
               :content {:text "Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64692f35-461d-4323-a14a-41a942dad4e3",
               :page 18,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 442.4147033691406,
                                     :y2 221.9375,
                                     :width 1270.0000000000002,
                                     :height 981.3636363636365},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 442.4147033691406,
                                   :y2 221.9375,
                                   :width 1270.0000000000002,
                                   :height 981.3636363636365}),
                          :page 18},
               :content {:text "Anatomy of a Call Expression"},
               :properties {:color "yellow"}}
              {:id #uuid "64692f85-5d5a-4b8a-9c4d-524bc23ad98f",
               :page 18,
               :position {:bounding {:x1 276,
                                     :y1 241,
                                     :x2 1006,
                                     :y2 401,
                                     :width 1270.0000000000002,
                                     :height 981.3636363636365},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1684615044794},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
