{:highlights [{:id #uuid "646bc968-16ae-4476-addd-fdfd457409b8",
               :page 3,
               :position {:bounding {:x1 514.734375,
                                     :y1 444.46875,
                                     :x2 744.1890258789062,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 514.734375,
                                   :y1 444.46875,
                                   :x2 744.1890258789062,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 3},
               :content {:text "Print and None"},
               :properties {:color "yellow"}}
              {:id #uuid "646bca71-a557-44a0-bcab-819521a5c3ec",
               :page 7,
               :position {:bounding {:x1 460.203125,
                                     :y1 444.46875,
                                     :x2 798.5855102539062,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 460.203125,
                                   :y1 444.46875,
                                   :x2 798.5855102539062,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 7},
               :content {:text "Multiple Environments"},
               :properties {:color "yellow"}}
              {:id #uuid "646bca9b-9412-4c04-9b6d-9fda764af1f0",
               :page 15,
               :position {:bounding {:x1 452.1875,
                                     :y1 444.46875,
                                     :x2 807.8396606445312,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 452.1875,
                                   :y1 444.46875,
                                   :x2 807.8396606445312,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 15},
               :content {:text "Conditional Statements"},
               :properties {:color "yellow"}}
              {:id #uuid "646bcab9-a371-4bce-8935-6e5f386893aa",
               :page 21,
               :position {:bounding {:x1 567.640625,
                                     :y1 444.46875,
                                     :x2 691.9342651367188,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 567.640625,
                                   :y1 444.46875,
                                   :x2 691.9342651367188,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 21},
               :content {:text "Iteration"},
               :properties {:color "yellow"}}],
 :extra {:page 22}}
