{:highlights [{:id #uuid "646e7174-7b1e-4246-9cad-c8e120d17f59",
               :page 4,
               :position {:bounding {:x1 495.484375,
                                     :y1 444.46875,
                                     :x2 763.1587524414062,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 495.484375,
                                   :y1 444.46875,
                                   :x2 763.1587524414062,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 4},
               :content {:text "Iteration Example"},
               :properties {:color "yellow"}}
              {:id #uuid "646e71e1-9974-4b58-80f2-0a745615781c",
               :page 5,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 379.8927917480469,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 379.8927917480469,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 5},
               :content {:text "The Fibonacci Sequence"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7205-6e8a-4dfb-88dd-de9c147ecb19",
               :page 8,
               :position {:bounding {:x1 473.03125,
                                     :y1 444.46875,
                                     :x2 784.7013549804688,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 473.03125,
                                   :y1 444.46875,
                                   :x2 784.7013549804688,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 8},
               :content {:text "Designing Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "646e723a-a3e1-4593-b6a1-3d70d4d8efd4",
               :page 11,
               :position {:bounding {:x1 517.9375,
                                     :y1 444.46875,
                                     :x2 739.74365234375,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 517.9375,
                                   :y1 444.46875,
                                   :x2 739.74365234375,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 11},
               :content {:text "Generalization"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7258-1b86-45dd-bb38-24b10720cf5a",
               :page 12,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 550.6911010742188,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 550.6911010742188,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 12},
               :content {:text "Generalizing Patterns with Arguments"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7267-ba5a-4f77-87cf-8d075d8809a6",
               :page 13,
               :position {:bounding {:x1 450.578125,
                                     :y1 444.46875,
                                     :x2 809.9744873046875,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 450.578125,
                                   :y1 444.46875,
                                   :x2 809.9744873046875,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 13},
               :content {:text "Higher-Order Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7290-d149-4dc5-b8db-4b9b9b1299cf",
               :page 14,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 643.6807861328125,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 643.6807861328125,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 14},
               :content {:text "Generalizing Over Computational Processes"},
               :properties {:color "yellow"}}
              {:id #uuid "646e72a4-24a8-4e42-9fa9-7ba6727f0c59",
               :page 14,
               :position {:bounding {:x1 39,
                                     :y1 248,
                                     :x2 1211,
                                     :y2 729,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1684959907280},
               :properties {:color "yellow"}}
              {:id #uuid "646e72d7-a859-4dfa-8518-cc19a83fd916",
               :page 15,
               :position {:bounding {:x1 184,
                                     :y1 258,
                                     :x2 1058,
                                     :y2 774,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1684959958428},
               :properties {:color "yellow"}}
              {:id #uuid "646e72e8-25cb-4720-949c-7118c3a2d7de",
               :page 16,
               :position {:bounding {:x1 420.125,
                                     :y1 444.46875,
                                     :x2 840.1194458007812,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 420.125,
                                   :y1 444.46875,
                                   :x2 840.1194458007812,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 16},
               :content {:text "Functions as Return Values"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7311-2e51-48d6-9b6f-848e208202fc",
               :page 17,
               :position {:bounding {:x1 70,
                                     :y1 319,
                                     :x2 1224,
                                     :y2 802,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1684960016705},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
