{:highlights [{:id #uuid "6253117e-cc9d-48c3-a14e-91e0ad7ee7e3",
               :page 3,
               :position {:bounding {:x1 265.8763122558594,
                                     :y1 373.78314208984375,
                                     :x2 795.2745056152344,
                                     :y2 405.78314208984375,
                                     :width 1069.0000000000002,
                                     :height 826.0454545454546},
                          :rects ({:x1 265.8763122558594,
                                   :y1 373.78314208984375,
                                   :x2 795.2745056152344,
                                   :y2 405.78314208984375,
                                   :width 1069.0000000000002,
                                   :height 826.0454545454546}),
                          :page 3},
               :content {:text "Environments for Higher-Order Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "625311b8-e975-47d6-8888-dbf93190a0ee",
               :page 6,
               :position {:bounding {:x1 299.6312255859375,
                                     :y1 373.78314208984375,
                                     :x2 761.4903564453125,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 299.6312255859375,
                                   :y1 373.78314208984375,
                                   :x2 761.4903564453125,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 6},
               :content {:text "Environments for Nested Definitions"},
               :properties {:color "yellow"}}
              {:id #uuid "625311ce-b29f-4490-8ed0-d98bbe8bdd94",
               :page 8,
               :position {:bounding {:x1 36.42943572998047,
                                     :y1 157.8621826171875,
                                     :x2 473.4321823120117,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.42943572998047,
                                   :y1 157.8621826171875,
                                   :x2 473.4321823120117,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 8},
               :content {:text "How to Draw an Environment Diagram"},
               :properties {:color "yellow"}}
              {:id #uuid "625311dd-a206-434e-ad90-2f6487be0208",
               :page 9,
               :position {:bounding {:x1 445.3938293457031,
                                     :y1 373.78314208984375,
                                     :x2 614.36669921875,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 445.3938293457031,
                                   :y1 373.78314208984375,
                                   :x2 614.36669921875,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 9},
               :content {:text "Local Names"},
               :properties {:color "yellow"}}
              {:id #uuid "625311ea-205e-46f0-aa36-ce4eb4763f00",
               :page 11,
               :position {:bounding {:x1 394.11773681640625,
                                     :y1 373.78314208984375,
                                     :x2 664.5054931640625,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 394.11773681640625,
                                   :y1 373.78314208984375,
                                   :x2 664.5054931640625,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 11},
               :content {:text "Lambda Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "625311fa-c285-459d-8411-2419e551680d",
               :page 14,
               :position {:bounding {:x1 390.0508117675781,
                                     :y1 373.78314208984375,
                                     :x2 670.0676879882812,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 390.0508117675781,
                                   :y1 373.78314208984375,
                                   :x2 670.0676879882812,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 14},
               :content {:text "Function Composition"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7791-d95e-4d36-ac8c-1acc1fa7dbfe",
               :page 8,
               :position {:bounding {:x1 11,
                                     :y1 253,
                                     :x2 1197,
                                     :y2 782,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1684961168274},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
