{:highlights [{:id #uuid "646e78f6-c12f-40f1-9019-0951af62e2f5",
               :page 3,
               :position {:bounding {:x1 577.265625,
                                     :y1 444.46875,
                                     :x2 680.5133056640625,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 577.265625,
                                   :y1 444.46875,
                                   :x2 680.5133056640625,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 3},
               :content {:text "Return"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7935-fcac-4089-af69-55721a8ee2c4",
               :page 4,
               :position {:bounding {:x1 37,
                                     :y1 254,
                                     :x2 1223,
                                     :y2 453,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1684961588473},
               :properties {:color "yellow"}}
              {:id #uuid "646e795d-a354-4711-a2fb-eafbe96e6f94",
               :page 5,
               :position {:bounding {:x1 514.734375,
                                     :y1 444.46875,
                                     :x2 744.1570434570312,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 514.734375,
                                   :y1 444.46875,
                                   :x2 744.1570434570312,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 5},
               :content {:text "Self-Reference"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7b5c-3fc0-48e6-b8e8-2dbf2bf694cc",
               :page 7,
               :position {:bounding {:x1 574.0625,
                                     :y1 444.46875,
                                     :x2 684.9461059570312,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 574.0625,
                                   :y1 444.46875,
                                   :x2 684.9461059570312,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 7},
               :content {:text "Control"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7be4-016d-4ef9-9261-e995b23f9752",
               :page 8,
               :position {:bounding {:x1 7,
                                     :y1 149,
                                     :x2 1049,
                                     :y2 694,
                                     :width 1056,
                                     :height 816},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1684962275463},
               :properties {:color "yellow"}}
              {:id #uuid "646e7c74-f7c8-4025-86b6-b496e338decf",
               :page 9,
               :position {:bounding {:x1 396,
                                     :y1 369.234375,
                                     :x2 651.9427490234375,
                                     :y2 401.234375,
                                     :width 1056,
                                     :height 816},
                          :rects ({:x1 396,
                                   :y1 369.234375,
                                   :x2 651.9427490234375,
                                   :y2 401.234375,
                                   :width 1056,
                                   :height 816}),
                          :page 9},
               :content {:text "Control Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7c9b-7a3d-41c8-abb7-53f5223d4690",
               :page 11,
               :position {:bounding {:x1 25,
                                     :y1 215,
                                     :x2 1060,
                                     :y2 615,
                                     :width 1056,
                                     :height 816},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1684962457969},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
