{:highlights [{:id #uuid "646e7df3-434a-4e14-ae15-327f8ea3229c",
               :page 3,
               :position {:bounding {:x1 543.59375,
                                     :y1 444.46875,
                                     :x2 715.6651000976562,
                                     :y2 482.46875,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 543.59375,
                                   :y1 444.46875,
                                   :x2 715.6651000976562,
                                   :y2 482.46875,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 3},
               :content {:text "Abstraction"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7ec0-99a7-400e-85e5-0909b7071a0f",
               :page 4,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 356.2143859863281,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 356.2143859863281,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 4},
               :content {:text "Functional Abstractions"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7ee7-e8bc-4dff-aeae-400a803073c8",
               :page 4,
               :position {:bounding {:x1 30,
                                     :y1 252,
                                     :x2 1092,
                                     :y2 809,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1684963045693},
               :properties {:color "yellow"}}
              {:id #uuid "646e7f36-9a42-463e-8729-83f560e66d5e",
               :page 5,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 276.68701171875,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 276.68701171875,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 5},
               :content {:text "Choosing Names"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7f55-d135-4351-b25b-b057491a1619",
               :page 5,
               :position {:bounding {:x1 84,
                                     :y1 237,
                                     :x2 1223,
                                     :y2 778,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1684963156147},
               :properties {:color "yellow"}}
              {:id #uuid "646e7fa2-12e4-407d-b930-186d209d3f08",
               :page 6,
               :position {:bounding {:x1 43.28125,
                                     :y1 187.9375,
                                     :x2 463.8053894042969,
                                     :y2 221.9375,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects ({:x1 43.28125,
                                   :y1 187.9375,
                                   :x2 463.8053894042969,
                                   :y2 221.9375,
                                   :width 1269.9999999999998,
                                   :height 981.3636363636363}),
                          :page 6},
               :content {:text "Which Values Deserve a Name"},
               :properties {:color "yellow"}}
              {:id #uuid "646e7fc2-19e7-4bd8-959e-b5974f56c748",
               :page 6,
               :position {:bounding {:x1 37,
                                     :y1 246,
                                     :x2 1243,
                                     :y2 804,
                                     :width 1269.9999999999998,
                                     :height 981.3636363636363},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1684963265354},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
