{:highlights [{:id #uuid "6255bfda-78ce-4766-b7b0-d8a705692d53",
               :page 4,
               :position {:bounding {:x1 43.16672897338867,
                                     :y1 203.08636474609375,
                                     :x2 1068.9898681640625,
                                     :y2 261.90460205078125,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 150.453125,
                                   :y1 203.08636474609375,
                                   :x2 1068.9898681640625,
                                   :y2 238.85198974609375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}
                                  {:x1 43.16777038574219,
                                   :y1 215.64886474609375,
                                   :x2 965.753173828125,
                                   :y2 241.64886474609375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}
                                  {:x1 43.16672897338867,
                                   :y1 235.90460205078125,
                                   :x2 364.9941825866699,
                                   :y2 261.90460205078125,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 4},
               :content {:text "Definition: A function is called recursive if the body of that function calls itself, either directly or indirectly "},
               :properties {:color "yellow"}}
              {:id #uuid "6255c0e4-0214-4cb2-9ad5-c4dca8a0effd",
               :page 8,
               :position {:bounding {:x1 17,
                                     :y1 210,
                                     :x2 699,
                                     :y2 360,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1649787108896},
               :properties {:color "yellow"}}
              {:id #uuid "6255c2bd-fe4e-4f77-b113-f37bc92ca9df",
               :page 10,
               :position {:bounding {:x1 -0.014992117881774902,
                                     :y1 609.7686767578125,
                                     :x2 1068.9930419921875,
                                     :y2 670.260986328125,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 70.15441131591797,
                                   :y1 609.7686767578125,
                                   :x2 1068.9930419921875,
                                   :y2 636.1124267578125,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}
                                  {:x1 70.17050170898438,
                                   :y1 631.370361328125,
                                   :x2 413.59375,
                                   :y2 657.370361328125,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}
                                  {:x1 -0.014992117881774902,
                                   :y1 634.495361328125,
                                   :x2 402.7272869348526,
                                   :y2 670.260986328125,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 10},
               :content {:text "Each call to fact solves a simpler problem than the last: smaller n"},
               :properties {:color "blue"}}
              {:id #uuid "6255c3b9-e573-409a-8ce3-da3c6d0e5eba",
               :page 12,
               :position {:bounding {:x1 338.7801513671875,
                                     :y1 373.78314208984375,
                                     :x2 720.1676025390625,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 338.7801513671875,
                                   :y1 373.78314208984375,
                                   :x2 720.1676025390625,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 12},
               :content {:text "Verifying Recursive Functions"},
               :properties {:color "blue"}}
              {:id #uuid "6255c3d1-b6fd-4ebb-a1da-7ed87c8cadf1",
               :page 13,
               :position {:bounding {:x1 45,
                                     :y1 358,
                                     :x2 593,
                                     :y2 655,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1649787857139},
               :properties {:color "blue"}}
              {:id #uuid "6255c42a-b481-4a98-a3b4-c8b0680bfacf",
               :page 14,
               :position {:bounding {:x1 417.05535888671875,
                                     :y1 373.78314208984375,
                                     :x2 642.3518676757812,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 417.05535888671875,
                                   :y1 373.78314208984375,
                                   :x2 642.3518676757812,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 14},
               :content {:text "Mutual Recursion"},
               :properties {:color "blue"}}
              {:id #uuid "6255c4e0-db20-4a8f-a401-4961678ee2c8",
               :page 15,
               :position {:bounding {:x1 36.4323844909668,
                                     :y1 157.8621826171875,
                                     :x2 257.1403160095215,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.4323844909668,
                                   :y1 157.8621826171875,
                                   :x2 257.1403160095215,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 15},
               :content {:text "The Luhn Algorithm"},
               :properties {:color "blue"}}
              {:id #uuid "6255c4eb-d801-49f6-a318-99c8a5edc39e",
               :page 15,
               :position {:bounding {:x1 19,
                                     :y1 209,
                                     :x2 1043,
                                     :y2 684,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1649788139051},
               :properties {:color "blue"}}
              {:id #uuid "6255ca10-51ba-4edf-9af8-1521b335c911",
               :page 16,
               :position {:bounding {:x1 380.6142578125,
                                     :y1 373.78314208984375,
                                     :x2 679.9802856445312,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 380.6142578125,
                                   :y1 373.78314208984375,
                                   :x2 679.9802856445312,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 16},
               :content {:text "Recursion and Iteration"},
               :properties {:color "blue"}}
              {:id #uuid "6255ca20-7e51-4f32-89ea-b1cc4db55856",
               :page 17,
               :position {:bounding {:x1 202.00711059570312,
                                     :y1 219.702392578125,
                                     :x2 649.03564453125,
                                     :y2 245.702392578125,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 202.00711059570312,
                                   :y1 219.702392578125,
                                   :x2 649.03564453125,
                                   :y2 245.702392578125,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 17},
               :content {:text " Iteration is a special case of recursion."},
               :properties {:color "blue"}}
              {:id #uuid "6255ca25-f241-48b3-ba88-ed5cab12b210",
               :page 17,
               :position {:bounding {:x1 102.08633422851562,
                                     :y1 266.9383544921875,
                                     :x2 819.7599182128906,
                                     :y2 292.9383544921875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 102.08633422851562,
                                   :y1 266.9383544921875,
                                   :x2 819.7599182128906,
                                   :y2 292.9383544921875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 17},
               :content {:text "Figure out what state must be maintained by the iterative function"},
               :properties {:color "blue"}}
              {:id #uuid "6255cae1-422a-473e-8a6c-9996177789f6",
               :page 18,
               :position {:bounding {:x1 23,
                                     :y1 310,
                                     :x2 996,
                                     :y2 672,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1649789665101},
               :properties {:color "blue"}}],
 :extra {:page 10}}
