{:highlights [{:id #uuid "62628d24-cdf7-4800-9881-1d7787a0010f",
               :page 3,
               :position {:bounding {:x1 500.748291015625,
                                     :y1 373.78314208984375,
                                     :x2 560.2935180664062,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 500.748291015625,
                                   :y1 373.78314208984375,
                                   :x2 560.2935180664062,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 3},
               :content {:text "Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "62628e4f-7d6b-48c2-a4c0-f40a7c34cfa7",
               :page 5,
               :position {:bounding {:x1 460.24615478515625,
                                     :y1 373.78314208984375,
                                     :x2 600.2669067382812,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 460.24615478515625,
                                   :y1 373.78314208984375,
                                   :x2 600.2669067382812,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 5},
               :content {:text "Containers"},
               :properties {:color "yellow"}}
              {:id #uuid "62628eda-a9ab-4f37-84d6-7d85438c208d",
               :page 7,
               :position {:bounding {:x1 430.5616455078125,
                                     :y1 373.78314208984375,
                                     :x2 628.4807739257812,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 430.5616455078125,
                                   :y1 373.78314208984375,
                                   :x2 628.4807739257812,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 7},
               :content {:text "For Statements"},
               :properties {:color "yellow"}}
              {:id #uuid "62629074-e39f-4166-8f36-c3914bfca700",
               :page 11,
               :position {:bounding {:x1 480.4909973144531,
                                     :y1 373.78314208984375,
                                     :x2 580.30517578125,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 480.4909973144531,
                                   :y1 373.78314208984375,
                                   :x2 580.30517578125,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 11},
               :content {:text "Ranges"},
               :properties {:color "yellow"}}
              {:id #uuid "626291bb-64b7-4a3f-9374-d96be9053927",
               :page 13,
               :position {:bounding {:x1 394.1186828613281,
                                     :y1 373.78314208984375,
                                     :x2 666.1000366210938,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 394.1186828613281,
                                   :y1 373.78314208984375,
                                   :x2 666.1000366210938,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 13},
               :content {:text "List Comprehensions"},
               :properties {:color "yellow"}}
              {:id #uuid "62629296-1aaf-4078-9f29-d133c913316d",
               :page 15,
               :position {:bounding {:x1 484.53594970703125,
                                     :y1 373.78314208984375,
                                     :x2 574.65869140625,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 484.53594970703125,
                                   :y1 373.78314208984375,
                                   :x2 574.65869140625,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 15},
               :content {:text "Strings"},
               :properties {:color "yellow"}}
              {:id #uuid "64a7fe42-539d-4f68-9016-ad47fec39e9b",
               :page 12,
               :position {:bounding {:x1 62,
                                     :y1 178,
                                     :x2 700,
                                     :y2 338,
                                     :width 928,
                                     :height 717.0909090909091},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1688731201437},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
