{:highlights [{:id #uuid "627c621b-83e8-4e07-a945-d1c58fcafe0c",
               :page 3,
               :position {:bounding {:x1 480.4878845214844,
                                     :y1 373.78314208984375,
                                     :x2 578.6519775390625,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 480.4878845214844,
                                   :y1 373.78314208984375,
                                   :x2 578.6519775390625,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 3},
               :content {:text "Objects"},
               :properties {:color "yellow"}}
              {:id #uuid "627c627e-c74a-4f17-9a57-66763f8b54d1",
               :page 4,
               :position {:bounding {:x1 16,
                                     :y1 209,
                                     :x2 970,
                                     :y2 626,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1652318846303},
               :properties {:color "yellow"}}
              {:id #uuid "627c636c-e646-4eeb-b337-24eaf3e6bbb8",
               :page 5,
               :position {:bounding {:x1 421.1009826660156,
                                     :y1 373.78314208984375,
                                     :x2 639.94970703125,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 421.1009826660156,
                                   :y1 373.78314208984375,
                                   :x2 639.94970703125,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 5},
               :content {:text "Example: Strings"},
               :properties {:color "yellow"}}
              {:id #uuid "627c63c3-8c9f-411c-ba19-28328bf56110",
               :page 6,
               :position {:bounding {:x1 142,
                                     :y1 206,
                                     :x2 922,
                                     :y2 675,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1652319171515},
               :properties {:color "yellow"}}
              {:id #uuid "627c641b-c2be-4e0a-a401-ec80fb138f8c",
               :page 7,
               :position {:bounding {:x1 36.42932891845703,
                                     :y1 157.8621826171875,
                                     :x2 537.6020584106445,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.42932891845703,
                                   :y1 157.8621826171875,
                                   :x2 537.6020584106445,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 7},
               :content {:text "Representing Strings: the Unicode Standard"},
               :properties {:color "yellow"}}
              {:id #uuid "627c64d1-b37f-4875-9c35-6ca3c6fc8b37",
               :page 7,
               :position {:bounding {:x1 42,
                                     :y1 215,
                                     :x2 504,
                                     :y2 673,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1652319441116},
               :properties {:color "yellow"}}
              {:id #uuid "627c64e1-bcb8-4dc8-b0a2-f1a012b255bc",
               :page 8,
               :position {:bounding {:x1 399.50885009765625,
                                     :y1 373.78314208984375,
                                     :x2 660.242919921875,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 399.50885009765625,
                                   :y1 373.78314208984375,
                                   :x2 660.242919921875,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 8},
               :content {:text "Mutation Operations"},
               :properties {:color "yellow"}}
              {:id #uuid "627c6977-327c-470b-9a8d-4be8fe459b6e",
               :page 12,
               :position {:bounding {:x1 43.17417526245117,
                                     :y1 544.7435913085938,
                                     :x2 933.5109252929688,
                                     :y2 580.3373413085938,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 525.875,
                                   :y1 544.7435913085938,
                                   :x2 611.6956787109375,
                                   :y2 580.3373413085938,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}
                                  {:x1 43.17417526245117,
                                   :y1 549.0404663085938,
                                   :x2 933.5109252929688,
                                   :y2 575.0404663085938,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 12},
               :content {:text "An immutable sequence may still change if it contains a mutable value as an element"},
               :properties {:color "yellow"}}
              {:id #uuid "627c6990-d0a9-488e-9d3e-1e5a97804d09",
               :page 13,
               :position {:bounding {:x1 473.7410888671875,
                                     :y1 373.78314208984375,
                                     :x2 584.7850952148438,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 473.7410888671875,
                                   :y1 373.78314208984375,
                                   :x2 584.7850952148438,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 13},
               :content {:text "Mutation"},
               :properties {:color "yellow"}}
              {:id #uuid "627c69a2-ee05-4b6d-89a9-6f1e965c60f4",
               :page 11,
               :position {:bounding {:x1 487.2369689941406,
                                     :y1 373.78314208984375,
                                     :x2 572.045166015625,
                                     :y2 405.78314208984375,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 487.2369689941406,
                                   :y1 373.78314208984375,
                                   :x2 572.045166015625,
                                   :y2 405.78314208984375,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 11},
               :content {:text "Tuples"},
               :properties {:color "yellow"}}
              {:id #uuid "627c69bc-47cb-4813-924d-03a1166008d5",
               :page 14,
               :position {:bounding {:x1 36.42936325073242,
                                     :y1 157.8621826171875,
                                     :x2 304.1246757507324,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.42936325073242,
                                   :y1 157.8621826171875,
                                   :x2 304.1246757507324,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 14},
               :content {:text "Sameness and Change"},
               :properties {:color "yellow"}}
              {:id #uuid "627c6a34-d04c-4bca-b01e-57b0bc02ba22",
               :page 14,
               :position {:bounding {:x1 30,
                                     :y1 208,
                                     :x2 1044,
                                     :y2 696,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1652320820706},
               :properties {:color "yellow"}}
              {:id #uuid "627c6a40-426a-4781-a520-e3d4180ffb61",
               :page 15,
               :position {:bounding {:x1 36.42890167236328,
                                     :y1 157.8621826171875,
                                     :x2 240.0127944946289,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.42890167236328,
                                   :y1 157.8621826171875,
                                   :x2 240.0127944946289,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 15},
               :content {:text "Identity Operators"},
               :properties {:color "yellow"}}
              {:id #uuid "627c6a59-e0b9-403e-868f-8584b45cbdb5",
               :page 15,
               :position {:bounding {:x1 120,
                                     :y1 193,
                                     :x2 951,
                                     :y2 581,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1652320857268},
               :properties {:color "yellow"}}
              {:id #uuid "627c6a94-eb14-4f0d-96c2-498ec909fd05",
               :page 16,
               :position {:bounding {:x1 36.433013916015625,
                                     :y1 157.8621826171875,
                                     :x2 520.5226440429688,
                                     :y2 185.8621826171875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects ({:x1 36.433013916015625,
                                   :y1 157.8621826171875,
                                   :x2 520.5226440429688,
                                   :y2 185.8621826171875,
                                   :width 1068.9999999999998,
                                   :height 826.0454545454544}),
                          :page 16},
               :content {:text "Mutable Default Arguments are Dangerous"},
               :properties {:color "yellow"}}
              {:id #uuid "627c6ac3-3c90-4d2c-b084-addef9e91fc1",
               :page 16,
               :position {:bounding {:x1 31,
                                     :y1 209,
                                     :x2 1000,
                                     :y2 677,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1652320963472},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
