{:highlights [{:id #uuid "66b313f6-e196-4a80-86cb-dee84a3f3ee3",
               :page 55,
               :position {:bounding {:x1 314.484375,
                                     :y1 35.21875,
                                     :x2 735.19140625,
                                     :y2 79.21875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 314.484375,
                                   :y1 35.21875,
                                   :x2 735.19140625,
                                   :y2 79.21875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 55},
               :content {:text "Things to Take Away"},
               :properties {:color "red"}}],
 :extra {:page 2}}
