{:highlights [{:id #uuid "64d0248c-1c0d-43b2-8ee7-b64fd6ea14ff",
               :page 3,
               :position {:bounding {:x1 495.78125,
                                     :y1 376.015625,
                                     :x2 569.0562744140625,
                                     :y2 408.015625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 495.78125,
                                   :y1 376.015625,
                                   :x2 569.0562744140625,
                                   :y2 408.015625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 3},
               :content {:text "Trees"},
               :properties {:color "yellow"}}
              {:id #uuid "64d0250d-db03-41a4-b22e-b926e40202c1",
               :page 4,
               :position {:bounding {:x1 26,
                                     :y1 154,
                                     :x2 1046,
                                     :y2 696,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1691362571532},
               :properties {:color "yellow"}}
              {:id #uuid "64d025c4-eb3d-48f2-b446-75db916416f4",
               :page 6,
               :position {:bounding {:x1 30,
                                     :y1 207,
                                     :x2 1053,
                                     :y2 490,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691362754545},
               :properties {:color "yellow"}}
              {:id #uuid "64d025d5-0936-484c-9ca3-95f9e3d2bd72",
               :page 5,
               :position {:bounding {:x1 427.0625,
                                     :y1 376.015625,
                                     :x2 637.76513671875,
                                     :y2 408.015625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 427.0625,
                                   :y1 376.015625,
                                   :x2 637.76513671875,
                                   :y2 408.015625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Tree Processing"},
               :properties {:color "yellow"}}
              {:id #uuid "64d028c9-2f62-49e6-bb61-c970d15c5ad1",
               :page 7,
               :position {:bounding {:x1 17,
                                     :y1 185,
                                     :x2 950,
                                     :y2 639,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1691363527761},
               :properties {:color "yellow"}}
              {:id #uuid "64d02a01-a60a-4d05-b590-51d686550f8b",
               :page 9,
               :position {:bounding {:x1 19,
                                     :y1 188,
                                     :x2 897,
                                     :y2 619,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1691363839695},
               :properties {:color "yellow"}}
              {:id #uuid "64d02ac7-427a-4a21-88c3-e49af2d8e280",
               :page 10,
               :position {:bounding {:x1 354.53125,
                                     :y1 332.515625,
                                     :x2 587.7647705078125,
                                     :y2 360.515625,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 354.53125,
                                   :y1 332.515625,
                                   :x2 587.7647705078125,
                                   :y2 360.515625,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 10},
               :content {:text "Designing Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "64d02b76-8768-4cf3-a033-4fa71cf5eb64",
               :page 11,
               :position {:bounding {:x1 22,
                                     :y1 134,
                                     :x2 927,
                                     :y2 596,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1691364213434},
               :properties {:color "yellow"}}
              {:id #uuid "64d02c9a-cfb4-43c2-8a2a-a627acb98c9f",
               :page 13,
               :position {:bounding {:x1 16,
                                     :y1 182,
                                     :x2 937,
                                     :y2 603,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691364505327},
               :properties {:color "yellow"}}
              {:id #uuid "64d02eb6-6bc3-47ea-a47b-f5c57423b328",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 209,
                                     :x2 835,
                                     :y2 530,
                                     :width 844.8,
                                     :height 652.8},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1691365044792},
               :properties {:color "yellow"}}
              {:id #uuid "64d02edc-9666-4a29-b3cb-5da861bac37f",
               :page 15,
               :position {:bounding {:x1 381.28125,
                                     :y1 295.34375,
                                     :x2 456.32684326171875,
                                     :y2 321.34375,
                                     :width 844.8,
                                     :height 652.8},
                          :rects ({:x1 381.28125,
                                   :y1 295.34375,
                                   :x2 456.32684326171875,
                                   :y2 321.34375,
                                   :width 844.8,
                                   :height 652.8}),
                          :page 15},
               :content {:text "Society"},
               :properties {:color "yellow"}}
              {:id #uuid "64d03352-0c38-4de1-9e1a-36863fcbc432",
               :page 16,
               :position {:bounding {:x1 10,
                                     :y1 120,
                                     :x2 833,
                                     :y2 520,
                                     :width 844.8,
                                     :height 652.8},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691366225747},
               :properties {:color "yellow"}}
              {:id #uuid "64d0351b-8ff1-45bc-9be6-fd6c46a0f4fb",
               :page 18,
               :position {:bounding {:x1 373.640625,
                                     :y1 295.34375,
                                     :x2 463.94036865234375,
                                     :y2 321.34375,
                                     :width 844.8,
                                     :height 652.8},
                          :rects ({:x1 373.640625,
                                   :y1 295.34375,
                                   :x2 463.94036865234375,
                                   :y2 321.34375,
                                   :width 844.8,
                                   :height 652.8}),
                          :page 18},
               :content {:text "Software"},
               :properties {:color "yellow"}}
              {:id #uuid "64d0354a-48ea-49c0-b72a-5af936b772c5",
               :page 19,
               :position {:bounding {:x1 18,
                                     :y1 72,
                                     :x2 935,
                                     :y2 629,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1691366728624},
               :properties {:color "yellow"}}
              {:id #uuid "64d036cc-bb65-486e-bfd9-f0b87aa9ee81",
               :page 20,
               :position {:bounding {:x1 450.390625,
                                     :y1 332.515625,
                                     :x2 491.913330078125,
                                     :y2 360.515625,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 450.390625,
                                   :y1 332.515625,
                                   :x2 491.913330078125,
                                   :y2 360.515625,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 20},
               :content {:text "Life"},
               :properties {:color "yellow"}}],
 :extra {:page 20}}
