{:highlights [{:id #uuid "649e2c2d-13c9-4e68-85d3-2110412e9a9e",
               :page 3,
               :position {:bounding {:x1 503.09375,
                                     :y1 375.5625,
                                     :x2 562.9094848632812,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 503.09375,
                                   :y1 375.5625,
                                   :x2 562.9094848632812,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 3},
               :content {:text "Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "649e2ca7-ef7c-4402-83ac-6be2e6c640d2",
               :page 7,
               :position {:bounding {:x1 17,
                                     :y1 229,
                                     :x2 689,
                                     :y2 803,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1688087718469},
               :properties {:color "yellow"}}
              {:id #uuid "649e2f78-897b-4999-a0da-208b38965280",
               :page 8,
               :position {:bounding {:x1 44,
                                     :y1 324,
                                     :x2 735,
                                     :y2 653,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1688088437234},
               :properties {:color "yellow"}}
              {:id #uuid "649e3061-65f7-4896-ac8e-31bdd85fe4a3",
               :page 9,
               :position {:bounding {:x1 28,
                                     :y1 188,
                                     :x2 1294,
                                     :y2 869,
                                     :width 1319.9999999999998,
                                     :height 1019.9999999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1688088671871},
               :properties {:color "yellow"}}
              {:id #uuid "649e319d-8e3b-4733-a43f-04614f3de90e",
               :page 10,
               :position {:bounding {:x1 519.453125,
                                     :y1 404.265625,
                                     :x2 625.5742797851562,
                                     :y2 439.265625,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects ({:x1 519.453125,
                                   :y1 404.265625,
                                   :x2 625.5742797851562,
                                   :y2 439.265625,
                                   :width 1155.6470588235295,
                                   :height 893.0000000000001}),
                          :page 10},
               :content {:text "Objects"},
               :properties {:color "yellow"}}
              {:id #uuid "649e31d1-27be-43d7-a7be-92f5093195a2",
               :page 11,
               :position {:bounding {:x1 32,
                                     :y1 159,
                                     :x2 1144,
                                     :y2 707,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1688089039240},
               :properties {:color "yellow"}}
              {:id #uuid "649e3384-0cf9-4a72-a80a-aed8a8982f3f",
               :page 12,
               :position {:bounding {:x1 430.4375,
                                     :y1 404.265625,
                                     :x2 715.7913208007812,
                                     :y2 439.265625,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects ({:x1 430.4375,
                                   :y1 404.265625,
                                   :x2 715.7913208007812,
                                   :y2 439.265625,
                                   :width 1155.6470588235295,
                                   :height 893.0000000000001}),
                          :page 12},
               :content {:text "Mutable Linked Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "649e3734-13a5-4c65-b800-788739df4646",
               :page 20,
               :position {:bounding {:x1 477.140625,
                                     :y1 404.265625,
                                     :x2 669.0848388671875,
                                     :y2 439.265625,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects ({:x1 477.140625,
                                   :y1 404.265625,
                                   :x2 669.0848388671875,
                                   :y2 439.265625,
                                   :width 1155.6470588235295,
                                   :height 893.0000000000001}),
                          :page 20},
               :content {:text "Tree Mutation"},
               :properties {:color "yellow"}}
              {:id #uuid "649e3790-36c1-419e-adc3-855a6c9326f9",
               :page 19,
               :position {:bounding {:x1 32,
                                     :y1 153,
                                     :x2 1118,
                                     :y2 740,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1688090510825},
               :properties {:color "yellow"}}
              {:id #uuid "649e3841-47f6-43a0-bf08-264cffc8f3c3",
               :page 21,
               :position {:bounding {:x1 27,
                                     :y1 158,
                                     :x2 1037,
                                     :y2 682,
                                     :width 1155.6470588235295,
                                     :height 893.0000000000001},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1688090688106},
               :properties {:color "yellow"}}],
 :extra {:page 21}}
