{:highlights [{:id #uuid "64d2e996-a67b-4e13-841f-fcb421324b33",
               :page 3,
               :position {:bounding {:x1 415.1875,
                                     :y1 332.109375,
                                     :x2 528.2105712890625,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 415.1875,
                                   :y1 332.109375,
                                   :x2 528.2105712890625,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 3},
               :content {:text "Ambiguity"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2e9d6-ca9f-48da-888f-8c8c9de439c7",
               :page 4,
               :position {:bounding {:x1 18,
                                     :y1 126,
                                     :x2 785,
                                     :y2 600,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1691544021511},
               :properties {:color "yellow"}}
              {:id #uuid "64d2ea1d-cc95-4c85-8174-9cb50835e801",
               :page 5,
               :position {:bounding {:x1 190,
                                     :y1 271,
                                     :x2 783,
                                     :y2 441,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691544092566},
               :properties {:color "yellow"}}
              {:id #uuid "64d2ea43-36a5-46b1-9426-71b67c92f789",
               :page 6,
               :position {:bounding {:x1 182,
                                     :y1 280,
                                     :x2 773,
                                     :y2 435,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691544130031},
               :properties {:color "yellow"}}
              {:id #uuid "64d2ea99-c2f3-4e62-85da-8e0ef9f59f13",
               :page 8,
               :position {:bounding {:x1 396,
                                     :y1 332.109375,
                                     :x2 545.7637939453125,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 396,
                                   :y1 332.109375,
                                   :x2 545.7637939453125,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 8},
               :content {:text "Syntax Trees"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2eb57-8f41-4114-84b8-3932ed7b5db9",
               :page 9,
               :position {:bounding {:x1 16,
                                     :y1 139,
                                     :x2 918,
                                     :y2 598,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1691544406559},
               :properties {:color "yellow"}}
              {:id #uuid "64d2ebb2-b66c-4132-a189-d04767ed71af",
               :page 10,
               :position {:bounding {:x1 410.390625,
                                     :y1 332.109375,
                                     :x2 531.95361328125,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 410.390625,
                                   :y1 332.109375,
                                   :x2 531.95361328125,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 10},
               :content {:text "Grammars"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2ebeb-4772-4712-bb40-4df424658ce8",
               :page 11,
               :position {:bounding {:x1 18,
                                     :y1 138,
                                     :x2 934,
                                     :y2 604,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1691544554473},
               :properties {:color "yellow"}}
              {:id #uuid "64d2efc4-9806-4f41-bc97-3ddd04e8d163",
               :page 12,
               :position {:bounding {:x1 427.1875,
                                     :y1 332.109375,
                                     :x2 514.4654541015625,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 427.1875,
                                   :y1 332.109375,
                                   :x2 514.4654541015625,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 12},
               :content {:text "Parsing"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f0d6-72a6-4cdf-94c1-42ae7eb710e9",
               :page 14,
               :position {:bounding {:x1 27,
                                     :y1 136,
                                     :x2 716,
                                     :y2 575,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1691545813605},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f0ec-7f06-4dcf-b0c1-ad0ff9ffed14",
               :page 16,
               :position {:bounding {:x1 34,
                                     :y1 189,
                                     :x2 706,
                                     :y2 567,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691545835363},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f18f-a758-4814-905d-6c0806131cc4",
               :page 17,
               :position {:bounding {:x1 421.1875,
                                     :y1 332.109375,
                                     :x2 521.3858032226562,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 421.1875,
                                   :y1 332.109375,
                                   :x2 521.3858032226562,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 17},
               :content {:text "Learning"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f2f2-250d-4351-af64-7d14f6a02b04",
               :page 18,
               :position {:bounding {:x1 10,
                                     :y1 136,
                                     :x2 804,
                                     :y2 588,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1691546353330},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f305-4bc4-4499-abdc-143614189a47",
               :page 19,
               :position {:bounding {:x1 30,
                                     :y1 194,
                                     :x2 842,
                                     :y2 582,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1691546371997},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f3f0-ee72-4560-ad3f-e9cc74d0b5b0",
               :page 20,
               :position {:bounding {:x1 408,
                                     :y1 332.109375,
                                     :x2 534.3895874023438,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 408,
                                   :y1 332.109375,
                                   :x2 534.3895874023438,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 20},
               :content {:text "Translation"},
               :properties {:color "yellow"}}
              {:id #uuid "64d2f481-063a-4cd4-aca5-e6cc411bcee1",
               :page 21,
               :position {:bounding {:x1 21,
                                     :y1 126,
                                     :x2 929,
                                     :y2 549,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1691546751937},
               :properties {:color "yellow"}}],
 :extra {:page 21}}
