{:highlights [{:id #uuid "64a23033-cc34-4344-af31-0f58ff50287d",
               :page 5,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 278.31683349609375,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 278.31683349609375,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Scheme Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64a2305a-1dfd-40da-945f-25a2316ec0f9",
               :page 5,
               :position {:bounding {:x1 42,
                                     :y1 203,
                                     :x2 847,
                                     :y2 640,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1688350809793},
               :properties {:color "yellow"}}
              {:id #uuid "64a2308e-0f2a-4fbe-b56a-4af019237f18",
               :page 7,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 201.05654907226562,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 201.05654907226562,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 7},
               :content {:text "Special Forms"},
               :properties {:color "yellow"}}
              {:id #uuid "64a230b1-a1c3-407a-9309-5af15b68cc66",
               :page 7,
               :position {:bounding {:x1 35,
                                     :y1 201,
                                     :x2 1028,
                                     :y2 652,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1688350895698},
               :properties {:color "yellow"}}
              {:id #uuid "64a2310f-9477-427f-9c4b-dfe79be00d75",
               :page 10,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 276.9138488769531,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 276.9138488769531,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 10},
               :content {:text "Lambda Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64a2317e-070b-4ace-9a72-f057faade3cc",
               :page 10,
               :position {:bounding {:x1 29,
                                     :y1 212,
                                     :x2 730,
                                     :y2 681,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1688351100445},
               :properties {:color "yellow"}}
              {:id #uuid "64a231ba-0724-4970-b1b9-04995165c4b7",
               :page 12,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 191.0790252685547,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 191.0790252685547,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 12},
               :content {:text "Scheme Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "64a2338a-a98d-47ec-8aea-246933e58333",
               :page 12,
               :position {:bounding {:x1 31,
                                     :y1 212,
                                     :x2 966,
                                     :y2 654,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1688351624684},
               :properties {:color "yellow"}}
              {:id #uuid "64a233fd-e9ad-466b-a72b-32fd8e161cfa",
               :page 14,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 302.5919189453125,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 302.5919189453125,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 14},
               :content {:text "Symbolic Programming"},
               :properties {:color "yellow"}}
              {:id #uuid "64a23434-b78a-465e-844c-ccd97ffe1fe3",
               :page 14,
               :position {:bounding {:x1 34,
                                     :y1 216,
                                     :x2 824,
                                     :y2 687,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1688351795666},
               :properties {:color "yellow"}}
              {:id #uuid "64a2359f-2564-4055-bdbd-45eead3a4ba0",
               :page 15,
               :position {:bounding {:x1 404.09375,
                                     :y1 375.5625,
                                     :x2 661.3367919921875,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 404.09375,
                                   :y1 375.5625,
                                   :x2 661.3367919921875,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 15},
               :content {:text "Sierpinski's Triangle"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
