{:highlights [{:id #uuid "64bf5c2e-ea89-4276-89d3-3a603ada48a4",
               :page 4,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 482.86834716796875,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 482.86834716796875,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 4},
               :content {:text "A Scheme Expression is a Scheme List"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5c7f-eaf2-4d64-b4fe-15a3f31fb00a",
               :page 4,
               :position {:bounding {:x1 33,
                                     :y1 220,
                                     :x2 1045,
                                     :y2 609,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1690262654998},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5de1-c32b-4b9d-8714-270151afaa91",
               :page 6,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 479.45947265625,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 479.45947265625,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 6},
               :content {:text "Macros Perform Code Transformations"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5eb7-2007-42d2-8137-202e5649ebf2",
               :page 6,
               :position {:bounding {:x1 23,
                                     :y1 210,
                                     :x2 1035,
                                     :y2 607,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1690263222320},
               :properties {:color "yellow"}}
              {:id #uuid "64bf61b3-d4bd-4571-a660-ce8e70001ff8",
               :page 7,
               :position {:bounding {:x1 466.484375,
                                     :y1 375.5625,
                                     :x2 599.0208740234375,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 466.484375,
                                   :y1 375.5625,
                                   :x2 599.0208740234375,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 7},
               :content {:text "For Macro"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf62e2-f4a4-4470-9839-600ed21f0722",
               :page 8,
               :position {:bounding {:x1 36,
                                     :y1 213,
                                     :x2 1066,
                                     :y2 630,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1690264287479},
               :properties {:color "yellow"}}
              {:id #uuid "64bf6321-c0a7-45be-8640-d6c236f9494b",
               :page 9,
               :position {:bounding {:x1 427.15625,
                                     :y1 375.5625,
                                     :x2 638.9674072265625,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 427.15625,
                                   :y1 375.5625,
                                   :x2 638.9674072265625,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 9},
               :content {:text "Quasi-Quotation"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
