{:highlights [{:id #uuid "64b535bc-424d-46cd-a0e1-4af3feacc632",
               :page 23,
               :position {:bounding {:x1 13,
                                     :y1 13,
                                     :x2 1188,
                                     :y2 622,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1689597371157},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
