{:highlights [{:id #uuid "6477dce3-4ac1-45d5-9670-ce1e696e5835",
               :page 2,
               :position {:bounding {:x1 117.6875,
                                     :y1 102.734375,
                                     :x2 358.6861572265625,
                                     :y2 127.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 102.734375,
                                   :x2 358.6861572265625,
                                   :y2 127.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Example 1: Hello World"},
               :properties {:color "yellow"}}
              {:id #uuid "6477dd25-c3dc-458f-aecd-6f3f11e6d753",
               :page 2,
               :position {:bounding {:x1 117.6875,
                                     :y1 610.84375,
                                     :x2 323.6541442871094,
                                     :y2 635.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 610.84375,
                                   :x2 323.6541442871094,
                                   :y2 635.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Example 2: Fraction"},
               :properties {:color "yellow"}}
              {:id #uuid "6477df92-82d1-431a-9aa2-45e6dbe8f335",
               :page 6,
               :position {:bounding {:x1 108,
                                     :y1 229,
                                     :x2 922,
                                     :y2 1170,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1685577617933},
               :properties {:color "yellow"}}
              {:id #uuid "6477e012-4c11-4c31-a015-5f79ca791d31",
               :page 7,
               :position {:bounding {:x1 105,
                                     :y1 213,
                                     :x2 867,
                                     :y2 366,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1685577744985},
               :properties {:color "yellow"}}
              {:id #uuid "6477e04b-d9e1-4724-9286-8e11eb8e1a85",
               :page 7,
               :position {:bounding {:x1 103,
                                     :y1 543,
                                     :x2 621,
                                     :y2 909,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1685577803151},
               :properties {:color "yellow"}}
              {:id #uuid "6477e095-b48a-43df-9582-e0b8df387774",
               :page 8,
               :position {:bounding {:x1 117.6875,
                                     :y1 243.328125,
                                     :x2 224.0479736328125,
                                     :y2 265.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 243.328125,
                                   :x2 224.0479736328125,
                                   :y2 265.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Data Types"},
               :properties {:color "yellow"}}
              {:id #uuid "6477e0c1-6c91-4dd3-a4d5-d31edcbb9159",
               :page 8,
               :position {:bounding {:x1 109,
                                     :y1 373,
                                     :x2 908,
                                     :y2 1098,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1685577919827},
               :properties {:color "yellow"}}
              {:id #uuid "6477e12f-7042-4f71-992c-f8a9efe437c1",
               :page 11,
               :position {:bounding {:x1 117.6875,
                                     :y1 103.421875,
                                     :x2 272.1340637207031,
                                     :y2 125.421875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 103.421875,
                                   :x2 272.1340637207031,
                                   :y2 125.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "Variable Scopes"},
               :properties {:color "yellow"}}
              {:id #uuid "6477e1e5-4b88-4635-bdc4-b57acd328fb7",
               :page 11,
               :position {:bounding {:x1 100,
                                     :y1 407,
                                     :x2 915,
                                     :y2 1094,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1685578212552},
               :properties {:color "yellow"}}
              {:id #uuid "6477e209-2eea-4d09-b104-ff9dbba21add",
               :page 12,
               :position {:bounding {:x1 94,
                                     :y1 183,
                                     :x2 939,
                                     :y2 900,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1685578248892},
               :properties {:color "yellow"}}
              {:id #uuid "6477e247-dce8-456e-9cc1-d9a2c92eaaba",
               :page 13,
               :position {:bounding {:x1 76,
                                     :y1 226,
                                     :x2 941,
                                     :y2 836,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1685578310752},
               :properties {:color "yellow"}}
              {:id #uuid "6477e2dd-5a4d-4cd4-9b61-cc400cd2240e",
               :page 14,
               :position {:bounding {:x1 129,
                                     :y1 245,
                                     :x2 891,
                                     :y2 729,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1685578460294},
               :properties {:color "yellow"}}
              {:id #uuid "6477e2f9-19f9-4583-9049-e0c94ac9a21b",
               :page 14,
               :position {:bounding {:x1 117.6875,
                                     :y1 744.734375,
                                     :x2 414.2391357421875,
                                     :y2 766.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 744.734375,
                                   :x2 414.2391357421875,
                                   :y2 766.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 14},
               :content {:text "Object Construction and Disposal: "},
               :properties {:color "yellow"}}
              {:id #uuid "6477e7ca-2553-4a0b-81c5-af4c3a7aaa91",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 902.451416015625,
                                     :y2 203.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 158.734375,
                                   :x2 902.451416015625,
                                   :y2 180.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 181.734375,
                                   :x2 355.07574462890625,
                                   :y2 203.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 16},
               :content {:text "The Jack language comes with a standard library that may also be viewed as an interface to an underlying operating system."},
               :properties {:color "yellow"}}
              {:id #uuid "6477e844-93f6-496c-a3b4-7752404b3d5e",
               :page 19,
               :position {:bounding {:x1 117.6875,
                                     :y1 898.53125,
                                     :x2 251.3548583984375,
                                     :y2 920.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 898.53125,
                                   :x2 251.3548583984375,
                                   :y2 920.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 19},
               :content {:text "The Pong game"},
               :properties {:color "yellow"}}],
 :extra {:page 21}}
