{:highlights [{:id #uuid "64d04320-873f-4ac8-850c-d3865a87d488",
               :page 4,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 255.39724731445312,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 255.39724731445312,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 4},
               :content {:text "Computer Systems"},
               :properties {:color "yellow"}}
              {:id #uuid "64d04341-bd86-45b8-8eee-a2041b0aea81",
               :page 4,
               :position {:bounding {:x1 12,
                                     :y1 211,
                                     :x2 1037,
                                     :y2 641,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1691370304166},
               :properties {:color "yellow"}}
              {:id #uuid "64d04399-5f4c-4890-9db1-9831d5f03c29",
               :page 5,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 466.60516357421875,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 466.60516357421875,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Example: The Unix Operating System"},
               :properties {:color "yellow"}}
              {:id #uuid "64d043b4-20e2-4d5a-ab51-551d1a5535d0",
               :page 5,
               :position {:bounding {:x1 30,
                                     :y1 212,
                                     :x2 995,
                                     :y2 640,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691370419227},
               :properties {:color "yellow"}}
              {:id #uuid "64d04429-6f92-4678-a0aa-3020b62f8596",
               :page 3,
               :position {:bounding {:x1 503.09375,
                                     :y1 375.5625,
                                     :x2 561.28759765625,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 503.09375,
                                   :y1 375.5625,
                                   :x2 561.28759765625,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 3},
               :content {:text "Unix"},
               :properties {:color "yellow"}}
              {:id #uuid "64d0452b-d9c8-48e0-a20f-41df4a2bd2ed",
               :page 6,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 494.27972412109375,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 494.27972412109375,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 6},
               :content {:text "Python Programs in a Unix Environment"},
               :properties {:color "yellow"}}
              {:id #uuid "64d04538-70f0-4f0d-8034-071e4b51a217",
               :page 6,
               :position {:bounding {:x1 34,
                                     :y1 222,
                                     :x2 1005,
                                     :y2 400,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1691370807081},
               :properties {:color "yellow"}}
              {:id #uuid "64d04589-a77e-490c-bb63-6bbdb4bc9f6d",
               :page 7,
               :position {:bounding {:x1 475.96875,
                                     :y1 375.5625,
                                     :x2 587.5396118164062,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 475.96875,
                                   :y1 375.5625,
                                   :x2 587.5396118164062,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 7},
               :content {:text "Big Data"},
               :properties {:color "yellow"}}
              {:id #uuid "64d04724-e7ec-40c3-97cb-b2853ddb9ae2",
               :page 8,
               :position {:bounding {:x1 26,
                                     :y1 148,
                                     :x2 1043,
                                     :y2 653,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691371298412},
               :properties {:color "yellow"}}
              {:id #uuid "64d0478b-aa0b-4f03-8194-57d762de29f6",
               :page 9,
               :position {:bounding {:x1 440.71875,
                                     :y1 375.5625,
                                     :x2 623.4482421875,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 440.71875,
                                   :y1 375.5625,
                                   :x2 623.4482421875,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 9},
               :content {:text "Apache Spark"},
               :properties {:color "yellow"}}
              {:id #uuid "64d047c7-2b4b-47ed-a4aa-77208aa76c6d",
               :page 10,
               :position {:bounding {:x1 26,
                                     :y1 157,
                                     :x2 997,
                                     :y2 676,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1691371462122},
               :properties {:color "yellow"}}
              {:id #uuid "64d04826-08a6-4d6a-a01c-2e75d80e5eb3",
               :page 11,
               :position {:bounding {:x1 26,
                                     :y1 157,
                                     :x2 973,
                                     :y2 677,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1691371558081},
               :properties {:color "yellow"}}
              {:id #uuid "64d0491a-1d29-40cf-aa9e-871dc18aec22",
               :page 12,
               :position {:bounding {:x1 26,
                                     :y1 154,
                                     :x2 1047,
                                     :y2 673,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1691371800682},
               :properties {:color "yellow"}}
              {:id #uuid "64d04982-ce14-4c81-b0c6-38f46d3bce68",
               :page 13,
               :position {:bounding {:x1 16,
                                     :y1 155,
                                     :x2 887,
                                     :y2 682,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1691371905186},
               :properties {:color "yellow"}}
              {:id #uuid "64d049e6-8218-406f-b161-2b7874841eba",
               :page 14,
               :position {:bounding {:x1 454.265625,
                                     :y1 375.5625,
                                     :x2 611.1195678710938,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 454.265625,
                                   :y1 375.5625,
                                   :x2 611.1195678710938,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 14},
               :content {:text "MapReduce"},
               :properties {:color "yellow"}}
              {:id #uuid "64d04a40-148d-432c-b8de-da697b07ef60",
               :page 15,
               :position {:bounding {:x1 19,
                                     :y1 151,
                                     :x2 996,
                                     :y2 496,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1691372095263},
               :properties {:color "yellow"}}
              {:id #uuid "64d04aef-4c5c-4424-8985-f296d7463a6a",
               :page 16,
               :position {:bounding {:x1 21,
                                     :y1 156,
                                     :x2 990,
                                     :y2 658,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1691372270447},
               :properties {:color "yellow"}}
              {:id #uuid "64d04b0a-f610-4ee3-bc14-6385d139d2c1",
               :page 17,
               :position {:bounding {:x1 310,
                                     :y1 487,
                                     :x2 791,
                                     :y2 671,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1691372296936},
               :properties {:color "yellow"}}
              {:id #uuid "64d04b5e-94f6-488d-89ca-51369af87217",
               :page 18,
               :position {:bounding {:x1 26,
                                     :y1 153,
                                     :x2 1031,
                                     :y2 540,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1691372381563},
               :properties {:color "yellow"}}],
 :extra {:page 18}}
