{:highlights [{:id #uuid "64d03a4f-d12b-44c0-9b2c-0848d1a5d023",
               :page 4,
               :position {:bounding {:x1 6,
                                     :y1 118,
                                     :x2 948,
                                     :y2 605,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1691368014337},
               :properties {:color "yellow"}}
              {:id #uuid "64d03a60-6518-425c-a4dc-0a1d955d837c",
               :page 3,
               :position {:bounding {:x1 307.1875,
                                     :y1 332.109375,
                                     :x2 633.0244750976562,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 307.1875,
                                   :y1 332.109375,
                                   :x2 633.0244750976562,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 3},
               :content {:text "Create Table and Drop Table"},
               :properties {:color "yellow"}}
              {:id #uuid "64d03ab1-401c-4463-ab60-1a58d79bc39c",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 128,
                                     :x2 931,
                                     :y2 416,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691368112875},
               :properties {:color "yellow"}}
              {:id #uuid "64d03ad6-7901-4ecf-9c3d-473b38e4a6fa",
               :page 6,
               :position {:bounding {:x1 375.59375,
                                     :y1 332.109375,
                                     :x2 566.3956909179688,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 375.59375,
                                   :y1 332.109375,
                                   :x2 566.3956909179688,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 6},
               :content {:text "Modifying Tables"},
               :properties {:color "yellow"}}
              {:id #uuid "64d03ae4-39c9-42f6-ab48-78709cbea43a",
               :page 7,
               :position {:bounding {:x1 15,
                                     :y1 129,
                                     :x2 941,
                                     :y2 606,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1691368164174},
               :properties {:color "yellow"}}
              {:id #uuid "64d03be7-d83d-4aca-bb44-c4ea7c6ca5e8",
               :page 8,
               :position {:bounding {:x1 19,
                                     :y1 133,
                                     :x2 884,
                                     :y2 546,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1691368422330},
               :properties {:color "yellow"}}
              {:id #uuid "64d03d7a-4973-4bc1-be1a-bf7c6156551f",
               :page 9,
               :position {:bounding {:x1 6,
                                     :y1 126,
                                     :x2 851,
                                     :y2 490,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1691368824752},
               :properties {:color "yellow"}}
              {:id #uuid "64d03dbe-5232-490b-ae7b-41d438be6012",
               :page 10,
               :position {:bounding {:x1 376.796875,
                                     :y1 332.109375,
                                     :x2 565.6927490234375,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 376.796875,
                                   :y1 332.109375,
                                   :x2 565.6927490234375,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 10},
               :content {:text "Python and SQL"},
               :properties {:color "yellow"}}
              {:id #uuid "64d03ebb-ca56-47f2-9c3c-f8fdc905be30",
               :page 11,
               :position {:bounding {:x1 355.1875,
                                     :y1 332.109375,
                                     :x2 583.6716918945312,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 355.1875,
                                   :y1 332.109375,
                                   :x2 583.6716918945312,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 11},
               :content {:text "SQL Injection Attack"},
               :properties {:color "yellow"}}
              {:id #uuid "64d03f2c-f1f0-4ef6-b33d-4e4fadc80beb",
               :page 12,
               :position {:bounding {:x1 1,
                                     :y1 132,
                                     :x2 882,
                                     :y2 605,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1691369259492},
               :properties {:color "yellow"}}
              {:id #uuid "64d03fa4-a703-4348-af7f-dd12349611dd",
               :page 13,
               :position {:bounding {:x1 340.796875,
                                     :y1 332.109375,
                                     :x2 601.240478515625,
                                     :y2 360.109375,
                                     :width 950.4,
                                     :height 734.4},
                          :rects ({:x1 340.796875,
                                   :y1 332.109375,
                                   :x2 601.240478515625,
                                   :y2 360.109375,
                                   :width 950.4,
                                   :height 734.4}),
                          :page 13},
               :content {:text "Database Connections"},
               :properties {:color "yellow"}}
              {:id #uuid "64d04037-f91c-40f3-b152-ca49678a6bee",
               :page 14,
               :position {:bounding {:x1 15,
                                     :y1 123,
                                     :x2 802,
                                     :y2 544,
                                     :width 950.4,
                                     :height 734.4},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1691369526846},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
