{:highlights [{:id #uuid "64af551c-642e-4802-a47e-c4398ec68572",
               :page 4,
               :position {:bounding {:x1 30.125,
                                     :y1 131.203125,
                                     :x2 267.9659118652344,
                                     :y2 154.203125,
                                     :width 884,
                                     :height 683.0909090909091},
                          :rects ({:x1 30.125,
                                   :y1 131.203125,
                                   :x2 267.9659118652344,
                                   :y2 154.203125,
                                   :width 884,
                                   :height 683.0909090909091}),
                          :page 4},
               :content {:text "Programming Languages"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5632-f841-4e59-820d-27be2dae811d",
               :page 5,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 386.1563415527344,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 386.1563415527344,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 5},
               :content {:text "Metalinguistic Abstraction"},
               :properties {:color "yellow"}}
              {:id #uuid "64af56d3-783a-4509-90af-35a83cf29277",
               :page 7,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 348.83575439453125,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 348.83575439453125,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 7},
               :content {:text "Reading Scheme Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "64af570f-1bd8-492a-8bb7-c9a85ac6c4ff",
               :page 8,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 146.91796875,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 146.91796875,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 8},
               :content {:text "Parsing"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5728-6e1d-471e-b040-d7fd3bc00849",
               :page 8,
               :position {:bounding {:x1 164,
                                     :y1 302,
                                     :x2 1103,
                                     :y2 794,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1689212710793},
               :properties {:color "yellow"}}
              {:id #uuid "64af5858-2e24-43d6-84e6-c54273d3e8c8",
               :page 9,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 286.05035400390625,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 286.05035400390625,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 9},
               :content {:text "Syntactic Analysis"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5983-9c42-4fcf-9f2e-f2eb97765818",
               :page 11,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 243.598388671875,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 243.598388671875,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 11},
               :content {:text "The Pair Class"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5a05-04b2-4629-860a-0188dc864f14",
               :page 12,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 282.64898681640625,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 282.64898681640625,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 12},
               :content {:text "Calculator Syntax"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5a5d-88d7-4218-b006-3c4a0ca8bf59",
               :page 11,
               :position {:bounding {:x1 32,
                                     :y1 256,
                                     :x2 1246,
                                     :y2 741,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1689213531774},
               :properties {:color "yellow"}}
              {:id #uuid "64af5a9f-0894-4230-9b30-76f4b023f6b0",
               :page 12,
               :position {:bounding {:x1 23,
                                     :y1 248,
                                     :x2 1243,
                                     :y2 790,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1689213597961},
               :properties {:color "yellow"}}
              {:id #uuid "64af5acb-847b-4a78-9ea8-3fb711597145",
               :page 13,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 331.8313293457031,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 331.8313293457031,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 13},
               :content {:text "Calculator Semantics"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5ae1-1422-4976-9187-7980860e01a1",
               :page 13,
               :position {:bounding {:x1 40,
                                     :y1 250,
                                     :x2 1140,
                                     :y2 798,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1689213664072},
               :properties {:color "yellow"}}
              {:id #uuid "64af5b26-baaa-4e8e-a51a-82ea1fabceea",
               :page 15,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 289.4327087402344,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 289.4327087402344,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 15},
               :content {:text "The Eval Function"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5bb7-6174-4421-b3ad-4d068e8f3940",
               :page 15,
               :position {:bounding {:x1 25,
                                     :y1 247,
                                     :x2 1250,
                                     :y2 785,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1689213878292},
               :properties {:color "yellow"}}
              {:id #uuid "64af5bf4-f0a4-4d3b-8e8b-da804debb371",
               :page 16,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 406.49481201171875,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 406.49481201171875,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 16},
               :content {:text "Applying Built-in Operators"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5c0c-8f9d-4651-9eda-988bd44b017d",
               :page 16,
               :position {:bounding {:x1 39,
                                     :y1 256,
                                     :x2 1218,
                                     :y2 761,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1689213963051},
               :properties {:color "yellow"}}
              {:id #uuid "64af5c5b-9b74-4444-b8e0-d7c8998673ef",
               :page 18,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 335.247314453125,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 335.247314453125,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 18},
               :content {:text "Read-Eval-Print Loop"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5e31-21c1-477f-9086-38b0e0924873",
               :page 18,
               :position {:bounding {:x1 38,
                                     :y1 258,
                                     :x2 1090,
                                     :y2 574,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1689214512448},
               :properties {:color "yellow"}}
              {:id #uuid "64af5e58-be97-4e16-bb25-a5ace2564878",
               :page 19,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 303.0272521972656,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 303.0272521972656,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 19},
               :content {:text "Raising Exceptions"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5e72-d2a8-4cb0-9460-f8981c1517b2",
               :page 19,
               :position {:bounding {:x1 30,
                                     :y1 249,
                                     :x2 1161,
                                     :y2 550,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1689214576739},
               :properties {:color "yellow"}}
              {:id #uuid "64af5ec5-ddaa-4628-9f55-cf8b916bcf41",
               :page 20,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 321.7186279296875,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 321.7186279296875,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 20},
               :content {:text "Handling Exceptions"},
               :properties {:color "yellow"}}
              {:id #uuid "64af5eda-21d1-4099-9aef-6d735650cc63",
               :page 20,
               :position {:bounding {:x1 41,
                                     :y1 254,
                                     :x2 1097,
                                     :y2 386,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1689214680502},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
