{:highlights [{:id #uuid "649e20f1-7ee5-406d-a185-bcd91227a033",
               :page 4,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 306.97088623046875,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 306.97088623046875,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 4},
               :content {:text "Separation of Concerns"},
               :properties {:color "yellow"}}
              {:id #uuid "649e212c-98c2-4816-921a-70934600e36b",
               :page 3,
               :position {:bounding {:x1 431.21875,
                                     :y1 375.5625,
                                     :x2 634.9457397460938,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 431.21875,
                                   :y1 375.5625,
                                   :x2 634.9457397460938,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 3},
               :content {:text "Modular Design"},
               :properties {:color "yellow"}}
              {:id #uuid "649e21a4-9f1f-4233-9afa-05bfc894a10a",
               :page 4,
               :position {:bounding {:x1 41,
                                     :y1 283,
                                     :x2 1036,
                                     :y2 685,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1688084899584},
               :properties {:color "yellow"}}
              {:id #uuid "649e26af-67bb-4bf6-8543-1e01f62c811c",
               :page 5,
               :position {:bounding {:x1 347.140625,
                                     :y1 375.5625,
                                     :x2 719.0078735351562,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 347.140625,
                                   :y1 375.5625,
                                   :x2 719.0078735351562,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Example: Restaurant Search"},
               :properties {:color "yellow"}}
              {:id #uuid "649e278d-135d-4603-ad25-8cc65203fec6",
               :page 10,
               :position {:bounding {:x1 431.21875,
                                     :y1 375.5625,
                                     :x2 633.3310546875,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 431.21875,
                                   :y1 375.5625,
                                   :x2 633.3310546875,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 10},
               :content {:text "Set Intersection"},
               :properties {:color "yellow"}}
              {:id #uuid "649e28c7-9f48-4ff6-b05a-5ce4f8d67790",
               :page 12,
               :position {:bounding {:x1 503.09375,
                                     :y1 375.5625,
                                     :x2 561.3006591796875,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 503.09375,
                                   :y1 375.5625,
                                   :x2 561.3006591796875,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 12},
               :content {:text "Sets"},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
