{:highlights [{:id #uuid "64c70334-6cd7-4470-a1e1-1b11073480ff",
               :page 15,
               :position {:bounding {:x1 43.421875,
                                     :y1 188.546875,
                                     :x2 297.90264892578125,
                                     :y2 222.546875,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects ({:x1 43.421875,
                                   :y1 188.546875,
                                   :x2 297.90264892578125,
                                   :y2 222.546875,
                                   :width 1274,
                                   :height 984.4545454545455}),
                          :page 15},
               :content {:text "String Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64c70351-20f0-4b4d-a262-d35dbd0b6eec",
               :page 15,
               :position {:bounding {:x1 35,
                                     :y1 254,
                                     :x2 1175,
                                     :y2 770,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1690764112451},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
