{:highlights [{:id #uuid "64b8975d-0809-428f-aa68-1ce314213740",
               :page 4,
               :position {:bounding {:x1 36.203125,
                                     :y1 156.828125,
                                     :x2 405.3369445800781,
                                     :y2 184.828125,
                                     :width 1062,
                                     :height 820.6363636363636},
                          :rects ({:x1 36.203125,
                                   :y1 156.828125,
                                   :x2 405.3369445800781,
                                   :y2 184.828125,
                                   :width 1062,
                                   :height 820.6363636363636}),
                          :page 4},
               :content {:text "Database Management Systems"},
               :properties {:color "yellow"}}
              {:id #uuid "64b897a8-3896-433f-99eb-0bc3d75efdde",
               :page 4,
               :position {:bounding {:x1 14,
                                     :y1 213,
                                     :x2 1034,
                                     :y2 657,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689819047755},
               :properties {:color "yellow"}}
              {:id #uuid "64b89947-ae2f-480b-94e0-809749d8cdc0",
               :page 5,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 326.9201965332031,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 326.9201965332031,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 5},
               :content {:text "Declarative Programming"},
               :properties {:color "yellow"}}
              {:id #uuid "64b899fa-d42b-4faf-978e-26928dfd3681",
               :page 5,
               :position {:bounding {:x1 26,
                                     :y1 210,
                                     :x2 1040,
                                     :y2 675,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1689819641168},
               :properties {:color "yellow"}}
              {:id #uuid "64b89d7c-f5ae-453d-b047-a24379bf3056",
               :page 7,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 200.58204650878906,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 200.58204650878906,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 7},
               :content {:text "SQL Overview"},
               :properties {:color "yellow"}}
              {:id #uuid "64b89da0-b9f8-45cd-93c1-2f8e8725c92c",
               :page 7,
               :position {:bounding {:x1 45,
                                     :y1 210,
                                     :x2 1013,
                                     :y2 389,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1689820574720},
               :properties {:color "yellow"}}
              {:id #uuid "64b89e17-ddaa-4994-a5af-3bebe5e2ed4d",
               :page 9,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 303.6324462890625,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 303.6324462890625,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 9},
               :content {:text "Selecting Value Literals"},
               :properties {:color "yellow"}}
              {:id #uuid "64b89e6b-a9aa-4913-859c-fe46e63f929f",
               :page 9,
               :position {:bounding {:x1 33,
                                     :y1 220,
                                     :x2 1045,
                                     :y2 669,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1689820778621},
               :properties {:color "yellow"}}
              {:id #uuid "64b89efd-7f7b-4fcb-848a-5b3728a27ea1",
               :page 10,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 205.89303588867188,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 205.89303588867188,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 10},
               :content {:text "Naming Tables"},
               :properties {:color "yellow"}}
              {:id #uuid "64b89f19-729f-406b-b2ef-ae99d939f13f",
               :page 10,
               :position {:bounding {:x1 28,
                                     :y1 224,
                                     :x2 1039,
                                     :y2 674,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1689820952129},
               :properties {:color "yellow"}}
              {:id #uuid "64b89fa5-3882-44ad-8395-0f90c3b23420",
               :page 12,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 510.5174255371094,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 510.5174255371094,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 12},
               :content {:text "Select Statements Project Existing Tables"},
               :properties {:color "yellow"}}
              {:id #uuid "64b89fba-a99b-4793-bf8e-75545f279a2e",
               :page 12,
               :position {:bounding {:x1 31,
                                     :y1 213,
                                     :x2 1047,
                                     :y2 682,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1689821113774},
               :properties {:color "yellow"}}
              {:id #uuid "64b8a033-a4c2-4dfd-aa5b-844a87e188b4",
               :page 14,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 404.1486511230469,
                                     :y2 186.625,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 404.1486511230469,
                                   :y2 186.625,
                                   :width 1073.9999999999998,
                                   :height 829.9090909090908}),
                          :page 14},
               :content {:text "Arithmetic in Select Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64b8a0a1-514d-4825-9df7-efa936aac58d",
               :page 14,
               :position {:bounding {:x1 36,
                                     :y1 210,
                                     :x2 1050,
                                     :y2 671,
                                     :width 1073.9999999999998,
                                     :height 829.9090909090908},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1689821343145},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
