{:highlights [{:id #uuid "64d56e94-35b3-40fc-bc08-266c87a30aaa",
               :page 38,
               :position {:bounding {:x1 20,
                                     :y1 112,
                                     :x2 408,
                                     :y2 511,
                                     :width 1014.0000000000001,
                                     :height 570.375},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1691709075555},
               :properties {:color "yellow"}}
              {:id #uuid "64d57252-3f59-435b-aa66-34fa4a1c2812",
               :page 59,
               :position {:bounding {:x1 24,
                                     :y1 17,
                                     :x2 961,
                                     :y2 536,
                                     :width 1014.0000000000001,
                                     :height 570.375},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1691710032944},
               :properties {:color "yellow"}}],
 :extra {:page 38}}
