{:highlights [{:id #uuid "64bf347a-a180-45fe-93e0-8e44a0dcb835",
               :page 5,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 216.80799865722656,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 216.80799865722656,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Dynamic Scope"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf34f8-e047-4112-bc1f-b7a758ab9d7c",
               :page 7,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 316.92706298828125,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 316.92706298828125,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 7},
               :content {:text "Functional Programming"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3545-3529-4e80-be35-a025194ad549",
               :page 7,
               :position {:bounding {:x1 34,
                                     :y1 209,
                                     :x2 1050,
                                     :y2 606,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1690252612371},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3629-3d31-42ad-81ff-7dc98c46822a",
               :page 8,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 417.10748291015625,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 417.10748291015625,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 8},
               :content {:text "Recursion and Iteration in Python"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3669-2709-4bed-8900-06e1732f1577",
               :page 8,
               :position {:bounding {:x1 30,
                                     :y1 214,
                                     :x2 895,
                                     :y2 641,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1690252904548},
               :properties {:color "yellow"}}
              {:id #uuid "64bf36a8-c653-40e7-9e1a-01e6100183e1",
               :page 9,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 198.21473693847656,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 198.21473693847656,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 9},
               :content {:text "Tail Recursion"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf36d6-93fc-47f2-9940-96d4021e5cfa",
               :page 9,
               :position {:bounding {:x1 32,
                                     :y1 203,
                                     :x2 1004,
                                     :y2 671,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1690253013791},
               :properties {:color "yellow"}}
              {:id #uuid "64bf37c0-7e99-4cd1-8807-7188466867b9",
               :page 11,
               :position {:bounding {:x1 19,
                                     :y1 215,
                                     :x2 1026,
                                     :y2 662,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1690253247015},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3879-c462-49ce-89ce-6135ff598769",
               :page 12,
               :position {:bounding {:x1 22,
                                     :y1 156,
                                     :x2 852,
                                     :y2 680,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1690253432367},
               :properties {:color "yellow"}}
              {:id #uuid "64bf390b-4439-48c6-80b9-51204edb5a9f",
               :page 13,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 386.04071044921875,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 386.04071044921875,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 13},
               :content {:text "Eval with Tail Call Optimization"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3940-8729-4f12-9c37-b2e2dbeb6f87",
               :page 13,
               :position {:bounding {:x1 37,
                                     :y1 214,
                                     :x2 946,
                                     :y2 298,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1690253631180},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3a1b-93c7-44a1-b3f6-88e7738fe6a0",
               :page 15,
               :position {:bounding {:x1 22,
                                     :y1 139,
                                     :x2 1049,
                                     :y2 703,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1690253849812},
               :properties {:color "yellow"}}
              {:id #uuid "64bf3bcc-549b-4acc-b17f-ce5401e64f4d",
               :page 17,
               :position {:bounding {:x1 41,
                                     :y1 203,
                                     :x2 1020,
                                     :y2 663,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1690254283558},
               :properties {:color "yellow"}}
              {:id #uuid "64bf59b4-4350-4dd4-9d0a-33bdcaa3581f",
               :page 18,
               :position {:bounding {:x1 19,
                                     :y1 146,
                                     :x2 1051,
                                     :y2 673,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1690261938805},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5a13-ef29-4572-8a5a-de102b72393c",
               :page 19,
               :position {:bounding {:x1 340.359375,
                                     :y1 375.5625,
                                     :x2 725.180908203125,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 340.359375,
                                   :y1 375.5625,
                                   :x2 725.180908203125,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 19},
               :content {:text "General Computing Machines"},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5a7e-0c37-4a05-86f3-12f5bdc863cf",
               :page 20,
               :position {:bounding {:x1 29,
                                     :y1 152,
                                     :x2 850,
                                     :y2 616,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1690262141196},
               :properties {:color "yellow"}}
              {:id #uuid "64bf5ab0-4eda-4b76-9d62-9078b3c14817",
               :page 21,
               :position {:bounding {:x1 24,
                                     :y1 154,
                                     :x2 1005,
                                     :y2 665,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1690262191763},
               :properties {:color "yellow"}}
              {:id #uuid "64bf89e7-845b-4a3c-9950-cf35d31c19d1",
               :page 5,
               :position {:bounding {:x1 26,
                                     :y1 210,
                                     :x2 1042,
                                     :y2 684,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1690274277958},
               :properties {:color "yellow"}}
              {:id #uuid "64c4bd00-0a51-41ed-ba4a-77ee592e0f52",
               :page 15,
               :position {:bounding {:x1 14,
                                     :y1 521,
                                     :x2 584,
                                     :y2 809,
                                     :width 1274,
                                     :height 984.4545454545455},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1690615039367},
               :properties {:color "red"}}],
 :extra {:page 15}}
