{:highlights [{:id #uuid "66610204-d629-4418-a389-81975c08e347",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 363.03125,
                                     :x2 314.7687683105469,
                                     :y2 409.03125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 363.03125,
                                   :x2 314.7687683105469,
                                   :y2 409.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Prologue"},
               :properties {:color "red"}}
              {:id #uuid "66610266-3f12-451f-ac71-15b4e85fdbc2",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 679.640625,
                                     :x2 449.12646484375,
                                     :y2 706.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 679.640625,
                                   :x2 160.875,
                                   :y2 706.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 679.640625,
                                   :x2 449.12646484375,
                                   :y2 706.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "0.1 Books and algorithms"},
               :properties {:color "red"}}
              {:id #uuid "666103bc-4926-4f53-9fda-d4fc7cb26ab7",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 380.265625,
                                     :x2 371.0980224609375,
                                     :y2 407.265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 380.265625,
                                   :x2 160.875,
                                   :y2 407.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 380.265625,
                                   :x2 371.0980224609375,
                                   :y2 407.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "0.2 Enter Fibonacc"},
               :properties {:color "red"}}
              {:id #uuid "6661053b-9a4f-4124-9972-a502096bcfab",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 560.84375,
                                     :x2 359.04986572265625,
                                     :y2 587.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 560.84375,
                                   :x2 160.875,
                                   :y2 587.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 560.84375,
                                   :x2 359.04986572265625,
                                   :y2 587.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "0.3 Big-O notation"},
               :properties {:color "red"}}
              {:id #uuid "6662bc85-7d4b-4929-928b-c80e2c4567ef",
               :page 2,
               :position {:bounding {:x1 148.203125,
                                     :y1 1138.546875,
                                     :x2 841.9845581054688,
                                     :y2 1158.546875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 148.203125,
                                   :y1 1138.546875,
                                   :x2 841.9845581054688,
                                   :y2 1158.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Whenever we have an algorithm, there are three questions we always ask about it:"},
               :properties {:color "red"}}
              {:id #uuid "6662bc91-17ee-4af3-b601-0a4a6829dd2b",
               :page 3,
               :position {:bounding {:x1 141.15625,
                                     :y1 175.34375,
                                     :x2 268.9098205566406,
                                     :y2 195.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 141.15625,
                                   :y1 175.34375,
                                   :x2 268.9098205566406,
                                   :y2 195.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "1. Is it correct?"},
               :properties {:color "red"}}
              {:id #uuid "6662bc9a-2b0b-4c72-ab8f-59b75182b7b3",
               :page 3,
               :position {:bounding {:x1 141.15625,
                                     :y1 214.6875,
                                     :x2 563.96875,
                                     :y2 234.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 141.15625,
                                   :y1 214.6875,
                                   :x2 563.96875,
                                   :y2 234.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2. How much time does it take, as a function of n?"},
               :properties {:color "red"}}
              {:id #uuid "6662bcb4-7555-4244-ae76-2a1eb043e835",
               :page 3,
               :position {:bounding {:x1 141.15625,
                                     :y1 254.140625,
                                     :x2 349.1756286621094,
                                     :y2 274.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 141.15625,
                                   :y1 254.140625,
                                   :x2 349.1756286621094,
                                   :y2 274.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "3. And can we do better?"},
               :properties {:color "red"}}
              {:id #uuid "6662bdcb-087e-4017-9412-5791a7fd4557",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 907.6875,
                                     :x2 898.4456787109375,
                                     :y2 950.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 558.538818359375,
                                   :y1 907.6875,
                                   :x2 898.4456787109375,
                                   :y2 927.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 930.25,
                                   :x2 161.66078186035156,
                                   :y2 950.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text " the right algorithm makes all the difference."},
               :properties {:color "red"}}
              {:id #uuid "6662bf77-b842-4e28-9906-e6dc5872dc35",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 814.890625,
                                     :x2 898.1837158203125,
                                     :y2 857.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 458.3456115722656,
                                   :y1 814.890625,
                                   :x2 898.1837158203125,
                                   :y2 834.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 837.453125,
                                   :x2 700.2902221679688,
                                   :y2 857.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "we will always express running time by counting the number of basic computer steps, as a function of the size of the input."},
               :properties {:color "red"}}
              {:id #uuid "6662bfc8-e56c-4214-8866-7b03b6fba2bd",
               :page 5,
               :position {:bounding {:x1 291.18096923828125,
                                     :y1 927.875,
                                     :x2 777.9535522460938,
                                     :y2 947.875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 291.18096923828125,
                                   :y1 927.875,
                                   :x2 777.9535522460938,
                                   :y2 947.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "computers will be ﬁve times faster in a few years anyway"},
               :properties {:color "red"}}
              {:id #uuid "6662c04b-557b-4bd7-8705-0ba65549fb14",
               :page 5,
               :position {:bounding {:x1 165.4375,
                                     :y1 1033.078125,
                                     :x2 854.359375,
                                     :y2 1098.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.4375,
                                   :y1 1033.078125,
                                   :x2 853.4374389648438,
                                   :y2 1053.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 1055.65625,
                                   :x2 854.359375,
                                   :y2 1075.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 1078.359375,
                                   :x2 367.875,
                                   :y2 1098.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Let f (n) and g(n) be functions from positive integers to positive reals. We say f = O(g) (which means that “f grows no faster than g”) if there is a constant c > 0 such that f (n) ≤ c · g(n)."},
               :properties {:color "red"}}],
 :extra {:page 7}}
