{:highlights [{:id #uuid "66640b31-aeff-4c69-abe3-c94c3cdce078",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 362.375,
                                     :x2 669.3142700195312,
                                     :y2 408.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 362.375,
                                   :x2 669.3142700195312,
                                   :y2 408.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Algorithms with numbers"},
               :properties {:color "red"}}
              {:id #uuid "66640be8-56e1-41c5-b5e6-8afaef1cd5ba",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 885.6875,
                                     :x2 383.43243408203125,
                                     :y2 912.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 885.6875,
                                   :x2 160.875,
                                   :y2 912.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 885.6875,
                                   :x2 383.43243408203125,
                                   :y2 912.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1.1 Basic arithmetic"},
               :properties {:color "red"}}
              {:id #uuid "66640c12-7835-4f5b-92dc-b18e2df7aa3e",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 934.921875,
                                     :x2 276.0224304199219,
                                     :y2 956.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 934.921875,
                                   :x2 170.875,
                                   :y2 956.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 185.421875,
                                   :y1 934.921875,
                                   :x2 276.0224304199219,
                                   :y2 956.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1.1.1 Addition"},
               :properties {:color "red"}}
              {:id #uuid "66640c58-43f2-42bb-930d-493a893a3fa4",
               :page 1,
               :position {:bounding {:x1 165.4375,
                                     :y1 1053.859375,
                                     :x2 737.081787109375,
                                     :y2 1074.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.4375,
                                   :y1 1053.859375,
                                   :x2 737.081787109375,
                                   :y2 1074.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The sum of any three single-digit numbers is at most two digits long"},
               :properties {:color "red"}}
              {:id #uuid "66640d55-9045-484f-a9e6-974edc764e46",
               :page 2,
               :position {:bounding {:x1 122,
                                     :y1 518,
                                     :x2 897,
                                     :y2 815,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1717833044325},
               :properties {:color "red"}}
              {:id #uuid "66640dbd-184d-4f37-9c7d-e10332a55a63",
               :page 2,
               :position {:bounding {:x1 342,
                                     :y1 965,
                                     :x2 678,
                                     :y2 1088,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1717833148160},
               :properties {:color "red"}}
              {:id #uuid "66640e80-22ee-41fc-beb0-d33d3f8bd682",
               :page 3,
               :position {:bounding {:x1 120.046875,
                                     :y1 977.4375,
                                     :x2 468.0352478027344,
                                     :y2 999.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 120.046875,
                                   :y1 977.4375,
                                   :x2 170.984375,
                                   :y2 999.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 185.421875,
                                   :y1 977.4375,
                                   :x2 468.0352478027344,
                                   :y2 999.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "1.1.2 Multiplication and division"},
               :properties {:color "red"}}
              {:id #uuid "66640ebb-1e5d-4600-b5ab-3a8242071bfe",
               :page 4,
               :position {:bounding {:x1 227,
                                     :y1 165,
                                     :x2 757,
                                     :y2 380,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1717833402112},
               :properties {:color "red"}}
              {:id #uuid "666410b0-ef08-4247-aa0d-8b9904477afc",
               :page 6,
               :position {:bounding {:x1 103,
                                     :y1 164,
                                     :x2 910,
                                     :y2 450,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717833903456},
               :properties {:color "red"}}],
 :extra {:page 6}}
