{:highlights [{:id #uuid "64ae0140-a930-411b-93c6-874f8bdb878f",
               :page 4,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 382.4249572753906,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 382.4249572753906,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 4},
               :content {:text "Today's Topic: Handling Errors"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae028f-c0d0-4a9f-a896-a2d07c9750fb",
               :page 4,
               :position {:bounding {:x1 262,
                                     :y1 354,
                                     :x2 874,
                                     :y2 622,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689125518786},
               :properties {:color "yellow"}}
              {:id #uuid "64ae02de-7274-463e-b9d0-f13c6ed1f748",
               :page 5,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 162.4915008544922,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 162.4915008544922,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 5},
               :content {:text "Exceptions"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae039f-5989-419e-9db4-0f7039b983c3",
               :page 7,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 246.84881591796875,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 246.84881591796875,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 7},
               :content {:text "Assert Statements"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae0416-49a7-4948-be86-a8bdb6437eaf",
               :page 8,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 239.70147705078125,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 239.70147705078125,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 8},
               :content {:text "Raise Statements"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae0466-65b1-4796-bdad-53d941ab4910",
               :page 10,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 210.1089324951172,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 210.1089324951172,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 10},
               :content {:text "Try Statements"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae0527-5f91-4988-950b-cf2deca88b9c",
               :page 11,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 271.2169494628906,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 271.2169494628906,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 11},
               :content {:text "Handling Exceptions"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae070a-148e-41c0-94cb-75442ed304da",
               :page 13,
               :position {:bounding {:x1 417.65625,
                                     :y1 375.5625,
                                     :x2 647.2529907226562,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 417.65625,
                                   :y1 375.5625,
                                   :x2 647.2529907226562,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 13},
               :content {:text "Example: Reduce"},
               :properties {:color "yellow"}}
              {:id #uuid "64ae0887-b8dc-460e-b13d-64f507372bc0",
               :page 15,
               :position {:bounding {:x1 332.234375,
                                     :y1 375.5625,
                                     :x2 731.537841796875,
                                     :y2 407.5625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 332.234375,
                                   :y1 375.5625,
                                   :x2 731.537841796875,
                                   :y2 407.5625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 15},
               :content {:text "Environment Diagrams Review"},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
