{:highlights [{:id #uuid "64b4d769-f472-43ff-831c-20488cd9a16d",
               :page 4,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 382.738037109375,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 382.738037109375,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 4},
               :content {:text "The Structure of an Interpreter"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4d792-ead2-469f-8609-7945cadb2c6b",
               :page 4,
               :position {:bounding {:x1 128,
                                     :y1 194,
                                     :x2 916,
                                     :y2 678,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689573265752},
               :properties {:color "yellow"}}
              {:id #uuid "64b4d816-69ef-4392-871c-7889a0dfbab9",
               :page 6,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 258.3276672363281,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 258.3276672363281,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 6},
               :content {:text "Scheme Evaluation"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4d852-318b-4228-aae6-56ad21b51dfc",
               :page 6,
               :position {:bounding {:x1 32,
                                     :y1 208,
                                     :x2 987,
                                     :y2 648,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1689573456664},
               :properties {:color "yellow"}}
              {:id #uuid "64b4d9dd-ddf9-413f-9b2a-38743643a9d1",
               :page 8,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 289.7632751464844,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 289.7632751464844,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 8},
               :content {:text "Logical Special Forms"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4d9fd-6185-47d2-949d-034482132717",
               :page 8,
               :position {:bounding {:x1 28,
                                     :y1 217,
                                     :x2 1019,
                                     :y2 556,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1689573884350},
               :properties {:color "yellow"}}
              {:id #uuid "64b4da8a-6d53-4f14-99ce-2adbcc3cd248",
               :page 10,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 148.14781188964844,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 148.14781188964844,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 10},
               :content {:text "Quotation"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dabc-b43f-48f0-990b-b808e6581fdc",
               :page 10,
               :position {:bounding {:x1 31,
                                     :y1 203,
                                     :x2 1038,
                                     :y2 596,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1689574075094},
               :properties {:color "yellow"}}
              {:id #uuid "64b4db69-4bb5-4f41-a7d2-e41bbf64276a",
               :page 12,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 276.9138488769531,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 276.9138488769531,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 12},
               :content {:text "Lambda Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dba3-c975-4221-b5bf-37c0330f1091",
               :page 12,
               :position {:bounding {:x1 32,
                                     :y1 210,
                                     :x2 922,
                                     :y2 620,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1689574307074},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dbc5-6557-4c6e-b90c-2513beddc6ce",
               :page 13,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 338.3828430175781,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 338.3828430175781,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 13},
               :content {:text "Frames and Environments"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dbdc-5b1c-4f3a-bf75-678ad7deef92",
               :page 13,
               :position {:bounding {:x1 34,
                                     :y1 211,
                                     :x2 686,
                                     :y2 614,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1689574362976},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dd80-dd05-46c2-9d45-f663b36ad7e7",
               :page 15,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 258.3009948730469,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 258.3009948730469,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 15},
               :content {:text "Define Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4dd9e-5996-469f-9f30-b53000c1d9db",
               :page 15,
               :position {:bounding {:x1 31,
                                     :y1 210,
                                     :x2 906,
                                     :y2 664,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1689574813245},
               :properties {:color "yellow"}}
              {:id #uuid "64b4de17-ad1e-4fe2-80da-a6cd2de9010a",
               :page 16,
               :position {:bounding {:x1 36.609375,
                                     :y1 158.625,
                                     :x2 432.807861328125,
                                     :y2 186.625,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects ({:x1 36.609375,
                                   :y1 158.625,
                                   :x2 432.807861328125,
                                   :y2 186.625,
                                   :width 1074,
                                   :height 829.9090909090909}),
                          :page 16},
               :content {:text "Applying User-Defined Procedures"},
               :properties {:color "yellow"}}
              {:id #uuid "64b4de9b-d0e4-4cc3-a844-eb13b68d65cb",
               :page 16,
               :position {:bounding {:x1 34,
                                     :y1 204,
                                     :x2 1021,
                                     :y2 666,
                                     :width 1074,
                                     :height 829.9090909090909},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1689575066129},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
