{:highlights [{:id #uuid "66a83ac0-084c-4cb1-acf8-cd6f58ddb4b8",
               :page 21,
               :position {:bounding {:x1 172,
                                     :y1 104,
                                     :x2 910,
                                     :y2 528,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1722301123609},
               :properties {:color "yellow"}}
              {:id #uuid "66a83c19-ab73-4ee7-b263-c6dcdf9d2ed1",
               :page 43,
               :position {:bounding {:x1 41,
                                     :y1 100,
                                     :x2 1042,
                                     :y2 581,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1722301464465},
               :properties {:color "red"}}
              {:id #uuid "66a83ecb-a02f-401b-b4ef-a2d6d068fbb8",
               :page 84,
               :position {:bounding {:x1 52,
                                     :y1 147,
                                     :x2 1032,
                                     :y2 590,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 84},
               :content {:text "[:span]", :image 1722302154459},
               :properties {:color "red"}}
              {:id #uuid "66a83f53-fb79-4c46-b7ac-2b06d0dc1b2e",
               :page 102,
               :position {:bounding {:x1 46,
                                     :y1 229,
                                     :x2 1010,
                                     :y2 482,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 102},
               :content {:text "[:span]", :image 1722302290792},
               :properties {:color "red"}}
              {:id #uuid "66a83f65-bcbb-4bdf-9e77-ca3b789bf4d9",
               :page 104,
               :position {:bounding {:x1 27,
                                     :y1 137,
                                     :x2 1013,
                                     :y2 516,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 104},
               :content {:text "[:span]", :image 1722302308192},
               :properties {:color "red"}}],
 :extra {:page 103}}
