{:highlights [{:id #uuid "66a8406f-1e7b-4a8f-be8d-83ccde77490e",
               :page 33,
               :position {:bounding {:x1 87,
                                     :y1 326,
                                     :x2 1018,
                                     :y2 551,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1722302574181},
               :properties {:color "red"}}
              {:id #uuid "66a84077-c3ec-4747-ac97-9d6b400bd56b",
               :page 34,
               :position {:bounding {:x1 96,
                                     :y1 338,
                                     :x2 1039,
                                     :y2 570,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1722302582919},
               :properties {:color "red"}}
              {:id #uuid "66a840d1-11b6-4543-8833-54ef98edf0ca",
               :page 36,
               :position {:bounding {:x1 26,
                                     :y1 23,
                                     :x2 979,
                                     :y2 561,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1722302671993},
               :properties {:color "red"}}],
 :extra {:page 105}}
