{:highlights [{:id #uuid "66a999ec-e82e-4c81-acfc-0e2f90a7a46e",
               :page 40,
               :position {:bounding {:x1 52,
                                     :y1 299,
                                     :x2 1015,
                                     :y2 454,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1722391019126},
               :properties {:color "red"}}
              {:id #uuid "66a99a52-25e6-470c-956f-ec0c97928e66",
               :page 42,
               :position {:bounding {:x1 129,
                                     :y1 212,
                                     :x2 926,
                                     :y2 583,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1722391121598},
               :properties {:color "red"}}
              {:id #uuid "66a99e19-b6e5-43ed-a3e3-a7dcf0888fdc",
               :page 60,
               :position {:bounding {:x1 41,
                                     :y1 431,
                                     :x2 1061,
                                     :y2 593,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1722392088348},
               :properties {:color "red"}}
              {:id #uuid "66a99ee9-0521-4058-95d2-df5dad464516",
               :page 62,
               :position {:bounding {:x1 382.15625,
                                     :y1 37.046875,
                                     :x2 686.774658203125,
                                     :y2 93.046875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 382.15625,
                                   :y1 37.046875,
                                   :x2 686.774658203125,
                                   :y2 93.046875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 62},
               :content {:text "Input Iterators"},
               :properties {:color "red"}}
              {:id #uuid "66a99fa0-3fb4-4378-ae30-ddabca47221a",
               :page 64,
               :position {:bounding {:x1 61,
                                     :y1 417,
                                     :x2 1007,
                                     :y2 582,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1722392485730},
               :properties {:color "red"}}
              {:id #uuid "66a9a176-3c95-4ad3-9b08-7c30aca94be7",
               :page 67,
               :position {:bounding {:x1 65,
                                     :y1 418,
                                     :x2 844,
                                     :y2 585,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 67},
               :content {:text "[:span]", :image 1722392950000},
               :properties {:color "red"}}
              {:id #uuid "66a9a36d-b298-43eb-98e1-1a7878b650c1",
               :page 70,
               :position {:bounding {:x1 67,
                                     :y1 416,
                                     :x2 971,
                                     :y2 578,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1722393452350},
               :properties {:color "red"}}
              {:id #uuid "66a9a4d5-a309-439e-8e75-d8b2479d788f",
               :page 73,
               :position {:bounding {:x1 237.625,
                                     :y1 240.328125,
                                     :x2 720.02880859375,
                                     :y2 396.640625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 237.625,
                                   :y1 240.328125,
                                   :x2 478.8377990722656,
                                   :y2 271.328125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 428.015625,
                                   :y1 245.328125,
                                   :x2 478.8377990722656,
                                   :y2 266.484375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 265.40625,
                                   :x2 720.02880859375,
                                   :y2 296.40625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 270.40625,
                                   :x2 720.02880859375,
                                   :y2 291.5625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 290.484375,
                                   :x2 313.8066101074219,
                                   :y2 321.484375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 295.484375,
                                   :x2 313.8066101074219,
                                   :y2 316.640625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 315.484375,
                                   :x2 428.00421142578125,
                                   :y2 346.484375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 320.484375,
                                   :x2 428.00421142578125,
                                   :y2 341.640625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 340.5625,
                                   :x2 313.80548095703125,
                                   :y2 371.5625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 345.5625,
                                   :x2 313.80548095703125,
                                   :y2 366.71875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 365.640625,
                                   :x2 440.73858642578125,
                                   :y2 396.640625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 370.640625,
                                   :x2 369.265625,
                                   :y2 391.796875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 73},
               :content {:text "vector<int> v = ... vector<int>::iterator itr = v.begin();++itr; int val = *itr;--itr; int val2 = *itr;"},
               :properties {:color "red"}}
              {:id #uuid "66aa22cd-39a8-4a76-9c17-6847850daefd",
               :page 73,
               :position {:bounding {:x1 65,
                                     :y1 415,
                                     :x2 869,
                                     :y2 579,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 73},
               :content {:text "[:span]", :image 1722426060889},
               :properties {:color "red"}}
              {:id #uuid "66aa22e8-c151-4924-8cda-90190ff425f8",
               :page 75,
               :position {:bounding {:x1 261.578125,
                                     :y1 37.046875,
                                     :x2 804.7449951171875,
                                     :y2 93.046875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 261.578125,
                                   :y1 37.046875,
                                   :x2 804.7449951171875,
                                   :y2 93.046875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 75},
               :content {:text "Random Access Iterators"},
               :properties {:color "red"}}
              {:id #uuid "66aa22fe-b385-49ad-b772-b2b17009ceb9",
               :page 75,
               :position {:bounding {:x1 69.265625,
                                     :y1 147.71875,
                                     :x2 986.8780517578125,
                                     :y2 223.875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 69.265625,
                                   :y1 147.71875,
                                   :x2 986.8780517578125,
                                   :y2 180.71875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 425.875,
                                   :y1 179.875,
                                   :x2 450.578125,
                                   :y2 223.875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 509.15625,
                                   :y1 179.875,
                                   :x2 519.59375,
                                   :y2 223.875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 69.265625,
                                   :y1 184.15625,
                                   :x2 519.59375,
                                   :y2 217.15625,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 75},
               :content {:text "Same as bidirectional iterators, + can be incremented or decremented by arbitrary amounts using + and -"},
               :properties {:color "red"}}
              {:id #uuid "66aa233a-de1e-481d-9a83-63de75042573",
               :page 76,
               :position {:bounding {:x1 237.625,
                                     :y1 272.921875,
                                     :x2 720.02880859375,
                                     :y2 404.15625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 237.625,
                                   :y1 272.921875,
                                   :x2 478.8377990722656,
                                   :y2 303.921875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 428.015625,
                                   :y1 277.921875,
                                   :x2 478.8377990722656,
                                   :y2 299.078125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 298,
                                   :x2 720.02880859375,
                                   :y2 329,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 303,
                                   :x2 720.02880859375,
                                   :y2 324.15625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 323.015625,
                                   :x2 428.00421142578125,
                                   :y2 354.015625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 328.015625,
                                   :x2 428.00421142578125,
                                   :y2 349.171875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 348.078125,
                                   :x2 415.3183898925781,
                                   :y2 379.078125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 353.078125,
                                   :x2 415.3183898925781,
                                   :y2 374.234375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 373.15625,
                                   :x2 440.73858642578125,
                                   :y2 404.15625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 237.625,
                                   :y1 378.15625,
                                   :x2 369.265625,
                                   :y2 399.3125,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 76},
               :content {:text "vector<int> v = ... vector<int>::iterator itr = v.begin(); int val = *itr; itr = itr + 3; int val2 = *itr;"},
               :properties {:color "red"}}
              {:id #uuid "66aa235f-b755-4042-853b-572e502f7f1e",
               :page 76,
               :position {:bounding {:x1 65,
                                     :y1 449,
                                     :x2 550,
                                     :y2 582,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 76},
               :content {:text "[:span]", :image 1722426207395},
               :properties {:color "red"}}],
 :extra {:page 76}}
