{:highlights [{:id #uuid "664b002d-b8d4-4e7d-a4b0-ace10781aa8d",
               :page 47,
               :position {:bounding {:x1 37,
                                     :y1 112,
                                     :x2 1015,
                                     :y2 567,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1716191276932},
               :properties {:color "blue"}}
              {:id #uuid "664b003b-0d7a-46c3-a13f-c3a4ae11e52c",
               :page 56,
               :position {:bounding {:x1 53,
                                     :y1 149,
                                     :x2 700,
                                     :y2 487,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1716191290241},
               :properties {:color "red"}}],
 :extra {:page 17}}
