{:highlights [{:id #uuid "664b002d-b8d4-4e7d-a4b0-ace10781aa8d",
               :page 47,
               :position {:bounding {:x1 37,
                                     :y1 112,
                                     :x2 1015,
                                     :y2 567,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1716191276932},
               :properties {:color "blue"}}
              {:id #uuid "664b003b-0d7a-46c3-a13f-c3a4ae11e52c",
               :page 56,
               :position {:bounding {:x1 53,
                                     :y1 149,
                                     :x2 700,
                                     :y2 487,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1716191290241},
               :properties {:color "red"}}
              {:id #uuid "66a49a97-c7b4-423b-bdc0-b1790e5d9ad1",
               :page 35,
               :position {:bounding {:x1 47,
                                     :y1 153,
                                     :x2 962,
                                     :y2 477,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1722063511111},
               :properties {:color "red"}}
              {:id #uuid "66a49aad-7a01-47a4-9ad4-f90654ab7936",
               :page 40,
               :position {:bounding {:x1 55,
                                     :y1 235,
                                     :x2 991,
                                     :y2 551,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1722063532420},
               :properties {:color "red"}}
              {:id #uuid "66a49adf-6a1f-4f68-82ac-d66ac92c2352",
               :page 46,
               :position {:bounding {:x1 44,
                                     :y1 149,
                                     :x2 650,
                                     :y2 455,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1722063582237},
               :properties {:color "red"}}],
 :extra {:page 51}}
