{:highlights [{:id #uuid "691ecdc7-a3c3-434d-ad8e-a0ecc3ca6cf2",
               :page 42,
               :position {:bounding {:x1 228.27479553222656,
                                     :y1 744.8570098876953,
                                     :x2 882.8402252197266,
                                     :y2 873.2066802978516,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 228.27479553222656,
                                   :y1 744.8570098876953,
                                   :x2 875.4530181884766,
                                   :y2 763.1144561767578,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 763.2057037353516,
                                   :x2 865.8216705322266,
                                   :y2 781.4631500244141,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 781.5544586181641,
                                   :x2 880.2774810791016,
                                   :y2 799.8118438720703,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 799.9031524658203,
                                   :x2 879.1548004150391,
                                   :y2 818.1605377197266,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 818.2518463134766,
                                   :x2 874.0813140869141,
                                   :y2 836.5092315673828,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 836.6005401611328,
                                   :x2 882.8402252197266,
                                   :y2 854.8579864501953,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 228.27479553222656,
                                   :y1 854.9492340087891,
                                   :x2 297.25538635253906,
                                   :y2 873.2066802978516,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 42},
               :content {:text "The Packet Timer minimizes the number of interrupts generated when many packets are received in a short period of time. The packet timer is started once a packet is received and transferred to host memory (specifically, after the last packet data byte is written to memory) and is reinitialized(to the value defined in RDTR) and started EACH TIME a new packet is received and transferred to the host memory. When the Packet Timer expires (e.g. no new packets have been received and transferred to host memory for the amount of time defined in RDTR) the Receive Timer Interrupt is generated."},
               :properties {:color "red"}}],
 :extra {:page 42}}
