{:highlights [{:id #uuid "66ac9d9a-0ed0-4279-9b29-e395bea98f5f",
               :page 61,
               :position {:bounding {:x1 193,
                                     :y1 134,
                                     :x2 929,
                                     :y2 544,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1722588580956},
               :properties {:color "red"}}
              {:id #uuid "66ac9dc4-e31b-4386-8b16-3e5dd4de29a4",
               :page 62,
               :position {:bounding {:x1 165,
                                     :y1 136,
                                     :x2 888,
                                     :y2 526,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1722588611114},
               :properties {:color "red"}}
              {:id #uuid "66ac9e31-3748-43ff-9611-062632588857",
               :page 68,
               :position {:bounding {:x1 162,
                                     :y1 103,
                                     :x2 730,
                                     :y2 528,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 68},
               :content {:text "[:span]", :image 1722588720844},
               :properties {:color "red"}}
              {:id #uuid "66ac9ed6-6f22-4784-9ab3-ba1b54e2a191",
               :page 70,
               :position {:bounding {:x1 164,
                                     :y1 128,
                                     :x2 888,
                                     :y2 528,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1722588889259},
               :properties {:color "red"}}
              {:id #uuid "66ac9f44-037a-458e-ae41-3fd128e80116",
               :page 71,
               :position {:bounding {:x1 182,
                                     :y1 124,
                                     :x2 942,
                                     :y2 549,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 71},
               :content {:text "[:span]", :image 1722588995251},
               :properties {:color "red"}}],
 :extra {:page 114}}
