{:highlights [{:id #uuid "6355f14d-d3b1-469f-b8de-20ede97105d6",
               :page 1,
               :position {:bounding {:x1 119.46875,
                                     :y1 134.875,
                                     :x2 811.1260986328125,
                                     :y2 167.875,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 119.46875,
                                   :y1 134.875,
                                   :x2 278.2291564941406,
                                   :y2 167.875,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 306.453125,
                                   :y1 134.875,
                                   :x2 811.1260986328125,
                                   :y2 167.875,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 1},
               :content {:text "Appendix A: Hardware Description Language (HDL)"},
               :properties {:color "yellow"}}
              {:id #uuid "6355f1f0-3ca2-43ae-bae6-cc94fdd78155",
               :page 7,
               :position {:bounding {:x1 119.46875,
                                     :y1 470.8125,
                                     :x2 272.4365539550781,
                                     :y2 490.8125,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 119.46875,
                                   :y1 470.8125,
                                   :x2 148.3229217529297,
                                   :y2 490.8125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 164.921875,
                                   :y1 470.8125,
                                   :x2 272.4365539550781,
                                   :y2 490.8125,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 7},
               :content {:text "A.6 Built-In Chips"},
               :properties {:color "blue"}}
              {:id #uuid "6355f205-c31e-4b38-8452-6ee6f56489c4",
               :page 9,
               :position {:bounding {:x1 119.46875,
                                     :y1 122.421875,
                                     :x2 292.56658935546875,
                                     :y2 142.421875,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 119.46875,
                                   :y1 122.421875,
                                   :x2 151.21875,
                                   :y2 142.421875,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 164.921875,
                                   :y1 122.421875,
                                   :x2 292.56658935546875,
                                   :y2 142.421875,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 9},
               :content {:text "A.7 Sequential Chips"},
               :properties {:color "blue"}}
              {:id #uuid "6368463f-feb5-45af-8cb3-a176e9dea4f0",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 192,
                                     :x2 1008.4627075195312,
                                     :y2 900.625,
                                     :width 1152,
                                     :height 1296},
                          :rects ({:x1 0,
                                   :y1 192,
                                   :x2 0,
                                   :y2 208,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 0,
                                   :y1 208,
                                   :x2 0,
                                   :y2 224,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 972.4375,
                                   :y1 826.8125,
                                   :x2 1008.4530029296875,
                                   :y2 848.8125,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 291.09375,
                                   :y1 852.78125,
                                   :x2 1008.4627075195312,
                                   :y2 874.78125,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 291.09375,
                                   :y1 878.625,
                                   :x2 604.2651977539062,
                                   :y2 900.625,
                                   :width 1152,
                                   :height 1296}),
                          :page 8},
               :content {:text "Best practice tip: To boost performance and minimize errors, always use built-in versions of chips whenever they are available."},
               :properties {:color "yellow"}}
              {:id #uuid "636846cf-d425-4b74-9920-df069aa71c8e",
               :page 9,
               :position {:bounding {:x1 286.921875,
                                     :y1 536.3125,
                                     :x2 439.1081237792969,
                                     :y2 558.3125,
                                     :width 1152,
                                     :height 1296},
                          :rects ({:x1 286.921875,
                                   :y1 536.3125,
                                   :x2 333.9254150390625,
                                   :y2 558.3125,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 351.984375,
                                   :y1 536.3125,
                                   :x2 439.1081237792969,
                                   :y2 558.3125,
                                   :width 1152,
                                   :height 1296}),
                          :page 9},
               :content {:text "A.7.1 The Clock"},
               :properties {:color "yellow"}}
              {:id #uuid "6368471e-2743-4a76-b26c-92178fa59684",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 224,
                                     :x2 1004.0541381835938,
                                     :y2 635.96875,
                                     :width 1152,
                                     :height 1296},
                          :rects ({:x1 0,
                                   :y1 224,
                                   :x2 0,
                                   :y2 240,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 286.921875,
                                   :y1 588.125,
                                   :x2 1004.0541381835938,
                                   :y2 610.125,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 286.921875,
                                   :y1 613.96875,
                                   :x2 410.02081298828125,
                                   :y2 635.96875,
                                   :width 1152,
                                   :height 1296}),
                          :page 9},
               :content {:text "The simulator models the progression of time by supporting two operations called tick and tock. "},
               :properties {:color "blue"}}
              {:id #uuid "636847b3-1149-4dbf-b9a0-579448235b71",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 368,
                                     :x2 1004.1633911132812,
                                     :y2 895,
                                     :width 1152,
                                     :height 1296},
                          :rects ({:x1 0,
                                   :y1 368,
                                   :x2 0,
                                   :y2 384,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 0,
                                   :y1 384,
                                   :x2 0,
                                   :y2 400,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 677.2251586914062,
                                   :y1 821.203125,
                                   :x2 1004.1633911132812,
                                   :y2 843.203125,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 286.921875,
                                   :y1 847.15625,
                                   :x2 1004.1470947265625,
                                   :y2 869.15625,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 286.921875,
                                   :y1 873,
                                   :x2 689.755615234375,
                                   :y2 895,
                                   :width 1152,
                                   :height 1296}),
                          :page 9},
               :content {:text " During the first phase of the time unit(tick), the inputs of each sequential chip in the architecture are read and affect the chip’s internal state, according to the chip logic."},
               :properties {:color "blue"}}
              {:id #uuid "636847c2-baf5-4e86-a001-38ad0cbf6a97",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 400,
                                     :x2 1004.2000122070312,
                                     :y2 920.84375,
                                     :width 1152,
                                     :height 1296},
                          :rects ({:x1 0,
                                   :y1 400,
                                   :x2 0,
                                   :y2 416,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 695.0864868164062,
                                   :y1 873,
                                   :x2 1004.2000122070312,
                                   :y2 895,
                                   :width 1152,
                                   :height 1296}
                                  {:x1 286.921875,
                                   :y1 898.84375,
                                   :x2 815.8300170898438,
                                   :y2 920.84375,
                                   :width 1152,
                                   :height 1296}),
                          :page 9},
               :content {:text "During the second phase of the time unit (tock), the outputs of the chip are set to the new values. "},
               :properties {:color "yellow"}}
              {:id #uuid "6368485f-5e58-455f-9c4f-1ea41ca4fac2",
               :page 10,
               :position {:bounding {:x1 242.59375,
                                     :y1 193.9375,
                                     :x2 462.87091064453125,
                                     :y2 212.9375,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 242.59375,
                                   :y1 193.9375,
                                   :x2 281.8985595703125,
                                   :y2 212.9375,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 296.921875,
                                   :y1 193.9375,
                                   :x2 462.87091064453125,
                                   :y2 212.9375,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 10},
               :content {:text "A.7.2 Clocked Chips and Pins"},
               :properties {:color "yellow"}}
              {:id #uuid "63684b95-5dee-4c48-978e-e0bedbb3affd",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 64,
                                     :x2 840.4315185546875,
                                     :y2 277.671875,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 64,
                                   :x2 0,
                                   :y2 80,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 237.03125,
                                   :x2 840.4315185546875,
                                   :y2 256.03125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 258.671875,
                                   :x2 314.9638977050781,
                                   :y2 277.671875,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 10},
               :content {:text "A built-in chip can declare its dependence on the clock explicitly, using the statement:"},
               :properties {:color "yellow"}}
              {:id #uuid "63684c08-fdc2-4e77-8072-7c6adf6352e7",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 256,
                                     :x2 840.3787841796875,
                                     :y2 559.890625,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 256,
                                   :x2 0,
                                   :y2 272,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 346.29718017578125,
                                   :y1 519.328125,
                                   :x2 840.3787841796875,
                                   :y2 538.328125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 540.890625,
                                   :x2 271.9121398925781,
                                   :y2 559.890625,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 10},
               :content {:text "t is also possible to have the CLOCKED keyword with an empty list of pins"},
               :properties {:color "yellow"}}
              {:id #uuid "63684c19-f7bb-44b4-989c-a85acf1e9ad2",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 272,
                                     :x2 840.3389282226562,
                                     :y2 603.0625,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 272,
                                   :x2 0,
                                   :y2 288,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 288,
                                   :x2 0,
                                   :y2 304,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 276.334716796875,
                                   :y1 540.890625,
                                   :x2 840.3038330078125,
                                   :y2 559.890625,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 562.515625,
                                   :x2 840.3389282226562,
                                   :y2 581.515625,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 584.0625,
                                   :x2 327.65814208984375,
                                   :y2 603.0625,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 10},
               :content {:text " signifying that even though the chip may change its internal state depending on the clock, changes to any of its input pins may cause immediate changes to any of its output pins."},
               :properties {:color "blue"}}
              {:id #uuid "63684cac-990c-439b-a21a-9de79d798be4",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 32,
                                     :x2 836.61865234375,
                                     :y2 443.65625,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 255.625,
                                   :y1 403.125,
                                   :x2 836.61865234375,
                                   :y2 422.125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 239.09375,
                                   :y1 424.65625,
                                   :x2 514.6622924804688,
                                   :y2 443.65625,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 11},
               :content {:text "It’s important to remember that a sequential chip may well contain combinational logic that is not affected by the clock. "},
               :properties {:color "green"}}
              {:id #uuid "63684cb5-71ec-4fc7-9fb7-6d0558e343cc",
               :page 11,
               :position {:bounding {:x1 239.09375,
                                     :y1 511.015625,
                                     :x2 406.22747802734375,
                                     :y2 530.015625,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 239.09375,
                                   :y1 511.015625,
                                   :x2 278.27691650390625,
                                   :y2 530.015625,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 293.328125,
                                   :y1 511.015625,
                                   :x2 406.22747802734375,
                                   :y2 530.015625,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 11},
               :content {:text "A.7.3 Feedback Loops"},
               :properties {:color "yellow"}}
              {:id #uuid "63684df6-d39c-4267-8969-3fb4ac65e59d",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 836.4051513671875,
                                     :y2 206.609375,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 779.8516845703125,
                                   :y1 165.96875,
                                   :x2 836.4051513671875,
                                   :y2 184.96875,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 239.09375,
                                   :y1 187.609375,
                                   :x2 577.7588500976562,
                                   :y2 206.609375,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 9},
               :content {:text "The operation of combinational chips is instantaneous. "},
               :properties {:color "purple"}}
              {:id #uuid "63684e64-4aff-488d-9cc8-af6b74355e54",
               :page 11,
               :position {:bounding {:x1 628.0758666992188,
                                     :y1 901.28125,
                                     :x2 836.7537231445312,
                                     :y2 920.28125,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 628.0758666992188,
                                   :y1 901.28125,
                                   :x2 836.7537231445312,
                                   :y2 920.28125,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 11},
               :content {:text " For each loop, the simulator"},
               :properties {:color "yellow"}}
              {:id #uuid "63684e6f-b5de-44d1-889f-791b87bfc439",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 840.3970336914062,
                                     :y2 148.109375,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 107.578125,
                                   :x2 840.3970336914062,
                                   :y2 126.578125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 242.59375,
                                   :y1 129.109375,
                                   :x2 357.4862976074219,
                                   :y2 148.109375,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 12},
               :content {:text "checks if the loop goes through a clocked pin, somewhere along the loop. If so, the loop is allowed. "},
               :properties {:color "yellow"}}
              {:id #uuid "63684e8d-9f4a-47f5-a03e-240ec72d994b",
               :page 12,
               :position {:bounding {:x1 123.0625,
                                     :y1 220.125,
                                     :x2 383.98699951171875,
                                     :y2 240.125,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects ({:x1 123.0625,
                                   :y1 220.125,
                                   :x2 151.9010467529297,
                                   :y2 240.125,
                                   :width 959.9999999999999,
                                   :height 1080}
                                  {:x1 168.5,
                                   :y1 220.125,
                                   :x2 383.98699951171875,
                                   :y2 240.125,
                                   :width 959.9999999999999,
                                   :height 1080}),
                          :page 12},
               :content {:text "A.8 Visualizing Chip Operations"},
               :properties {:color "yellow"}}
              {:id #uuid "63a651a4-1703-4621-b482-83ee39d18c37",
               :page 4,
               :position {:bounding {:x1 102.296875,
                                     :y1 618.96875,
                                     :x2 321.4923400878906,
                                     :y2 635.96875,
                                     :width 797.9999999999999,
                                     :height 897.7499999999999},
                          :rects ({:x1 102.296875,
                                   :y1 618.96875,
                                   :x2 126.26156616210938,
                                   :y2 635.96875,
                                   :width 797.9999999999999,
                                   :height 897.7499999999999}
                                  {:x1 140.0625,
                                   :y1 618.96875,
                                   :x2 321.4923400878906,
                                   :y2 635.96875,
                                   :width 797.9999999999999,
                                   :height 897.7499999999999}),
                          :page 4},
               :content {:text "A.5 Chip Body (Implementation)"},
               :properties {:color "yellow"}}
              {:id #uuid "63a651e1-72ee-4d3a-9643-1c0c5347edc0",
               :page 6,
               :position {:bounding {:x1 201.65625,
                                     :y1 346.765625,
                                     :x2 279.2951354980469,
                                     :y2 361.765625,
                                     :width 797.9999999999999,
                                     :height 897.7499999999999},
                          :rects ({:x1 201.65625,
                                   :y1 346.765625,
                                   :x2 234.3328094482422,
                                   :y2 361.765625,
                                   :width 797.9999999999999,
                                   :height 897.7499999999999}
                                  {:x1 246.8125,
                                   :y1 346.765625,
                                   :x2 279.2951354980469,
                                   :y2 361.765625,
                                   :width 797.9999999999999,
                                   :height 897.7499999999999}),
                          :page 6},
               :content {:text "A.5.3 Buses"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
