{:highlights [{:id #uuid "665ab587-fbc5-48c1-b0af-aac3a4e47682",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 763.09375,
                                     :x2 500.8668212890625,
                                     :y2 792.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 763.09375,
                                   :x2 191.7312774658203,
                                   :y2 792.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 191.75,
                                   :y1 765.703125,
                                   :x2 500.8668212890625,
                                   :y2 787.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "sum.ys: Iteratively sum linked list elements"},
               :properties {:color "red"}}
              {:id #uuid "665ab613-c670-4ee2-8a6b-db2fb12b6147",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 612.265625,
                                     :x2 898.3975219726562,
                                     :y2 654.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 444.0885009765625,
                                   :y1 612.265625,
                                   :x2 898.3975219726562,
                                   :y2 632.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 634.84375,
                                   :x2 664.484375,
                                   :y2 654.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 186.546875,
                                   :y1 638.875,
                                   :x2 219.765625,
                                   :y2 653.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 633.71875,
                                   :y1 638.875,
                                   :x2 658.989013671875,
                                   :y2 653.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "You can test your programs by ﬁrst assemblying them with the program YAS and then running them with the instruction set simulator YIS."},
               :properties {:color "red"}}
              {:id #uuid "665ab9fb-cb59-46b3-85d2-3138bfc5bb60",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 534.03125,
                                     :x2 536.33642578125,
                                     :y2 560.03125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 362.1875,
                                   :y1 534.03125,
                                   :x2 453.578125,
                                   :y2 560.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 536.625,
                                   :x2 536.33642578125,
                                   :y2 556.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "You will be working in directory sim/misc in this part."},
               :properties {:color "red"}}
              {:id #uuid "665d55b6-23a0-4cdc-94d5-cdffacf1167a",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 213.71875,
                                     :x2 523.890380859375,
                                     :y2 242.71875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 213.71875,
                                   :x2 203.70343017578125,
                                   :y2 242.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 203.6875,
                                   :y1 216.3125,
                                   :x2 523.890380859375,
                                   :y2 238.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "rsum.ys: Recursively sum linked list elements"},
               :properties {:color "red"}}
              {:id #uuid "665d57df-fd05-4d0c-aaf9-244741454db2",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 381.75,
                                     :x2 575.66748046875,
                                     :y2 410.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 381.75,
                                   :x2 203.6928253173828,
                                   :y2 410.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 203.6875,
                                   :y1 384.359375,
                                   :x2 575.66748046875,
                                   :y2 406.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "copy.ys: Copy a source block to a destination block"},
               :properties {:color "red"}}
              {:id #uuid "665d5927-9bb8-4078-8143-78672ec84597",
               :page 4,
               :position {:bounding {:x1 155.84375,
                                     :y1 855.203125,
                                     :x2 222.67977905273438,
                                     :y2 882.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 855.203125,
                                   :x2 222.67977905273438,
                                   :y2 882.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Part B"},
               :properties {:color "red"}}
              {:id #uuid "665d5950-2d34-4aef-a2a7-b710b52371ea",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 907.453125,
                                     :x2 525.52392578125,
                                     :y2 933.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 362.1875,
                                   :y1 907.453125,
                                   :x2 442.671875,
                                   :y2 933.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 910.0625,
                                   :x2 525.52392578125,
                                   :y2 930.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "You will be working in directory sim/seq in this part."},
               :properties {:color "red"}}
              {:id #uuid "665d66d7-3851-46e8-859f-01adb02169f0",
               :page 6,
               :position {:bounding {:x1 155.84375,
                                     :y1 658.515625,
                                     :x2 223.98825073242188,
                                     :y2 685.515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 658.515625,
                                   :x2 223.98825073242188,
                                   :y2 685.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Part C"},
               :properties {:color "red"}}
              {:id #uuid "665ea62b-37ae-4ff2-8be6-1d51a32caac4",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 710.765625,
                                     :x2 536.33642578125,
                                     :y2 736.765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 362.1875,
                                   :y1 710.765625,
                                   :x2 453.578125,
                                   :y2 736.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 713.375,
                                   :x2 536.33642578125,
                                   :y2 733.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "You will be working in directory sim/pipe in this part."},
               :properties {:color "red"}}
              {:id #uuid "665ea653-6fc3-4d10-bfa4-12137f82460f",
               :page 6,
               :position {:bounding {:x1 126,
                                     :y1 208,
                                     :x2 796,
                                     :y2 639,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717478993883},
               :properties {:color "red"}}
              {:id #uuid "665ea672-105b-4cec-aaa5-9ca778fc1b0c",
               :page 7,
               :position {:bounding {:x1 121,
                                     :y1 248,
                                     :x2 853,
                                     :y2 1174,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1717479024703},
               :properties {:color "red"}}],
 :extra {:page 6}}
