{:highlights [{:id #uuid "664aee91-c117-48b4-b4bd-f168173f6f81",
               :page 4,
               :position {:bounding {:x1 112,
                                     :y1 806,
                                     :x2 917,
                                     :y2 1035,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1716186768625},
               :properties {:color "red"}}
              {:id #uuid "664aef4e-3859-4eca-8a7c-1704cd3f68ac",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 920.9375,
                                     :x2 463.729736328125,
                                     :y2 947.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 920.9375,
                                   :x2 463.729736328125,
                                   :y2 947.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Part I: Code Injection Attacks"},
               :properties {:color "red"}}
              {:id #uuid "664aef58-1e93-4971-a01c-8233eeac5380",
               :page 5,
               :position {:bounding {:x1 164.828125,
                                     :y1 1098.609375,
                                     :x2 225.81686401367188,
                                     :y2 1120.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 1098.609375,
                                   :x2 225.81686401367188,
                                   :y2 1120.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Level 1"},
               :properties {:color "red"}}
              {:id #uuid "664c32c7-08c4-438b-8378-307c08a52492",
               :page 6,
               :position {:bounding {:x1 164.828125,
                                     :y1 1070.625,
                                     :x2 225.81686401367188,
                                     :y2 1092.625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 1070.625,
                                   :x2 225.81686401367188,
                                   :y2 1092.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Level 2"},
               :properties {:color "red"}}
              {:id #uuid "664c3dd5-d612-419d-9f56-a957835eaf54",
               :page 13,
               :position {:bounding {:x1 159.828125,
                                     :y1 448.90625,
                                     :x2 396.2626953125,
                                     :y2 475.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 159.828125,
                                   :y1 448.90625,
                                   :x2 396.2626953125,
                                   :y2 475.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 13},
               :content {:text "Generating Byte Codes"},
               :properties {:color "yellow"}}
              {:id #uuid "664c3dda-53a7-495f-91e7-60d27f4ec930",
               :page 13,
               :position {:bounding {:x1 159.828125,
                                     :y1 448.90625,
                                     :x2 396.2626953125,
                                     :y2 475.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 159.828125,
                                   :y1 448.90625,
                                   :x2 396.2626953125,
                                   :y2 475.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 13},
               :content {:text "Generating Byte Codes"},
               :properties {:color "red"}}
              {:id #uuid "664d8370-bb5d-4358-b60a-126e4af5b757",
               :page 7,
               :position {:bounding {:x1 164.828125,
                                     :y1 884.90625,
                                     :x2 225.81686401367188,
                                     :y2 906.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 884.90625,
                                   :x2 225.81686401367188,
                                   :y2 906.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Level 3"},
               :properties {:color "red"}}
              {:id #uuid "664d9061-c93d-4891-9f8b-6e1ed8dc6aaf",
               :page 8,
               :position {:bounding {:x1 155.84375,
                                     :y1 869.984375,
                                     :x2 560.55859375,
                                     :y2 896.984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 869.984375,
                                   :x2 560.55859375,
                                   :y2 896.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Part II: Return-Oriented Programming"},
               :properties {:color "red"}}
              {:id #uuid "664d90f1-9a6d-4da0-adcb-c5c313cc6741",
               :page 9,
               :position {:bounding {:x1 106,
                                     :y1 209,
                                     :x2 902,
                                     :y2 512,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1716359408680},
               :properties {:color "red"}}
              {:id #uuid "664d924a-fe01-498c-a8b5-e82c37ca7134",
               :page 10,
               :position {:bounding {:x1 164.828125,
                                     :y1 371.546875,
                                     :x2 225.81686401367188,
                                     :y2 393.546875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 371.546875,
                                   :x2 225.81686401367188,
                                   :y2 393.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "Level 2"},
               :properties {:color "red"}}
              {:id #uuid "664d935b-ee21-49be-a6c4-3cd76ac55e84",
               :page 11,
               :position {:bounding {:x1 85,
                                     :y1 254,
                                     :x2 995,
                                     :y2 1194,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1716360026577},
               :properties {:color "green"}}
              {:id #uuid "664ed1e7-9451-45d1-b6f9-26ecdfa66950",
               :page 10,
               :position {:bounding {:x1 164.828125,
                                     :y1 895.328125,
                                     :x2 225.81686401367188,
                                     :y2 917.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 895.328125,
                                   :x2 225.81686401367188,
                                   :y2 917.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "Level 3"},
               :properties {:color "red"}}],
 :extra {:page 12}}
