{:highlights [{:id #uuid "691c5df6-8841-46bb-b48b-d0d5f15322d5",
               :page 4,
               :position {:bounding {:x1 126,
                                     :y1 131.50927734375,
                                     :x2 636,
                                     :y2 539.50927734375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1763466741477},
               :properties {:color "yellow"}}
              {:id #uuid "691c685d-d313-42e2-ae3b-fd9e068a37ae",
               :page 5,
               :position {:bounding {:x1 142,
                                     :y1 142.4033203125,
                                     :x2 644,
                                     :y2 537.4033203125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763469404335},
               :properties {:color "yellow"}}
              {:id #uuid "691d0a6b-0c86-47a7-bf3c-633f7772254e",
               :page 11,
               :position {:bounding {:x1 115,
                                     :y1 103.6865234375,
                                     :x2 501,
                                     :y2 331.6865234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1763510890299},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
