{:highlights [{:id #uuid "6372f1fc-9a57-4c6a-8d0a-7082b1cb47fa",
               :page 3,
               :position {:bounding {:x1 422.109375,
                                     :y1 347.78125,
                                     :x2 564.4276733398438,
                                     :y2 377.78125,
                                     :width 995,
                                     :height 768.8636363636364},
                          :rects ({:x1 422.109375,
                                   :y1 347.78125,
                                   :x2 564.4276733398438,
                                   :y2 377.78125,
                                   :width 995,
                                   :height 768.8636363636364}),
                          :page 3},
               :content {:text "Linked Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "6372f236-0322-4e30-a89e-afea109b66fe",
               :page 4,
               :position {:bounding {:x1 30.046875,
                                     :y1 153.390625,
                                     :x2 612.3972778320312,
                                     :y2 171.390625,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects ({:x1 30.046875,
                                   :y1 153.390625,
                                   :x2 612.3972778320312,
                                   :y2 171.390625,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 37.515625,
                                   :y1 156.390625,
                                   :x2 575.613037109375,
                                   :y2 168.796875,
                                   :width 744,
                                   :height 574.909090909091}),
                          :page 4},
               :content {:text "A linked list is either empty or a first value and the rest of the linked list"},
               :properties {:color "blue"}}
              {:id #uuid "6372f25a-2d34-410f-8e2a-6d56855da5ec",
               :page 4,
               :position {:bounding {:x1 29,
                                     :y1 173,
                                     :x2 729,
                                     :y2 437,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1668477528282},
               :properties {:color "red"}}
              {:id #uuid "6372f437-e3fe-4281-b40d-0f7516c645b5",
               :page 7,
               :position {:bounding {:x1 289.328125,
                                     :y1 260.546875,
                                     :x2 448.37701416015625,
                                     :y2 282.546875,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects ({:x1 289.328125,
                                   :y1 260.546875,
                                   :x2 448.37701416015625,
                                   :y2 282.546875,
                                   :width 744,
                                   :height 574.909090909091}),
                          :page 7},
               :content {:text "Property Methods"},
               :properties {:color "yellow"}}
              {:id #uuid "6372f49c-242a-4b29-84fc-dcae7e6ddeda",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 657.1978149414062,
                                     :y2 383.6875,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 350.65625,
                                   :x2 657.1978149414062,
                                   :y2 368.65625,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 52.453125,
                                   :y1 353.65625,
                                   :x2 657.1978149414062,
                                   :y2 366.0625,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 365.6875,
                                   :x2 209.25762939453125,
                                   :y2 383.6875,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 368.6875,
                                   :x2 144.828125,
                                   :y2 381.09375,
                                   :width 744,
                                   :height 574.909090909091}),
                          :page 8},
               :content {:text "The @property decorator on a method designates that it will be called whenever it is looked up on an instance"},
               :properties {:color "yellow"}}
              {:id #uuid "6372f4b3-d708-41d4-85ae-942c1e449b11",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 672.14501953125,
                                     :y2 427.84375,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 395.75,
                                   :x2 672.14501953125,
                                   :y2 413.75,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 37.515625,
                                   :y1 398.75,
                                   :x2 672.14501953125,
                                   :y2 411.15625,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 409.84375,
                                   :x2 597.4661254882812,
                                   :y2 427.84375,
                                   :width 744,
                                   :height 574.909090909091}
                                  {:x1 30.046875,
                                   :y1 412.84375,
                                   :x2 540.53125,
                                   :y2 425.25,
                                   :width 744,
                                   :height 574.909090909091}),
                          :page 8},
               :content {:text "A @<attribute>.setter decorator on a method designates that it will be called whenever that attribute is assigned. <attribute> must be an existing property method."},
               :properties {:color "yellow"}}
              {:id #uuid "6372f504-d3a9-4b93-9345-87462e2f8fac",
               :page 9,
               :position {:bounding {:x1 320.328125,
                                     :y1 260.546875,
                                     :x2 417.0045166015625,
                                     :y2 282.546875,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects ({:x1 320.328125,
                                   :y1 260.546875,
                                   :x2 417.0045166015625,
                                   :y2 282.546875,
                                   :width 744,
                                   :height 574.909090909091}),
                          :page 9},
               :content {:text "Tree Class"},
               :properties {:color "yellow"}}
              {:id #uuid "637313c3-3c72-4a9e-8538-a95a6d4666a8",
               :page 10,
               :position {:bounding {:x1 18,
                                     :y1 132,
                                     :x2 730,
                                     :y2 469,
                                     :width 744,
                                     :height 574.909090909091},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1668486088330},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
