{:highlights [{:id #uuid "691d76f6-1a7c-4086-bbaa-7440da9f40a8",
               :page 5,
               :position {:bounding {:x1 162,
                                     :y1 94.40283203125,
                                     :x2 438,
                                     :y2 286.40283203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763538677713},
               :properties {:color "yellow"}}
              {:id #uuid "691d8870-6e32-456c-8d89-d65a4ba3c0f6",
               :page 9,
               :position {:bounding {:x1 138,
                                     :y1 105.73046875,
                                     :x2 485,
                                     :y2 432.73046875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763543151161},
               :properties {:color "yellow"}}
              {:id #uuid "691d88a6-3644-44ef-9264-5e596fe00201",
               :page 10,
               :position {:bounding {:x1 177,
                                     :y1 109.5439453125,
                                     :x2 839,
                                     :y2 275.5439453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763543206020},
               :properties {:color "yellow"}}
              {:id #uuid "691d8c17-91b9-4090-83a9-3ce29e35cf3b",
               :page 10,
               :position {:bounding {:x1 102,
                                     :y1 324.4150390625,
                                     :x2 504,
                                     :y2 587.4150390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763544086853},
               :properties {:color "yellow"}}
              {:id #uuid "691d8f59-98ba-4cae-8efa-3e395bd94748",
               :page 11,
               :position {:bounding {:x1 104,
                                     :y1 105.4951171875,
                                     :x2 493,
                                     :y2 412.4951171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1763544920553},
               :properties {:color "yellow"}}
              {:id #uuid "691d9254-6dc1-4c90-a32f-239759a5b76b",
               :page 13,
               :position {:bounding {:x1 178,
                                     :y1 124.345703125,
                                     :x2 1033,
                                     :y2 280.345703125,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1763545683359},
               :properties {:color "yellow"}}
              {:id #uuid "691d9493-1b72-4b63-b848-91928d3ff1b8",
               :page 13,
               :position {:bounding {:x1 131,
                                     :y1 336.345703125,
                                     :x2 601,
                                     :y2 504.345703125,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1763546257544},
               :properties {:color "yellow"}}
              {:id #uuid "691d9bea-0b38-4d89-ab3c-ba535b311d81",
               :page 14,
               :position {:bounding {:x1 131,
                                     :y1 129.505859375,
                                     :x2 597,
                                     :y2 423.505859375,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1763548137008},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
