{:highlights [{:id #uuid "64dc252a-060c-4450-9231-fe5995ef8fcf",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 715.7684326171875,
                                     :y2 159.578125,
                                     :width 1013.9999999999999,
                                     :height 1312.235294117647},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}
                                  {:x1 325.15625,
                                   :y1 111.796875,
                                   :x2 380.26495361328125,
                                   :y2 135.796875,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}
                                  {:x1 119.28125,
                                   :y1 114.421875,
                                   :x2 715.7684326171875,
                                   :y2 132.421875,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}
                                  {:x1 208.796875,
                                   :y1 135.578125,
                                   :x2 280.32489013671875,
                                   :y2 159.578125,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}
                                  {:x1 428.140625,
                                   :y1 135.578125,
                                   :x2 452.9080505371094,
                                   :y2 159.578125,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}
                                  {:x1 119.28125,
                                   :y1 138.203125,
                                   :x2 452.9080505371094,
                                   :y2 156.203125,
                                   :width 1013.9999999999999,
                                   :height 1312.235294117647}),
                          :page 2},
               :content {:text "Add another method to the SLList class that reverses the elements. Do this using the existing IntNodes (you should not use new"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
