{:highlights [{:id #uuid "666d2401-7056-4eff-8b8b-09d998c8b1d5",
               :page 2,
               :position {:bounding {:x1 164.828125,
                                     :y1 1106.53125,
                                     :x2 462.7339782714844,
                                     :y2 1128.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 1106.53125,
                                   :x2 462.7339782714844,
                                   :y2 1128.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Part A: Writing a Cache Simulator"},
               :properties {:color "red"}}
              {:id #uuid "666fbc7a-11ed-4305-a021-8f2562a02861",
               :page 4,
               :position {:bounding {:x1 165.4375,
                                     :y1 556.6875,
                                     :x2 898.6173706054688,
                                     :y2 625.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.4375,
                                   :y1 556.6875,
                                   :x2 898.5108642578125,
                                   :y2 576.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 579.265625,
                                   :x2 898.6173706054688,
                                   :y2 599.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 307.828125,
                                   :y1 599.359375,
                                   :x2 399.734375,
                                   :y2 625.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 601.96875,
                                   :x2 446.18072509765625,
                                   :y2 621.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "For this this lab, you should assume that memory accesses are aligned properly, such that a single memory access never crosses block boundaries. By making this assumption, you can ignore the request sizes in the valgrind traces."},
               :properties {:color "red"}}
              {:id #uuid "6671172f-07c4-43cd-9f61-70db170ab52a",
               :page 4,
               :position {:bounding {:x1 164.828125,
                                     :y1 657.0625,
                                     :x2 485.14459228515625,
                                     :y2 679.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 657.0625,
                                   :x2 485.14459228515625,
                                   :y2 679.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Part B: Optimizing Matrix Transpose"},
               :properties {:color "red"}}
              {:id #uuid "66711ad4-3bff-477f-afab-eac54d194425",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 995.5,
                                     :x2 898.461669921875,
                                     :y2 1063.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 500.40625,
                                   :y1 995.5,
                                   :x2 592.40625,
                                   :y2 1021.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 998.09375,
                                   :x2 898.461669921875,
                                   :y2 1018.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1020.546875,
                                   :x2 898.2267456054688,
                                   :y2 1040.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1043.109375,
                                   :x2 281.0188903808594,
                                   :y2 1063.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "The autograder takes the matrix size as input. It uses valgrind to generate a trace of each registered transpose function. It then evaluates each trace by running the reference simulator on a cache with parameters(s = 5, E = 1, b = 5)"},
               :properties {:color "red"}}
              {:id #uuid "66725847-da63-441a-bcb4-a7f40e954847",
               :page 9,
               :position {:bounding {:x1 165.4375,
                                     :y1 1022.515625,
                                     :x2 584.0405883789062,
                                     :y2 1042.515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.4375,
                                   :y1 1022.515625,
                                   :x2 584.0405883789062,
                                   :y2 1042.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Blocking is a useful technique for reducing cache misses."},
               :properties {:color "red"}}
              {:id #uuid "66727259-1ac0-4431-95fa-8d0028ae4b24",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 1046.9375,
                                     :x2 898.6235961914062,
                                     :y2 1134.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 720.7980346679688,
                                   :y1 1046.9375,
                                   :x2 897.959716796875,
                                   :y2 1066.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1069.515625,
                                   :x2 898.6235961914062,
                                   :y2 1089.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1091.953125,
                                   :x2 898.2344360351562,
                                   :y2 1111.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1114.53125,
                                   :x2 219.08966064453125,
                                   :y2 1134.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Your code only needs to be correct for these three cases and you can optimize it speciﬁcally for these three cases. In particular, it is perfectly OK for your function to explicitly check for the input sizes and implement separate code optimized for each case."},
               :properties {:color "red"}}
              {:id #uuid "6673b37c-dc79-40ce-808f-eb381f1f2528",
               :page 9,
               :position {:bounding {:x1 156,
                                     :y1 720,
                                     :x2 717,
                                     :y2 923,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1718858618954},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
