{:highlights [{:id #uuid "666d2401-7056-4eff-8b8b-09d998c8b1d5",
               :page 2,
               :position {:bounding {:x1 164.828125,
                                     :y1 1106.53125,
                                     :x2 462.7339782714844,
                                     :y2 1128.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 1106.53125,
                                   :x2 462.7339782714844,
                                   :y2 1128.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Part A: Writing a Cache Simulator"},
               :properties {:color "red"}}],
 :extra {:page 4}}
