{:highlights [{:id #uuid "6490ed82-3e56-4506-83b2-224d53efbfee",
               :page 1,
               :position {:bounding {:x1 117.6875,
                                     :y1 697.234375,
                                     :x2 388.7158203125,
                                     :y2 722.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 697.234375,
                                   :x2 388.7158203125,
                                   :y2 722.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1.1. Mapping of data items"},
               :properties {:color "yellow"}}
              {:id #uuid "6490ed9a-64c8-4ca1-8726-3e3670f7e2f4",
               :page 1,
               :position {:bounding {:x1 147.29541015625,
                                     :y1 529.046875,
                                     :x2 289.5162048339844,
                                     :y2 559.046875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 147.29541015625,
                                   :y1 529.046875,
                                   :x2 289.5162048339844,
                                   :y2 559.046875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Background"},
               :properties {:color "yellow"}}
              {:id #uuid "6490edf8-39e7-4623-a814-3117fa67c418",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 902.419189453125,
                                     :y2 673.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 613.328125,
                                   :y1 582.734375,
                                   :x2 902.3856201171875,
                                   :y2 604.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 605.734375,
                                   :x2 902.2099609375,
                                   :y2 627.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 628.734375,
                                   :x2 902.419189453125,
                                   :y2 650.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 651.734375,
                                   :x2 206.0894775390625,
                                   :y2 673.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "When we compile a program into a lower level language we must first consider how the data items are mapped into the lower level language and then how each possible operation is translated into a sequence of low-level operations."},
               :properties {:color "red"}}
              {:id #uuid "6490ee24-7efe-4b93-b6e5-12d160593d29",
               :page 1,
               :position {:bounding {:x1 117.6875,
                                     :y1 745.828125,
                                     :x2 247.35858154296875,
                                     :y2 767.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 745.828125,
                                   :x2 247.35858154296875,
                                   :y2 767.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Symbol Table"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f043-fccf-4d71-8fef-1695fef1ad81",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 902.425537109375,
                                     :y2 562.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 877.0464477539062,
                                   :y1 517.125,
                                   :x2 902.425537109375,
                                   :y2 539.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 117.6875,
                                   :y1 540.125,
                                   :x2 658.5785522460938,
                                   :y2 562.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "the symbol table must also reflect in some way the identifier’s scope."},
               :properties {:color "yellow"}}
              {:id #uuid "6490f0b5-a7f6-46e8-987f-f49bb03c4444",
               :page 2,
               :position {:bounding {:x1 117.6875,
                                     :y1 770.328125,
                                     :x2 333.2955017089844,
                                     :y2 792.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 770.328125,
                                   :x2 333.2955017089844,
                                   :y2 792.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Allocation of Variables"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f258-a9b8-4f83-b6bf-49546877c602",
               :page 3,
               :position {:bounding {:x1 117.6875,
                                     :y1 241.328125,
                                     :x2 181.0264892578125,
                                     :y2 263.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 241.328125,
                                   :x2 181.0264892578125,
                                   :y2 263.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Arrays"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f2f6-343b-4085-b43b-fefc2fdcd680",
               :page 3,
               :position {:bounding {:x1 102,
                                     :y1 477,
                                     :x2 918,
                                     :y2 1083,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1687220980791},
               :properties {:color "yellow"}}
              {:id #uuid "6490f374-40b2-4db2-941d-a872124c73c6",
               :page 4,
               :position {:bounding {:x1 117.6875,
                                     :y1 172.328125,
                                     :x2 191.070068359375,
                                     :y2 194.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 172.328125,
                                   :x2 191.070068359375,
                                   :y2 194.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Objects"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f41d-a926-4df2-945f-ce40c0e87eaf",
               :page 4,
               :position {:bounding {:x1 117.6875,
                                     :y1 1088.828125,
                                     :x2 346.0449523925781,
                                     :y2 1110.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 1088.828125,
                                   :x2 346.0449523925781,
                                   :y2 1110.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Object data (construction)"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f4ad-83a7-40c9-897b-e4f3c836d3c0",
               :page 5,
               :position {:bounding {:x1 117.6875,
                                     :y1 264.125,
                                     :x2 287.73040771484375,
                                     :y2 286.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 264.125,
                                   :x2 287.73040771484375,
                                   :y2 286.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Object data (usage)"},
               :properties {:color "yellow"}}
              {:id #uuid "6490f538-a04f-42cc-bf79-b345d9c07aa6",
               :page 5,
               :position {:bounding {:x1 117.6875,
                                     :y1 471.125,
                                     :x2 221.49893188476562,
                                     :y2 493.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 471.125,
                                   :x2 221.49893188476562,
                                   :y2 493.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Object code"},
               :properties {:color "yellow"}}
              {:id #uuid "649224b4-f8c5-48f0-8a26-5a86467b2d0f",
               :page 5,
               :position {:bounding {:x1 117.6875,
                                     :y1 792.640625,
                                     :x2 382.6693420410156,
                                     :y2 817.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 792.640625,
                                   :x2 382.6693420410156,
                                   :y2 817.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "1.2. Command translation"},
               :properties {:color "yellow"}}
              {:id #uuid "649224fe-8fbc-4e76-a2c8-eaae4da818a6",
               :page 5,
               :position {:bounding {:x1 117.6875,
                                     :y1 910.234375,
                                     :x2 332.2518310546875,
                                     :y2 932.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 910.234375,
                                   :x2 332.2518310546875,
                                   :y2 932.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Expression Evaluation"},
               :properties {:color "yellow"}}
              {:id #uuid "6492257e-a08c-4f52-a7a8-434a845c159b",
               :page 6,
               :position {:bounding {:x1 108,
                                     :y1 97,
                                     :x2 933,
                                     :y2 916,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1687299452784},
               :properties {:color "yellow"}}
              {:id #uuid "64922594-2743-4d3e-a7dc-bdea83110ce2",
               :page 7,
               :position {:bounding {:x1 117.6875,
                                     :y1 103.328125,
                                     :x2 239.962646484375,
                                     :y2 125.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 103.328125,
                                   :x2 239.962646484375,
                                   :y2 125.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Flow Control"},
               :properties {:color "yellow"}}
              {:id #uuid "649225c1-c899-4926-bb94-1ee0f28d1aa3",
               :page 7,
               :position {:bounding {:x1 264,
                                     :y1 280,
                                     :x2 751,
                                     :y2 761,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1687299520858},
               :properties {:color "yellow"}}
              {:id #uuid "649226a2-a82a-421c-b00f-9f4d512b494d",
               :page 7,
               :position {:bounding {:x1 147.3084716796875,
                                     :y1 961.140625,
                                     :x2 298.4721984863281,
                                     :y2 991.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 147.3084716796875,
                                   :y1 961.140625,
                                   :x2 298.4721984863281,
                                   :y2 991.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Specification"},
               :properties {:color "yellow"}}
              {:id #uuid "649226e6-c69f-4fce-a1df-9eb2fee5dd33",
               :page 7,
               :position {:bounding {:x1 103,
                                     :y1 1011,
                                     :x2 915,
                                     :y2 1228,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1687299813966},
               :properties {:color "yellow"}}
              {:id #uuid "64922755-6140-4b82-aa40-9e2d395090b0",
               :page 8,
               :position {:bounding {:x1 117.6875,
                                     :y1 103.328125,
                                     :x2 530.0238037109375,
                                     :y2 125.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 117.6875,
                                   :y1 103.328125,
                                   :x2 530.0238037109375,
                                   :y2 125.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Standard mapping over the Virtual Machine"},
               :properties {:color "yellow"}}
              {:id #uuid "649227de-9525-495b-85e8-3fd92ed51e4b",
               :page 8,
               :position {:bounding {:x1 109,
                                     :y1 183,
                                     :x2 903,
                                     :y2 399,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687300061649},
               :properties {:color "yellow"}}
              {:id #uuid "649227f5-6c56-4349-bc53-0b1073016a98",
               :page 8,
               :position {:bounding {:x1 111,
                                     :y1 406,
                                     :x2 909,
                                     :y2 568,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687300084433},
               :properties {:color "yellow"}}
              {:id #uuid "6492281e-bf5e-4be4-9e46-3ddc572940e7",
               :page 8,
               :position {:bounding {:x1 107,
                                     :y1 572,
                                     :x2 907,
                                     :y2 1099,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687300126280},
               :properties {:color "yellow"}}
              {:id #uuid "64922897-aacc-494e-bf65-f5560e7812d4",
               :page 8,
               :position {:bounding {:x1 107,
                                     :y1 1101,
                                     :x2 929,
                                     :y2 1237,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1687300246455},
               :properties {:color "yellow"}}
              {:id #uuid "649228a6-8a55-4d85-8e10-59d9f50bbb29",
               :page 9,
               :position {:bounding {:x1 100,
                                     :y1 101,
                                     :x2 912,
                                     :y2 326,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1687300261538},
               :properties {:color "yellow"}}
              {:id #uuid "64922925-c7bc-4a2e-95de-afa8b5afb4b0",
               :page 9,
               :position {:bounding {:x1 147.31610107421875,
                                     :y1 347.82867431640625,
                                     :x2 329.6463928222656,
                                     :y2 377.82867431640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 147.31610107421875,
                                   :y1 347.82867431640625,
                                   :x2 329.6463928222656,
                                   :y2 377.82867431640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Implementation"},
               :properties {:color "yellow"}}
              {:id #uuid "6492294d-e7d4-4780-9b2b-1abc7f38198c",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 380.3453063964844,
                                     :y2 433.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 162.52667236328125,
                                   :y1 408.640625,
                                   :x2 380.3453063964844,
                                   :y2 433.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Compilation Example"},
               :properties {:color "yellow"}}
              {:id #uuid "649229c9-d118-4849-91a7-aac9cb319118",
               :page 10,
               :position {:bounding {:x1 118,
                                     :y1 119,
                                     :x2 898,
                                     :y2 1136,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1687300552334},
               :properties {:color "yellow"}}
              {:id #uuid "64922a34-c8c0-4322-a9cf-7fb4970d5cb8",
               :page 10,
               :position {:bounding {:x1 162.12307739257812,
                                     :y1 1188.84375,
                                     :x2 348.8348083496094,
                                     :y2 1213.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 162.12307739257812,
                                   :y1 1188.84375,
                                   :x2 348.8348083496094,
                                   :y2 1213.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "Suggested Design"},
               :properties {:color "yellow"}}
              {:id #uuid "64922a71-7192-4500-b1d6-306a4256fa6e",
               :page 11,
               :position {:bounding {:x1 104,
                                     :y1 110,
                                     :x2 915,
                                     :y2 413,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1687300720555},
               :properties {:color "yellow"}}
              {:id #uuid "64922b55-6629-4075-b769-7d59b57287d5",
               :page 14,
               :position {:bounding {:x1 100,
                                     :y1 85,
                                     :x2 936,
                                     :y2 412,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1687300949042},
               :properties {:color "yellow"}}
              {:id #uuid "64922b9d-2507-4d9c-a795-1eacc12d6cf4",
               :page 14,
               :position {:bounding {:x1 143.6383056640625,
                                     :y1 424.828125,
                                     :x2 265.655517578125,
                                     :y2 450.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 143.6383056640625,
                                   :y1 424.828125,
                                   :x2 265.655517578125,
                                   :y2 450.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 14},
               :content {:text "Perspective"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
