{:highlights [{:id #uuid "638458a3-008b-49c0-8ba2-6a20642e8240", :page 23, :position {:bounding {:x1 42, :y1 8, :x2 884, :y2 529, :width 1067, :height 600.1875}, :rects (), :page 23}, :content {:text "[:span]", :image 1669617827459}, :properties {:color "yellow"}}]}