{:highlights [{:id #uuid "6477ffba-e444-410c-ad9a-3cab045edcdd",
               :page 4,
               :position {:bounding {:x1 52,
                                     :y1 136,
                                     :x2 944,
                                     :y2 643,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1685585849920},
               :properties {:color "yellow"}}
              {:id #uuid "64780075-d960-4c1c-832f-26dd93fef2a6",
               :page 6,
               :position {:bounding {:x1 61,
                                     :y1 99,
                                     :x2 891,
                                     :y2 662,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1685586036067},
               :properties {:color "yellow"}}
              {:id #uuid "6478013d-5422-4547-9276-d76a552d2d89",
               :page 10,
               :position {:bounding {:x1 74,
                                     :y1 91,
                                     :x2 940,
                                     :y2 633,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1685586236200},
               :properties {:color "yellow"}}
              {:id #uuid "647801ae-180a-409d-9f99-ba3a792d7ffa",
               :page 12,
               :position {:bounding {:x1 10,
                                     :y1 29,
                                     :x2 939,
                                     :y2 677,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1685586348629},
               :properties {:color "yellow"}}
              {:id #uuid "647802bf-a8ea-4306-b150-fac206703104",
               :page 13,
               :position {:bounding {:x1 43,
                                     :y1 336,
                                     :x2 481,
                                     :y2 656,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1685586623064},
               :properties {:color "yellow"}}
              {:id #uuid "647803bf-e9b8-4702-9a50-4807f3a5e6ed",
               :page 18,
               :position {:bounding {:x1 77,
                                     :y1 97,
                                     :x2 789,
                                     :y2 680,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1685586878274},
               :properties {:color "yellow"}}
              {:id #uuid "647804ca-a2f6-4e13-82ae-1cf5cd66452d",
               :page 20,
               :position {:bounding {:x1 72,
                                     :y1 111,
                                     :x2 771,
                                     :y2 654,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1685587145530},
               :properties {:color "yellow"}}
              {:id #uuid "647804d8-60c0-405b-99cc-e7d204bffd29",
               :page 19,
               :position {:bounding {:x1 569,
                                     :y1 309,
                                     :x2 884,
                                     :y2 407,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1685587159750},
               :properties {:color "yellow"}}
              {:id #uuid "647807d3-c75d-456e-bce3-5a465b6a71f7",
               :page 25,
               :position {:bounding {:x1 25,
                                     :y1 98,
                                     :x2 891,
                                     :y2 653,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1685587922403},
               :properties {:color "yellow"}}
              {:id #uuid "64796e6f-01a0-442c-8ca7-470047205544",
               :page 27,
               :position {:bounding {:x1 26,
                                     :y1 126,
                                     :x2 926,
                                     :y2 643,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1685679726622},
               :properties {:color "yellow"}}
              {:id #uuid "64796ff3-6b1c-443b-b313-0ba56c80429d",
               :page 28,
               :position {:bounding {:x1 45,
                                     :y1 99,
                                     :x2 1023,
                                     :y2 658,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1685680113970},
               :properties {:color "yellow"}}
              {:id #uuid "64797015-6ea6-40a9-b276-58c6df35977e",
               :page 29,
               :position {:bounding {:x1 28,
                                     :y1 103,
                                     :x2 1192,
                                     :y2 666,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1685680148094},
               :properties {:color "yellow"}}
              {:id #uuid "6479712f-3e35-42de-9247-da5dddadb59f",
               :page 35,
               :position {:bounding {:x1 10,
                                     :y1 96,
                                     :x2 923,
                                     :y2 690,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1685680430478},
               :properties {:color "yellow"}}
              {:id #uuid "64797506-127d-4bc1-8211-242248f14320",
               :page 37,
               :position {:bounding {:x1 7,
                                     :y1 27,
                                     :x2 924,
                                     :y2 659,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1685681413331},
               :properties {:color "yellow"}}
              {:id #uuid "647975a3-d570-44c5-9a0d-bf3d01c695ab",
               :page 39,
               :position {:bounding {:x1 13,
                                     :y1 98,
                                     :x2 926,
                                     :y2 661,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1685681569990},
               :properties {:color "yellow"}}
              {:id #uuid "64797909-1a41-417a-9de8-c85b6f400fe6",
               :page 41,
               :position {:bounding {:x1 36,
                                     :y1 29,
                                     :x2 898,
                                     :y2 577,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1685682436361},
               :properties {:color "yellow"}}
              {:id #uuid "64797a0f-3d86-4830-a2d2-1680f80d5c5f",
               :page 43,
               :position {:bounding {:x1 45,
                                     :y1 18,
                                     :x2 952,
                                     :y2 405,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1685682702619},
               :properties {:color "yellow"}}
              {:id #uuid "64797a95-6b12-46ac-869b-4cf312f7f8a6",
               :page 45,
               :position {:bounding {:x1 55,
                                     :y1 42,
                                     :x2 837,
                                     :y2 523,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1685682836755},
               :properties {:color "yellow"}}
              {:id #uuid "64797b1b-5aad-4abb-9ade-8f9a72c138bb",
               :page 47,
               :position {:bounding {:x1 66,
                                     :y1 26,
                                     :x2 886,
                                     :y2 422,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1685682970561},
               :properties {:color "yellow"}}
              {:id #uuid "64797b84-2908-42ba-b498-264a88de0ec9",
               :page 49,
               :position {:bounding {:x1 71,
                                     :y1 35,
                                     :x2 856,
                                     :y2 412,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1685683075024},
               :properties {:color "yellow"}}
              {:id #uuid "64798285-7cfb-4390-a19b-9bb7af35c7c1",
               :page 53,
               :position {:bounding {:x1 65,
                                     :y1 93,
                                     :x2 791,
                                     :y2 579,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1685684867754},
               :properties {:color "yellow"}}
              {:id #uuid "647982c8-75d5-488a-a161-23be6cd7726e",
               :page 54,
               :position {:bounding {:x1 71,
                                     :y1 97,
                                     :x2 934,
                                     :y2 669,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1685684935773},
               :properties {:color "yellow"}}
              {:id #uuid "6479867b-1c41-4c15-9c84-f2bc5a22486a",
               :page 55,
               :position {:bounding {:x1 70,
                                     :y1 96,
                                     :x2 893,
                                     :y2 683,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1685685882542},
               :properties {:color "yellow"}}
              {:id #uuid "64798764-0af6-4222-b856-28aa070192d3",
               :page 58,
               :position {:bounding {:x1 58,
                                     :y1 26,
                                     :x2 913,
                                     :y2 639,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 58},
               :content {:text "[:span]", :image 1685686115784},
               :properties {:color "yellow"}}
              {:id #uuid "64798921-d276-4e06-9528-4edf26131810",
               :page 59,
               :position {:bounding {:x1 75,
                                     :y1 30,
                                     :x2 929,
                                     :y2 670,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1685686560400},
               :properties {:color "yellow"}}
              {:id #uuid "647989be-fc90-4ca9-ac9f-562a7815570a",
               :page 61,
               :position {:bounding {:x1 66,
                                     :y1 32,
                                     :x2 908,
                                     :y2 678,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1685686717058},
               :properties {:color "yellow"}}
              {:id #uuid "64798a20-ab93-4013-80f5-147cb9c74549",
               :page 62,
               :position {:bounding {:x1 68,
                                     :y1 99,
                                     :x2 809,
                                     :y2 686,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1685686815435},
               :properties {:color "yellow"}}
              {:id #uuid "64798a39-9d83-402c-873c-9dba2ee3ce96",
               :page 63,
               :position {:bounding {:x1 66,
                                     :y1 100,
                                     :x2 819,
                                     :y2 406,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1685686840102},
               :properties {:color "yellow"}}
              {:id #uuid "64799ab2-481b-4c1f-ab80-5f09f59497c3",
               :page 64,
               :position {:bounding {:x1 62,
                                     :y1 100,
                                     :x2 821,
                                     :y2 629,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1685691057663},
               :properties {:color "yellow"}}
              {:id #uuid "64799b9e-05df-4418-b35a-a9715b85a7aa",
               :page 66,
               :position {:bounding {:x1 67,
                                     :y1 15,
                                     :x2 897,
                                     :y2 446,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1685691294063},
               :properties {:color "yellow"}}
              {:id #uuid "64799c9f-5a43-42c9-aa60-06f3aa6213e1",
               :page 69,
               :position {:bounding {:x1 51,
                                     :y1 16,
                                     :x2 846,
                                     :y2 663,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 69},
               :content {:text "[:span]", :image 1685691550324},
               :properties {:color "yellow"}}
              {:id #uuid "64799d64-8833-46de-8755-b6cdf446a9a7",
               :page 70,
               :position {:bounding {:x1 49,
                                     :y1 44,
                                     :x2 642,
                                     :y2 389,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1685691747121},
               :properties {:color "yellow"}}
              {:id #uuid "64799dbb-6b60-4e45-bec8-618d7e45bad5",
               :page 71,
               :position {:bounding {:x1 70,
                                     :y1 36,
                                     :x2 902,
                                     :y2 651,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 71},
               :content {:text "[:span]", :image 1685691834040},
               :properties {:color "yellow"}}
              {:id #uuid "64799e45-8305-42c0-b256-8612a7c8f73a",
               :page 72,
               :position {:bounding {:x1 75,
                                     :y1 483,
                                     :x2 599,
                                     :y2 674,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 72},
               :content {:text "[:span]", :image 1685691972647},
               :properties {:color "yellow"}}
              {:id #uuid "64799e89-811a-4590-8efc-0b045aa616ce",
               :page 73,
               :position {:bounding {:x1 60,
                                     :y1 38,
                                     :x2 856,
                                     :y2 687,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 73},
               :content {:text "[:span]", :image 1685692040962},
               :properties {:color "yellow"}}
              {:id #uuid "64799ed9-5087-4e38-81be-ea9e6643e9a7",
               :page 76,
               :position {:bounding {:x1 63,
                                     :y1 27,
                                     :x2 919,
                                     :y2 669,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 76},
               :content {:text "[:span]", :image 1685692120095},
               :properties {:color "yellow"}}
              {:id #uuid "64799f3f-3244-4cec-8832-84476b91b97e",
               :page 77,
               :position {:bounding {:x1 58,
                                     :y1 25,
                                     :x2 862,
                                     :y2 383,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 77},
               :content {:text "[:span]", :image 1685692222816},
               :properties {:color "yellow"}}
              {:id #uuid "64799f7b-6a8f-47e7-9845-bee79ad60288",
               :page 78,
               :position {:bounding {:x1 64,
                                     :y1 31,
                                     :x2 828,
                                     :y2 674,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 78},
               :content {:text "[:span]", :image 1685692283331},
               :properties {:color "yellow"}}
              {:id #uuid "64799f9e-d0cc-4732-abaf-28c35b682dfd",
               :page 79,
               :position {:bounding {:x1 77,
                                     :y1 394,
                                     :x2 716,
                                     :y2 574,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 79},
               :content {:text "[:span]", :image 1685692317227},
               :properties {:color "yellow"}}
              {:id #uuid "649654a2-f5d3-4c86-ab17-f273c65929d0",
               :page 42,
               :position {:bounding {:x1 109,
                                     :y1 114,
                                     :x2 1056,
                                     :y2 888,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1687573665486},
               :properties {:color "yellow"}}],
 :extra {:page 50}}
