{:highlights [{:id #uuid "66768421-89a6-4f21-a005-e04e8ddb6281",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 476.5,
                                     :x2 298.8811950683594,
                                     :y2 503.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 476.5,
                                   :x2 160.875,
                                   :y2 503.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 476.5,
                                   :x2 298.8811950683594,
                                   :y2 503.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "4.1 Distances"},
               :properties {:color "red"}}
              {:id #uuid "6676843c-50b1-49dc-8b3b-ea1bac3b7672",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 530.21875,
                                     :x2 427.74530029296875,
                                     :y2 557.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 530.21875,
                                   :x2 160.875,
                                   :y2 557.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 530.21875,
                                   :x2 427.74530029296875,
                                   :y2 557.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "4.2 Breadth-ﬁrst search"},
               :properties {:color "red"}}
              {:id #uuid "6676845a-6343-47a3-801a-fd52090da28a",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 858.625,
                                     :x2 393.208984375,
                                     :y2 885.625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 858.625,
                                   :x2 160.875,
                                   :y2 885.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 858.625,
                                   :x2 393.208984375,
                                   :y2 885.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "4.3 Lengths on edges"},
               :properties {:color "red"}}
              {:id #uuid "667c1642-5b20-4e74-9cfd-c91881a65f43",
               :page 1,
               :position {:bounding {:x1 165.4375,
                                     :y1 729.078125,
                                     :x2 842.630615234375,
                                     :y2 749.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.4375,
                                   :y1 729.078125,
                                   :x2 842.630615234375,
                                   :y2 749.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The distance between two nodes is the length of the shortest path between them."},
               :properties {:color "red"}}
              {:id #uuid "667c16a0-58d1-4241-9250-1e27b6c6222b",
               :page 2,
               :position {:bounding {:x1 106,
                                     :y1 164,
                                     :x2 910,
                                     :y2 414,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719408287499},
               :properties {:color "red"}}
              {:id #uuid "667c181a-eaec-4bd5-95d4-2dae34114a07",
               :page 1,
               :position {:bounding {:x1 104,
                                     :y1 877,
                                     :x2 917,
                                     :y2 1165,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719408665499},
               :properties {:color "red"}}
              {:id #uuid "667c186e-1d21-41a2-8643-63152de80cea",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 390.828125,
                                     :x2 426.95330810546875,
                                     :y2 417.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 390.828125,
                                   :x2 160.875,
                                   :y2 417.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 390.828125,
                                   :x2 426.95330810546875,
                                   :y2 417.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "4.4 Dijkstra’s algorithm"},
               :properties {:color "red"}}
              {:id #uuid "667c18cf-7b5f-4292-8aa4-56b466963a4e",
               :page 3,
               :position {:bounding {:x1 106,
                                     :y1 160,
                                     :x2 909,
                                     :y2 597,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719408845591},
               :properties {:color "red"}}
              {:id #uuid "667c18dc-e15c-4a0d-b014-bcc78004c3f8",
               :page 4,
               :position {:bounding {:x1 105,
                                     :y1 161,
                                     :x2 914,
                                     :y2 472,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719408859188},
               :properties {:color "red"}}
              {:id #uuid "667c192f-9a3e-4245-94d4-ff5c72cd2ec3",
               :page 4,
               :position {:bounding {:x1 106,
                                     :y1 478,
                                     :x2 920,
                                     :y2 845,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719408941991},
               :properties {:color "red"}}
              {:id #uuid "6690ee06-3f4d-4693-bbed-0c9980181fac",
               :page 12,
               :position {:bounding {:x1 119.9375,
                                     :y1 169.59375,
                                     :x2 577.0791015625,
                                     :y2 196.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 169.59375,
                                   :x2 160.875,
                                   :y2 196.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 169.59375,
                                   :x2 577.0791015625,
                                   :y2 196.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "4.5 Priority queue implementations"},
               :properties {:color "red"}}
              {:id #uuid "6690ee3d-57e2-4802-a2d7-bbf7f2b75371",
               :page 14,
               :position {:bounding {:x1 119.9375,
                                     :y1 407.984375,
                                     :x2 777.526123046875,
                                     :y2 434.984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 407.984375,
                                   :x2 160.875,
                                   :y2 434.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 407.984375,
                                   :x2 777.526123046875,
                                   :y2 434.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 14},
               :content {:text "4.6 Shortest paths in the presence of negative edges"},
               :properties {:color "red"}}],
 :extra {:page 15}}
