{:highlights [{:id #uuid "66768421-89a6-4f21-a005-e04e8ddb6281",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 476.5,
                                     :x2 298.8811950683594,
                                     :y2 503.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 476.5,
                                   :x2 160.875,
                                   :y2 503.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 476.5,
                                   :x2 298.8811950683594,
                                   :y2 503.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "4.1 Distances"},
               :properties {:color "red"}}
              {:id #uuid "6676843c-50b1-49dc-8b3b-ea1bac3b7672",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 530.21875,
                                     :x2 427.74530029296875,
                                     :y2 557.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 530.21875,
                                   :x2 160.875,
                                   :y2 557.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 530.21875,
                                   :x2 427.74530029296875,
                                   :y2 557.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "4.2 Breadth-ﬁrst search"},
               :properties {:color "red"}}
              {:id #uuid "6676845a-6343-47a3-801a-fd52090da28a",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 858.625,
                                     :x2 393.208984375,
                                     :y2 885.625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 858.625,
                                   :x2 160.875,
                                   :y2 885.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 858.625,
                                   :x2 393.208984375,
                                   :y2 885.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "4.3 Lengths on edges"},
               :properties {:color "red"}}],
 :extra {:page 2}}
