{:highlights [{:id #uuid "645a3a2a-09b6-4464-9c77-c52dfeefc316",
               :page 9,
               :position {:bounding {:x1 81.5,
                                     :y1 33.6875,
                                     :x2 480.6084899902344,
                                     :y2 68.6875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 81.5,
                                   :y1 33.6875,
                                   :x2 480.6084899902344,
                                   :y2 68.6875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 9},
               :content {:text "Nand to Tetris Roadmap: Part II"},
               :properties {:color "yellow"}}
              {:id #uuid "645a3aee-03e8-4294-9df5-be82112bbadb",
               :page 10,
               :position {:bounding {:x1 53,
                                     :y1 89,
                                     :x2 783,
                                     :y2 520,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1683634929245},
               :properties {:color "yellow"}}
              {:id #uuid "645a3afd-4976-437c-9949-00871189eca2",
               :page 11,
               :position {:bounding {:x1 64,
                                     :y1 89,
                                     :x2 783,
                                     :y2 466,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1683634943448},
               :properties {:color "yellow"}}
              {:id #uuid "645a3b0d-e965-41e0-8f06-6e7928897229",
               :page 12,
               :position {:bounding {:x1 61,
                                     :y1 87,
                                     :x2 773,
                                     :y2 527,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1683634959398},
               :properties {:color "yellow"}}
              {:id #uuid "645a3b5a-4f45-4c11-a7ee-1959af89f637",
               :page 14,
               :position {:bounding {:x1 41,
                                     :y1 83,
                                     :x2 803,
                                     :y2 530,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1683635036155},
               :properties {:color "yellow"}}
              {:id #uuid "645a8f1b-eca4-45e3-a703-bea2f40ed07a",
               :page 2,
               :position {:bounding {:x1 81.5,
                                     :y1 33.6875,
                                     :x2 331.88409423828125,
                                     :y2 68.6875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 81.5,
                                   :y1 33.6875,
                                   :x2 331.88409423828125,
                                   :y2 68.6875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 2},
               :content {:text "Hello, World Below"},
               :properties {:color "yellow"}}
              {:id #uuid "645a8f7b-05fb-490f-acac-d5a7c22001a9",
               :page 2,
               :position {:bounding {:x1 65,
                                     :y1 87,
                                     :x2 773,
                                     :y2 556,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1683656576010},
               :properties {:color "yellow"}}
              {:id #uuid "645a9178-49be-49e3-bd55-e0465fe04713",
               :page 13,
               :position {:bounding {:x1 35,
                                     :y1 32,
                                     :x2 809,
                                     :y2 590,
                                     :width 1119,
                                     :height 629.4375},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1683657079043},
               :properties {:color "yellow"}}
              {:id #uuid "645a9be1-dbe8-4f49-937c-897efd857697",
               :page 19,
               :position {:bounding {:x1 66,
                                     :y1 104,
                                     :x2 677,
                                     :y2 550,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1683659743398},
               :properties {:color "yellow"}}
              {:id #uuid "645a9c00-fe0e-400f-84ff-ca2aebbcc150",
               :page 20,
               :position {:bounding {:x1 81,
                                     :y1 83,
                                     :x2 765,
                                     :y2 554,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1683659779782},
               :properties {:color "yellow"}}
              {:id #uuid "645a9dd5-365c-4c09-a563-3daafb02dfb7",
               :page 25,
               :position {:bounding {:x1 82,
                                     :y1 81,
                                     :x2 662,
                                     :y2 549,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1683660249332},
               :properties {:color "yellow"}}
              {:id #uuid "645aa340-8e28-4fcb-8485-1d4c9adfe3ea",
               :page 27,
               :position {:bounding {:x1 67,
                                     :y1 19,
                                     :x2 781,
                                     :y2 562,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1683661647368},
               :properties {:color "purple"}}
              {:id #uuid "645aa416-f0da-4dc5-97a6-a89ee98b4b8d",
               :page 28,
               :position {:bounding {:x1 40,
                                     :y1 77,
                                     :x2 814,
                                     :y2 470,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1683661864250},
               :properties {:color "purple"}}
              {:id #uuid "645aac77-3506-486a-a779-c2e7c87b1d5d",
               :page 32,
               :position {:bounding {:x1 62,
                                     :y1 257,
                                     :x2 382,
                                     :y2 401,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1683663992537},
               :properties {:color "yellow"}}
              {:id #uuid "645aad8f-8caf-40d5-b763-8c3febe3813b",
               :page 29,
               :position {:bounding {:x1 86,
                                     :y1 123,
                                     :x2 831,
                                     :y2 417,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1683664270470},
               :properties {:color "yellow"}}
              {:id #uuid "645ab17a-3dda-49bb-974a-7376dee161f2",
               :page 31,
               :position {:bounding {:x1 20,
                                     :y1 29,
                                     :x2 788,
                                     :y2 570,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1683665279757},
               :properties {:color "purple"}}
              {:id #uuid "645ab352-52c8-4fb7-b4f3-83e3e0d43e9d",
               :page 32,
               :position {:bounding {:x1 49,
                                     :y1 78,
                                     :x2 637,
                                     :y2 421,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1683665742185},
               :properties {:color "purple"}}
              {:id #uuid "645bdec4-831d-4808-a0a3-ed8b061ed17f",
               :page 34,
               :position {:bounding {:x1 79,
                                     :y1 82,
                                     :x2 771,
                                     :y2 530,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1683742402581},
               :properties {:color "yellow"}}
              {:id #uuid "645bdf9e-03bb-45a9-9e12-5daed8f0e2ad",
               :page 37,
               :position {:bounding {:x1 70,
                                     :y1 77,
                                     :x2 817,
                                     :y2 573,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1683742620740},
               :properties {:color "yellow"}}
              {:id #uuid "645be0cd-3b0e-473f-b656-e13dfad37313",
               :page 38,
               :position {:bounding {:x1 60,
                                     :y1 83,
                                     :x2 818,
                                     :y2 544,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1683742924476},
               :properties {:color "yellow"}}
              {:id #uuid "645be22c-fcf6-4797-8019-390f4ef1fbe0",
               :page 41,
               :position {:bounding {:x1 74,
                                     :y1 81,
                                     :x2 738,
                                     :y2 557,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1683743275631},
               :properties {:color "yellow"}}
              {:id #uuid "645be379-b419-4115-acbe-34478ad003c7",
               :page 42,
               :position {:bounding {:x1 70,
                                     :y1 82,
                                     :x2 785,
                                     :y2 552,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1683743614551},
               :properties {:color "yellow"}}
              {:id #uuid "645be3f7-841f-40e9-ad0c-76e43261ac3f",
               :page 44,
               :position {:bounding {:x1 67,
                                     :y1 81,
                                     :x2 822,
                                     :y2 552,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1683743733653},
               :properties {:color "yellow"}}
              {:id #uuid "645be6a3-c82d-451b-97f7-6b4ed70235d8",
               :page 46,
               :position {:bounding {:x1 65,
                                     :y1 80,
                                     :x2 809,
                                     :y2 565,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1683744418696},
               :properties {:color "yellow"}}
              {:id #uuid "645be90d-34f8-4063-afb4-abe53bcea2bf",
               :page 52,
               :position {:bounding {:x1 32,
                                     :y1 80,
                                     :x2 786,
                                     :y2 522,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1683745041659},
               :properties {:color "yellow"}}
              {:id #uuid "645bfa5a-9a99-4cc3-bcf2-5224f79d5274",
               :page 64,
               :position {:bounding {:x1 49,
                                     :y1 79,
                                     :x2 788,
                                     :y2 572,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1683749465421},
               :properties {:color "yellow"}}
              {:id #uuid "645bfb56-c3d3-4a57-9322-f566d4ca8aa6",
               :page 70,
               :position {:bounding {:x1 53,
                                     :y1 72,
                                     :x2 769,
                                     :y2 518,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1683749717790},
               :properties {:color "yellow"}}
              {:id #uuid "645bfd70-cebb-4e5c-bf33-064e71b689c9",
               :page 72,
               :position {:bounding {:x1 73,
                                     :y1 97,
                                     :x2 799,
                                     :y2 546,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 72},
               :content {:text "[:span]", :image 1683750255844},
               :properties {:color "yellow"}}
              {:id #uuid "645bfe74-3f37-48e3-9dac-0eb1a0969536",
               :page 73,
               :position {:bounding {:x1 67,
                                     :y1 79,
                                     :x2 773,
                                     :y2 481,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 73},
               :content {:text "[:span]", :image 1683750515976},
               :properties {:color "yellow"}}
              {:id #uuid "645bfea6-c24e-4051-bf51-e50538d936e8",
               :page 74,
               :position {:bounding {:x1 65,
                                     :y1 221,
                                     :x2 673,
                                     :y2 595,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 74},
               :content {:text "[:span]", :image 1683750564610},
               :properties {:color "yellow"}}
              {:id #uuid "645bff11-96ad-497d-8557-4c9a192ffe27",
               :page 75,
               :position {:bounding {:x1 56,
                                     :y1 86,
                                     :x2 802,
                                     :y2 545,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 75},
               :content {:text "[:span]", :image 1683750671989},
               :properties {:color "yellow"}}
              {:id #uuid "645c002d-76d0-4744-a314-839806751e81",
               :page 77,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 555.9818115234375,
                                     :y2 419.359375,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 165.84375,
                                   :y1 370.640625,
                                   :x2 555.9818115234375,
                                   :y2 392.640625,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 165.84375,
                                   :y1 397.359375,
                                   :x2 507.4231262207031,
                                   :y2 419.359375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 349.578125,
                                   :y1 402.359375,
                                   :x2 415.78228759765625,
                                   :y2 417.953125,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 77},
               :content {:text "Build a basic VM translator that handles the VM arithmetic-logical and push /pop commands"},
               :properties {:color "yellow"}}
              {:id #uuid "645c0160-523e-4e35-ac4b-eb71715fb9e8",
               :page 79,
               :position {:bounding {:x1 66,
                                     :y1 84,
                                     :x2 816,
                                     :y2 564,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 79},
               :content {:text "[:span]", :image 1683751263186},
               :properties {:color "yellow"}}],
 :extra {:page 78}}
