{:highlights [{:id #uuid "639faeca-a43d-40ff-aa2c-a73eb64eb22c",
               :page 5,
               :position {:bounding {:x1 26,
                                     :y1 83,
                                     :x2 802,
                                     :y2 406,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1671409358435},
               :properties {:color "yellow"}}
              {:id #uuid "639faf25-64df-41c1-b0a4-709a22a24491",
               :page 18,
               :position {:bounding {:x1 54,
                                     :y1 82,
                                     :x2 730,
                                     :y2 566,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1671409451499},
               :properties {:color "yellow"}}
              {:id #uuid "639fb183-c82b-4fe5-ad2a-1b606facf62b",
               :page 22,
               :position {:bounding {:x1 44,
                                     :y1 82,
                                     :x2 783,
                                     :y2 545,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1671410069819},
               :properties {:color "yellow"}}
              {:id #uuid "639fb1aa-75bb-43eb-9f2d-9ecf19698722",
               :page 23,
               :position {:bounding {:x1 65,
                                     :y1 84,
                                     :x2 781,
                                     :y2 480,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1671410093419},
               :properties {:color "yellow"}}
              {:id #uuid "639fb1dd-eb0f-45f1-b5d4-e3fcdfc4c3a6",
               :page 24,
               :position {:bounding {:x1 57,
                                     :y1 88,
                                     :x2 791,
                                     :y2 575,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1671410144425},
               :properties {:color "yellow"}}
              {:id #uuid "639fb2e3-1092-47ce-a950-21a8c0dec497",
               :page 26,
               :position {:bounding {:x1 11,
                                     :y1 79,
                                     :x2 784,
                                     :y2 577,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1671410407281},
               :properties {:color "yellow"}}
              {:id #uuid "639fb36c-59f7-4ac8-9737-046a8eff48a7",
               :page 25,
               :position {:bounding {:x1 45,
                                     :y1 80,
                                     :x2 775,
                                     :y2 578,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1671410542390},
               :properties {:color "yellow"}}
              {:id #uuid "639fb389-3d28-4027-be71-4d70c3d5385c",
               :page 27,
               :position {:bounding {:x1 62,
                                     :y1 92,
                                     :x2 750,
                                     :y2 516,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1671410568084},
               :properties {:color "yellow"}}
              {:id #uuid "639fb395-06c6-43c4-824d-12f9ab07e9dc",
               :page 28,
               :position {:bounding {:x1 155,
                                     :y1 419,
                                     :x2 659,
                                     :y2 538,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1671410581008},
               :properties {:color "yellow"}}
              {:id #uuid "639fb63a-5a5d-4ca0-a2e1-23971ef29f07",
               :page 33,
               :position {:bounding {:x1 49,
                                     :y1 90,
                                     :x2 706,
                                     :y2 573,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1671411257341},
               :properties {:color "yellow"}}
              {:id #uuid "639fb64e-e4df-4922-8b93-f23394ddeef7",
               :page 36,
               :position {:bounding {:x1 53,
                                     :y1 81,
                                     :x2 733,
                                     :y2 579,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1671411280655},
               :properties {:color "yellow"}}
              {:id #uuid "639fb762-4759-4e2c-8ebe-6d1292885c87",
               :page 41,
               :position {:bounding {:x1 16,
                                     :y1 79,
                                     :x2 803,
                                     :y2 555,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1671411557140},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fca9-e8dd-4ab1-8044-f3566717b4c4",
               :page 44,
               :position {:bounding {:x1 22,
                                     :y1 91,
                                     :x2 849,
                                     :y2 560,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1671494835060},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fd24-a8e0-4cef-aa21-e0c417b8a7d9",
               :page 45,
               :position {:bounding {:x1 16,
                                     :y1 94,
                                     :x2 858,
                                     :y2 614,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1671494951957},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fd3c-565e-4775-a43b-80130250d89b",
               :page 46,
               :position {:bounding {:x1 19,
                                     :y1 87,
                                     :x2 894,
                                     :y2 563,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1671494973788},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fd46-777c-49f4-b9dd-c1bf24f7c341",
               :page 47,
               :position {:bounding {:x1 23,
                                     :y1 90,
                                     :x2 865,
                                     :y2 581,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1671494981911},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fd64-78b1-4449-8e97-1a33db21c78f",
               :page 48,
               :position {:bounding {:x1 24,
                                     :y1 93,
                                     :x2 858,
                                     :y2 588,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1671495011186},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fda5-fd46-410f-b8c2-e5c547fa3682",
               :page 49,
               :position {:bounding {:x1 78,
                                     :y1 94,
                                     :x2 848,
                                     :y2 615,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1671495076187},
               :properties {:color "yellow"}}
              {:id #uuid "63a0fe6e-4a2a-4db8-81ed-77e9282010ee",
               :page 52,
               :position {:bounding {:x1 48,
                                     :y1 88,
                                     :x2 841,
                                     :y2 582,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1671495285756},
               :properties {:color "yellow"}}
              {:id #uuid "63a0ffb7-2d50-4225-911d-1389f5b349fc",
               :page 37,
               :position {:bounding {:x1 17,
                                     :y1 107,
                                     :x2 836,
                                     :y2 596,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1671495613492},
               :properties {:color "yellow"}}
              {:id #uuid "63a10066-b36e-4b34-91d7-6bfaa2c22b87",
               :page 43,
               :position {:bounding {:x1 16,
                                     :y1 88,
                                     :x2 885,
                                     :y2 592,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1671495781807},
               :properties {:color "yellow"}}
              {:id #uuid "63a1048e-0b78-44b2-a4db-fe435638fe64",
               :page 55,
               :position {:bounding {:x1 64,
                                     :y1 106,
                                     :x2 877,
                                     :y2 454,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1671496845728},
               :properties {:color "yellow"}}
              {:id #uuid "63a109d0-92dc-493c-b35e-2bd2e0f2701f",
               :page 56,
               :position {:bounding {:x1 30,
                                     :y1 94,
                                     :x2 837,
                                     :y2 608,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1671498191115},
               :properties {:color "yellow"}}
              {:id #uuid "63a109da-6c7b-48d7-8e6a-11a7a96422f2",
               :page 59,
               :position {:bounding {:x1 29,
                                     :y1 93,
                                     :x2 837,
                                     :y2 571,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1671498201299},
               :properties {:color "yellow"}}
              {:id #uuid "63a109e5-d30a-40ca-b4c2-a1a415213e24",
               :page 60,
               :position {:bounding {:x1 63,
                                     :y1 97,
                                     :x2 822,
                                     :y2 613,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1671498211522},
               :properties {:color "yellow"}}
              {:id #uuid "63a10a6e-405b-47ad-a24b-9e4d5f4a72b1",
               :page 68,
               :position {:bounding {:x1 17,
                                     :y1 99,
                                     :x2 836,
                                     :y2 621,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 68},
               :content {:text "[:span]", :image 1671498349295},
               :properties {:color "yellow"}}
              {:id #uuid "63a10c69-fed3-4621-886c-b79df06df9a6",
               :page 65,
               :position {:bounding {:x1 22,
                                     :y1 92,
                                     :x2 709,
                                     :y2 472,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1671498857078},
               :properties {:color "yellow"}}
              {:id #uuid "63a10c71-2f92-49da-adc8-c2d600f2b91a",
               :page 66,
               :position {:bounding {:x1 35,
                                     :y1 89,
                                     :x2 878,
                                     :y2 626,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1671498864251},
               :properties {:color "yellow"}}
              {:id #uuid "63a11390-187c-456d-b76d-3a37496f592e",
               :page 75,
               :position {:bounding {:x1 64,
                                     :y1 83,
                                     :x2 831,
                                     :y2 587,
                                     :width 1158.9999999999998,
                                     :height 651.9374999999999},
                          :rects (),
                          :page 75},
               :content {:text "[:span]", :image 1671500691662},
               :properties {:color "yellow"}}
              {:id #uuid "63a4eb7d-c87c-4bf1-96a4-b5077d86d764",
               :page 80,
               :position {:bounding {:x1 59,
                                     :y1 84,
                                     :x2 714,
                                     :y2 510,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 80},
               :content {:text "[:span]", :image 1671752571896},
               :properties {:color "yellow"}}
              {:id #uuid "63a4eb94-2ec7-4bd9-b334-43fb37107e6f",
               :page 81,
               :position {:bounding {:x1 93,
                                     :y1 411,
                                     :x2 753,
                                     :y2 534,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 81},
               :content {:text "[:span]", :image 1671752592388},
               :properties {:color "yellow"}}
              {:id #uuid "63a4ec04-7440-4fb7-8076-5ebe2d32f5e8",
               :page 79,
               :position {:bounding {:x1 53,
                                     :y1 8,
                                     :x2 766,
                                     :y2 534,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 79},
               :content {:text "[:span]", :image 1671752706805},
               :properties {:color "yellow"}}
              {:id #uuid "63a4ec72-a9c4-47d5-8b81-8d5eed768904",
               :page 83,
               :position {:bounding {:x1 22,
                                     :y1 82,
                                     :x2 764,
                                     :y2 532,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 83},
               :content {:text "[:span]", :image 1671752818119},
               :properties {:color "yellow"}}
              {:id #uuid "63a4ec7e-939d-40a0-a60c-67cf6a783e36",
               :page 84,
               :position {:bounding {:x1 17,
                                     :y1 80,
                                     :x2 768,
                                     :y2 554,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 84},
               :content {:text "[:span]", :image 1671752829910},
               :properties {:color "yellow"}}
              {:id #uuid "63a4ecf1-1a5a-487f-9d58-e4c39a5aaf79",
               :page 85,
               :position {:bounding {:x1 124,
                                     :y1 370,
                                     :x2 705,
                                     :y2 575,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 85},
               :content {:text "[:span]", :image 1671752948243},
               :properties {:color "yellow"}}
              {:id #uuid "63a4edfb-50b0-4ce2-ac57-69e37be53d5a",
               :page 87,
               :position {:bounding {:x1 107,
                                     :y1 82,
                                     :x2 638,
                                     :y2 577,
                                     :width 1067,
                                     :height 600.1874999999999},
                          :rects (),
                          :page 87},
               :content {:text "[:span]", :image 1671753210514},
               :properties {:color "yellow"}}],
 :extra {:page 68}}
