{:highlights [{:id #uuid "66bde822-d441-4cae-9fc2-f31f1ffd31f8",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 1036.4375,
                                     :x2 667.180419921875,
                                     :y2 1063.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1036.4375,
                                   :x2 160.875,
                                   :y2 1063.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 1036.4375,
                                   :x2 667.180419921875,
                                   :y2 1063.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "7.1 An introduction to linear programming"},
               :properties {:color "red"}}
              {:id #uuid "66bde839-4745-4cef-a836-69046b59f31b",
               :page 11,
               :position {:bounding {:x1 119.9375,
                                     :y1 1007.65625,
                                     :x2 406.7943115234375,
                                     :y2 1034.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1007.65625,
                                   :x2 160.875,
                                   :y2 1034.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 1007.65625,
                                   :x2 406.7943115234375,
                                   :y2 1034.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "7.2 Flows in networks"},
               :properties {:color "red"}}
              {:id #uuid "66bde85d-f17c-4f38-8677-261e0658da6f",
               :page 19,
               :position {:bounding {:x1 119.9375,
                                     :y1 487.453125,
                                     :x2 415.18505859375,
                                     :y2 514.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 487.453125,
                                   :x2 160.875,
                                   :y2 514.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 487.453125,
                                   :x2 415.18505859375,
                                   :y2 514.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 19},
               :content {:text "7.3 Bipartite matching"},
               :properties {:color "red"}}
              {:id #uuid "66bde870-f857-4ad5-a0aa-b56b551816ba",
               :page 20,
               :position {:bounding {:x1 119.9375,
                                     :y1 383.4375,
                                     :x2 270.90667724609375,
                                     :y2 410.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 383.4375,
                                   :x2 160.875,
                                   :y2 410.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 383.4375,
                                   :x2 270.90667724609375,
                                   :y2 410.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 20},
               :content {:text "7.4 Duality"},
               :properties {:color "red"}}
              {:id #uuid "66bdebb5-be62-4b7c-9772-ec38dd0933be",
               :page 24,
               :position {:bounding {:x1 119.9375,
                                     :y1 169.59375,
                                     :x2 378.6078186035156,
                                     :y2 196.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 169.59375,
                                   :x2 160.875,
                                   :y2 196.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 169.59375,
                                   :x2 378.6078186035156,
                                   :y2 196.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 24},
               :content {:text "7.5 Zero-sum games"},
               :properties {:color "red"}}
              {:id #uuid "66bdebcb-8764-4e38-8bc5-b453e5eb80ea",
               :page 27,
               :position {:bounding {:x1 119.9375,
                                     :y1 573.78125,
                                     :x2 458.3651123046875,
                                     :y2 600.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 573.78125,
                                   :x2 160.875,
                                   :y2 600.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 573.78125,
                                   :x2 458.3651123046875,
                                   :y2 600.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 27},
               :content {:text "7.6 The simplex algorithm"},
               :properties {:color "red"}}
              {:id #uuid "66bdebe6-a677-4b91-90be-5191eb1228db",
               :page 36,
               :position {:bounding {:x1 119.9375,
                                     :y1 827.078125,
                                     :x2 541.4931640625,
                                     :y2 854.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 827.078125,
                                   :x2 160.875,
                                   :y2 854.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 827.078125,
                                   :x2 541.4931640625,
                                   :y2 854.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 36},
               :content {:text "7.7 Postscript: circuit evaluation"},
               :properties {:color "red"}}
              {:id #uuid "66bdecdd-a7d0-48e8-8627-893b0a4a7a36",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 539.671875,
                                     :x2 898.730224609375,
                                     :y2 746.3125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 539.671875,
                                   :x2 898.5743408203125,
                                   :y2 559.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 562.375,
                                   :x2 898.565673828125,
                                   :y2 582.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 584.9375,
                                   :x2 898.318115234375,
                                   :y2 604.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 607.375,
                                   :x2 898.7132568359375,
                                   :y2 627.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 629.953125,
                                   :x2 898.660400390625,
                                   :y2 649.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 652.53125,
                                   :x2 449.6786804199219,
                                   :y2 672.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 148.203125,
                                   :y1 681.171875,
                                   :x2 898.42578125,
                                   :y2 701.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 703.734375,
                                   :x2 898.730224609375,
                                   :y2 723.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 726.3125,
                                   :x2 458.77679443359375,
                                   :y2 746.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Many of the problems for which we want algorithms are optimization tasks: the shortest path, the cheapest spanning tree, the longest increasing subsequence, and so on. In such cases, we seek a solution that (1) satisﬁes certain constraints (for instance, the path must use edges of the graph and lead from s to t, the tree must touch all nodes, the subsequence must be increasing); and (2) is the best possible, with respect to some well-deﬁned criterion, among all solutions that satisfy these constraints. Linear programming describes a broad class of optimization tasks in which both the constraints and the optimization criterion are linear functions. It turns out an enormous number of problems can be expressed in this way"},
               :properties {:color "red"}}
              {:id #uuid "66c05541-b2ff-42e0-8a17-a64704ec6e15",
               :page 32,
               :position {:bounding {:x1 119.9375,
                                     :y1 799.703125,
                                     :x2 898.9479370117188,
                                     :y2 844.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 728.8705444335938,
                                   :y1 799.703125,
                                   :x2 898.9479370117188,
                                   :y2 819.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 822.28125,
                                   :x2 853.8636474609375,
                                   :y2 842.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 671.96875,
                                   :y1 829.140625,
                                   :x2 674.921875,
                                   :y2 844.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 32},
               :content {:text " But this means that the original linear program is infeasible: it needs some nonzero zi’s to become feasible"},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
