{:highlights [{:id #uuid "6698bf79-8ea8-476e-8778-4cdf9305bc2e",
               :page 20,
               :position {:bounding {:x1 119.9375,
                                     :y1 885.6875,
                                     :x2 293.3151550292969,
                                     :y2 912.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 885.6875,
                                   :x2 160.875,
                                   :y2 912.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.984375,
                                   :y1 885.6875,
                                   :x2 293.3151550292969,
                                   :y2 912.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 20},
               :content {:text "5.4 Set cover"},
               :properties {:color "red"}}
              {:id #uuid "669dcadb-5fd3-40ec-abcf-4a1123358a93",
               :page 20,
               :position {:bounding {:x1 154,
                                     :y1 1102,
                                     :x2 579,
                                     :y2 1176,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1721617114507},
               :properties {:color "red"}}
              {:id #uuid "669dcaf1-f76d-4c91-b99c-314542247280",
               :page 21,
               :position {:bounding {:x1 105,
                                     :y1 154,
                                     :x2 913,
                                     :y2 811,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1721617136258},
               :properties {:color "red"}}
              {:id #uuid "669dcc8b-3343-4cce-94fe-3384cea6d8ce",
               :page 21,
               :position {:bounding {:x1 102,
                                     :y1 836,
                                     :x2 927,
                                     :y2 1134,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1721617568219},
               :properties {:color "red"}}
              {:id #uuid "669dccac-ce9a-4106-9060-959704bcd6cd",
               :page 22,
               :position {:bounding {:x1 99,
                                     :y1 171,
                                     :x2 909,
                                     :y2 794,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1721617579685},
               :properties {:color "red"}}],
 :extra {:page 22}}
