{:highlights [{:id #uuid "646c19fa-ee94-4c4f-b00e-632382656d0c",
               :page 6,
               :position {:bounding {:x1 57,
                                     :y1 156,
                                     :x2 817,
                                     :y2 670,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1684806137756},
               :properties {:color "yellow"}}
              {:id #uuid "646c1c87-0b40-4227-b9b8-72d7008df474",
               :page 14,
               :position {:bounding {:x1 78,
                                     :y1 98,
                                     :x2 946,
                                     :y2 629,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1684806790814},
               :properties {:color "yellow"}}
              {:id #uuid "646c23af-e686-42ad-b2d3-e03f26d9bcf7",
               :page 20,
               :position {:bounding {:x1 89,
                                     :y1 93,
                                     :x2 936,
                                     :y2 680,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1684808622300},
               :properties {:color "yellow"}}
              {:id #uuid "646c23cd-1ae9-412f-9dfc-165dffcd5d7c",
               :page 21,
               :position {:bounding {:x1 95,
                                     :y1 96,
                                     :x2 923,
                                     :y2 679,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1684808652454},
               :properties {:color "yellow"}}
              {:id #uuid "646c23e0-7c05-4e03-b5e6-180cc72d855c",
               :page 22,
               :position {:bounding {:x1 94,
                                     :y1 90,
                                     :x2 947,
                                     :y2 684,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1684808670906},
               :properties {:color "yellow"}}
              {:id #uuid "646c75ee-2318-4d65-8537-941b57f350d8",
               :page 33,
               :position {:bounding {:x1 83,
                                     :y1 117,
                                     :x2 956,
                                     :y2 587,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1684829677470},
               :properties {:color "yellow"}}
              {:id #uuid "646c78e4-5111-46fc-92ae-5e63c2cc71cd",
               :page 45,
               :position {:bounding {:x1 49,
                                     :y1 100,
                                     :x2 909,
                                     :y2 668,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1684830434892},
               :properties {:color "yellow"}}
              {:id #uuid "646c7a04-35c5-4fa3-858a-ab4a42487973",
               :page 49,
               :position {:bounding {:x1 55,
                                     :y1 119,
                                     :x2 948,
                                     :y2 571,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1684830722596},
               :properties {:color "yellow"}}
              {:id #uuid "646c7aef-0f31-4cce-8e75-05203db95151",
               :page 60,
               :position {:bounding {:x1 68,
                                     :y1 114,
                                     :x2 948,
                                     :y2 663,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1684830957560},
               :properties {:color "yellow"}}
              {:id #uuid "646c7b5a-eb7a-47c7-ba86-4128f863dda1",
               :page 61,
               :position {:bounding {:x1 74,
                                     :y1 126,
                                     :x2 935,
                                     :y2 542,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1684831065788},
               :properties {:color "yellow"}}
              {:id #uuid "646c7b8f-5375-481a-86f5-4cc441dae7b4",
               :page 62,
               :position {:bounding {:x1 82,
                                     :y1 129,
                                     :x2 874,
                                     :y2 619,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1684831118669},
               :properties {:color "yellow"}}
              {:id #uuid "646d72e8-e56d-42a3-87e7-b0f6f4344e39",
               :page 72,
               :position {:bounding {:x1 64,
                                     :y1 92,
                                     :x2 917,
                                     :y2 584,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 72},
               :content {:text "[:span]", :image 1684894438527},
               :properties {:color "yellow"}}
              {:id #uuid "646d73be-7c7e-4bc1-9890-15c9054623dd",
               :page 76,
               :position {:bounding {:x1 65,
                                     :y1 94,
                                     :x2 931,
                                     :y2 679,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 76},
               :content {:text "[:span]", :image 1684894653554},
               :properties {:color "yellow"}}
              {:id #uuid "646d7494-b265-4692-9f2e-b93448569e83",
               :page 77,
               :position {:bounding {:x1 56,
                                     :y1 24,
                                     :x2 974,
                                     :y2 474,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 77},
               :content {:text "[:span]", :image 1684894852893},
               :properties {:color "yellow"}}
              {:id #uuid "646d758a-947a-4546-9d94-abba35dffe4a",
               :page 78,
               :position {:bounding {:x1 47,
                                     :y1 97,
                                     :x2 993,
                                     :y2 667,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 78},
               :content {:text "[:span]", :image 1684895113798},
               :properties {:color "yellow"}}
              {:id #uuid "646d75d0-4304-42a8-843a-5f97474316e7",
               :page 80,
               :position {:bounding {:x1 86,
                                     :y1 94,
                                     :x2 927,
                                     :y2 678,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 80},
               :content {:text "[:span]", :image 1684895183848},
               :properties {:color "yellow"}}
              {:id #uuid "646d785d-e088-4a82-a8f0-41bf99f5dbb1",
               :page 89,
               :position {:bounding {:x1 69,
                                     :y1 113,
                                     :x2 867,
                                     :y2 657,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 89},
               :content {:text "[:span]", :image 1684895836579},
               :properties {:color "yellow"}}
              {:id #uuid "646dbfec-2308-4a09-8154-2f5fcd5fdf8b",
               :page 92,
               :position {:bounding {:x1 67,
                                     :y1 112,
                                     :x2 334,
                                     :y2 359,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 92},
               :content {:text "[:span]", :image 1684914154964},
               :properties {:color "yellow"}}
              {:id #uuid "646dc247-0612-4ed4-9fce-a917c6a3b9d5",
               :page 97,
               :position {:bounding {:x1 53,
                                     :y1 103,
                                     :x2 920,
                                     :y2 453,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 97},
               :content {:text "[:span]", :image 1684914758455},
               :properties {:color "yellow"}}
              {:id #uuid "646dc411-5778-4c15-9342-831bd184add8",
               :page 100,
               :position {:bounding {:x1 68,
                                     :y1 117,
                                     :x2 891,
                                     :y2 520,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 100},
               :content {:text "[:span]", :image 1684915215509},
               :properties {:color "yellow"}}
              {:id #uuid "646dc438-7ecd-46ac-b7bc-7a4c606e533e",
               :page 101,
               :position {:bounding {:x1 66,
                                     :y1 114,
                                     :x2 827,
                                     :y2 513,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 101},
               :content {:text "[:span]", :image 1684915255399},
               :properties {:color "yellow"}}],
 :extra {:page 104}}
