{:highlights [{:id #uuid "648ba6ff-fe90-4f48-a6e4-f76c4b085108",
               :page 3,
               :position {:bounding {:x1 80,
                                     :y1 138,
                                     :x2 880,
                                     :y2 598,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1686873853847},
               :properties {:color "yellow"}}
              {:id #uuid "648ba880-48df-4612-b179-b13857dcae71",
               :page 6,
               :position {:bounding {:x1 64,
                                     :y1 106,
                                     :x2 835,
                                     :y2 628,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1686874239283},
               :properties {:color "yellow"}}
              {:id #uuid "648baa3b-28c8-47c7-bc6f-7c2300c7be57",
               :page 8,
               :position {:bounding {:x1 29,
                                     :y1 36,
                                     :x2 910,
                                     :y2 650,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1686874682950},
               :properties {:color "yellow"}}
              {:id #uuid "648baabf-491a-48cc-8547-74e31ef551ea",
               :page 9,
               :position {:bounding {:x1 32,
                                     :y1 37,
                                     :x2 885,
                                     :y2 675,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1686874814705},
               :properties {:color "yellow"}}
              {:id #uuid "648bac6e-a9e8-46ae-9faa-104aa9ef681c",
               :page 10,
               :position {:bounding {:x1 38,
                                     :y1 432,
                                     :x2 854,
                                     :y2 634,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1686875245200},
               :properties {:color "yellow"}}
              {:id #uuid "648badc9-e0f0-495d-8518-121c25f70acb",
               :page 11,
               :position {:bounding {:x1 76,
                                     :y1 420,
                                     :x2 822,
                                     :y2 683,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1686875592655},
               :properties {:color "yellow"}}
              {:id #uuid "648baeff-53e3-4240-bcb2-029abd38f1d8",
               :page 13,
               :position {:bounding {:x1 56,
                                     :y1 37,
                                     :x2 952,
                                     :y2 663,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1686875902769},
               :properties {:color "yellow"}}
              {:id #uuid "648bb0bd-ac8b-41bc-af4a-e93174691655",
               :page 15,
               :position {:bounding {:x1 154,
                                     :y1 139,
                                     :x2 788,
                                     :y2 553,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1686876347716},
               :properties {:color "yellow"}}
              {:id #uuid "648bb620-75c3-4038-8845-d6ecee1f1b50",
               :page 19,
               :position {:bounding {:x1 68,
                                     :y1 98,
                                     :x2 801,
                                     :y2 664,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1686877727101},
               :properties {:color "yellow"}}
              {:id #uuid "648bcc66-93b9-4c23-88cd-95b888ef4d61",
               :page 29,
               :position {:bounding {:x1 58,
                                     :y1 29,
                                     :x2 863,
                                     :y2 665,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1686883429159},
               :properties {:color "yellow"}}
              {:id #uuid "648bcc78-1304-4249-a540-3724b4f3fb48",
               :page 31,
               :position {:bounding {:x1 67,
                                     :y1 33,
                                     :x2 822,
                                     :y2 617,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1686883447532},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
