{:highlights [{:id #uuid "648ba6ff-fe90-4f48-a6e4-f76c4b085108",
               :page 3,
               :position {:bounding {:x1 80,
                                     :y1 138,
                                     :x2 880,
                                     :y2 598,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1686873853847},
               :properties {:color "yellow"}}
              {:id #uuid "648ba880-48df-4612-b179-b13857dcae71",
               :page 6,
               :position {:bounding {:x1 64,
                                     :y1 106,
                                     :x2 835,
                                     :y2 628,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1686874239283},
               :properties {:color "yellow"}}
              {:id #uuid "648baa3b-28c8-47c7-bc6f-7c2300c7be57",
               :page 8,
               :position {:bounding {:x1 29,
                                     :y1 36,
                                     :x2 910,
                                     :y2 650,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1686874682950},
               :properties {:color "yellow"}}
              {:id #uuid "648baabf-491a-48cc-8547-74e31ef551ea",
               :page 9,
               :position {:bounding {:x1 32,
                                     :y1 37,
                                     :x2 885,
                                     :y2 675,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1686874814705},
               :properties {:color "yellow"}}
              {:id #uuid "648bac6e-a9e8-46ae-9faa-104aa9ef681c",
               :page 10,
               :position {:bounding {:x1 38,
                                     :y1 432,
                                     :x2 854,
                                     :y2 634,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1686875245200},
               :properties {:color "yellow"}}
              {:id #uuid "648badc9-e0f0-495d-8518-121c25f70acb",
               :page 11,
               :position {:bounding {:x1 76,
                                     :y1 420,
                                     :x2 822,
                                     :y2 683,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1686875592655},
               :properties {:color "yellow"}}
              {:id #uuid "648baeff-53e3-4240-bcb2-029abd38f1d8",
               :page 13,
               :position {:bounding {:x1 56,
                                     :y1 37,
                                     :x2 952,
                                     :y2 663,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1686875902769},
               :properties {:color "yellow"}}
              {:id #uuid "648bb0bd-ac8b-41bc-af4a-e93174691655",
               :page 15,
               :position {:bounding {:x1 154,
                                     :y1 139,
                                     :x2 788,
                                     :y2 553,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1686876347716},
               :properties {:color "yellow"}}
              {:id #uuid "648bb620-75c3-4038-8845-d6ecee1f1b50",
               :page 19,
               :position {:bounding {:x1 68,
                                     :y1 98,
                                     :x2 801,
                                     :y2 664,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1686877727101},
               :properties {:color "yellow"}}
              {:id #uuid "648bcc66-93b9-4c23-88cd-95b888ef4d61",
               :page 29,
               :position {:bounding {:x1 58,
                                     :y1 29,
                                     :x2 863,
                                     :y2 665,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1686883429159},
               :properties {:color "yellow"}}
              {:id #uuid "648bcc78-1304-4249-a540-3724b4f3fb48",
               :page 31,
               :position {:bounding {:x1 67,
                                     :y1 33,
                                     :x2 822,
                                     :y2 617,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1686883447532},
               :properties {:color "yellow"}}
              {:id #uuid "648f9a4f-711f-4d6f-94fa-6b541b8b8eb2",
               :page 55,
               :position {:bounding {:x1 73,
                                     :y1 32,
                                     :x2 1162,
                                     :y2 846,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1687132751119},
               :properties {:color "yellow"}}
              {:id #uuid "648f9a6b-f0c4-41f2-a423-55788c8e7c7c",
               :page 52,
               :position {:bounding {:x1 64,
                                     :y1 41,
                                     :x2 1118,
                                     :y2 775,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1687132778074},
               :properties {:color "yellow"}}
              {:id #uuid "648f9fc1-2a2c-4294-ae93-91c03ccf6222",
               :page 58,
               :position {:bounding {:x1 79,
                                     :y1 56,
                                     :x2 945,
                                     :y2 787,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 58},
               :content {:text "[:span]", :image 1687134144528},
               :properties {:color "yellow"}}
              {:id #uuid "648fa27b-f91f-4bf9-9b10-01e4a6cefe0a",
               :page 65,
               :position {:bounding {:x1 125,
                                     :y1 155,
                                     :x2 931,
                                     :y2 446,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1687134842512},
               :properties {:color "yellow"}}
              {:id #uuid "648fa38e-7e8e-4c20-8f88-cd70239e75de",
               :page 66,
               :position {:bounding {:x1 75,
                                     :y1 46,
                                     :x2 1153,
                                     :y2 672,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1687135116911},
               :properties {:color "yellow"}}
              {:id #uuid "648fa460-7b07-4233-b28e-80e3515642d3",
               :page 63,
               :position {:bounding {:x1 62,
                                     :y1 44,
                                     :x2 787,
                                     :y2 445,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1687135327888},
               :properties {:color "yellow"}}
              {:id #uuid "6490d5be-285b-4f4c-b383-b35068705d9d",
               :page 71,
               :position {:bounding {:x1 117,
                                     :y1 114,
                                     :x2 1143,
                                     :y2 845,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 71},
               :content {:text "[:span]", :image 1687213500631},
               :properties {:color "yellow"}}
              {:id #uuid "6490d5d1-d3e8-4482-bebb-c6e4da7dd941",
               :page 72,
               :position {:bounding {:x1 66,
                                     :y1 46,
                                     :x2 889,
                                     :y2 563,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 72},
               :content {:text "[:span]", :image 1687213520936},
               :properties {:color "red"}}
              {:id #uuid "6490d63c-7be3-48ec-b39c-c146d7f0815a",
               :page 78,
               :position {:bounding {:x1 88,
                                     :y1 58,
                                     :x2 1082,
                                     :y2 852,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 78},
               :content {:text "[:span]", :image 1687213627330},
               :properties {:color "yellow"}}
              {:id #uuid "6490d723-5cbf-4a30-9f48-fd28f6fc9a6d",
               :page 79,
               :position {:bounding {:x1 96,
                                     :y1 137,
                                     :x2 570,
                                     :y2 440,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 79},
               :content {:text "[:span]", :image 1687213858224},
               :properties {:color "yellow"}}
              {:id #uuid "6490d806-ee2d-4af1-be11-a8cb36f339ce",
               :page 82,
               :position {:bounding {:x1 62,
                                     :y1 34,
                                     :x2 1129,
                                     :y2 843,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 82},
               :content {:text "[:span]", :image 1687214085115},
               :properties {:color "yellow"}}
              {:id #uuid "6490d866-e10e-4183-b44d-b175e7a1e75a",
               :page 84,
               :position {:bounding {:x1 76,
                                     :y1 30,
                                     :x2 1117,
                                     :y2 815,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 84},
               :content {:text "[:span]", :image 1687214181270},
               :properties {:color "yellow"}}
              {:id #uuid "6490d87d-fc0a-43fb-b72e-80e8086807f8",
               :page 85,
               :position {:bounding {:x1 80,
                                     :y1 43,
                                     :x2 1150,
                                     :y2 500,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 85},
               :content {:text "[:span]", :image 1687214203912},
               :properties {:color "yellow"}}
              {:id #uuid "6490d896-52a3-4fd8-b873-2a13b36315fd",
               :page 86,
               :position {:bounding {:x1 97,
                                     :y1 45,
                                     :x2 1088,
                                     :y2 855,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 86},
               :content {:text "[:span]", :image 1687214229322},
               :properties {:color "yellow"}}
              {:id #uuid "6490d8a5-e531-46ae-838b-4e92edea6a4a",
               :page 87,
               :position {:bounding {:x1 84,
                                     :y1 44,
                                     :x2 1088,
                                     :y2 863,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 87},
               :content {:text "[:span]", :image 1687214243777},
               :properties {:color "yellow"}}
              {:id #uuid "6490d970-9846-44fb-8d06-2e4ad53347cc",
               :page 89,
               :position {:bounding {:x1 89,
                                     :y1 28,
                                     :x2 1049,
                                     :y2 812,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 89},
               :content {:text "[:span]", :image 1687214447356},
               :properties {:color "yellow"}}
              {:id #uuid "6490da85-b9d7-48b2-af93-e36ad6ebbff7",
               :page 90,
               :position {:bounding {:x1 74,
                                     :y1 30,
                                     :x2 1119,
                                     :y2 850,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 90},
               :content {:text "[:span]", :image 1687214724759},
               :properties {:color "yellow"}}
              {:id #uuid "6490dbda-f4da-407f-b8ee-8c972f8ccdb1",
               :page 92,
               :position {:bounding {:x1 74,
                                     :y1 39,
                                     :x2 1102,
                                     :y2 816,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 92},
               :content {:text "[:span]", :image 1687215065042},
               :properties {:color "yellow"}}
              {:id #uuid "6490dde9-c309-4fb1-a43f-708adf31ddbf",
               :page 93,
               :position {:bounding {:x1 93,
                                     :y1 49,
                                     :x2 1108,
                                     :y2 822,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 93},
               :content {:text "[:span]", :image 1687215592604},
               :properties {:color "yellow"}}
              {:id #uuid "6490df44-58b4-4afa-bebe-a16e1a129e26",
               :page 95,
               :position {:bounding {:x1 78,
                                     :y1 43,
                                     :x2 1094,
                                     :y2 820,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 95},
               :content {:text "[:span]", :image 1687215940069},
               :properties {:color "yellow"}}
              {:id #uuid "6490df58-6f8d-4bb3-9af7-5dbef46fddcb",
               :page 96,
               :position {:bounding {:x1 94,
                                     :y1 120,
                                     :x2 930,
                                     :y2 858,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 96},
               :content {:text "[:span]", :image 1687215958825},
               :properties {:color "yellow"}}
              {:id #uuid "6490e069-612f-4f5f-8051-5f1c4d32ef0c",
               :page 97,
               :position {:bounding {:x1 72,
                                     :y1 28,
                                     :x2 1147,
                                     :y2 732,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 97},
               :content {:text "[:span]", :image 1687216232794},
               :properties {:color "yellow"}}
              {:id #uuid "6490e08c-f325-43f0-a657-b7da862f8ae6",
               :page 98,
               :position {:bounding {:x1 66,
                                     :y1 4,
                                     :x2 1218,
                                     :y2 903,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 98},
               :content {:text "[:span]", :image 1687216266951},
               :properties {:color "yellow"}}
              {:id #uuid "6490e0c7-3e05-448f-9ce5-5644328dcecd",
               :page 99,
               :position {:bounding {:x1 66,
                                     :y1 23,
                                     :x2 1133,
                                     :y2 806,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 99},
               :content {:text "[:span]", :image 1687216326999},
               :properties {:color "yellow"}}
              {:id #uuid "6490e11d-8164-406b-849b-bc238871c74d",
               :page 100,
               :position {:bounding {:x1 84,
                                     :y1 35,
                                     :x2 1140,
                                     :y2 735,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 100},
               :content {:text "[:span]", :image 1687216412027},
               :properties {:color "yellow"}}
              {:id #uuid "6490e135-8f72-4b88-860d-4d457f90a7b6",
               :page 101,
               :position {:bounding {:x1 77,
                                     :y1 126,
                                     :x2 1113,
                                     :y2 907,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 101},
               :content {:text "[:span]", :image 1687216436936},
               :properties {:color "yellow"}}
              {:id #uuid "6490e148-41eb-46fc-9d11-fcacdf1d2d42",
               :page 102,
               :position {:bounding {:x1 67,
                                     :y1 44,
                                     :x2 1097,
                                     :y2 849,
                                     :width 1599.9999999999998,
                                     :height 899.9999999999999},
                          :rects (),
                          :page 102},
               :content {:text "[:span]", :image 1687216455871},
               :properties {:color "yellow"}}],
 :extra {:page 103}}
