{:highlights [{:id #uuid "6475418d-31a7-4173-9cd0-0a7c34632f4d",
               :page 10,
               :position {:bounding {:x1 46,
                                     :y1 120,
                                     :x2 956,
                                     :y2 594,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1685406092216},
               :properties {:color "yellow"}}
              {:id #uuid "647541df-8ba8-478f-a245-4ca8926edef6",
               :page 12,
               :position {:bounding {:x1 72,
                                     :y1 118,
                                     :x2 962,
                                     :y2 574,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1685406174039},
               :properties {:color "yellow"}}
              {:id #uuid "647541ea-471f-44d6-a162-f885f34c6372",
               :page 13,
               :position {:bounding {:x1 54,
                                     :y1 124,
                                     :x2 952,
                                     :y2 567,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1685406185836},
               :properties {:color "yellow"}}
              {:id #uuid "647541f5-367d-4811-a78a-6fb150838542",
               :page 14,
               :position {:bounding {:x1 56,
                                     :y1 124,
                                     :x2 971,
                                     :y2 580,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1685406196665},
               :properties {:color "yellow"}}
              {:id #uuid "64754213-71cc-4e5d-a47f-cf79861f5e3a",
               :page 15,
               :position {:bounding {:x1 65,
                                     :y1 135,
                                     :x2 872,
                                     :y2 568,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1685406226071},
               :properties {:color "yellow"}}
              {:id #uuid "6475422c-31b8-42fd-bddf-b0fc40faae39",
               :page 16,
               :position {:bounding {:x1 60,
                                     :y1 111,
                                     :x2 1006,
                                     :y2 598,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1685406250722},
               :properties {:color "yellow"}}
              {:id #uuid "64754a70-c623-432b-9968-f6bfa5b3af4d",
               :page 28,
               :position {:bounding {:x1 72,
                                     :y1 106,
                                     :x2 780,
                                     :y2 657,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1685408367607},
               :properties {:color "yellow"}}
              {:id #uuid "64754bc0-bfbd-4e66-9edc-f5eee0bd77e3",
               :page 31,
               :position {:bounding {:x1 71,
                                     :y1 91,
                                     :x2 1123,
                                     :y2 613,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1685408701392},
               :properties {:color "yellow"}}
              {:id #uuid "64754c6e-2214-4acd-bcb4-086511a931fa",
               :page 32,
               :position {:bounding {:x1 72,
                                     :y1 97,
                                     :x2 851,
                                     :y2 678,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1685408878002},
               :properties {:color "yellow"}}
              {:id #uuid "64754da7-cbc6-40b3-af9d-55292c1bb7b0",
               :page 56,
               :position {:bounding {:x1 62,
                                     :y1 35,
                                     :x2 945,
                                     :y2 666,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1685409191101},
               :properties {:color "yellow"}}
              {:id #uuid "64754f83-f20b-4dd7-8607-03803ddf868f",
               :page 87,
               :position {:bounding {:x1 75,
                                     :y1 92,
                                     :x2 894,
                                     :y2 628,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 87},
               :content {:text "[:span]", :image 1685409666649},
               :properties {:color "yellow"}}
              {:id #uuid "64754faa-3826-4218-a47d-95e4f4a96509",
               :page 88,
               :position {:bounding {:x1 74,
                                     :y1 90,
                                     :x2 882,
                                     :y2 674,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 88},
               :content {:text "[:span]", :image 1685409704405},
               :properties {:color "yellow"}}
              {:id #uuid "64754fff-1de3-4734-8164-eeb17d51a725",
               :page 89,
               :position {:bounding {:x1 62,
                                     :y1 92,
                                     :x2 960,
                                     :y2 662,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 89},
               :content {:text "[:span]", :image 1685409790117},
               :properties {:color "yellow"}}
              {:id #uuid "64755035-9f41-4af5-b1da-4bedaebe5371",
               :page 90,
               :position {:bounding {:x1 68,
                                     :y1 96,
                                     :x2 911,
                                     :y2 728,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 90},
               :content {:text "[:span]", :image 1685409844399},
               :properties {:color "yellow"}}
              {:id #uuid "64755044-1acd-4713-a8c3-cafab803f887",
               :page 91,
               :position {:bounding {:x1 68,
                                     :y1 94,
                                     :x2 883,
                                     :y2 613,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 91},
               :content {:text "[:span]", :image 1685409859908},
               :properties {:color "yellow"}}
              {:id #uuid "64755610-3428-4505-9585-02a5c448bb60",
               :page 100,
               :position {:bounding {:x1 79,
                                     :y1 100,
                                     :x2 747,
                                     :y2 557,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 100},
               :content {:text "[:span]", :image 1685411343964},
               :properties {:color "yellow"}}
              {:id #uuid "64755859-c0b3-42a7-b853-ce1c98682e70",
               :page 106,
               :position {:bounding {:x1 4,
                                     :y1 18,
                                     :x2 916,
                                     :y2 636,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 106},
               :content {:text "[:span]", :image 1685411928312},
               :properties {:color "yellow"}}
              {:id #uuid "647558f0-06e2-4a5a-b5c2-dafbad8266f2",
               :page 107,
               :position {:bounding {:x1 66,
                                     :y1 106,
                                     :x2 907,
                                     :y2 526,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 107},
               :content {:text "[:span]", :image 1685412078796},
               :properties {:color "yellow"}}
              {:id #uuid "64755967-da34-464c-abeb-87b6ed80b456",
               :page 101,
               :position {:bounding {:x1 70,
                                     :y1 99,
                                     :x2 878,
                                     :y2 648,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 101},
               :content {:text "[:span]", :image 1685412198863},
               :properties {:color "yellow"}}
              {:id #uuid "64755a3a-1a71-4c78-9a1f-7319e8d46010",
               :page 92,
               :position {:bounding {:x1 63,
                                     :y1 97,
                                     :x2 938,
                                     :y2 608,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 92},
               :content {:text "[:span]", :image 1685412409300},
               :properties {:color "yellow"}}
              {:id #uuid "64755a83-8d04-43fe-8854-50622a2fb3be",
               :page 93,
               :position {:bounding {:x1 61,
                                     :y1 35,
                                     :x2 925,
                                     :y2 681,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 93},
               :content {:text "[:span]", :image 1685412480257},
               :properties {:color "yellow"}}
              {:id #uuid "64755aa4-e298-47f5-9f32-0c723c0474cf",
               :page 94,
               :position {:bounding {:x1 78,
                                     :y1 121,
                                     :x2 825,
                                     :y2 650,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 94},
               :content {:text "[:span]", :image 1685412514740},
               :properties {:color "yellow"}}
              {:id #uuid "64755b1a-33f5-4fa1-b7c3-a953530c0a41",
               :page 102,
               :position {:bounding {:x1 57,
                                     :y1 34,
                                     :x2 812,
                                     :y2 673,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 102},
               :content {:text "[:span]", :image 1685412633978},
               :properties {:color "yellow"}}
              {:id #uuid "64755c95-6362-4c36-9315-1f3b1c6c6f3a",
               :page 95,
               :position {:bounding {:x1 67,
                                     :y1 23,
                                     :x2 756,
                                     :y2 573,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 95},
               :content {:text "[:span]", :image 1685413012803},
               :properties {:color "yellow"}}
              {:id #uuid "64769637-59c7-4cfd-8f13-54d1fa971952",
               :page 96,
               :position {:bounding {:x1 76,
                                     :y1 111,
                                     :x2 923,
                                     :y2 447,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 96},
               :content {:text "[:span]", :image 1685493302266},
               :properties {:color "yellow"}}
              {:id #uuid "647696c9-91a0-480e-a1cd-4417ca3c9450",
               :page 103,
               :position {:bounding {:x1 43,
                                     :y1 25,
                                     :x2 906,
                                     :y2 668,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 103},
               :content {:text "[:span]", :image 1685493447239},
               :properties {:color "yellow"}}
              {:id #uuid "64769b16-e755-4f01-bde4-4c982d9159c6",
               :page 108,
               :position {:bounding {:x1 499,
                                     :y1 91,
                                     :x2 878,
                                     :y2 401,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 108},
               :content {:text "[:span]", :image 1685494549504},
               :properties {:color "yellow"}}
              {:id #uuid "64769b30-2173-4aa6-96d5-ddfb5c31998c",
               :page 109,
               :position {:bounding {:x1 491,
                                     :y1 104,
                                     :x2 871,
                                     :y2 652,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 109},
               :content {:text "[:span]", :image 1685494575803},
               :properties {:color "yellow"}}
              {:id #uuid "64769b9e-54a1-4a8e-ab45-81ce68a73f74",
               :page 110,
               :position {:bounding {:x1 548,
                                     :y1 104,
                                     :x2 902,
                                     :y2 500,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 110},
               :content {:text "[:span]", :image 1685494685366},
               :properties {:color "yellow"}}
              {:id #uuid "64769bce-ab0d-4d58-aeee-7f88cd136bb8",
               :page 114,
               :position {:bounding {:x1 499,
                                     :y1 107,
                                     :x2 902,
                                     :y2 523,
                                     :width 1270,
                                     :height 714.375},
                          :rects (),
                          :page 114},
               :content {:text "[:span]", :image 1685494733179},
               :properties {:color "yellow"}}
              {:id #uuid "64769d01-53b1-4b44-912c-cf2ff1de8cf0",
               :page 119,
               :position {:bounding {:x1 59,
                                     :y1 31,
                                     :x2 891,
                                     :y2 536,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 119},
               :content {:text "[:span]", :image 1685495040819},
               :properties {:color "yellow"}}
              {:id #uuid "64769f16-26db-470d-836a-48dc087104bc",
               :page 122,
               :position {:bounding {:x1 138,
                                     :y1 383,
                                     :x2 757,
                                     :y2 670,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 122},
               :content {:text "[:span]", :image 1685495573274},
               :properties {:color "yellow"}}
              {:id #uuid "6476a09e-8448-484b-92b8-2f2529559226",
               :page 125,
               :position {:bounding {:x1 74,
                                     :y1 116,
                                     :x2 816,
                                     :y2 631,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 125},
               :content {:text "[:span]", :image 1685495965565},
               :properties {:color "yellow"}}
              {:id #uuid "6476a0dd-107b-45ef-8676-0b032745d1f0",
               :page 126,
               :position {:bounding {:x1 73,
                                     :y1 122,
                                     :x2 814,
                                     :y2 672,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 126},
               :content {:text "[:span]", :image 1685496026009},
               :properties {:color "yellow"}}
              {:id #uuid "6476a1df-aca7-44ba-8684-e90e021bbd19",
               :page 127,
               :position {:bounding {:x1 69,
                                     :y1 95,
                                     :x2 822,
                                     :y2 633,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 127},
               :content {:text "[:span]", :image 1685496286268},
               :properties {:color "yellow"}}
              {:id #uuid "6476a2cc-239d-4f95-9aca-b633c4408f8f",
               :page 129,
               :position {:bounding {:x1 62,
                                     :y1 94,
                                     :x2 852,
                                     :y2 641,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 129},
               :content {:text "[:span]", :image 1685496523212},
               :properties {:color "yellow"}}
              {:id #uuid "6476a311-53b6-4321-a575-03394643399b",
               :page 130,
               :position {:bounding {:x1 61,
                                     :y1 93,
                                     :x2 926,
                                     :y2 738,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 130},
               :content {:text "[:span]", :image 1685496592111},
               :properties {:color "yellow"}}
              {:id #uuid "6476a4b1-f085-4fdf-9e62-cadd93be0622",
               :page 131,
               :position {:bounding {:x1 71,
                                     :y1 90,
                                     :x2 861,
                                     :y2 366,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 131},
               :content {:text "[:span]", :image 1685497008774},
               :properties {:color "yellow"}}
              {:id #uuid "6476a5ba-5d58-4a38-abe0-ae72232de52d",
               :page 135,
               :position {:bounding {:x1 88,
                                     :y1 103,
                                     :x2 852,
                                     :y2 618,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 135},
               :content {:text "[:span]", :image 1685497273882},
               :properties {:color "yellow"}}
              {:id #uuid "6476a7c0-15d9-4385-87fd-424b4fe936bf",
               :page 136,
               :position {:bounding {:x1 16,
                                     :y1 130,
                                     :x2 619,
                                     :y2 648,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 136},
               :content {:text "[:span]", :image 1685497791156},
               :properties {:color "yellow"}}
              {:id #uuid "6476a803-53d1-4c15-ae90-4fcd5ba73f90",
               :page 139,
               :position {:bounding {:x1 36,
                                     :y1 121,
                                     :x2 849,
                                     :y2 612,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 139},
               :content {:text "[:span]", :image 1685497858179},
               :properties {:color "yellow"}}
              {:id #uuid "6476a82c-6940-485f-a519-384c8bff89c6",
               :page 140,
               :position {:bounding {:x1 29,
                                     :y1 110,
                                     :x2 918,
                                     :y2 654,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 140},
               :content {:text "[:span]", :image 1685497898747},
               :properties {:color "yellow"}}
              {:id #uuid "6476a88e-ad1e-490d-b1a5-3e70ff099ab4",
               :page 142,
               :position {:bounding {:x1 64,
                                     :y1 99,
                                     :x2 929,
                                     :y2 666,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 142},
               :content {:text "[:span]", :image 1685497997636},
               :properties {:color "yellow"}}
              {:id #uuid "6476a8e8-ec0b-4587-ad60-dd3ab78e132d",
               :page 143,
               :position {:bounding {:x1 31,
                                     :y1 95,
                                     :x2 891,
                                     :y2 681,
                                     :width 1270.0000000000002,
                                     :height 714.3750000000001},
                          :rects (),
                          :page 143},
               :content {:text "[:span]", :image 1685498088162},
               :properties {:color "yellow"}}
              {:id #uuid "6476a991-725b-4f88-ae6b-68384a1aeeea",
               :page 145,
               :position {:bounding {:x1 19,
                                     :y1 30,
                                     :x2 873,
                                     :y2 630,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 145},
               :content {:text "[:span]", :image 1685498256369},
               :properties {:color "yellow"}}
              {:id #uuid "6476aa70-7d0e-4f61-a8a8-7baa76a3bea5",
               :page 146,
               :position {:bounding {:x1 25,
                                     :y1 30,
                                     :x2 953,
                                     :y2 670,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 146},
               :content {:text "[:span]", :image 1685498479531},
               :properties {:color "yellow"}}
              {:id #uuid "6476ac23-10a2-4fec-9709-4bc7c8788d6e",
               :page 147,
               :position {:bounding {:x1 77,
                                     :y1 95,
                                     :x2 908,
                                     :y2 673,
                                     :width 1269.9999999999998,
                                     :height 714.3749999999999},
                          :rects (),
                          :page 147},
               :content {:text "[:span]", :image 1685498914296},
               :properties {:color "yellow"}}],
 :extra {:page 148}}
