{:highlights [{:id #uuid "66acbbfb-e2a9-4f7a-ba1c-e156c73a0ee5",
               :page 8,
               :position {:bounding {:x1 110.734375,
                                     :y1 322.578125,
                                     :x2 975.9957885742188,
                                     :y2 391.015625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 110.734375,
                                   :y1 322.578125,
                                   :x2 975.9957885742188,
                                   :y2 357.578125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 110.734375,
                                   :y1 356.015625,
                                   :x2 710.021728515625,
                                   :y2 391.015625,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 8},
               :content {:text "Template classes require putting the implementation in the .h file (reasons we’ll discuss later)"},
               :properties {:color "red"}}],
 :extra {:page 65}}
