{:highlights [{:id #uuid "63738c50-fcad-4db8-91a2-638756410695",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 94.703125,
                                     :x2 386.86981201171875,
                                     :y2 127.703125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 94.703125,
                                   :x2 386.86981201171875,
                                   :y2 127.703125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Compiling Overview"},
               :properties {:color "yellow"}}
              {:id #uuid "63738c6f-32cb-4e14-937b-fb8d69c71f19",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 778.556640625,
                                     :y2 297.234375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 247.71875,
                                   :x2 778.556640625,
                                   :y2 269.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 275.234375,
                                   :x2 773.2152709960938,
                                   :y2 297.234375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Compiling a program is the act of translating the human-readable code that a programmer wrote (called “source code”) into a machine-executable format. "},
               :properties {:color "yellow"}}
              {:id #uuid "63738d05-af06-4dcc-9588-6a2ad1201cf9",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 859.6192626953125,
                                     :y2 486.078125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 614.4988403320312,
                                   :y1 435.3125,
                                   :x2 859.6192626953125,
                                   :y2 457.3125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 464.078125,
                                   :x2 290.0593566894531,
                                   :y2 486.078125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "gcc, which stands for “GNU Compiler Collection.”"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
