{:highlights [{:id #uuid "66bd2d43-eb4b-4e74-812e-f075b0841420",
               :page 163,
               :position {:bounding {:x1 120.046875,
                                     :y1 268.46875,
                                     :x2 684.6348266601562,
                                     :y2 484.6875,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 120.046875,
                                   :y1 268.46875,
                                   :x2 532.058349609375,
                                   :y2 352.46875,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 431.6875,
                                   :x2 684.6348266601562,
                                   :y2 484.6875,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 163},
               :content {:text "Instructions Language of the Computer"},
               :properties {:color "red"}}
              {:id #uuid "66bd2d67-c868-46ab-be26-123afc0b3f8f",
               :page 184,
               :position {:bounding {:x1 120.046875,
                                     :y1 901.59375,
                                     :x2 800.1893920898438,
                                     :y2 947.59375,
                                     :width 992.1333333333332,
                                     :height 1403.1499999999999},
                          :rects ({:x1 120.046875,
                                   :y1 901.59375,
                                   :x2 800.1893920898438,
                                   :y2 947.59375,
                                   :width 992.1333333333332,
                                   :height 1403.1499999999999}),
                          :page 184},
               :content {:text "2.4 Signed and Unsigned Numbers"},
               :properties {:color "red"}}],
 :extra {:page 184}}
