{:highlights [{:id #uuid "679b70a1-96f5-42b4-ab97-178665c39233",
               :page 16,
               :position {:bounding {:x1 172,
                                     :y1 227,
                                     :x2 834,
                                     :y2 1131,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1738240160293},
               :properties {:color "red"}}
              {:id #uuid "67d374a6-ae58-44ca-a6c9-c7328a169620",
               :page 15,
               :position {:bounding {:x1 118.203125,
                                     :y1 521.84375,
                                     :x2 598.477294921875,
                                     :y2 541.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 118.203125,
                                   :y1 521.84375,
                                   :x2 598.477294921875,
                                   :y2 541.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 15},
               :content {:text "A non-escaped newline character may not appear in a string"},
               :properties {:color "red"}}
              {:id #uuid "67d374d1-99c0-4517-bfd0-edf003259446",
               :page 15,
               :position {:bounding {:x1 118.203125,
                                     :y1 664.671875,
                                     :x2 360.8117980957031,
                                     :y2 684.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 118.203125,
                                   :y1 664.671875,
                                   :x2 360.8117980957031,
                                   :y2 684.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 15},
               :content {:text "A string may not contain EOF."},
               :properties {:color "red"}}
              {:id #uuid "67d37651-e447-4c50-892c-e39350118ab9",
               :page 15,
               :position {:bounding {:x1 152.28125,
                                     :y1 318.75,
                                     :x2 221.4068145751953,
                                     :y2 340.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 152.28125,
                                   :y1 318.75,
                                   :x2 221.4068145751953,
                                   :y2 340.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 15},
               :content {:text "Strings"},
               :properties {:color "red"}}],
 :extra {:page 16}}
