{:highlights [{:id #uuid "6938d96d-99b5-464f-831f-f4ecc3edafd0",
               :page 8,
               :position {:bounding {:x1 158,
                                     :y1 102.2451171875,
                                     :x2 668,
                                     :y2 686.2451171875,
                                     :width 734.4,
                                     :height 950.4},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1765333356340},
               :properties {:color "yellow"}}
              {:id #uuid "6938d9b8-56ca-4f53-85d5-2254d66a9021",
               :page 9,
               :position {:bounding {:x1 175,
                                     :y1 147.26171875,
                                     :x2 791,
                                     :y2 340.26171875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1765333431287},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
