{:highlights [{:id #uuid "67ea83a9-a145-47f4-a2db-c380f93756dd",
               :page 25,
               :position {:bounding {:x1 93,
                                     :y1 112,
                                     :x2 1054,
                                     :y2 541,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1743422377618},
               :properties {:color "red"}}],
 :extra {:page 36}}
