{:highlights [{:id #uuid "67ea541b-d4fb-4525-bfdc-754a699f022c",
               :page 5,
               :position {:bounding {:x1 35,
                                     :y1 130,
                                     :x2 546,
                                     :y2 382,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1743410203677},
               :properties {:color "red"}}
              {:id #uuid "67ea5563-3ee0-48f7-8af6-994f5d0b35be",
               :page 8,
               :position {:bounding {:x1 19,
                                     :y1 121,
                                     :x2 552,
                                     :y2 391,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1743410531274},
               :properties {:color "red"}}
              {:id #uuid "67ea577a-f3b7-4107-90d3-94fd15216f9f",
               :page 15,
               :position {:bounding {:x1 71,
                                     :y1 93,
                                     :x2 1005,
                                     :y2 599,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1743411065736},
               :properties {:color "red"}}],
 :extra {:page 24}}
