{:highlights [{:id #uuid "67ea15e1-1792-4104-82ab-b465de138984",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 451.015625,
                                     :x2 582.0859375,
                                     :y2 483.015625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 451.015625,
                                   :x2 582.0859375,
                                   :y2 483.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "State Spaces and Search Problems"},
               :properties {:color "red"}}
              {:id #uuid "67ea19dc-70e4-4e75-bc7c-bd0e1718cb31",
               :page 2,
               :position {:bounding {:x1 150.03125,
                                     :y1 823.515625,
                                     :x2 321.407958984375,
                                     :y2 850.515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 823.515625,
                                   :x2 321.407958984375,
                                   :y2 850.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "State Space Size"},
               :properties {:color "red"}}
              {:id #uuid "67ea1a36-534a-4553-8530-e642bb99fb75",
               :page 3,
               :position {:bounding {:x1 150.03125,
                                     :y1 733.234375,
                                     :x2 542.1107788085938,
                                     :y2 760.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 733.234375,
                                   :x2 542.1107788085938,
                                   :y2 760.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "State Space Graphs and Search Trees"},
               :properties {:color "red"}}
              {:id #uuid "67ea1ad9-3e23-4873-8511-0f418690bf3b",
               :page 4,
               :position {:bounding {:x1 150.03125,
                                     :y1 768.34375,
                                     :x2 390.08642578125,
                                     :y2 800.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 768.34375,
                                   :x2 390.08642578125,
                                   :y2 800.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Uninformed Search"},
               :properties {:color "red"}}
              {:id #uuid "67ea1e00-857c-43a2-8276-90c49edbafe4",
               :page 5,
               :position {:bounding {:x1 150.03125,
                                     :y1 1064.546875,
                                     :x2 349.5522766113281,
                                     :y2 1091.546875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 1064.546875,
                                   :x2 349.5522766113281,
                                   :y2 1091.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Depth-First Search"},
               :properties {:color "red"}}
              {:id #uuid "67ea1ecf-5f77-4787-ad4c-6270b5c1ba96",
               :page 6,
               :position {:bounding {:x1 150.03125,
                                     :y1 795.40625,
                                     :x2 369.56768798828125,
                                     :y2 822.40625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 795.40625,
                                   :x2 369.56768798828125,
                                   :y2 822.40625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Breadth-First Search"},
               :properties {:color "red"}}
              {:id #uuid "67ea1fcf-01a6-48d4-b6e5-9ef60b7e5481",
               :page 7,
               :position {:bounding {:x1 150.03125,
                                     :y1 420.65625,
                                     :x2 368.822265625,
                                     :y2 447.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 420.65625,
                                   :x2 368.822265625,
                                   :y2 447.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Uniform Cost Search"},
               :properties {:color "red"}}],
 :extra {:page 7}}
