{:highlights [{:id #uuid "67ea5221-3d47-4b3a-bf2f-1c82440d87a8",
               :page 55,
               :position {:bounding {:x1 40,
                                     :y1 108,
                                     :x2 1032,
                                     :y2 571,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1743409697127},
               :properties {:color "red"}}],
 :extra {:page 17}}
