{:highlights [{:id #uuid "67e4a007-6029-4352-8b6e-b3f03e79ffee",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 500.71875,
                                     :x2 930.041259765625,
                                     :y2 565.875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 500.71875,
                                   :x2 929.9678955078125,
                                   :y2 520.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 523.296875,
                                   :x2 930.041259765625,
                                   :y2 543.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 545.875,
                                   :x2 279.8660888671875,
                                   :y2 565.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "In artificial intelligence, the central problem at hand is that of the creation of a rational agent, an entity that has goals or preferences and tries to perform a series of actions that yield the best/optimal expected outcome given these goals"},
               :properties {:color "red"}}
              {:id #uuid "67e4a07f-a910-402b-a92b-9d1803bd3e5e",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 545.875,
                                     :x2 929.975830078125,
                                     :y2 588.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 289.1318054199219,
                                   :y1 545.875,
                                   :x2 929.975830078125,
                                   :y2 565.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 568.4375,
                                   :x2 850.84375,
                                   :y2 588.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Rational agents exist in an environment, which is specific to the given instantiation of the agent. Agents use sensors to interact with the environment and act on it using actuators. "},
               :properties {:color "red"}}
              {:id #uuid "67e4a10a-602c-4f1a-95bd-5d8bab1f9e2c",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 613.578125,
                                     :x2 929.7276611328125,
                                     :y2 656.15625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 479.31622314453125,
                                   :y1 613.578125,
                                   :x2 929.7276611328125,
                                   :y2 633.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 636.15625,
                                   :x2 260.875,
                                   :y2 656.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Together, an environment and the agents that reside within it create a world."},
               :properties {:color "red"}}
              {:id #uuid "67e4a131-49e9-4948-84a3-72b027642339",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 667.046875,
                                     :x2 930.0253295898438,
                                     :y2 709.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 667.046875,
                                   :x2 930.0253295898438,
                                   :y2 687.046875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 689.75,
                                   :x2 480.2720642089844,
                                   :y2 709.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "A reflex agent is one that doesn’t think about the consequences of its actions, but rather selects an action based solely on the current state of the world."},
               :properties {:color "red"}}
              {:id #uuid "67e4a1ab-0409-4e3b-a3ca-10b09975453c",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 689.75,
                                     :x2 930.5,
                                     :y2 732.3125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 484.5077209472656,
                                   :y1 689.75,
                                   :x2 930.5,
                                   :y2 709.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 712.3125,
                                   :x2 854.4512939453125,
                                   :y2 732.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "These agents are typically outperformed by planning agents, which maintain a model of the world and use this model to simulate performing various actions."},
               :properties {:color "yellow"}}
              {:id #uuid "67e4a2a6-d672-49dc-8387-e2c1f9918f80",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 712.3125,
                                     :x2 929.734130859375,
                                     :y2 754.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 858.795654296875,
                                   :y1 712.3125,
                                   :x2 929.734130859375,
                                   :y2 732.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 734.890625,
                                   :x2 802.0089111328125,
                                   :y2 754.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Then, the agent can determine hypothesized consequences of the actions and can select the best one"},
               :properties {:color "blue"}}
              {:id #uuid "67e4a983-e282-404f-9bfe-8f8f506cb66b",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 810.921875,
                                     :x2 930.0092163085938,
                                     :y2 853.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 810.921875,
                                   :x2 930.0092163085938,
                                   :y2 830.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 833.5,
                                   :x2 235.7781982421875,
                                   :y2 853.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "To define the task environment we use the PEAS (Performance Measure, Environment, Actuators, Sensors) description."},
               :properties {:color "red"}}
              {:id #uuid "67e4a9b9-3f7f-4c50-adce-11a9177649aa",
               :page 1,
               :position {:bounding {:x1 240.117431640625,
                                     :y1 833.5,
                                     :x2 799.2745971679688,
                                     :y2 853.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 240.117431640625,
                                   :y1 833.5,
                                   :x2 799.2745971679688,
                                   :y2 853.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The performance measure describes what utility the agent tries to increase."},
               :properties {:color "yellow"}}
              {:id #uuid "67e4abcf-102c-4a79-bcd2-30297486b8d1",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 833.5,
                                     :x2 929.4375,
                                     :y2 876.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 803.6138305664062,
                                   :y1 833.5,
                                   :x2 929.4375,
                                   :y2 853.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 856.0625,
                                   :x2 591.8900146484375,
                                   :y2 876.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The environment summarizes where the agent acts and what affects the agent. "},
               :properties {:color "red"}}
              {:id #uuid "67e4abf6-b08f-4ffc-b277-8261beeb8674",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 856.0625,
                                     :x2 929.7510375976562,
                                     :y2 898.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 601.6925048828125,
                                   :y1 856.0625,
                                   :x2 929.7510375976562,
                                   :y2 876.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 878.640625,
                                   :x2 719.1251220703125,
                                   :y2 898.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "he actuators and the sensors are the methods with which the agent acts on the environment and receives information from it"},
               :properties {:color "red"}}
              {:id #uuid "67e4ac2e-2191-4ab9-88d9-d2d6d9c00299",
               :page 1,
               :position {:bounding {:x1 150.03125,
                                     :y1 909.53125,
                                     :x2 929.9827270507812,
                                     :y2 952.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150.03125,
                                   :y1 909.53125,
                                   :x2 929.9827270507812,
                                   :y2 929.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.03125,
                                   :y1 932.09375,
                                   :x2 504.19915771484375,
                                   :y2 952.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The design of an agent heavily depends on the type of environment the agents acts upon. We can characterize the types of environments in the following ways."},
               :properties {:color "red"}}
              {:id #uuid "67e4ac62-1f8c-413c-addc-38f3bb3b6ada",
               :page 1,
               :position {:bounding {:x1 193.15402221679688,
                                     :y1 976.578125,
                                     :x2 930.0274658203125,
                                     :y2 1041.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 193.15402221679688,
                                   :y1 976.578125,
                                   :x2 929.9977416992188,
                                   :y2 996.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.421875,
                                   :y1 999.28125,
                                   :x2 930.0274658203125,
                                   :y2 1019.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.421875,
                                   :y1 1021.859375,
                                   :x2 771.884765625,
                                   :y2 1041.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "In partially observable environments, the agent does not have full information about the state and thus the agent must have an internal estimate of the state of the world. This is in contrast to fully observable environments, where the agent has full information about their state"},
               :properties {:color "red"}}
              {:id #uuid "67e4ac83-44ab-4e65-a8f3-289a92a18333",
               :page 1,
               :position {:bounding {:x1 195.421875,
                                     :y1 1057.234375,
                                     :x2 930.051513671875,
                                     :y2 1144.953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.421875,
                                   :y1 1057.234375,
                                   :x2 930.041259765625,
                                   :y2 1077.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.421875,
                                   :y1 1079.8125,
                                   :x2 930.051513671875,
                                   :y2 1099.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.421875,
                                   :y1 1102.375,
                                   :x2 929.9956665039062,
                                   :y2 1122.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.421875,
                                   :y1 1124.953125,
                                   :x2 252.47711181640625,
                                   :y2 1144.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Stochastic environments have uncertainty in the transition model, i.e. taking an action in a specific state may have multiple possible outcomes with different probabilities. This is in contrast to deterministic environments, where taking an action in a state has a single outcome that is guaranteed to happen."},
               :properties {:color "red"}}],
 :extra {:page 1}}
