{:highlights [{:id #uuid "659b752e-3c39-4d89-b741-235df2542830",
               :page 10,
               :position {:bounding {:x1 27,
                                     :y1 187,
                                     :x2 1041,
                                     :y2 451,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1704686892562},
               :properties {:color "yellow"}}
              {:id #uuid "659b7562-7c5e-4024-9030-2cecdaf82079",
               :page 15,
               :position {:bounding {:x1 106,
                                     :y1 167,
                                     :x2 965,
                                     :y2 594,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1704686944125},
               :properties {:color "yellow"}}
              {:id #uuid "659b7695-291c-4fdb-8280-bbb6cb96557b",
               :page 17,
               :position {:bounding {:x1 30,
                                     :y1 278,
                                     :x2 1029,
                                     :y2 601.3125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1704687250443},
               :properties {:color "yellow"}}
              {:id #uuid "659b7712-7236-4440-82cb-24a0c4d0d8de",
               :page 18,
               :position {:bounding {:x1 26,
                                     :y1 319,
                                     :x2 1001,
                                     :y2 576,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1704687375772},
               :properties {:color "yellow"}}
              {:id #uuid "659b7770-6e45-4c50-8ba0-8fc951aba640",
               :page 19,
               :position {:bounding {:x1 35,
                                     :y1 304,
                                     :x2 1046,
                                     :y2 600.9375,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1704687469494},
               :properties {:color "yellow"}}
              {:id #uuid "659b79af-a569-4489-9612-43973ea8a5b0",
               :page 30,
               :position {:bounding {:x1 559,
                                     :y1 69,
                                     :x2 1047,
                                     :y2 431,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1704688045192},
               :properties {:color "yellow"}}
              {:id #uuid "659b79da-4f5b-4f98-bc47-0b8fd0ce65d6",
               :page 31,
               :position {:bounding {:x1 540,
                                     :y1 73,
                                     :x2 1039,
                                     :y2 400,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1704688087830},
               :properties {:color "yellow"}}
              {:id #uuid "659b7a0e-31e3-43b4-a44d-610c36eb80db",
               :page 33,
               :position {:bounding {:x1 551,
                                     :y1 75,
                                     :x2 993,
                                     :y2 391,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1704688137865},
               :properties {:color "yellow"}}
              {:id #uuid "659b7a32-76ce-4ff9-9d0b-0625e614fcd4",
               :page 32,
               :position {:bounding {:x1 545,
                                     :y1 83,
                                     :x2 1005,
                                     :y2 390,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1704688175884},
               :properties {:color "yellow"}}
              {:id #uuid "659b8a8b-d217-4a1e-88e1-1390cffc880f",
               :page 37,
               :position {:bounding {:x1 29,
                                     :y1 69,
                                     :x2 1034,
                                     :y2 405,
                                     :width 1069.0000000000002,
                                     :height 601.3125000000001},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1704692360439},
               :properties {:color "yellow"}}
              {:id #uuid "659ccb8f-aedb-44e1-95a6-7c34c926e288",
               :page 44,
               :position {:bounding {:x1 5,
                                     :y1 87,
                                     :x2 1049,
                                     :y2 431,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1704774538693},
               :properties {:color "yellow"}}],
 :extra {:page 44}}
