{:highlights [{:id #uuid "64ebf296-b760-4555-a4a9-2b1772d34c22",
               :page 36,
               :position {:bounding {:x1 17,
                                     :y1 21,
                                     :x2 1189,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1693184661813},
               :properties {:color "yellow"}}
              {:id #uuid "64ebf342-cf06-43ce-8c1b-7b45b5f76cf2",
               :page 35,
               :position {:bounding {:x1 27,
                                     :y1 25,
                                     :x2 910,
                                     :y2 614,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1693184833402},
               :properties {:color "yellow"}}
              {:id #uuid "64ebf368-8673-46ee-a5e3-42deeafeccb1",
               :page 39,
               :position {:bounding {:x1 3,
                                     :y1 22,
                                     :x2 1200,
                                     :y2 669,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1693184871476},
               :properties {:color "yellow"}}],
 :extra {:page 41}}
