{:highlights [{:id #uuid "65e132ff-6334-4777-8254-f3069967589a",
               :page 18,
               :position {:bounding {:x1 10,
                                     :y1 87,
                                     :x2 1199.5,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1709257469632},
               :properties {:color "yellow"}}
              {:id #uuid "65e1336f-66b2-48cf-8004-7a4f2c9fa8ee",
               :page 31,
               :position {:bounding {:x1 32,
                                     :y1 86,
                                     :x2 1191,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1709257582712},
               :properties {:color "yellow"}}
              {:id #uuid "65e13424-d77a-4860-81f6-0b5b9ed280e6",
               :page 36,
               :position {:bounding {:x1 24,
                                     :y1 85,
                                     :x2 1199.5,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1709257763271},
               :properties {:color "yellow"}}
              {:id #uuid "65e134f8-fce8-4c3d-ad25-362861466fe5",
               :page 46,
               :position {:bounding {:x1 6,
                                     :y1 62,
                                     :x2 1199.5,
                                     :y2 673,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1709257974057},
               :properties {:color "yellow"}}],
 :extra {:page 47}}
