{:highlights [{:id #uuid "65a5cd73-053b-4a3c-9dcd-5f12b9a5564f",
               :page 10,
               :position {:bounding {:x1 29,
                                     :y1 89,
                                     :x2 1194,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1705364850320},
               :properties {:color "yellow"}}
              {:id #uuid "65a5cf75-31ba-4697-aac2-7576848cace8",
               :page 14,
               :position {:bounding {:x1 2,
                                     :y1 96,
                                     :x2 1200,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1705365362386},
               :properties {:color "yellow"}}
              {:id #uuid "65a5d11f-666b-4bc8-873f-c6fcd4859552",
               :page 34,
               :position {:bounding {:x1 20,
                                     :y1 84,
                                     :x2 1170,
                                     :y2 669,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1705365790722},
               :properties {:color "yellow"}}
              {:id #uuid "65a5d1ab-8047-49ef-b468-25b3416ff2ea",
               :page 37,
               :position {:bounding {:x1 20,
                                     :y1 88,
                                     :x2 1175,
                                     :y2 670,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1705365930685},
               :properties {:color "yellow"}}
              {:id #uuid "6656e818-7c15-453b-bc81-87a4fa1d3bdc",
               :page 36,
               :position {:bounding {:x1 21,
                                     :y1 178,
                                     :x2 1048,
                                     :y2 570,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1716971543830},
               :properties {:color "green"}}
              {:id #uuid "6656e827-3144-4a22-acaa-d72644299d07",
               :page 35,
               :position {:bounding {:x1 749,
                                     :y1 415,
                                     :x2 1061,
                                     :y2 600,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1716971557788},
               :properties {:color "green"}}],
 :extra {:page 42}}
