{:highlights [{:id #uuid "64e564e1-7d3e-4a6a-97ee-92bb7d874a0d",
               :page 10,
               :position {:bounding {:x1 14,
                                     :y1 23,
                                     :x2 1200,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1692755167820},
               :properties {:color "yellow"}}
              {:id #uuid "64e5650d-da82-48e8-80f3-954c04239201",
               :page 14,
               :position {:bounding {:x1 5,
                                     :y1 15,
                                     :x2 1200,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1692755213031},
               :properties {:color "yellow"}}
              {:id #uuid "64e565db-e4e6-4bbf-87d5-d5f38eeca736",
               :page 15,
               :position {:bounding {:x1 13,
                                     :y1 27,
                                     :x2 1123,
                                     :y2 662,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1692755418390},
               :properties {:color "yellow"}}
              {:id #uuid "64e56673-d58b-434e-a806-022130871d4e",
               :page 19,
               :position {:bounding {:x1 17,
                                     :y1 27,
                                     :x2 1127,
                                     :y2 658,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1692755570424},
               :properties {:color "yellow"}}
              {:id #uuid "64e5672f-09d2-4a52-be65-c9d2ac5eb35a",
               :page 22,
               :position {:bounding {:x1 21,
                                     :y1 17,
                                     :x2 1141,
                                     :y2 535,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1692755758175},
               :properties {:color "yellow"}}
              {:id #uuid "64e56784-8a37-4b9b-b419-54a2488cef30",
               :page 24,
               :position {:bounding {:x1 1,
                                     :y1 22,
                                     :x2 1200,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1692755843418},
               :properties {:color "yellow"}}],
 :extra {:page 24}}
