{:highlights [{:id #uuid "65a9c4ac-9b02-4fd3-b4bf-e09abe1a0b40",
               :page 31,
               :position {:bounding {:x1 301,
                                     :y1 134,
                                     :x2 513,
                                     :y2 284,
                                     :width 532,
                                     :height 299.25},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1705624746381},
               :properties {:color "yellow"}}
              {:id #uuid "65a9d57f-6c1a-4840-934b-d2eadb75c791",
               :page 28,
               :position {:bounding {:x1 36,
                                     :y1 156,
                                     :x2 1135,
                                     :y2 395,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1705629054839},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
