{:highlights [{:id #uuid "66c85153-69b6-4a06-b42d-ab35a4e1dd43",
               :page 29,
               :position {:bounding {:x1 401,
                                     :y1 77,
                                     :x2 1044,
                                     :y2 561,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1724404051133},
               :properties {:color "red"}}],
 :extra {:page 29}}
