{:highlights [{:id #uuid "6631aa37-f162-4308-bbea-0da893437ca3",
               :page 7,
               :position {:bounding {:x1 1,
                                     :y1 68,
                                     :x2 1200.078125,
                                     :y2 639,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1714530870125},
               :properties {:color "yellow"}}
              {:id #uuid "6631aae2-8336-464d-b89c-5a7d992b5a38",
               :page 9,
               :position {:bounding {:x1 3,
                                     :y1 6,
                                     :x2 1183,
                                     :y2 670,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1714531041335},
               :properties {:color "yellow"}}
              {:id #uuid "6631abb2-01d3-47a2-8b70-20ad66362b40",
               :page 10,
               :position {:bounding {:x1 5,
                                     :y1 11,
                                     :x2 1200.078125,
                                     :y2 666,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1714531249507},
               :properties {:color "yellow"}}
              {:id #uuid "6631ac18-ab3e-4804-b26d-544512c7cab8",
               :page 5,
               :position {:bounding {:x1 33.109375,
                                     :y1 22.015625,
                                     :x2 587.316650390625,
                                     :y2 66.015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 33.109375,
                                   :y1 22.015625,
                                   :x2 587.316650390625,
                                   :y2 66.015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 5},
               :content {:text "Important Data Structures in Java"},
               :properties {:color "yellow"}}
              {:id #uuid "6631ac25-b157-470e-84e7-2495e9165a67",
               :page 6,
               :position {:bounding {:x1 33.109375,
                                     :y1 22.015625,
                                     :x2 1103.62109375,
                                     :y2 66.015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 33.109375,
                                   :y1 22.015625,
                                   :x2 1103.62109375,
                                   :y2 66.015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 6},
               :content {:text "Mathematical Analysis of Data Structure/Algorithm Performance"},
               :properties {:color "yellow"}}
              {:id #uuid "6631ac40-c9c3-498a-a254-200f8549adde",
               :page 11,
               :position {:bounding {:x1 33.109375,
                                     :y1 22.015625,
                                     :x2 327.2983703613281,
                                     :y2 66.015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 33.109375,
                                   :y1 22.015625,
                                   :x2 327.2983703613281,
                                   :y2 66.015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 11},
               :content {:text "Fun/Weird Topics "},
               :properties {:color "yellow"}}
              {:id #uuid "6631ac48-e73f-43fb-a418-1f6dc592b234",
               :page 12,
               :position {:bounding {:x1 33.109375,
                                     :y1 22.015625,
                                     :x2 511.03656005859375,
                                     :y2 66.015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 33.109375,
                                   :y1 22.015625,
                                   :x2 511.03656005859375,
                                   :y2 66.015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 12},
               :content {:text "The Practice of Programming"},
               :properties {:color "red"}}],
 :extra {:page 12}}
