{:highlights [{:id #uuid "64e31960-9b6a-4d85-aaaf-9c868d11dbc8",
               :page 27,
               :position {:bounding {:x1 4,
                                     :y1 14,
                                     :x2 1200,
                                     :y2 655,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1692604768179},
               :properties {:color "yellow"}}
              {:id #uuid "64e31a03-d149-4b6e-96fc-9dee09818e66",
               :page 29,
               :position {:bounding {:x1 12,
                                     :y1 24,
                                     :x2 1194,
                                     :y2 628,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1692604930108},
               :properties {:color "yellow"}}],
 :extra {:page 30}}
