{:highlights [{:id #uuid "66318c5a-15be-45d4-9bb1-f8ba7d0d88d2",
               :page 14,
               :position {:bounding {:x1 180.96875,
                                     :y1 210.015625,
                                     :x2 887.3692626953125,
                                     :y2 290.015625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 180.96875,
                                   :y1 210.015625,
                                   :x2 887.3692626953125,
                                   :y2 290.015625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 14},
               :content {:text "Kolmogorov Complexity"},
               :properties {:color "yellow"}}
              {:id #uuid "66318da0-7644-4aa2-8021-02672d3625ce",
               :page 20,
               :position {:bounding {:x1 178.9375,
                                     :y1 218.140625,
                                     :x2 889.1910400390625,
                                     :y2 383.890625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 180.765625,
                                   :y1 218.140625,
                                   :x2 887.5249633789062,
                                   :y2 298.140625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 178.9375,
                                   :y1 303.890625,
                                   :x2 889.1910400390625,
                                   :y2 383.890625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 20},
               :content {:text "Problem Difficulty: How Hard is Independent Set"},
               :properties {:color "yellow"}}],
 :extra {:page 43}}
