{:highlights [{:id #uuid "662861c5-9c3b-4e1f-a3a3-2f3b2bf3aba7",
               :page 34,
               :position {:bounding {:x1 238.8125,
                                     :y1 260.109375,
                                     :x2 828.3221435546875,
                                     :y2 340.109375,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 238.8125,
                                   :y1 260.109375,
                                   :x2 828.3221435546875,
                                   :y2 340.109375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 34},
               :content {:text "Ternary Search Tries"},
               :properties {:color "yellow"}}
              {:id #uuid "662861d7-5eb1-4b5c-9479-6ddba7d87ad7",
               :page 35,
               :position {:bounding {:x1 301.0491027832031,
                                     :y1 86.203125,
                                     :x2 941.9523010253906,
                                     :y2 119.203125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 301.0491027832031,
                                   :y1 86.203125,
                                   :x2 941.9523010253906,
                                   :y2 119.203125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Redesign Trie so that we have a fixed number of links"},
               :properties {:color "red"}}
              {:id #uuid "662861ec-2fa9-42e4-aed5-fe579a79c652",
               :page 35,
               :position {:bounding {:x1 219.7626495361328,
                                     :y1 175.265625,
                                     :x2 502.2930450439453,
                                     :y2 208.265625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 219.7626495361328,
                                   :y1 175.265625,
                                   :x2 502.2930450439453,
                                   :y2 208.265625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "The Ternary Search Trie"},
               :properties {:color "red"}}
              {:id #uuid "662861f4-e5d6-4db8-8015-7d8fbd0541e1",
               :page 35,
               :position {:bounding {:x1 91.8125,
                                     :y1 219.8125,
                                     :x2 473.9510192871094,
                                     :y2 252.8125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 91.8125,
                                   :y1 219.8125,
                                   :x2 473.9510192871094,
                                   :y2 252.8125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Assign a character to each node"},
               :properties {:color "red"}}
              {:id #uuid "66286221-e430-40c1-9cc8-9fb2a38c32c8",
               :page 35,
               :position {:bounding {:x1 91.8125,
                                     :y1 255.46875,
                                     :x2 367.7100524902344,
                                     :y2 288.46875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 91.8125,
                                   :y1 255.46875,
                                   :x2 367.7100524902344,
                                   :y2 288.46875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Give each node 3 links:"},
               :properties {:color "yellow"}}
              {:id #uuid "66286225-81c9-43c4-ac9a-13bd6275d393",
               :page 35,
               :position {:bounding {:x1 145.265625,
                                     :y1 291.078125,
                                     :x2 739.9981079101562,
                                     :y2 324.078125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 145.265625,
                                   :y1 291.078125,
                                   :x2 739.9981079101562,
                                   :y2 324.078125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Left link if key’s next character < node’s character."},
               :properties {:color "green"}}
              {:id #uuid "6628622b-a1f6-4417-8ca6-fd69cde32536",
               :page 35,
               :position {:bounding {:x1 145.265625,
                                     :y1 326.734375,
                                     :x2 793.708984375,
                                     :y2 359.734375,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 145.265625,
                                   :y1 326.734375,
                                   :x2 793.708984375,
                                   :y2 359.734375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Middle link if key’s next character == node’s character."},
               :properties {:color "blue"}}
              {:id #uuid "66286237-611b-4b97-b0ba-848859cf4445",
               :page 35,
               :position {:bounding {:x1 145.265625,
                                     :y1 362.328125,
                                     :x2 756.1170654296875,
                                     :y2 395.328125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 145.265625,
                                   :y1 362.328125,
                                   :x2 756.1170654296875,
                                   :y2 395.328125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 35},
               :content {:text "Right link if key’s next character > node’s character."},
               :properties {:color "purple"}}
              {:id #uuid "66286372-25a7-4ff9-a7ee-1ff96c673589",
               :page 42,
               :position {:bounding {:x1 23,
                                     :y1 95,
                                     :x2 700,
                                     :y2 417,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1713922928778},
               :properties {:color "yellow"}}],
 :extra {:page 35}}
