{:highlights [{:id #uuid "660b78b4-c49d-409f-a14e-78e1ff95ef6b",
               :page 5,
               :position {:bounding {:x1 17,
                                     :y1 86.347900390625,
                                     :x2 1123,
                                     :y2 634.347900390625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1712027826150},
               :properties {:color "red"}}
              {:id #uuid "660b7b41-751b-4c38-989b-d9d844f2706a",
               :page 18,
               :position {:bounding {:x1 942,
                                     :y1 326.1796875,
                                     :x2 1148,
                                     :y2 631.1796875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1712028480172},
               :properties {:color "yellow"}}
              {:id #uuid "660b7b78-bf4a-4e1e-928f-ea652b625453",
               :page 19,
               :position {:bounding {:x1 942,
                                     :y1 176.900390625,
                                     :x2 1152,
                                     :y2 497.900390625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1712028535763},
               :properties {:color "yellow"}}
              {:id #uuid "660b7bcc-455e-419d-9947-575eb42d0a2f",
               :page 21,
               :position {:bounding {:x1 7,
                                     :y1 361.341796875,
                                     :x2 306,
                                     :y2 660.341796875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1712028618940},
               :properties {:color "yellow"}}],
 :extra {:page 22}}
