{:highlights [{:id #uuid "65ee5cca-8ee5-4c07-9530-6c179309002c",
               :page 37,
               :position {:bounding {:x1 34,
                                     :y1 82.197265625,
                                     :x2 1174,
                                     :y2 611.197265625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1710120137082},
               :properties {:color "yellow"}}],
 :extra {:page 37}}
