{:highlights [{:id #uuid "65e137e3-6fbe-4729-a56e-64e830a70c33",
               :page 6,
               :position {:bounding {:x1 19,
                                     :y1 100,
                                     :x2 1130,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1709258722711},
               :properties {:color "yellow"}}
              {:id #uuid "65e13820-9a53-4b22-b165-d672b6e9f742",
               :page 19,
               :position {:bounding {:x1 19,
                                     :y1 93,
                                     :x2 1170,
                                     :y2 675,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1709258782863},
               :properties {:color "yellow"}}],
 :extra {:page 19}}
