{:highlights [{:id #uuid "65f19e73-7910-4abe-9c99-03644c77b47e",
               :page 25,
               :position {:bounding {:x1 15,
                                     :y1 13,
                                     :x2 924,
                                     :y2 600.8125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1710333554664},
               :properties {:color "yellow"}}],
 :extra {:page 25}}
