{:highlights [{:id #uuid "662f4e81-aa57-45b5-83b4-b9551db5e252",
               :page 3,
               :position {:bounding {:x1 150,
                                     :y1 320,
                                     :x2 872,
                                     :y2 530,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1714376320923},
               :properties {:color "yellow"}}
              {:id #uuid "662f4e9a-ee7e-4a7b-865e-eb8666785418",
               :page 3,
               :position {:bounding {:x1 164.828125,
                                     :y1 132.890625,
                                     :x2 319.3048095703125,
                                     :y2 154.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 132.890625,
                                   :x2 319.3048095703125,
                                   :y2 154.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Bit Manipulations"},
               :properties {:color "yellow"}}
              {:id #uuid "662f4eb6-3eeb-4dc7-a801-cf33d6cb4542",
               :page 3,
               :position {:bounding {:x1 164.828125,
                                     :y1 570.21875,
                                     :x2 425.92529296875,
                                     :y2 592.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 570.21875,
                                   :x2 425.92529296875,
                                   :y2 592.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Two’s Complement Arithmetic"},
               :properties {:color "red"}}
              {:id #uuid "662f4ed3-5fe8-4cbf-a17d-09f003cc4aec",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 662,
                                     :x2 949,
                                     :y2 877,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1714376402375},
               :properties {:color "yellow"}}
              {:id #uuid "662f4ee1-5eb1-48f7-acfd-e8849657c263",
               :page 3,
               :position {:bounding {:x1 164.828125,
                                     :y1 915.125,
                                     :x2 387.56378173828125,
                                     :y2 937.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 164.828125,
                                   :y1 915.125,
                                   :x2 387.56378173828125,
                                   :y2 937.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Floating-Point Operations"},
               :properties {:color "red"}}
              {:id #uuid "662f4efa-eb57-4ad8-8744-93941bcb8ba5",
               :page 4,
               :position {:bounding {:x1 236,
                                     :y1 181,
                                     :x2 782,
                                     :y2 299,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1714376441668},
               :properties {:color "yellow"}}
              {:id #uuid "662f4f15-ef17-48ef-859f-951bffcb96c1",
               :page 4,
               :position {:bounding {:x1 296.6801452636719,
                                     :y1 384.59375,
                                     :x2 804.2169189453125,
                                     :y2 410.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 296.6801452636719,
                                   :y1 384.59375,
                                   :x2 349.34375,
                                   :y2 410.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 345.265625,
                                   :y1 388.59375,
                                   :x2 804.2169189453125,
                                   :y2 406.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "show helps you understand the structure of ﬂoating point numbers"},
               :properties {:color "red"}}
              {:id #uuid "662f4f3c-c565-450f-b5db-fa033ed6006c",
               :page 4,
               :position {:bounding {:x1 109,
                                     :y1 434,
                                     :x2 941,
                                     :y2 938,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1714376507085},
               :properties {:color "red"}}
              {:id #uuid "662f4f66-1deb-4b0f-8d08-7572961b719d",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 452.34375,
                                     :x2 396.8502197265625,
                                     :y2 478.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 452.34375,
                                   :x2 137.96875,
                                   :y2 478.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.75,
                                   :y1 452.34375,
                                   :x2 396.8502197265625,
                                   :y2 478.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "7 Autograding your work"},
               :properties {:color "yellow"}}
              {:id #uuid "662f4f96-016c-4443-9889-c11cb095b709",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 1013.734375,
                                     :x2 277.25335693359375,
                                     :y2 1039.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1013.734375,
                                   :x2 137.96875,
                                   :y2 1039.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.75,
                                   :y1 1013.734375,
                                   :x2 277.25335693359375,
                                   :y2 1039.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "5 The Puzzles"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
