{:highlights [{:id #uuid "667ba28d-fce8-4850-80f8-a389bb0de8f0",
               :page 1,
               :position {:bounding {:x1 115,
                                     :y1 377,
                                     :x2 674,
                                     :y2 412,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719378572778},
               :properties {:color "red"}}
              {:id #uuid "667ba29a-b90d-4867-bbdd-51a5fb346365",
               :page 1,
               :position {:bounding {:x1 113,
                                     :y1 857,
                                     :x2 908,
                                     :y2 966,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719378585386},
               :properties {:color "red"}}
              {:id #uuid "667ba612-e374-4c69-a16a-dbf65c8a0845",
               :page 2,
               :position {:bounding {:x1 127,
                                     :y1 156,
                                     :x2 1012.71875,
                                     :y2 471.078125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719380677179},
               :properties {:color "red"}}
              {:id #uuid "667baada-b711-4b71-b2bc-39825eb15406",
               :page 2,
               :position {:bounding {:x1 126,
                                     :y1 488,
                                     :x2 1020,
                                     :y2 1335,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719380696830},
               :properties {:color "red"}}
              {:id #uuid "667baaeb-1f23-45fc-a18e-40e47b457d73",
               :page 3,
               :position {:bounding {:x1 161,
                                     :y1 104,
                                     :x2 1021,
                                     :y2 203,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719380714081},
               :properties {:color "red"}}],
 :extra {:page 3}}
