{:highlights [{:id #uuid "66a74043-447c-415d-9dfd-99a66412ab55",
               :page 1,
               :position {:bounding {:x1 133,
                                     :y1 720,
                                     :x2 900,
                                     :y2 828,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1722236994435},
               :properties {:color "red"}}
              {:id #uuid "66a7407c-bbbf-4b9e-b8aa-75bab332b0c4",
               :page 2,
               :position {:bounding {:x1 141,
                                     :y1 118,
                                     :x2 900,
                                     :y2 641,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1722237048325},
               :properties {:color "red"}}
              {:id #uuid "66a74095-4b54-4f56-b50f-864540361436",
               :page 2,
               :position {:bounding {:x1 137,
                                     :y1 643,
                                     :x2 886,
                                     :y2 1178,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1722237076113},
               :properties {:color "red"}}
              {:id #uuid "66a740a4-f030-4630-9875-4e8253e4e865",
               :page 3,
               :position {:bounding {:x1 138,
                                     :y1 128,
                                     :x2 888,
                                     :y2 330,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1722237091399},
               :properties {:color "red"}}
              {:id #uuid "66a74796-d903-40d6-83c1-968f56673072",
               :page 4,
               :position {:bounding {:x1 136,
                                     :y1 126,
                                     :x2 886,
                                     :y2 267,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722238869116},
               :properties {:color "red"}}
              {:id #uuid "66a747a5-4457-4340-9a7c-5c0ba79463d1",
               :page 4,
               :position {:bounding {:x1 139,
                                     :y1 468,
                                     :x2 885,
                                     :y2 623,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722238884244},
               :properties {:color "red"}}
              {:id #uuid "66a75107-ba72-4893-83b9-347382b58e6b",
               :page 4,
               :position {:bounding {:x1 136,
                                     :y1 647,
                                     :x2 886,
                                     :y2 1003,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722241286779},
               :properties {:color "red"}}
              {:id #uuid "66a75114-200d-40bc-91e7-2f853b5e69ae",
               :page 4,
               :position {:bounding {:x1 138,
                                     :y1 1005,
                                     :x2 890,
                                     :y2 1180,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722241299740},
               :properties {:color "red"}}
              {:id #uuid "66a75124-5103-45d0-be6b-4e9921fa1189",
               :page 5,
               :position {:bounding {:x1 138,
                                     :y1 126,
                                     :x2 895,
                                     :y2 857,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1722241315446},
               :properties {:color "red"}}],
 :extra {:page 5}}
