{:highlights [{:id #uuid "6674e53f-f1bc-4b7d-9117-9e7ef5780a5d",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 702,
                                     :x2 915,
                                     :y2 759,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718936894071},
               :properties {:color "red"}}
              {:id #uuid "6674e547-4342-4ca2-ab2b-6baab6810b63",
               :page 1,
               :position {:bounding {:x1 111,
                                     :y1 992,
                                     :x2 916,
                                     :y2 1183,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718936902851},
               :properties {:color "red"}}
              {:id #uuid "6674e552-4e06-44ee-bc3c-2cfcf3093d62",
               :page 2,
               :position {:bounding {:x1 132,
                                     :y1 84,
                                     :x2 910,
                                     :y2 577,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718936913310},
               :properties {:color "red"}}
              {:id #uuid "6674e64b-fa05-4aa3-b301-8f62a3602430",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 1058,
                                     :x2 909,
                                     :y2 1114,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718937162115},
               :properties {:color "red"}}
              {:id #uuid "6674e654-0188-41e3-9cfe-a1f3528bc438",
               :page 3,
               :position {:bounding {:x1 114,
                                     :y1 196,
                                     :x2 912,
                                     :y2 412,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718937172240},
               :properties {:color "red"}}],
 :extra {:page 4}}
