{:highlights [{:id #uuid "6678f11c-61c7-4096-a8a5-b6ac345c5ecf",
               :page 1,
               :position {:bounding {:x1 110,
                                     :y1 648,
                                     :x2 909,
                                     :y2 1090,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719202073184},
               :properties {:color "red"}}
              {:id #uuid "6678f15b-4fe5-46cf-b201-2dbaa620b28c",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 1048,
                                     :x2 847,
                                     :y2 1085,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719202138815},
               :properties {:color "red"}}
              {:id #uuid "6678f168-5997-4cd9-8688-c0bf4d12a787",
               :page 3,
               :position {:bounding {:x1 115,
                                     :y1 239,
                                     :x2 680,
                                     :y2 483,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719202151183},
               :properties {:color "red"}}
              {:id #uuid "66a0b608-6f37-4110-9ce7-3fbe694ebdaa",
               :page 1,
               :position {:bounding {:x1 104,
                                     :y1 431,
                                     :x2 424,
                                     :y2 518,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1721808395349},
               :properties {:color "red"}}],
 :extra {:page 1}}
