{:highlights [{:id #uuid "6673902b-edb6-425b-80d5-a0fb35d150b7",
               :page 2,
               :position {:bounding {:x1 102,
                                     :y1 643,
                                     :x2 935,
                                     :y2 793,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718849578592},
               :properties {:color "red"}}
              {:id #uuid "66739041-e25a-44cd-aee7-0a2d59e52cf9",
               :page 3,
               :position {:bounding {:x1 109,
                                     :y1 1087,
                                     :x2 900,
                                     :y2 1186,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718849600267},
               :properties {:color "red"}}
              {:id #uuid "667d2809-3b76-4724-81ec-7acc752299f0",
               :page 2,
               :position {:bounding {:x1 196.89366149902344,
                                     :y1 835.140625,
                                     :x2 325.5540771484375,
                                     :y2 857.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 196.89366149902344,
                                   :y1 835.140625,
                                   :x2 325.5540771484375,
                                   :y2 857.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "strong induction"},
               :properties {:color "red"}}
              {:id #uuid "66890b10-695b-44d6-ada2-7dd83d04a85e",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 831,
                                     :x2 915,
                                     :y2 1189,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720257295408},
               :properties {:color "red"}}
              {:id #uuid "66890b22-bca9-461a-9ef0-a188c21cf721",
               :page 3,
               :position {:bounding {:x1 142,
                                     :y1 89,
                                     :x2 911,
                                     :y2 268,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720257313298},
               :properties {:color "red"}}],
 :extra {:page 4}}
