{:highlights [{:id #uuid "667397b2-f645-460a-b9c5-59ed8179c3bd",
               :page 2,
               :position {:bounding {:x1 114,
                                     :y1 990,
                                     :x2 921,
                                     :y2 1056,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718851505332},
               :properties {:color "red"}}
              {:id #uuid "66739c7f-68cc-4534-bdad-2bdf987a7a75",
               :page 4,
               :position {:bounding {:x1 106,
                                     :y1 185,
                                     :x2 915,
                                     :y2 370,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718852734275},
               :properties {:color "red"}}
              {:id #uuid "66739cc6-6385-4ff6-8136-2c2568b2f303",
               :page 4,
               :position {:bounding {:x1 105,
                                     :y1 922,
                                     :x2 932,
                                     :y2 1190,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718852806255},
               :properties {:color "green"}}
              {:id #uuid "66739ccf-a2a6-4b9d-81ee-6f29f5057c83",
               :page 5,
               :position {:bounding {:x1 141,
                                     :y1 90,
                                     :x2 916,
                                     :y2 226,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718852814853},
               :properties {:color "red"}}
              {:id #uuid "66739d44-d283-44cd-a2f1-faeceaf6f178",
               :page 3,
               :position {:bounding {:x1 123,
                                     :y1 793,
                                     :x2 922,
                                     :y2 1004,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718852931674},
               :properties {:color "red"}}
              {:id #uuid "6784c5b4-a402-4ff7-8b6f-d0d0e457c1fd",
               :page 2,
               :position {:bounding {:x1 107,
                                     :y1 664,
                                     :x2 916,
                                     :y2 758,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1736754611081},
               :properties {:color "red"}}],
 :extra {:page 2}}
