{:highlights [{:id #uuid "6674e95d-a9cd-4651-9b1b-fe0744bc5ab1",
               :page 1,
               :position {:bounding {:x1 114,
                                     :y1 446,
                                     :x2 911,
                                     :y2 500,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718937948611},
               :properties {:color "red"}}
              {:id #uuid "6674e972-0daf-4d84-92d1-df605b7fb8e1",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 707,
                                     :x2 917,
                                     :y2 1178,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718937970010},
               :properties {:color "red"}}
              {:id #uuid "6674e980-b66f-4924-9b26-89f32af287c3",
               :page 3,
               :position {:bounding {:x1 105,
                                     :y1 220,
                                     :x2 918,
                                     :y2 791,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718937983848},
               :properties {:color "red"}}
              {:id #uuid "6674e9a2-8ea7-4791-83f6-b772e2613e94",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 1039,
                                     :x2 905,
                                     :y2 1094,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718938017426},
               :properties {:color "red"}}
              {:id #uuid "6674e9af-caed-4c4f-99ac-00d8cb413ea7",
               :page 4,
               :position {:bounding {:x1 113,
                                     :y1 130,
                                     :x2 915,
                                     :y2 541,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718938030882},
               :properties {:color "red"}}
              {:id #uuid "6674e9ba-bfe8-4019-9529-cb7c722d702c",
               :page 3,
               :position {:bounding {:x1 108,
                                     :y1 1099,
                                     :x2 689,
                                     :y2 1135,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718938041981},
               :properties {:color "red"}}
              {:id #uuid "6674e9c6-a07c-49b0-b470-90ad9a177db3",
               :page 4,
               :position {:bounding {:x1 108,
                                     :y1 816,
                                     :x2 913,
                                     :y2 1028,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718938053323},
               :properties {:color "red"}}
              {:id #uuid "6674e9d0-6954-4ad1-9966-e9f6b3f6fed2",
               :page 5,
               :position {:bounding {:x1 409,
                                     :y1 93,
                                     :x2 638,
                                     :y2 301,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718938063139},
               :properties {:color "red"}}],
 :extra {:page 4}}
