{:highlights [{:id #uuid "66c2aa80-c347-45ad-835e-64d17c7725f6",
               :page 3,
               :position {:bounding {:x1 130,
                                     :y1 124,
                                     :x2 885,
                                     :y2 957,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1724033663471},
               :properties {:color "red"}}
              {:id #uuid "66c2ac52-f48d-447a-a228-ecd34de43ede",
               :page 3,
               :position {:bounding {:x1 128,
                                     :y1 969,
                                     :x2 887,
                                     :y2 1171,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1724034129931},
               :properties {:color "red"}}
              {:id #uuid "66c2ac5c-4265-4786-b904-f3b92be38a6a",
               :page 4,
               :position {:bounding {:x1 140,
                                     :y1 128,
                                     :x2 884,
                                     :y2 268,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1724034139275},
               :properties {:color "red"}}
              {:id #uuid "66c2ac6a-eb89-451e-83b1-bf766f54bce7",
               :page 4,
               :position {:bounding {:x1 130,
                                     :y1 274,
                                     :x2 887,
                                     :y2 786,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1724034153203},
               :properties {:color "red"}}],
 :extra {:page 4}}
