{:highlights [{:id #uuid "668cfb87-7f2b-42e3-ab70-536e412740a4",
               :page 1,
               :position {:bounding {:x1 134,
                                     :y1 253,
                                     :x2 889,
                                     :y2 753,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720515462927},
               :properties {:color "red"}}],
 :extra {:page 3}}
