{:highlights [{:id #uuid "668b3c46-f7f8-459c-9949-cc5969111e4f",
               :page 4,
               :position {:bounding {:x1 107,
                                     :y1 138,
                                     :x2 922,
                                     :y2 613,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720400966012},
               :properties {:color "red"}}
              {:id #uuid "668b3c64-be52-40bc-bc61-3978b3bfc644",
               :page 4,
               :position {:bounding {:x1 111,
                                     :y1 618,
                                     :x2 909,
                                     :y2 1175,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720400999765},
               :properties {:color "red"}}
              {:id #uuid "668b3c76-b204-4cb3-8d4e-cd1b1f84261d",
               :page 5,
               :position {:bounding {:x1 108,
                                     :y1 92,
                                     :x2 956,
                                     :y2 848,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720401012929},
               :properties {:color "red"}}],
 :extra {:page 3}}
