{:highlights [{:id #uuid "66b1e193-137a-4fc6-928a-b38866c51fe2",
               :page 1,
               :position {:bounding {:x1 137,
                                     :y1 261,
                                     :x2 881,
                                     :y2 334,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1722933649908},
               :properties {:color "red"}}
              {:id #uuid "66b1e1a3-8d9e-47d1-a1b4-3a694733ee99",
               :page 1,
               :position {:bounding {:x1 160,
                                     :y1 412,
                                     :x2 909,
                                     :y2 824,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1722933666692},
               :properties {:color "red"}}
              {:id #uuid "66b32eec-b466-43ec-9f0e-be76252182eb",
               :page 3,
               :position {:bounding {:x1 129,
                                     :y1 245,
                                     :x2 885,
                                     :y2 884,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1723019035867},
               :properties {:color "red"}}],
 :extra {:page 3}}
