{:highlights [{:id #uuid "669fa0c8-716a-4a16-9cc6-6810756fd342",
               :page 3,
               :position {:bounding {:x1 133,
                                     :y1 125,
                                     :x2 883,
                                     :y2 290,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1721737487969},
               :properties {:color "red"}}
              {:id #uuid "669fa0f8-3fd7-4c58-9efa-1c6f0ec382a2",
               :page 3,
               :position {:bounding {:x1 132,
                                     :y1 294,
                                     :x2 887,
                                     :y2 986,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1721737516093},
               :properties {:color "red"}}],
 :extra {:page 3}}
