{:highlights [{:id #uuid "667cf96d-bee0-418a-97a8-1665770a1240",
               :page 1,
               :position {:bounding {:x1 114,
                                     :y1 299,
                                     :x2 922,
                                     :y2 574,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719466351969},
               :properties {:color "red"}}
              {:id #uuid "667cf980-d04a-40dc-9b99-a52a2084faf2",
               :page 1,
               :position {:bounding {:x1 107,
                                     :y1 591,
                                     :x2 927,
                                     :y2 1164,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719466367224},
               :properties {:color "red"}}
              {:id #uuid "667cf98c-2734-44f1-80c6-c993e45b3104",
               :page 2,
               :position {:bounding {:x1 114,
                                     :y1 92,
                                     :x2 915,
                                     :y2 243,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719466379763},
               :properties {:color "red"}}],
 :extra {:page 2}}
