{:highlights [{:id #uuid "6678f2e0-3727-471d-9b2f-be8dd639a288",
               :page 6,
               :position {:bounding {:x1 111,
                                     :y1 881,
                                     :x2 914,
                                     :y2 1190,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719202766415},
               :properties {:color "red"}}
              {:id #uuid "6678f3d9-7658-47f4-b7bf-6637e8c1b4f7",
               :page 7,
               :position {:bounding {:x1 105,
                                     :y1 88,
                                     :x2 915,
                                     :y2 638,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719202777177},
               :properties {:color "red"}}],
 :extra {:page 7}}
