{:highlights [{:id #uuid "667cfba7-2ad4-450d-addb-dad25d014095",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 246,
                                     :x2 920,
                                     :y2 723,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719466918344},
               :properties {:color "red"}}
              {:id #uuid "667cfbe9-b23e-45bc-aea4-c5bba57b9f1c",
               :page 1,
               :position {:bounding {:x1 109,
                                     :y1 891,
                                     :x2 910,
                                     :y2 1024,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719466985148},
               :properties {:color "red"}}
              {:id #uuid "667cff79-7a49-45fb-aeca-ff9390d03241",
               :page 2,
               :position {:bounding {:x1 115,
                                     :y1 440,
                                     :x2 914,
                                     :y2 782,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719467899004},
               :properties {:color "red"}}
              {:id #uuid "667d01e1-8b4b-4e11-8f49-799e1b816116",
               :page 4,
               :position {:bounding {:x1 115,
                                     :y1 91,
                                     :x2 915,
                                     :y2 412,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719468512816},
               :properties {:color "red"}}
              {:id #uuid "667d01ec-468d-4430-91c2-13a7c0ece9bc",
               :page 4,
               :position {:bounding {:x1 109,
                                     :y1 424,
                                     :x2 918,
                                     :y2 1042,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719468523420},
               :properties {:color "red"}}],
 :extra {:page 1}}
