{:highlights [{:id #uuid "668cfbc4-a477-4a23-b7e7-61be63bf6a6d",
               :page 3,
               :position {:bounding {:x1 106,
                                     :y1 124,
                                     :x2 909,
                                     :y2 870,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720515523695},
               :properties {:color "red"}}],
 :extra {:page 1}}
