{:highlights [{:id #uuid "667a44b7-494f-47bd-aee9-802c6401e625",
               :page 1,
               :position {:bounding {:x1 110,
                                     :y1 491,
                                     :x2 922,
                                     :y2 652,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719289014188},
               :properties {:color "red"}}
              {:id #uuid "667a44c9-b570-4457-b06f-ea5f6170f93b",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 91,
                                     :x2 914,
                                     :y2 202,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719289146665},
               :properties {:color "red"}}
              {:id #uuid "667a45fd-5d01-4559-afa3-ddbec71dd5df",
               :page 2,
               :position {:bounding {:x1 156,
                                     :y1 355,
                                     :x2 910,
                                     :y2 466,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719289340229},
               :properties {:color "red"}}
              {:id #uuid "667a46f1-7f85-4643-8bf1-c297dcfbc9bf",
               :page 4,
               :position {:bounding {:x1 108,
                                     :y1 425,
                                     :x2 920,
                                     :y2 1094,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719289584876},
               :properties {:color "red"}}],
 :extra {:page 4}}
