{:highlights [{:id #uuid "6673902b-edb6-425b-80d5-a0fb35d150b7",
               :page 2,
               :position {:bounding {:x1 102,
                                     :y1 643,
                                     :x2 935,
                                     :y2 793,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718849578592},
               :properties {:color "red"}}
              {:id #uuid "66739041-e25a-44cd-aee7-0a2d59e52cf9",
               :page 3,
               :position {:bounding {:x1 109,
                                     :y1 1087,
                                     :x2 900,
                                     :y2 1186,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718849600267},
               :properties {:color "red"}}],
 :extra {:page 3}}
