{:highlights [{:id #uuid "668e12a1-f87f-447d-bf7f-aaa56f532c50",
               :page 1,
               :position {:bounding {:x1 107,
                                     :y1 358,
                                     :x2 908,
                                     :y2 458,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720586912497},
               :properties {:color "red"}}
              {:id #uuid "668e12b7-f16e-428e-9e33-a715f0dcb72b",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 1087,
                                     :x2 909,
                                     :y2 1140,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720586933608},
               :properties {:color "red"}}
              {:id #uuid "668e12c4-d74f-449a-a4d0-2bca397ec256",
               :page 2,
               :position {:bounding {:x1 107,
                                     :y1 88,
                                     :x2 946,
                                     :y2 532,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720586947333},
               :properties {:color "red"}}
              {:id #uuid "668e1761-dbad-4ca6-b468-84c7402b5f1c",
               :page 2,
               :position {:bounding {:x1 105,
                                     :y1 556,
                                     :x2 929,
                                     :y2 900,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720588128021},
               :properties {:color "red"}}
              {:id #uuid "668e1777-333a-4a79-9855-61b05ae4363f",
               :page 2,
               :position {:bounding {:x1 106,
                                     :y1 908,
                                     :x2 869,
                                     :y2 1153,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720588150661},
               :properties {:color "red"}}
              {:id #uuid "668e17a7-a542-48ce-a311-4273319ddf33",
               :page 3,
               :position {:bounding {:x1 101,
                                     :y1 80,
                                     :x2 877,
                                     :y2 493,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720588196880},
               :properties {:color "red"}}
              {:id #uuid "668e19a4-a4f9-401f-9a9b-668e8de2dbf3",
               :page 3,
               :position {:bounding {:x1 107,
                                     :y1 519,
                                     :x2 925,
                                     :y2 983,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720588707146},
               :properties {:color "red"}}
              {:id #uuid "668e19b2-ad77-41dd-8f07-5c8da20ec2ac",
               :page 3,
               :position {:bounding {:x1 106,
                                     :y1 999,
                                     :x2 922,
                                     :y2 1188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720588721046},
               :properties {:color "red"}}
              {:id #uuid "668e19c4-64b1-4a46-8db1-8fde6a76e918",
               :page 4,
               :position {:bounding {:x1 117,
                                     :y1 81,
                                     :x2 906,
                                     :y2 1208,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720588738453},
               :properties {:color "red"}}
              {:id #uuid "668e19cf-840f-4e26-9dd1-4125f1c3d109",
               :page 5,
               :position {:bounding {:x1 124,
                                     :y1 83,
                                     :x2 932,
                                     :y2 296,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720588750288},
               :properties {:color "red"}}],
 :extra {:page 4}}
