{:highlights [{:id #uuid "668c9bce-fcdf-4d2c-a574-f8f9c3f9956c",
               :page 2,
               :position {:bounding {:x1 114,
                                     :y1 759,
                                     :x2 916,
                                     :y2 1113,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720490957372},
               :properties {:color "red"}}
              {:id #uuid "668c9bdf-e494-4f2b-ba53-78275d9efe98",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 89,
                                     :x2 921,
                                     :y2 976,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720490974855},
               :properties {:color "red"}}
              {:id #uuid "668c9c39-b9c6-4138-9385-67f41aabcf34",
               :page 4,
               :position {:bounding {:x1 115,
                                     :y1 152,
                                     :x2 917,
                                     :y2 222,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720491066975},
               :properties {:color "red"}}
              {:id #uuid "668c9cb7-c973-44e5-bd69-3f1e9335b215",
               :page 4,
               :position {:bounding {:x1 115,
                                     :y1 621,
                                     :x2 912,
                                     :y2 1169,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720491190586},
               :properties {:color "red"}}
              {:id #uuid "668c9cc3-a910-4131-b44c-8189e94648f5",
               :page 5,
               :position {:bounding {:x1 138,
                                     :y1 89,
                                     :x2 917,
                                     :y2 192,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720491202542},
               :properties {:color "red"}}],
 :extra {:page 5}}
