{:highlights [{:id #uuid "669079f1-4dcb-4d0c-a7d2-f7dbc866988f",
               :page 1,
               :position {:bounding {:x1 113,
                                     :y1 960,
                                     :x2 911,
                                     :y2 1058,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720744432472},
               :properties {:color "red"}}
              {:id #uuid "669079ff-409a-42ee-aab1-e914571ca2c0",
               :page 2,
               :position {:bounding {:x1 104,
                                     :y1 83,
                                     :x2 924,
                                     :y2 309,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720744446647},
               :properties {:color "red"}}
              {:id #uuid "669080dc-c420-4a7d-80e4-0a82c9651da5",
               :page 2,
               :position {:bounding {:x1 104,
                                     :y1 336,
                                     :x2 909,
                                     :y2 641,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720746203011},
               :properties {:color "red"}}
              {:id #uuid "669080e8-fe75-4f0c-b635-f91c050497dd",
               :page 2,
               :position {:bounding {:x1 103,
                                     :y1 652,
                                     :x2 930,
                                     :y2 1203,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720746215334},
               :properties {:color "red"}}
              {:id #uuid "669080f2-32ee-4da4-9a8b-3613aab37834",
               :page 3,
               :position {:bounding {:x1 133,
                                     :y1 87,
                                     :x2 919,
                                     :y2 259,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720746225461},
               :properties {:color "red"}}
              {:id #uuid "6690813e-663c-4454-a24a-521ce94900bc",
               :page 3,
               :position {:bounding {:x1 117,
                                     :y1 273,
                                     :x2 911,
                                     :y2 399,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720746301048},
               :properties {:color "red"}}
              {:id #uuid "6690814e-bc52-49a0-b242-7e83af704adb",
               :page 3,
               :position {:bounding {:x1 94,
                                     :y1 403,
                                     :x2 959,
                                     :y2 667,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720746317462},
               :properties {:color "red"}}
              {:id #uuid "66908403-dccd-463c-b298-6459bf21feec",
               :page 5,
               :position {:bounding {:x1 109,
                                     :y1 884,
                                     :x2 911,
                                     :y2 1123,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720747010632},
               :properties {:color "red"}}
              {:id #uuid "66908410-80ed-404a-b1a7-12833563e1b9",
               :page 6,
               :position {:bounding {:x1 109,
                                     :y1 82,
                                     :x2 909,
                                     :y2 613,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720747023563},
               :properties {:color "red"}}],
 :extra {:page 6}}
