{:highlights [{:id #uuid "668c9792-bc61-458e-bd6d-09819a076111",
               :page 1,
               :position {:bounding {:x1 109,
                                     :y1 240,
                                     :x2 917,
                                     :y2 829,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720489876658},
               :properties {:color "red"}}
              {:id #uuid "668c97a1-8b4a-44d3-8647-6f25be4b16fd",
               :page 1,
               :position {:bounding {:x1 109,
                                     :y1 836,
                                     :x2 913,
                                     :y2 1202,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720489888921},
               :properties {:color "red"}}
              {:id #uuid "668c97ac-600a-4964-be77-bc567350fdd9",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 88,
                                     :x2 911,
                                     :y2 324,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720489899015},
               :properties {:color "red"}}
              {:id #uuid "668c97b9-8f23-42a6-9fe3-2bfb6b25a925",
               :page 2,
               :position {:bounding {:x1 105,
                                     :y1 357,
                                     :x2 905,
                                     :y2 519,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720489915846},
               :properties {:color "red"}}
              {:id #uuid "668c97cc-e175-4bcc-91da-f02e3faf654f",
               :page 2,
               :position {:bounding {:x1 103,
                                     :y1 525,
                                     :x2 908,
                                     :y2 1204,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720489931905},
               :properties {:color "red"}}
              {:id #uuid "668c97d6-01b4-41f2-808a-1629c7c313f8",
               :page 3,
               :position {:bounding {:x1 107,
                                     :y1 78,
                                     :x2 860,
                                     :y2 290,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720489942216},
               :properties {:color "red"}}],
 :extra {:page 2}}
