{:highlights [{:id #uuid "668f3d6e-81bc-44b1-9687-f8f25d21783d",
               :page 2,
               :position {:bounding {:x1 104,
                                     :y1 663,
                                     :x2 924,
                                     :y2 918,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720663405687},
               :properties {:color "red"}}
              {:id #uuid "668f3d7a-6308-408e-896c-c8db8df1f826",
               :page 2,
               :position {:bounding {:x1 105,
                                     :y1 932,
                                     :x2 828,
                                     :y2 1200,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720663417965},
               :properties {:color "red"}}
              {:id #uuid "668f3d85-2437-4161-a3ca-af236b16010c",
               :page 3,
               :position {:bounding {:x1 109,
                                     :y1 83,
                                     :x2 946,
                                     :y2 404,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720663428540},
               :properties {:color "red"}}
              {:id #uuid "668f4128-d7b5-4ec7-9033-528f602d47f9",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 424,
                                     :x2 913,
                                     :y2 755,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720664359797},
               :properties {:color "red"}}
              {:id #uuid "668f4138-581c-47cf-a87f-38b31ebb4329",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 769,
                                     :x2 915,
                                     :y2 1199,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720664376028},
               :properties {:color "red"}}
              {:id #uuid "668f4145-9c12-4e66-9064-5951553269b8",
               :page 4,
               :position {:bounding {:x1 113,
                                     :y1 52,
                                     :x2 910,
                                     :y2 998,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720664441287},
               :properties {:color "red"}}],
 :extra {:page 4}}
