{:highlights [{:id #uuid "668e0f8e-6718-40ad-9c38-b6da34e485c4",
               :page 2,
               :position {:bounding {:x1 113,
                                     :y1 660,
                                     :x2 911,
                                     :y2 998,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720586125485},
               :properties {:color "red"}}
              {:id #uuid "668e0f9a-58c2-4523-8549-341df0609ef2",
               :page 2,
               :position {:bounding {:x1 110,
                                     :y1 1004,
                                     :x2 909,
                                     :y2 1191,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720586137413},
               :properties {:color "red"}}
              {:id #uuid "668e0fa9-5ee5-4517-affc-442c781f83ee",
               :page 3,
               :position {:bounding {:x1 102,
                                     :y1 85,
                                     :x2 931,
                                     :y2 1030,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720586152017},
               :properties {:color "red"}}],
 :extra {:page 3}}
