{:highlights [{:id #uuid "68f43a93-cbba-4e18-9b77-ef77072a97f1",
               :page 6,
               :position {:bounding {:x1 119.328125,
                                     :y1 612.1875,
                                     :x2 617.9656982421875,
                                     :y2 631.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.328125,
                                   :y1 612.1875,
                                   :x2 617.9656982421875,
                                   :y2 631.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Assuming that we can read and write to the RegFile on the same cycle"},
               :properties {:color "red"}}],
 :extra {:page 5}}
