{:highlights [{:id #uuid "68eda867-0159-4837-836c-b3dcce686bf7",
               :page 2,
               :position {:bounding {:x1 424.8324279785156,
                                     :y1 889,
                                     :x2 557.3922119140625,
                                     :y2 908,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 424.8324279785156,
                                   :y1 889,
                                   :x2 557.3922119140625,
                                   :y2 908,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "forward references"},
               :properties {:color "red"}}],
 :extra {:page 1}}
