{:highlights [{:id #uuid "66c5385c-fc08-4147-a6d5-60cb13e09bed",
               :page 4,
               :position {:bounding {:x1 153.09375,
                                     :y1 146.234375,
                                     :x2 724.9664306640625,
                                     :y2 411.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.03125,
                                   :y1 146.234375,
                                   :x2 720.3148193359375,
                                   :y2 165.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 170.25,
                                   :x2 376.6536865234375,
                                   :y2 189.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 205.625,
                                   :x2 719.9833374023438,
                                   :y2 224.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 229.515625,
                                   :x2 426.0174865722656,
                                   :y2 248.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 263.4375,
                                   :x2 720.059814453125,
                                   :y2 282.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 287.34375,
                                   :x2 724.9664306640625,
                                   :y2 306.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 153.09375,
                                   :y1 311.234375,
                                   :x2 719.0897216796875,
                                   :y2 330.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 335.125,
                                   :x2 593.34228515625,
                                   :y2 354.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 369.046875,
                                   :x2 722.2986450195312,
                                   :y2 388.046875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 392.9375,
                                   :x2 720.047119140625,
                                   :y2 411.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Explain where each of the three radices shines and why it is preferred over other bases in a given context. Decimal is the preferred radix for human hand calculations, likely related to the fact that humans have 10 ﬁngers. Binary numerals are particularly useful for computers. Binary signals are less likely to be garbled than higher radix signals, as there is more “distance”(voltage or current) between valid signals. Additionally, binary signals are quite convenient to design circuits, as we’ll see later in the course. Hexadecimal numbers are a convenient shorthand for displaying binary numbers, owing to the fact that one hex digit corresponds exactly to four binary digits."},
               :properties {:color "red"}}],
 :extra {:page 5}}
