{:highlights [{:id #uuid "68ff7eb3-d289-4021-b4ac-c4a0f91e8d23",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 101.39501953125,
                                     :x2 753,
                                     :y2 276.39501953125,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1761574578706},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
