{:highlights [{:id #uuid "67e0bfa1-c944-4831-9885-378a120fb284",
               :page 3,
               :position {:bounding {:x1 108,
                                     :y1 427,
                                     :x2 633,
                                     :y2 526,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1742782368996},
               :properties {:color "red"}}
              {:id #uuid "67e0db5c-0e99-44d8-b2da-36b16bbddba9",
               :page 2,
               :position {:bounding {:x1 119.99999999999999,
                                     :y1 634,
                                     :x2 916,
                                     :y2 1318,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1742789472552},
               :properties {:color "red"}}],
 :extra {:page 4}}
