{:highlights [{:id #uuid "68f07a93-449d-42d3-bba0-b320af11dbdb",
               :page 6,
               :position {:bounding {:x1 115,
                                     :y1 329,
                                     :x2 735,
                                     :y2 504,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1760590482277},
               :properties {:color "red"}}
              {:id #uuid "68f07ad7-7a42-400a-8497-7ff5447adfcc",
               :page 7,
               :position {:bounding {:x1 103,
                                     :y1 538,
                                     :x2 726,
                                     :y2 1011,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1760590550551},
               :properties {:color "red"}}],
 :extra {:page 7}}
