{:highlights [{:id #uuid "66c99e88-8671-4f5a-8257-99a94b562964",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 939.015625,
                                     :x2 654.0723266601562,
                                     :y2 958.015625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 939.015625,
                                   :x2 654.0723266601562,
                                   :y2 958.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "If you need to keep access to data over several function calls, use the heap"},
               :properties {:color "red"}}
              {:id #uuid "66c99ebe-2230-4438-a5ca-40d916766c01",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 939.015625,
                                     :x2 719.9381713867188,
                                     :y2 1005.796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 658.5206909179688,
                                   :y1 939.015625,
                                   :x2 719.9381713867188,
                                   :y2 958.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 962.90625,
                                   :x2 719.9349975585938,
                                   :y2 981.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 986.796875,
                                   :x2 656.6529541015625,
                                   :y2 1005.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text " If you’re dealing with a large piece of data, passing around a pointer to something on the heap is more eﬃcient and a better practice than passing around the data itsel"},
               :properties {:color "red"}}
              {:id #uuid "66c99f60-8c6c-44f9-9396-16d8852f20cf",
               :page 3,
               :position {:bounding {:x1 155.03125,
                                     :y1 107.53125,
                                     :x2 496.56439208984375,
                                     :y2 131.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 471.640625,
                                   :y1 107.53125,
                                   :x2 496.56439208984375,
                                   :y2 131.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.03125,
                                   :y1 109.140625,
                                   :x2 496.56439208984375,
                                   :y2 128.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Returns the sum of the ﬁrst N elements in arr"},
               :properties {:color "red"}}],
 :extra {:page 6}}
