{:highlights [{:id #uuid "68fc5af6-9719-455d-9e4b-bb1370b04dd9",
               :page 2,
               :position {:bounding {:x1 130.6546630859375,
                                     :y1 202.9996337890625,
                                     :x2 181.15316772460938,
                                     :y2 221.98736572265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 130.6546630859375,
                                   :y1 202.9996337890625,
                                   :x2 181.15316772460938,
                                   :y2 221.98736572265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Polling"},
               :properties {:color "red"}}],
 :extra {:page 2}}
