{:highlights [{:id #uuid "636986e5-0f34-4baa-88ce-c08a5690aea7",
               :page 1,
               :position {:bounding {:x1 70.40625,
                                     :y1 161.703125,
                                     :x2 174.57716369628906,
                                     :y2 186.703125,
                                     :width 798,
                                     :height 1032.7058823529412},
                          :rects ({:x1 70.40625,
                                   :y1 161.703125,
                                   :x2 174.57716369628906,
                                   :y2 186.703125,
                                   :width 798,
                                   :height 1032.7058823529412}),
                          :page 1},
               :content {:text "Mutability"},
               :properties {:color "yellow"}}
              {:id #uuid "6369871d-b6f3-4d6b-927b-204816f22cfe",
               :page 1,
               :position {:bounding {:x1 70.40625,
                                     :y1 260.328125,
                                     :x2 684.3899536132812,
                                     :y2 275.328125,
                                     :width 798,
                                     :height 1032.7058823529412},
                          :rects ({:x1 70.40625,
                                   :y1 260.328125,
                                   :x2 684.3899536132812,
                                   :y2 275.328125,
                                   :width 798,
                                   :height 1032.7058823529412}),
                          :page 1},
               :content {:text "Let’s imagine you order a mushroom and cheese pizza from La Val’s, and they represent your order as a list"},
               :properties {:color "purple"}}
              {:id #uuid "63699067-db2c-4771-938e-013cb1d96838",
               :page 4,
               :position {:bounding {:x1 70.40625,
                                     :y1 61.140625,
                                     :x2 154.84962463378906,
                                     :y2 86.140625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 70.40625,
                                   :y1 61.140625,
                                   :x2 154.84962463378906,
                                   :y2 86.140625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 4},
               :content {:text "Iterators"},
               :properties {:color "blue"}}
              {:id #uuid "63699102-2cc3-4510-9464-3339f871bde5",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 32,
                                     :x2 727.5950927734375,
                                     :y2 129.5625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 516.87890625,
                                   :y1 95.859375,
                                   :x2 727.5950927734375,
                                   :y2 110.859375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 70.40625,
                                   :y1 114.5625,
                                   :x2 509.0994873046875,
                                   :y2 129.5625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 4},
               :content {:text "pecifically, we define an iterable as any object where calling the built-in iter function on it returns an iterator. "},
               :properties {:color "yellow"}}
              {:id #uuid "63699249-2b98-4a0b-aa44-11d6d9ba0f2d",
               :page 5,
               :position {:bounding {:x1 70.40625,
                                     :y1 757.421875,
                                     :x2 178.0716094970703,
                                     :y2 782.421875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 70.40625,
                                   :y1 757.421875,
                                   :x2 178.0716094970703,
                                   :y2 782.421875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 5},
               :content {:text "Generators"},
               :properties {:color "yellow"}}
              {:id #uuid "63699268-0306-4a23-aa65-28236519f529",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 288,
                                     :x2 727.580078125,
                                     :y2 825.84375,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 288,
                                   :x2 0,
                                   :y2 304,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 69.734375,
                                   :y1 792.140625,
                                   :x2 727.580078125,
                                   :y2 807.140625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 70.40625,
                                   :y1 810.84375,
                                   :x2 135.96875,
                                   :y2 825.84375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 5},
               :content {:text "We can define custom iterators by writing a generator function, which returns a special type of iterator called a generator."},
               :properties {:color "blue"}}
              {:id #uuid "6369928b-873c-4e7d-a1eb-32ff940daba8",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 320,
                                     :x2 727.9327392578125,
                                     :y2 871.046875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 320,
                                   :x2 0,
                                   :y2 336,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 69.90625,
                                   :y1 837.34375,
                                   :x2 727.9327392578125,
                                   :y2 852.34375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 70.40625,
                                   :y1 856.046875,
                                   :x2 364.69464111328125,
                                   :y2 871.046875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 5},
               :content {:text "A generator function has at least one yield statement and returns a generator object when we call it, without evaluating the body of the generator function itself."},
               :properties {:color "yellow"}}
              {:id #uuid "63699301-ce05-497b-b41d-8a1fb3df9ef6",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 176,
                                     :x2 727.5948486328125,
                                     :y2 339.875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 176,
                                   :x2 0,
                                   :y2 192,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 591.7167358398438,
                                   :y1 306.171875,
                                   :x2 727.5948486328125,
                                   :y2 321.171875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 70.40625,
                                   :y1 324.875,
                                   :x2 658.8134155273438,
                                   :y2 339.875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 6},
               :content {:text "Notice that calling iter on a generator object doesn’t create a new bookmark, but simply returns the existing generator object!"},
               :properties {:color "yellow"}}
              {:id #uuid "6369936d-65b0-4e7e-9103-e756d5fef534",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 384,
                                     :x2 727.8536376953125,
                                     :y2 633.078125,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 384,
                                   :x2 0,
                                   :y2 400,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 320.3299255371094,
                                   :y1 599.375,
                                   :x2 727.8536376953125,
                                   :y2 618.375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 320.34375,
                                   :y1 600.671875,
                                   :x2 727.8536376953125,
                                   :y2 613.65625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 70.40625,
                                   :y1 618.078125,
                                   :x2 132.56793212890625,
                                   :y2 633.078125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 6},
               :content {:text "yield from statement, which will yield each element from an iterator or iterable."},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
