{:highlights [{:id #uuid "664b0103-4dd5-437a-9283-bfaa074244a8",
               :page 9,
               :position {:bounding {:x1 47,
                                     :y1 154,
                                     :x2 703,
                                     :y2 570,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1716191490940},
               :properties {:color "red"}}
              {:id #uuid "664b01ae-1e4a-4622-a19b-d7ece6533ef4",
               :page 10,
               :position {:bounding {:x1 41,
                                     :y1 312,
                                     :x2 974,
                                     :y2 591,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716191661618},
               :properties {:color "green"}}
              {:id #uuid "664b4640-65af-43aa-97c4-6ca114b6f75b",
               :page 42,
               :position {:bounding {:x1 28,
                                     :y1 236,
                                     :x2 916,
                                     :y2 592,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1716209215065},
               :properties {:color "red"}}
              {:id #uuid "664b46b0-3c51-4f8d-ad2b-1e9d91ef0ca2",
               :page 51,
               :position {:bounding {:x1 41,
                                     :y1 152,
                                     :x2 703,
                                     :y2 474,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716209327855},
               :properties {:color "yellow"}}
              {:id #uuid "664b46c8-1910-4f6e-a04a-4de6f54d888d",
               :page 54,
               :position {:bounding {:x1 36,
                                     :y1 155,
                                     :x2 674,
                                     :y2 487,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1716209350888},
               :properties {:color "red"}}],
 :extra {:page 6}}
