{:highlights [{:id #uuid "664b0103-4dd5-437a-9283-bfaa074244a8",
               :page 9,
               :position {:bounding {:x1 47,
                                     :y1 154,
                                     :x2 703,
                                     :y2 570,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1716191490940},
               :properties {:color "red"}}
              {:id #uuid "664b01ae-1e4a-4622-a19b-d7ece6533ef4",
               :page 10,
               :position {:bounding {:x1 41,
                                     :y1 312,
                                     :x2 974,
                                     :y2 591,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716191661618},
               :properties {:color "green"}}
              {:id #uuid "664b4640-65af-43aa-97c4-6ca114b6f75b",
               :page 42,
               :position {:bounding {:x1 28,
                                     :y1 236,
                                     :x2 916,
                                     :y2 592,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1716209215065},
               :properties {:color "red"}}
              {:id #uuid "664b46b0-3c51-4f8d-ad2b-1e9d91ef0ca2",
               :page 51,
               :position {:bounding {:x1 41,
                                     :y1 152,
                                     :x2 703,
                                     :y2 474,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716209327855},
               :properties {:color "yellow"}}
              {:id #uuid "664b46c8-1910-4f6e-a04a-4de6f54d888d",
               :page 54,
               :position {:bounding {:x1 36,
                                     :y1 155,
                                     :x2 674,
                                     :y2 487,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1716209350888},
               :properties {:color "red"}}
              {:id #uuid "66a49c76-75dc-4da5-815f-03190f0090db",
               :page 39,
               :position {:bounding {:x1 50,
                                     :y1 148,
                                     :x2 679,
                                     :y2 578,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1722063989585},
               :properties {:color "red"}}
              {:id #uuid "66a49cdd-7912-4980-953e-455ed33e7744",
               :page 47,
               :position {:bounding {:x1 49,
                                     :y1 162,
                                     :x2 929,
                                     :y2 591,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1722064092452},
               :properties {:color "red"}}
              {:id #uuid "66a49d13-ee21-452f-aa3c-8b0e88278f44",
               :page 55,
               :position {:bounding {:x1 60,
                                     :y1 137,
                                     :x2 856,
                                     :y2 569,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1722064146103},
               :properties {:color "red"}}
              {:id #uuid "66a4a035-074e-4ef4-87cd-c206a5b392be",
               :page 84,
               :position {:bounding {:x1 37,
                                     :y1 153,
                                     :x2 1061,
                                     :y2 493,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 84},
               :content {:text "[:span]", :image 1722064948606},
               :properties {:color "red"}}
              {:id #uuid "66a4a0b7-6c39-4b9d-abeb-b784c3d6f861",
               :page 90,
               :position {:bounding {:x1 41,
                                     :y1 227,
                                     :x2 922,
                                     :y2 513,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 90},
               :content {:text "[:span]", :image 1722065078459},
               :properties {:color "red"}}],
 :extra {:page 10}}
