{:highlights [{:id #uuid "636475bf-9816-4197-bc32-c7b576a2b722",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 931.7555541992188,
                                     :y2 799.546875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 829.4430541992188,
                                   :y1 753.796875,
                                   :x2 931.7555541992188,
                                   :y2 775.796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 777.546875,
                                   :x2 259.0281066894531,
                                   :y2 799.546875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "where S and R stand for set and reset."},
               :properties {:color "yellow"}}
              {:id #uuid "636475e6-9eeb-43d3-89d2-786f2c3f90bf",
               :page 4,
               :position {:bounding {:x1 643,
                                     :y1 979,
                                     :x2 954,
                                     :y2 1232,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1667528165843},
               :properties {:color "blue"}}
              {:id #uuid "636475f7-543b-402f-b7a9-22ac161169a6",
               :page 4,
               :position {:bounding {:x1 52,
                                     :y1 1079,
                                     :x2 512,
                                     :y2 1292,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1667528192681},
               :properties {:color "yellow"}}
              {:id #uuid "6364765f-fc85-41b6-91da-0d60354e5d99",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 931.672119140625,
                                     :y2 125.484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 103.484375,
                                   :x2 931.672119140625,
                                   :y2 125.484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Latches are designed to be transparent. That is, input signal changes cause immediate changes in output."},
               :properties {:color "blue"}}
              {:id #uuid "636476bb-f75b-4a77-9118-f3a6ba37e1e0",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 931.9593505859375,
                                     :y2 245.546875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 803.457763671875,
                                   :y1 174.765625,
                                   :x2 931.5765991210938,
                                   :y2 196.765625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 198.53125,
                                   :x2 931.9593505859375,
                                   :y2 220.53125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 223.546875,
                                   :x2 170.3008575439453,
                                   :y2 245.546875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "by following a transparent-high latch with a transparent-low (or opaque-high) latch, a master–slave flip-flop is implemented."},
               :properties {:color "blue"}}
              {:id #uuid "636476d9-e48e-4efa-87c1-fac78dbb79d1",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 932.2232666015625,
                                     :y2 173.015625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 127.25,
                                   :x2 932.2232666015625,
                                   :y2 149.25,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 151.015625,
                                   :x2 458.8993835449219,
                                   :y2 173.015625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Additional logic can be added to a simple transparent latch to make it non-transparent or opaque when another input (an \"enable\" input) is not asserted. "},
               :properties {:color "yellow"}}
              {:id #uuid "63647786-4209-4877-90aa-92a386346dc1",
               :page 9,
               :position {:bounding {:x1 60.828125,
                                     :y1 546.21875,
                                     :x2 169.67364501953125,
                                     :y2 572.21875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 60.828125,
                                   :y1 546.21875,
                                   :x2 169.67364501953125,
                                   :y2 572.21875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "D flip-flop"},
               :properties {:color "yellow"}}
              {:id #uuid "6364778f-586f-4ce3-8985-c3d66b6851fe",
               :page 9,
               :position {:bounding {:x1 60.828125,
                                     :y1 598.71875,
                                     :x2 693.0906372070312,
                                     :y2 620.71875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 60.828125,
                                   :y1 598.71875,
                                   :x2 693.0906372070312,
                                   :y2 620.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "The D flip-flop is widely used. It is also known as a \"data\" or \"delay\" flip-flop."},
               :properties {:color "blue"}}
              {:id #uuid "636477e0-60e8-47dd-b1db-afd3bfcdb324",
               :page 9,
               :position {:bounding {:x1 41,
                                     :y1 758,
                                     :x2 349,
                                     :y2 947,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1667528671524},
               :properties {:color "yellow"}}
              {:id #uuid "636477eb-0d71-47a5-a604-0b4d27a029c6",
               :page 9,
               :position {:bounding {:x1 790,
                                     :y1 576,
                                     :x2 943,
                                     :y2 810,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1667528682576},
               :properties {:color "blue"}}
              {:id #uuid "636478eb-2b87-484a-9567-405e52455198",
               :page 9,
               :position {:bounding {:x1 148.43511962890625,
                                     :y1 1050.171875,
                                     :x2 626.6334838867188,
                                     :y2 1072.171875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 148.43511962890625,
                                   :y1 1050.171875,
                                   :x2 626.6334838867188,
                                   :y2 1072.171875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Setting S = R = 0 makes the flip-flop behave as described"},
               :properties {:color "yellow"}}
              {:id #uuid "63647b4b-40d8-483e-8457-eb99af0c0212",
               :page 10,
               :position {:bounding {:x1 403,
                                     :y1 380,
                                     :x2 957,
                                     :y2 771,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1667529546490},
               :properties {:color "blue"}}
              {:id #uuid "63647c8a-158d-4e96-8f33-6af1ed0f9129",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 931.783935546875,
                                     :y2 964.625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 906.4869384765625,
                                   :y1 918.859375,
                                   :x2 931.783935546875,
                                   :y2 940.859375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 942.625,
                                   :x2 627.6664428710938,
                                   :y2 964.625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "the circuits split the single D signal in two complementary S and R signals"},
               :properties {:color "yellow"}}
              {:id #uuid "636480cc-5ef1-4c04-b464-b1b563536d86",
               :page 10,
               :position {:bounding {:x1 124.74844360351562,
                                     :y1 851.328125,
                                     :x2 768.0316467285156,
                                     :y2 873.328125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 124.74844360351562,
                                   :y1 851.328125,
                                   :x2 768.0316467285156,
                                   :y2 873.328125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Hence the role of the output latch is to store the data only while the clock is low."},
               :properties {:color "yellow"}}
              {:id #uuid "636497c0-e107-4486-886d-436f9cd1a6ee",
               :page 6,
               :position {:bounding {:x1 60.828125,
                                     :y1 1111.453125,
                                     :x2 189.81642150878906,
                                     :y2 1133.453125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 60.828125,
                                   :y1 1111.453125,
                                   :x2 189.81642150878906,
                                   :y2 1133.453125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Gated D latch"},
               :properties {:color "yellow"}}
              {:id #uuid "6364982c-b052-495c-8ccf-f26bcdc9d0af",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 932.3115844726562,
                                     :y2 1203.484375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 1157.734375,
                                   :x2 932.3115844726562,
                                   :y2 1179.734375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 1181.484375,
                                   :x2 233.17007446289062,
                                   :y2 1203.484375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "This latch exploits the fact that, in the two active input combinations (01 and 10) of a gated SR latch, R is the complement of S"},
               :properties {:color "yellow"}}
              {:id #uuid "63649843-6af2-4eb2-babf-787b32b176b5",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 930.9652709960938,
                                     :y2 1299.78125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 769.9625854492188,
                                   :y1 1254.015625,
                                   :x2 930.9652709960938,
                                   :y2 1276.015625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 1277.78125,
                                   :x2 497.04962158203125,
                                   :y2 1299.78125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text " It is also known as transparent latch, data latch, or simply gated latch. "},
               :properties {:color "yellow"}}
              {:id #uuid "63649861-18e1-4ee2-a790-a6cdbe05004c",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 931.3150634765625,
                                     :y2 95.46875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 270.5824890136719,
                                   :y1 49.71875,
                                   :x2 931.3150634765625,
                                   :y2 71.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 73.46875,
                                   :x2 727.4613647460938,
                                   :y2 95.46875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 7},
               :content {:text "The word transparent comes from the fact that, when the enable input is on, the signal propagates directly through the circuit, from the input D to the output Q. "},
               :properties {:color "yellow"}}
              {:id #uuid "63649884-1954-43d7-a394-4f87008204b6",
               :page 7,
               :position {:bounding {:x1 159,
                                     :y1 375,
                                     :x2 837,
                                     :y2 966,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1667537027971},
               :properties {:color "yellow"}}
              {:id #uuid "636499a9-40c6-4f37-9b3f-0fe51cc4d6a9",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 932.1859436035156,
                                     :y2 1060.921875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 256.6531066894531,
                                   :y1 1015.15625,
                                   :x2 932.1859436035156,
                                   :y2 1037.15625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 60.828125,
                                   :y1 1038.921875,
                                   :x2 256.43463134765625,
                                   :y2 1060.921875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "thus the positive-edge-triggered D flip-flop can also be thought of as a gated D latch with latched input gates."},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
