{:highlights [{:id #uuid "69239dd3-c2cb-480c-acc0-d2e850b42c71",
               :page 12,
               :position {:bounding {:x1 154,
                                     :y1 146.34765625,
                                     :x2 874,
                                     :y2 783.34765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1763941842269},
               :properties {:color "yellow"}}
              {:id #uuid "69239def-c5f1-4c91-8ac1-0ba6d8063ee8",
               :page 47,
               :position {:bounding {:x1 150,
                                     :y1 144.45703125,
                                     :x2 869,
                                     :y2 788.45703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1763941870485},
               :properties {:color "yellow"}}],
 :extra {:page 47}}
