{:highlights [{:id #uuid "66ac33af-8a76-49c8-a1f8-ebec17a3fa40",
               :page 15,
               :position {:bounding {:x1 304.34375,
                                     :y1 246.171875,
                                     :x2 764.5589599609375,
                                     :y2 305.171875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 304.34375,
                                   :y1 246.171875,
                                   :x2 764.5589599609375,
                                   :y2 305.171875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 15},
               :content {:text "lambda functions"},
               :properties {:color "red"}}
              {:id #uuid "66ac3425-c767-4e9f-ab78-bc93af73d200",
               :page 19,
               :position {:bounding {:x1 3,
                                     :y1 125,
                                     :x2 1042,
                                     :y2 528,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1722561572823},
               :properties {:color "red"}}
              {:id #uuid "66ac3d5e-bedf-468a-a37f-04d11d4ada88",
               :page 68,
               :position {:bounding {:x1 20,
                                     :y1 61,
                                     :x2 929,
                                     :y2 510,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 68},
               :content {:text "[:span]", :image 1722563933986},
               :properties {:color "red"}}],
 :extra {:page 69}}
