{:highlights [{:id #uuid "6373a3b4-904f-42b6-87b7-dc416c03d578",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 94.703125,
                                     :x2 453.56744384765625,
                                     :y2 127.703125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 94.703125,
                                   :x2 453.56744384765625,
                                   :y2 127.703125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Getting Help: man Pages"},
               :properties {:color "yellow"}}
              {:id #uuid "6373a3e1-7548-4d07-96f4-fa75d1faa3b7",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 863.6842193603516,
                                     :y2 297.234375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 217.2951202392578,
                                   :y1 247.71875,
                                   :x2 863.6842193603516,
                                   :y2 269.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 275.234375,
                                   :x2 230.88259887695312,
                                   :y2 297.234375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "The first, and most versatile of these is the man command (which is short for “manual”). "},
               :properties {:color "purple"}}
              {:id #uuid "6375a3ab-2a80-4662-a557-eb19a452d6f8",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 718.01416015625,
                                     :y2 435.5625,
                                     :width 797.9999999999999,
                                     :height 1129.2392584536276},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 797.9999999999999,
                                   :height 1129.2392584536276}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 797.9999999999999,
                                   :height 1129.2392584536276}
                                  {:x1 381.98651123046875,
                                   :y1 395.40625,
                                   :x2 718.01416015625,
                                   :y2 412.40625,
                                   :width 797.9999999999999,
                                   :height 1129.2392584536276}
                                  {:x1 79.125,
                                   :y1 418.5625,
                                   :x2 431.4082946777344,
                                   :y2 435.5625,
                                   :width 797.9999999999999,
                                   :height 1129.2392584536276}),
                          :page 1},
               :content {:text "The -S3 argument tells man to look in section 3 of the manual, which is dedicated to the C library."},
               :properties {:color "yellow"}}
              {:id #uuid "6375a449-035c-4351-b790-95f087551818",
               :page 1,
               :position {:bounding {:x1 304.5625,
                                     :y1 266.59375,
                                     :x2 410.8580017089844,
                                     :y2 283.59375,
                                     :width 798,
                                     :height 1129.2392584536276},
                          :rects ({:x1 304.5625,
                                   :y1 266.59375,
                                   :x2 410.8580017089844,
                                   :y2 283.59375,
                                   :width 798,
                                   :height 1129.2392584536276}),
                          :page 1},
               :content {:text "man -S3 printf"},
               :properties {:color "yellow"}}
              {:id #uuid "6375a484-c6e3-4d3b-ba3a-2433355c7f34",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 716.8795776367188,
                                     :y2 939.78125,
                                     :width 798,
                                     :height 1129.2392584536276},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 798,
                                   :height 1129.2392584536276}
                                  {:x1 613.9364013671875,
                                   :y1 900.640625,
                                   :x2 716.8795776367188,
                                   :y2 917.640625,
                                   :width 798,
                                   :height 1129.2392584536276}
                                  {:x1 79.125,
                                   :y1 922.78125,
                                   :x2 590.1007690429688,
                                   :y2 939.78125,
                                   :width 798,
                                   :height 1129.2392584536276}),
                          :page 1},
               :content {:text "he SYNOPSIS section lists the #include file to use, as well as the functions’ prototypes. "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
