{:highlights [{:id #uuid "64c85160-6a13-4527-a178-d9e43fc29c6f",
               :page 3,
               :position {:bounding {:x1 98.328125,
                                     :y1 284.6875,
                                     :x2 277.2002868652344,
                                     :y2 309.6875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 284.6875,
                                   :x2 277.2002868652344,
                                   :y2 309.6875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Q1: Size of Dogs"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
