{:highlights [{:id #uuid "64b0b49b-2923-4dce-aad7-8c3ceeff0699",
               :page 3,
               :position {:bounding {:x1 98.328125,
                                     :y1 910,
                                     :x2 265.9879150390625,
                                     :y2 935,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 910,
                                   :x2 265.9879150390625,
                                   :y2 935,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Q1: Derive Sum"},
               :properties {:color "yellow"}}
              {:id #uuid "64b0b4d7-d3cc-4055-9e5d-fe1aa707f459",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 359.71875,
                                     :x2 302.2365417480469,
                                     :y2 384.71875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 359.71875,
                                   :x2 302.2365417480469,
                                   :y2 384.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q2: Derive Product"},
               :properties {:color "yellow"}}
              {:id #uuid "64b0b4e5-277c-4e49-8195-c0c88b725141",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 1130.109375,
                                     :x2 245.96176147460938,
                                     :y2 1155.109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1130.109375,
                                   :x2 245.96176147460938,
                                   :y2 1155.109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q3: Make Exp"},
               :properties {:color "yellow"}}
              {:id #uuid "64b0b4e8-b412-4dea-b493-f661b1ef231e",
               :page 5,
               :position {:bounding {:x1 98.328125,
                                     :y1 702.390625,
                                     :x2 258.4839172363281,
                                     :y2 727.390625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 702.390625,
                                   :x2 258.4839172363281,
                                   :y2 727.390625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Q4: Derive Exp"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
