{:highlights [{:id #uuid "6495000f-bd18-4656-851c-c1d8f5c3d0c1",
               :page 1,
               :position {:bounding {:x1 96.25,
                                     :y1 944.3125,
                                     :x2 307.17889404296875,
                                     :y2 967.3125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 944.3125,
                                   :x2 307.17889404296875,
                                   :y2 967.3125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Q1: Vending Machine"},
               :properties {:color "yellow"}}
              {:id #uuid "6499018b-de27-4274-bfc9-d5cf72254406",
               :page 2,
               :position {:bounding {:x1 96.25,
                                     :y1 1152.875,
                                     :x2 223.7574462890625,
                                     :y2 1175.875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 1152.875,
                                   :x2 223.7574462890625,
                                   :y2 1175.875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Q2: Preorder"},
               :properties {:color "yellow"}}
              {:id #uuid "649903e2-bcd6-46f4-aa0f-3c32c6a74ee4",
               :page 3,
               :position {:bounding {:x1 96.25,
                                     :y1 1207.34375,
                                     :x2 253.86807250976562,
                                     :y2 1230.34375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 1207.34375,
                                   :x2 253.86807250976562,
                                   :y2 1230.34375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Q3: Store Digits"},
               :properties {:color "yellow"}}
              {:id #uuid "649924fe-58b9-4143-8406-2bb4bc99c993",
               :page 4,
               :position {:bounding {:x1 96.25,
                                     :y1 487.765625,
                                     :x2 289.83599853515625,
                                     :y2 510.765625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 487.765625,
                                   :x2 289.83599853515625,
                                   :y2 510.765625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q4: Generate Paths"},
               :properties {:color "yellow"}}
              {:id #uuid "649ad81d-7fd6-44a6-a040-6d7ee56a8b08",
               :page 6,
               :position {:bounding {:x1 96.25,
                                     :y1 119.296875,
                                     :x2 201.72607421875,
                                     :y2 142.296875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 119.296875,
                                   :x2 201.72607421875,
                                   :y2 142.296875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Q5: Is BST"},
               :properties {:color "yellow"}}
              {:id #uuid "64a23bd2-cec9-4273-b49c-d620319b049f",
               :page 7,
               :position {:bounding {:x1 96.25,
                                     :y1 786.71875,
                                     :x2 179.66952514648438,
                                     :y2 809.71875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 786.71875,
                                   :x2 179.66952514648438,
                                   :y2 809.71875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 7},
               :content {:text "Q6: Mint"},
               :properties {:color "yellow"}}
              {:id #uuid "64a23f37-43e3-4504-b8de-3b3daad95e03",
               :page 8,
               :position {:bounding {:x1 96.25,
                                     :y1 1276.859375,
                                     :x2 249.19854736328125,
                                     :y2 1299.859375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 1276.859375,
                                   :x2 249.19854736328125,
                                   :y2 1299.859375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q7: Remove All"},
               :properties {:color "yellow"}}
              {:id #uuid "64a40483-d048-4ddf-a39a-a11d89ad4ce3",
               :page 9,
               :position {:bounding {:x1 96.25,
                                     :y1 673.171875,
                                     :x2 235.33184814453125,
                                     :y2 696.171875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 96.25,
                                   :y1 673.171875,
                                   :x2 235.33184814453125,
                                   :y2 696.171875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Q8: Deep Map"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
