{:highlights [{:id #uuid "64ab7061-612f-4c00-a73f-2c3ddb53ddad",
               :page 3,
               :position {:bounding {:x1 92.015625,
                                     :y1 218.140625,
                                     :x2 274.219482421875,
                                     :y2 241.140625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 218.140625,
                                   :x2 274.219482421875,
                                   :y2 241.140625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 3},
               :content {:text "Q2: Thane of Cadr"},
               :properties {:color "yellow"}}
              {:id #uuid "64ab7202-5c69-4f2e-8a3e-b1f63d79eb43",
               :page 3,
               :position {:bounding {:x1 92.015625,
                                     :y1 671.09375,
                                     :x2 178.6407470703125,
                                     :y2 694.09375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 671.09375,
                                   :x2 178.6407470703125,
                                   :y2 694.09375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 3},
               :content {:text "Q3: Sign"},
               :properties {:color "yellow"}}
              {:id #uuid "64ab73ec-d902-4b79-ab6b-8c337e6e845f",
               :page 3,
               :position {:bounding {:x1 92.015625,
                                     :y1 976.5625,
                                     :x2 176.29962158203125,
                                     :y2 999.5625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 976.5625,
                                   :x2 176.29962158203125,
                                   :y2 999.5625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 3},
               :content {:text "Q4: Pow"},
               :properties {:color "yellow"}}
              {:id #uuid "64acaf5a-43c0-4f49-8923-1e7e33cf956f",
               :page 4,
               :position {:bounding {:x1 92.015625,
                                     :y1 461.59375,
                                     :x2 204.37850952148438,
                                     :y2 484.59375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 461.59375,
                                   :x2 204.37850952148438,
                                   :y2 484.59375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 4},
               :content {:text "Q5: Unique"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
