{:highlights [{:id #uuid "66723827-5ff2-4ab4-b173-a2a565d83154",
               :page 4,
               :position {:bounding {:x1 515.7896728515625,
                                     :y1 1137.6875,
                                     :x2 665.0006103515625,
                                     :y2 1159.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 515.7896728515625,
                                   :y1 1137.6875,
                                   :x2 665.0006103515625,
                                   :y2 1159.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "composite number"},
               :properties {:color "red"}}
              {:id #uuid "66723832-3381-4f99-a58e-e78f7e75f7d5",
               :page 4,
               :position {:bounding {:x1 204,
                                     :y1 937,
                                     :x2 833,
                                     :y2 992,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718761519756},
               :properties {:color "yellow"}}
              {:id #uuid "66723838-f01d-4384-8cd6-15cf007277a6",
               :page 4,
               :position {:bounding {:x1 225,
                                     :y1 1035,
                                     :x2 832,
                                     :y2 1091,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718761526583},
               :properties {:color "red"}}],
 :extra {:page 4}}
