{:highlights [{:id #uuid "66717474-2c7e-4b88-a9d0-2af0d9093cd1",
               :page 4,
               :position {:bounding {:x1 143,
                                     :y1 524,
                                     :x2 707,
                                     :y2 852,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718711424275},
               :properties {:color "red"}}
              {:id #uuid "667175a8-54f2-46a0-976f-bc65be9b0ccb",
               :page 4,
               :position {:bounding {:x1 144.015625,
                                     :y1 900.15625,
                                     :x2 845.5736694335938,
                                     :y2 921.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 144.015625,
                                   :y1 900.15625,
                                   :x2 845.5736694335938,
                                   :y2 920.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 827.109375,
                                   :y1 906.890625,
                                   :x2 834.5,
                                   :y2 921.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Then, in the union of a and b there can be at most k − 2 elements smaller than b[`2],"},
               :properties {:color "red"}}
              {:id #uuid "66728555-0e02-436e-8911-d198f3803119",
               :page 3,
               :position {:bounding {:x1 144.015625,
                                     :y1 1034.328125,
                                     :x2 397.9946594238281,
                                     :y2 1061.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 144.015625,
                                   :y1 1034.328125,
                                   :x2 164.140625,
                                   :y2 1061.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.3125,
                                   :y1 1034.328125,
                                   :x2 397.9946594238281,
                                   :y2 1061.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "5 Two sorted arrays"},
               :properties {:color "yellow"}}
              {:id #uuid "66740f84-d109-478f-b74b-edee5cc380a6",
               :page 5,
               :position {:bounding {:x1 144.015625,
                                     :y1 367.796875,
                                     :x2 875.6805419921875,
                                     :y2 410.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 806.7084350585938,
                                   :y1 367.796875,
                                   :x2 875.6805419921875,
                                   :y2 387.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 144.015625,
                                   :y1 390.375,
                                   :x2 617.9542236328125,
                                   :y2 410.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "here are always at least two more citizens than there are werewolves"},
               :properties {:color "red"}}
              {:id #uuid "66740f9b-e6a6-4501-8f28-21c782ebe2bb",
               :page 5,
               :position {:bounding {:x1 125,
                                     :y1 334,
                                     :x2 897,
                                     :y2 835,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718882202115},
               :properties {:color "red"}}
              {:id #uuid "66740fe9-e6c4-4c30-aef1-6e09a413e423",
               :page 5,
               :position {:bounding {:x1 176.34375,
                                     :y1 960.75,
                                     :x2 876.0518798828125,
                                     :y2 1003.3125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 838.8018798828125,
                                   :y1 960.75,
                                   :x2 876.0518798828125,
                                   :y2 980.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 176.34375,
                                   :y1 983.3125,
                                   :x2 327.301025390625,
                                   :y2 1003.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text " with the guarantee that"},
               :properties {:color "red"}}
              {:id #uuid "66740fef-3887-429e-93f2-d33f400e6380",
               :page 5,
               :position {:bounding {:x1 176.34375,
                                     :y1 983.3125,
                                     :x2 875.996337890625,
                                     :y2 1025.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 327.2850341796875,
                                   :y1 983.3125,
                                   :x2 875.996337890625,
                                   :y2 1003.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 176.34375,
                                   :y1 1005.890625,
                                   :x2 310.3580627441406,
                                   :y2 1025.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text " if it is given a set of friends A with more than half being citizens, it returns a citizen"},
               :properties {:color "yellow"}}
              {:id #uuid "6674110e-6266-42c4-b47b-d0f7c20085a2",
               :page 5,
               :position {:bounding {:x1 137,
                                     :y1 879,
                                     :x2 890,
                                     :y2 1174,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718882573445},
               :properties {:color "yellow"}}
              {:id #uuid "6674111f-f0a8-45a6-be3d-888360382cc7",
               :page 6,
               :position {:bounding {:x1 159,
                                     :y1 127,
                                     :x2 888,
                                     :y2 486,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1718882590382},
               :properties {:color "red"}}
              {:id #uuid "66741178-ed2e-40c2-93f5-95b097117600",
               :page 6,
               :position {:bounding {:x1 176.34375,
                                     :y1 494.125,
                                     :x2 875.9656372070312,
                                     :y2 536.703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 275.390625,
                                   :y1 494.125,
                                   :x2 875.9656372070312,
                                   :y2 514.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 176.34375,
                                   :y1 516.703125,
                                   :x2 689.875,
                                   :y2 536.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "The main idea is that removing a pair of people one of whom is a werewolf does not change the fact that the citizens are in the majority. "},
               :properties {:color "red"}}
              {:id #uuid "667411f3-c2ac-4b4c-9d2e-80ebca9d6ea0",
               :page 6,
               :position {:bounding {:x1 176.34375,
                                     :y1 765.125,
                                     :x2 876.0460205078125,
                                     :y2 807.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 409.6818542480469,
                                   :y1 765.125,
                                   :x2 876.0460205078125,
                                   :y2 785.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 176.34375,
                                   :y1 787.6875,
                                   :x2 617.2510986328125,
                                   :y2 807.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "f either member of a pair declares that the other is not a citizen, we remove both of them from our candidate set."},
               :properties {:color "red"}}
              {:id #uuid "6674131e-a3c7-4fdd-ad96-75bcf97c6532",
               :page 6,
               :position {:bounding {:x1 175,
                                     :y1 1023,
                                     :x2 901,
                                     :y2 1173,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1718883100971},
               :properties {:color "red"}}
              {:id #uuid "667413ec-b8ef-4684-bf2e-f54abf91b660",
               :page 7,
               :position {:bounding {:x1 203,
                                     :y1 132,
                                     :x2 1019.59375,
                                     :y2 571,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1718883307261},
               :properties {:color "green"}}
              {:id #uuid "667413f9-5b65-4efc-af16-9ab5000ea938",
               :page 7,
               :position {:bounding {:x1 169,
                                     :y1 578,
                                     :x2 902,
                                     :y2 718,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1718883320484},
               :properties {:color "red"}}],
 :extra {:page 9}}
