{:highlights [{:id #uuid "668f9c5e-f286-467d-adbb-1622a5e11000",
               :page 6,
               :position {:bounding {:x1 132,
                                     :y1 123.971294308694,
                                     :x2 912,
                                     :y2 377,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720699795015},
               :properties {:color "red"}}
              {:id #uuid "668f9c70-4b76-4b50-b875-4c1acda612ae",
               :page 6,
               :position {:bounding {:x1 132,
                                     :y1 377,
                                     :x2 884,
                                     :y2 1178,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720687732972},
               :properties {:color "red"}}
              {:id #uuid "668fc33b-6dd5-4a01-81db-87954f82394e",
               :page 7,
               :position {:bounding {:x1 140,
                                     :y1 125,
                                     :x2 886,
                                     :y2 295,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720697658641},
               :properties {:color "red"}}
              {:id #uuid "668fc34b-4d6e-4add-98cc-dc40e9fd3f66",
               :page 7,
               :position {:bounding {:x1 138,
                                     :y1 297,
                                     :x2 889,
                                     :y2 1065,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720697674219},
               :properties {:color "red"}}
              {:id #uuid "668fcba7-58ef-499e-b810-3eac9d5b3a6d",
               :page 8,
               :position {:bounding {:x1 135,
                                     :y1 126,
                                     :x2 882,
                                     :y2 270,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1720699814704},
               :properties {:color "red"}}
              {:id #uuid "668fcbb4-8c68-45b9-aa7b-3c79db8d944e",
               :page 8,
               :position {:bounding {:x1 136,
                                     :y1 282,
                                     :x2 885,
                                     :y2 717,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1720699827298},
               :properties {:color "red"}}],
 :extra {:page 4}}
