{:highlights [{:id #uuid "6678f866-41e5-4595-a0bb-0f9f4935334f",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 294,
                                     :x2 853,
                                     :y2 467,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1736994683031},
               :properties {:color "red"}}
              {:id #uuid "6678f872-8a05-4550-917b-8930911605bf",
               :page 1,
               :position {:bounding {:x1 113,
                                     :y1 487,
                                     :x2 909,
                                     :y2 732,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1736994686009},
               :properties {:color "red"}}
              {:id #uuid "6678f87e-faa6-486a-96fc-94036fc3c4dc",
               :page 1,
               :position {:bounding {:x1 116,
                                     :y1 962,
                                     :x2 754,
                                     :y2 1131,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719203965578},
               :properties {:color "red"}}
              {:id #uuid "6678f887-8b0d-4b8e-a4ab-3452c231bee0",
               :page 2,
               :position {:bounding {:x1 106,
                                     :y1 86,
                                     :x2 571,
                                     :y2 134,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719203974151},
               :properties {:color "red"}}
              {:id #uuid "6678f894-9eb2-4ec5-8f89-55994f3cc810",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 336,
                                     :x2 911,
                                     :y2 965,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719203987675},
               :properties {:color "red"}}
              {:id #uuid "6678f8a3-8e91-4088-a8b0-9d8db54f4d46",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 925,
                                     :x2 325,
                                     :y2 970,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719204002908},
               :properties {:color "red"}}
              {:id #uuid "6678f8b0-be4a-4013-994e-df305909f243",
               :page 4,
               :position {:bounding {:x1 117,
                                     :y1 600,
                                     :x2 910,
                                     :y2 946,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719204014894},
               :properties {:color "red"}}
              {:id #uuid "6678f8c3-7314-4146-9705-7e8861d89a22",
               :page 5,
               :position {:bounding {:x1 113,
                                     :y1 546,
                                     :x2 907,
                                     :y2 837,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719204034590},
               :properties {:color "red"}}
              {:id #uuid "6678f8d1-b1da-441b-9dc5-1f7f32bab3e1",
               :page 5,
               :position {:bounding {:x1 108,
                                     :y1 842,
                                     :x2 916,
                                     :y2 1185,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719204048804},
               :properties {:color "red"}}
              {:id #uuid "6678f8de-8c91-4125-a532-c77510bc15ea",
               :page 6,
               :position {:bounding {:x1 112,
                                     :y1 90,
                                     :x2 910,
                                     :y2 288,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719204061898},
               :properties {:color "red"}}],
 :extra {:page 1}}
