{:highlights [{:id #uuid "667a4859-e01f-4c43-a5ad-2fb7445dd878",
               :page 4,
               :position {:bounding {:x1 99,
                                     :y1 87,
                                     :x2 936,
                                     :y2 821,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719289943774},
               :properties {:color "red"}}
              {:id #uuid "667a4953-11dc-4e9d-ae68-6feb22053c85",
               :page 5,
               :position {:bounding {:x1 108,
                                     :y1 528,
                                     :x2 913,
                                     :y2 1145,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719290194610},
               :properties {:color "red"}}
              {:id #uuid "667a4961-7cfc-4e3e-aaf0-00ed2e0290d2",
               :page 6,
               :position {:bounding {:x1 103,
                                     :y1 93,
                                     :x2 919,
                                     :y2 1018,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719290208635},
               :properties {:color "red"}}],
 :extra {:page 6}}
