{:highlights [{:id #uuid "66a0a8b8-d6e4-4e01-8153-9a9a9ab99115",
               :page 1,
               :position {:bounding {:x1 135,
                                     :y1 340,
                                     :x2 885,
                                     :y2 509,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1721804989393},
               :properties {:color "red"}}
              {:id #uuid "66a0a909-738f-48cd-a695-ec7967ac91e9",
               :page 1,
               :position {:bounding {:x1 134,
                                     :y1 511,
                                     :x2 885,
                                     :y2 1175,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1721805064646},
               :properties {:color "red"}}
              {:id #uuid "66a0a91e-a5cb-47fa-8232-56a648815c4f",
               :page 2,
               :position {:bounding {:x1 137,
                                     :y1 125,
                                     :x2 865,
                                     :y2 164,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1721805085287},
               :properties {:color "red"}}
              {:id #uuid "66a0adac-c7ed-4261-b3dc-5083ab8d1d8e",
               :page 2,
               :position {:bounding {:x1 129,
                                     :y1 178,
                                     :x2 891,
                                     :y2 360,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1721806251737},
               :properties {:color "red"}}
              {:id #uuid "66a0adb6-9abf-4787-8e73-71c4ef366055",
               :page 2,
               :position {:bounding {:x1 129,
                                     :y1 360,
                                     :x2 903,
                                     :y2 1163,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1721806262132},
               :properties {:color "red"}}
              {:id #uuid "66a0adc3-33b1-4481-b6b4-9c756f5d3e84",
               :page 3,
               :position {:bounding {:x1 131,
                                     :y1 125,
                                     :x2 891,
                                     :y2 1018,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1721806274930},
               :properties {:color "red"}}],
 :extra {:page 2}}
