{:highlights [{:id #uuid "667d255c-7b85-4b24-9c00-0be92d91f627",
               :page 3,
               :position {:bounding {:x1 109,
                                     :y1 143,
                                     :x2 925,
                                     :y2 419,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719477595638},
               :properties {:color "red"}}
              {:id #uuid "667d2567-5fba-4722-8486-eade52876ed6",
               :page 3,
               :position {:bounding {:x1 106,
                                     :y1 434,
                                     :x2 944,
                                     :y2 976,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719477606596},
               :properties {:color "red"}}],
 :extra {:page 4}}
