{:highlights [{:id #uuid "66a8a4eb-3012-462e-a621-6f446a8d791f",
               :page 1,
               :position {:bounding {:x1 135,
                                     :y1 387,
                                     :x2 894,
                                     :y2 984,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1722328298299},
               :properties {:color "red"}}
              {:id #uuid "66a8a4fa-94ff-49ad-9064-e84bba809c94",
               :page 1,
               :position {:bounding {:x1 136,
                                     :y1 990,
                                     :x2 890,
                                     :y2 1184,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1722328313337},
               :properties {:color "red"}}
              {:id #uuid "66a8a509-9bb2-442e-92b1-e3ade635215a",
               :page 2,
               :position {:bounding {:x1 129,
                                     :y1 130,
                                     :x2 919,
                                     :y2 929,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1722328390621},
               :properties {:color "red"}}
              {:id #uuid "66a8c81c-6f62-4ef1-855e-fc148146b8cb",
               :page 2,
               :position {:bounding {:x1 137,
                                     :y1 956,
                                     :x2 882,
                                     :y2 1055,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1722337307473},
               :properties {:color "red"}}
              {:id #uuid "66a8c833-4e4c-453a-a23d-4d73b95b65f2",
               :page 2,
               :position {:bounding {:x1 136,
                                     :y1 1057,
                                     :x2 888,
                                     :y2 1180,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1722337329984},
               :properties {:color "red"}}
              {:id #uuid "66a8c849-0594-4f58-bd57-aa550a6ffe8c",
               :page 3,
               :position {:bounding {:x1 129,
                                     :y1 133,
                                     :x2 890,
                                     :y2 1168,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1722337366233},
               :properties {:color "red"}}
              {:id #uuid "66a8c86a-70b5-4b35-ac95-d8ac24e78ee8",
               :page 4,
               :position {:bounding {:x1 128,
                                     :y1 126,
                                     :x2 884,
                                     :y2 188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722337384985},
               :properties {:color "red"}}
              {:id #uuid "66a8d407-8595-42a6-8305-9cde163588ed",
               :page 4,
               :position {:bounding {:x1 129,
                                     :y1 203,
                                     :x2 898,
                                     :y2 788,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722340357913},
               :properties {:color "red"}}
              {:id #uuid "66a8d413-89cc-46b9-823a-d83f5c96beab",
               :page 4,
               :position {:bounding {:x1 134,
                                     :y1 798,
                                     :x2 908,
                                     :y2 1163,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1722340370529},
               :properties {:color "red"}}
              {:id #uuid "66a8d422-62b4-4c16-96c3-080648ea32f3",
               :page 5,
               :position {:bounding {:x1 156,
                                     :y1 123,
                                     :x2 898,
                                     :y2 1168,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1722340391063},
               :properties {:color "red"}}
              {:id #uuid "66a8d43e-83a1-4d5d-baf9-8f9344a4e0c5",
               :page 6,
               :position {:bounding {:x1 161,
                                     :y1 122,
                                     :x2 925,
                                     :y2 1134,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1722340417174},
               :properties {:color "red"}}],
 :extra {:page 4}}
