{:highlights [{:id #uuid "66b57543-d7ce-4c1e-911b-6a7131e5eba7",
               :page 1,
               :position {:bounding {:x1 125,
                                     :y1 441,
                                     :x2 891,
                                     :y2 1038,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1723168066585},
               :properties {:color "red"}}
              {:id #uuid "66b576b0-bcea-456d-a7f2-df191f1b0a71",
               :page 1,
               :position {:bounding {:x1 137,
                                     :y1 1099,
                                     :x2 885,
                                     :y2 1172,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1723168431423},
               :properties {:color "red"}}
              {:id #uuid "66b576c3-4805-4c4a-8bda-902a61756e36",
               :page 2,
               :position {:bounding {:x1 137,
                                     :y1 128,
                                     :x2 883,
                                     :y2 182,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1723168450587},
               :properties {:color "red"}}
              {:id #uuid "66b576cd-e134-45e5-8695-839665ba6cbd",
               :page 2,
               :position {:bounding {:x1 134,
                                     :y1 183,
                                     :x2 885,
                                     :y2 368,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1723168466863},
               :properties {:color "red"}}
              {:id #uuid "66b579d0-a22a-4309-af9e-fe8d9811b225",
               :page 2,
               :position {:bounding {:x1 135,
                                     :y1 849,
                                     :x2 885,
                                     :y2 1179,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1723169231680},
               :properties {:color "red"}}
              {:id #uuid "66b579de-0064-4658-813f-abaa40491a6b",
               :page 3,
               :position {:bounding {:x1 133,
                                     :y1 120,
                                     :x2 890,
                                     :y2 377,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1723169248353},
               :properties {:color "red"}}
              {:id #uuid "66b579f1-1713-424d-879c-65a568c369cb",
               :page 3,
               :position {:bounding {:x1 139,
                                     :y1 387,
                                     :x2 883,
                                     :y2 871,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1723169264238},
               :properties {:color "red"}}
              {:id #uuid "66b579ff-4261-4881-8327-74f177a4429b",
               :page 3,
               :position {:bounding {:x1 136,
                                     :y1 873,
                                     :x2 886,
                                     :y2 1176,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1723169278248},
               :properties {:color "red"}}
              {:id #uuid "66b57a08-46eb-4690-ae92-b40f812a456a",
               :page 4,
               :position {:bounding {:x1 168,
                                     :y1 132,
                                     :x2 878,
                                     :y2 187,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1723169287505},
               :properties {:color "red"}}
              {:id #uuid "66b57f67-c6b3-4c64-88e8-d18aeedb1b5d",
               :page 4,
               :position {:bounding {:x1 137,
                                     :y1 676,
                                     :x2 888,
                                     :y2 810,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1723170662487},
               :properties {:color "red"}}
              {:id #uuid "66b57f75-01ca-40a0-ae21-ec6cd9a897bb",
               :page 4,
               :position {:bounding {:x1 133,
                                     :y1 893,
                                     :x2 882,
                                     :y2 1170,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1723170677165},
               :properties {:color "red"}}
              {:id #uuid "66b57f85-0bd7-451b-9791-569876c9291e",
               :page 5,
               :position {:bounding {:x1 135,
                                     :y1 129,
                                     :x2 886,
                                     :y2 254,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1723170692826},
               :properties {:color "red"}}],
 :extra {:page 4}}
