{:highlights [{:id #uuid "664e906d-c87d-4a65-8c5c-2a638907aae4",
               :page 3,
               :position {:bounding {:x1 261.87762451171875,
                                     :y1 1007,
                                     :x2 798.9224243164062,
                                     :y2 1029,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 261.87762451171875,
                                   :y1 1007,
                                   :x2 798.9224243164062,
                                   :y2 1029,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "we have restricted ourselves to a finite alphabet with a finite length, "},
               :properties {:color "red"}}
              {:id #uuid "667d0694-9871-47a9-a7ea-006a3649c8cd",
               :page 1,
               :position {:bounding {:x1 105,
                                     :y1 242,
                                     :x2 916,
                                     :y2 821,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719469715155},
               :properties {:color "red"}}
              {:id #uuid "667d06a0-3874-45fd-9c92-c3005194a3bc",
               :page 1,
               :position {:bounding {:x1 104,
                                     :y1 826,
                                     :x2 921,
                                     :y2 1174,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719823723336},
               :properties {:color "red"}}
              {:id #uuid "667d06aa-892d-4511-af75-367244dbe707",
               :page 2,
               :position {:bounding {:x1 113,
                                     :y1 90,
                                     :x2 918,
                                     :y2 292,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719469737466},
               :properties {:color "green"}}
              {:id #uuid "667d06b9-d7eb-4cfb-a1c0-825fd450ccd8",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 307,
                                     :x2 911,
                                     :y2 691,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719469752609},
               :properties {:color "red"}}
              {:id #uuid "667d06c9-3db9-425e-b466-b42ee9584f32",
               :page 2,
               :position {:bounding {:x1 109,
                                     :y1 711,
                                     :x2 912,
                                     :y2 1195,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719469768757},
               :properties {:color "red"}}
              {:id #uuid "667d06d8-468f-4e7d-9ee7-9ed3120db63d",
               :page 3,
               :position {:bounding {:x1 104,
                                     :y1 89,
                                     :x2 959,
                                     :y2 1166,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719823793553},
               :properties {:color "red"}}
              {:id #uuid "667d06e4-36cd-48e2-8e0b-580d27bed4ae",
               :page 4,
               :position {:bounding {:x1 119,
                                     :y1 84,
                                     :x2 917,
                                     :y2 655,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719469795870},
               :properties {:color "red"}}],
 :extra {:page 2}}
