{:highlights [{:id #uuid "664e906d-c87d-4a65-8c5c-2a638907aae4",
               :page 3,
               :position {:bounding {:x1 261.87762451171875,
                                     :y1 1007,
                                     :x2 798.9224243164062,
                                     :y2 1029,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 261.87762451171875,
                                   :y1 1007,
                                   :x2 798.9224243164062,
                                   :y2 1029,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "we have restricted ourselves to a finite alphabet with a finite length, "},
               :properties {:color "red"}}],
 :extra {:page 7}}
