{:highlights [{:id #uuid "670f2d21-a4cb-4033-ab3e-bbd119e09614",
               :page 3,
               :position {:bounding {:x1 124,
                                     :y1 547,
                                     :x2 891,
                                     :y2 810,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1729047840613},
               :properties {:color "yellow"}}
              {:id #uuid "670f2edd-22be-46e4-ba3c-03146f67dfe6",
               :page 3,
               :position {:bounding {:x1 129,
                                     :y1 816,
                                     :x2 889,
                                     :y2 1071,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1729048284882},
               :properties {:color "red"}}
              {:id #uuid "670f7cd1-4e51-424a-bc32-b0b2f7277d92",
               :page 3,
               :position {:bounding {:x1 127,
                                     :y1 292,
                                     :x2 890,
                                     :y2 528,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1729068239953},
               :properties {:color "red"}}],
 :extra {:page 4}}
