{:highlights [{:id #uuid "670f1ced-6d00-48cf-935e-7e82a65824c6",
               :page 1,
               :position {:bounding {:x1 131,
                                     :y1 627,
                                     :x2 885,
                                     :y2 1111,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1729043997825},
               :properties {:color "red"}}
              {:id #uuid "670f1d02-696f-46dc-bbe3-801774bd4686",
               :page 2,
               :position {:bounding {:x1 137,
                                     :y1 126,
                                     :x2 892,
                                     :y2 417,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729043713080},
               :properties {:color "red"}}
              {:id #uuid "670f2140-2b59-4b45-924c-f0981a86f9f9",
               :page 2,
               :position {:bounding {:x1 139,
                                     :y1 452,
                                     :x2 880,
                                     :y2 674,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729044799312},
               :properties {:color "red"}}
              {:id #uuid "670f214e-297d-4deb-bfa5-0a91a103e9fc",
               :page 2,
               :position {:bounding {:x1 139,
                                     :y1 677,
                                     :x2 883,
                                     :y2 939,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729044813986},
               :properties {:color "red"}}
              {:id #uuid "670f220e-ddd6-4e42-a434-832a47597262",
               :page 2,
               :position {:bounding {:x1 140,
                                     :y1 942,
                                     :x2 889,
                                     :y2 1067,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729045005583},
               :properties {:color "red"}}
              {:id #uuid "670f2330-8db7-4ae7-8363-ddd5d5fd995b",
               :page 2,
               :position {:bounding {:x1 133,
                                     :y1 1064,
                                     :x2 819,
                                     :y2 1173,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729045295583},
               :properties {:color "red"}}
              {:id #uuid "670f2d3a-ca9d-45fa-8057-ab4c96016d99",
               :page 5,
               :position {:bounding {:x1 140,
                                     :y1 201,
                                     :x2 883,
                                     :y2 429,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1729047865273},
               :properties {:color "red"}}
              {:id #uuid "670f2e64-3b8f-458e-862f-7c494c8f8d4a",
               :page 5,
               :position {:bounding {:x1 137,
                                     :y1 686,
                                     :x2 895,
                                     :y2 893,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1729048163280},
               :properties {:color "red"}}
              {:id #uuid "670f3141-553e-4c9a-afe9-85c4a4e8e851",
               :page 5,
               :position {:bounding {:x1 136,
                                     :y1 897,
                                     :x2 841,
                                     :y2 1188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1729048896768},
               :properties {:color "red"}}
              {:id #uuid "670f3154-1c7e-4c1e-aca1-56b66fd80d77",
               :page 6,
               :position {:bounding {:x1 163,
                                     :y1 122,
                                     :x2 889,
                                     :y2 214,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1729048916065},
               :properties {:color "red"}}
              {:id #uuid "670f7095-d80b-49d5-9958-4dda42fae5b6",
               :page 3,
               :position {:bounding {:x1 126,
                                     :y1 123,
                                     :x2 889,
                                     :y2 991,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1729065107865},
               :properties {:color "red"}}
              {:id #uuid "6729d6e3-e19b-4d88-a19e-dae047bf88cb",
               :page 4,
               :position {:bounding {:x1 137,
                                     :y1 225,
                                     :x2 892,
                                     :y2 556,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1730795234496},
               :properties {:color "red"}}
              {:id #uuid "6729d7a6-33db-4a79-9c84-e99aff37664b",
               :page 4,
               :position {:bounding {:x1 136,
                                     :y1 560,
                                     :x2 898,
                                     :y2 683,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1730795428791},
               :properties {:color "red"}}
              {:id #uuid "6729da84-01b4-4f6a-b6b5-32dce77723a0",
               :page 4,
               :position {:bounding {:x1 137,
                                     :y1 687,
                                     :x2 888,
                                     :y2 956,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1730796163493},
               :properties {:color "red"}}
              {:id #uuid "672a0e87-c826-471c-adc3-6b912a09c5a7",
               :page 6,
               :position {:bounding {:x1 135,
                                     :y1 281,
                                     :x2 894,
                                     :y2 586,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1730809478235},
               :properties {:color "red"}}
              {:id #uuid "672acd16-500d-4aeb-80a8-b4e7ed8abb2d",
               :page 6,
               :position {:bounding {:x1 136,
                                     :y1 586,
                                     :x2 928,
                                     :y2 1004,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1730858260548},
               :properties {:color "red"}}],
 :extra {:page 5}}
