{:highlights [{:id #uuid "668256a7-77a4-4e7e-b90d-42f7025d018e",
               :page 5,
               :position {:bounding {:x1 112,
                                     :y1 531,
                                     :x2 696,
                                     :y2 619,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719817895190},
               :properties {:color "red"}}
              {:id #uuid "668256b4-f556-4d47-aa1d-ed1ca394774d",
               :page 5,
               :position {:bounding {:x1 111,
                                     :y1 805,
                                     :x2 919,
                                     :y2 1056,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719817907055},
               :properties {:color "red"}}],
 :extra {:page 6}}
