{:highlights [{:id #uuid "668b400a-1725-49a7-98ff-5d9cb6e4502a",
               :page 6,
               :position {:bounding {:x1 106,
                                     :y1 281,
                                     :x2 906,
                                     :y2 382,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1723015638454},
               :properties {:color "red"}}
              {:id #uuid "668b4015-66b4-4c16-9844-049e358b202d",
               :page 6,
               :position {:bounding {:x1 111,
                                     :y1 645,
                                     :x2 909,
                                     :y2 711,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720401940306},
               :properties {:color "red"}}
              {:id #uuid "668b404d-644d-41b5-8d6e-c6b092c3c7ab",
               :page 7,
               :position {:bounding {:x1 111,
                                     :y1 480,
                                     :x2 922,
                                     :y2 811,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720401996125},
               :properties {:color "red"}}],
 :extra {:page 7}}
