{:highlights [{:id #uuid "668ca3f0-9ffe-425c-a0b0-66d11ebde3e3",
               :page 4,
               :position {:bounding {:x1 112,
                                     :y1 733,
                                     :x2 928,
                                     :y2 977,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720493039122},
               :properties {:color "red"}}
              {:id #uuid "668ca3fd-b9de-4742-8445-b45d4167d61d",
               :page 4,
               :position {:bounding {:x1 114,
                                     :y1 1031,
                                     :x2 913,
                                     :y2 1209,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720493052637},
               :properties {:color "red"}}
              {:id #uuid "668ca41e-2e4d-45ce-9fd1-3db0f848404e",
               :page 5,
               :position {:bounding {:x1 111,
                                     :y1 83,
                                     :x2 924,
                                     :y2 827,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720493085121},
               :properties {:color "red"}}
              {:id #uuid "668ca451-dfcf-4245-a7e6-5502a6e6a009",
               :page 6,
               :position {:bounding {:x1 111,
                                     :y1 336,
                                     :x2 860,
                                     :y2 429,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720493136709},
               :properties {:color "red"}}
              {:id #uuid "668ca45e-6b5f-41d6-aa11-ee779d88ef9c",
               :page 7,
               :position {:bounding {:x1 116,
                                     :y1 82,
                                     :x2 921,
                                     :y2 706,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720861456791},
               :properties {:color "red"}}],
 :extra {:page 7}}
