{:highlights [{:id #uuid "668e272a-4061-40dd-8abc-a636d303d9dd",
               :page 2,
               :position {:bounding {:x1 108,
                                     :y1 506,
                                     :x2 919,
                                     :y2 696,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720592169719},
               :properties {:color "red"}}
              {:id #uuid "668e2735-6b3d-488c-90e1-5b66fe08e07b",
               :page 2,
               :position {:bounding {:x1 110,
                                     :y1 706,
                                     :x2 914,
                                     :y2 1185,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720592179912},
               :properties {:color "red"}}
              {:id #uuid "668e2744-1ceb-4232-ae46-9bd5b69f533d",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 90,
                                     :x2 917,
                                     :y2 700,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720592201738},
               :properties {:color "red"}}],
 :extra {:page 3}}
