{:highlights [{:id #uuid "666a637a-2c17-4a75-9361-56b6846f059b",
               :page 6,
               :position {:bounding {:x1 152.28125,
                                     :y1 92.90625,
                                     :x2 900.1130981445312,
                                     :y2 139.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 152.28125,
                                   :y1 92.90625,
                                   :x2 818.484375,
                                   :y2 114.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 829.96875,
                                   :y1 92.90625,
                                   :x2 900.1130981445312,
                                   :y2 114.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 722.96875,
                                   :y1 100.15625,
                                   :x2 731.28125,
                                   :y2 117.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 750.71875,
                                   :y1 100.15625,
                                   :x2 759.03125,
                                   :y2 117.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 816.8125,
                                   :y1 100.15625,
                                   :x2 828.40625,
                                   :y2 117.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 152.28125,
                                   :y1 117.84375,
                                   :x2 222.60675048828125,
                                   :y2 139.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Here, we dropped the conditioning because the random variables min(X2, X3) and X1 are independent."},
               :properties {:color "red"}}
              {:id #uuid "668f43ee-0f89-4034-b6b5-1bbcbbc4f8c0",
               :page 2,
               :position {:bounding {:x1 113,
                                     :y1 477,
                                     :x2 912,
                                     :y2 937,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720665068191},
               :properties {:color "red"}}
              {:id #uuid "668f43fb-cced-48a6-a093-b0036da90958",
               :page 2,
               :position {:bounding {:x1 110,
                                     :y1 943,
                                     :x2 1011,
                                     :y2 1203,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720665082352},
               :properties {:color "red"}}
              {:id #uuid "668f440a-ee6f-45d7-9710-ad3e5e0868bc",
               :page 3,
               :position {:bounding {:x1 111,
                                     :y1 92,
                                     :x2 849,
                                     :y2 900,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720665096445},
               :properties {:color "red"}}
              {:id #uuid "668f4c2c-c38c-4667-856e-88a48ef43dd9",
               :page 3,
               :position {:bounding {:x1 107,
                                     :y1 913,
                                     :x2 920,
                                     :y2 1196,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720667179130},
               :properties {:color "red"}}
              {:id #uuid "668f4c36-fcb2-4a0c-b064-9e343d3f2d7a",
               :page 4,
               :position {:bounding {:x1 110,
                                     :y1 83,
                                     :x2 910,
                                     :y2 183,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720667189301},
               :properties {:color "red"}}
              {:id #uuid "668f4c44-f85b-49f4-b6ea-53065692bcb7",
               :page 4,
               :position {:bounding {:x1 111,
                                     :y1 192,
                                     :x2 910,
                                     :y2 1148,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720667203476},
               :properties {:color "red"}}
              {:id #uuid "668f4c55-74a7-4401-b619-907cdfb114a9",
               :page 5,
               :position {:bounding {:x1 105,
                                     :y1 85,
                                     :x2 922,
                                     :y2 999,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720667224821},
               :properties {:color "red"}}
              {:id #uuid "668f4c66-9e28-482a-8c2d-da585399e3f7",
               :page 6,
               :position {:bounding {:x1 142,
                                     :y1 78,
                                     :x2 920,
                                     :y2 640,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720667236912},
               :properties {:color "red"}}],
 :extra {:page 6}}
