{:highlights [{:id #uuid "66a6eb07-3df2-478e-a02a-ff73603c9339",
               :page 22,
               :position {:bounding {:x1 360.140625,
                                     :y1 35.75,
                                     :x2 706.2244873046875,
                                     :y2 79.75,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 360.140625,
                                   :y1 35.75,
                                   :x2 706.2244873046875,
                                   :y2 79.75,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 22},
               :content {:text "Goals of CS 106L"},
               :properties {:color "red"}}
              {:id #uuid "66a6eb69-8341-4aff-ba5d-216a65bde0de",
               :page 24,
               :position {:bounding {:x1 55,
                                     :y1 8,
                                     :x2 1003,
                                     :y2 588,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1722215278006},
               :properties {:color "red"}}
              {:id #uuid "66a6ec55-d0c8-499f-932f-9adb717a5f61",
               :page 45,
               :position {:bounding {:x1 32,
                                     :y1 106,
                                     :x2 1043,
                                     :y2 432,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1722215511890},
               :properties {:color "red"}}],
 :extra {:page 50}}
