{:highlights [{:id #uuid "63416ef5-1bdf-451c-be07-f8305f3409d7",
               :page 79,
               :position {:bounding {:x1 211,
                                     :y1 431,
                                     :x2 849,
                                     :y2 1025,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects (),
                          :page 79},
               :content {:text "[:span]", :image 1665232628487},
               :properties {:color "blue"}}
              {:id #uuid "63416f7a-d168-4fe9-8a96-6feae3597a6e",
               :page 80,
               :position {:bounding {:x1 213,
                                     :y1 113,
                                     :x2 876,
                                     :y2 192,
                                     :width 959.9999999999999,
                                     :height 1080},
                          :rects (),
                          :page 80},
               :content {:text "[:span]", :image 1665232761557},
               :properties {:color "blue"}}],
 :extra {:page 1243}}
