{:highlights [{:id #uuid "66cdcd2c-d6fb-40d4-8c5f-6d054124981e",
               :page 698,
               :position {:bounding {:x1 157.34375,
                                     :y1 352.9375,
                                     :x2 472.1553649902344,
                                     :y2 375.9375,
                                     :width 1069,
                                     :height 1203.4996363636362},
                          :rects ({:x1 157.34375,
                                   :y1 352.9375,
                                   :x2 200.21875,
                                   :y2 375.9375,
                                   :width 1069,
                                   :height 1203.4996363636362}
                                  {:x1 215.5,
                                   :y1 352.9375,
                                   :x2 472.1553649902344,
                                   :y2 375.9375,
                                   :width 1069,
                                   :height 1203.4996363636362}),
                          :page 698},
               :content {:text "24.2 The Ford-Fulkerson method"},
               :properties {:color "red"}}
              {:id #uuid "66cdcd43-b381-436f-a7e2-80b8aec8364b",
               :page 692,
               :position {:bounding {:x1 157.34375,
                                     :y1 155.25,
                                     :x2 489.771728515625,
                                     :y2 191.25,
                                     :width 1069,
                                     :height 1203.4996363636362},
                          :rects ({:x1 157.34375,
                                   :y1 155.25,
                                   :x2 198.03125,
                                   :y2 191.25,
                                   :width 1069,
                                   :height 1203.4996363636362}
                                  {:x1 273.65625,
                                   :y1 155.25,
                                   :x2 489.771728515625,
                                   :y2 191.25,
                                   :width 1069,
                                   :height 1203.4996363636362}),
                          :page 692},
               :content {:text "24 Maximum Flow"},
               :properties {:color "red"}}],
 :extra {:page 713}}
