{:highlights [{:id #uuid "64b5ec1b-e657-4bc6-825f-d50fc0e8aadd",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 239.6708984375,
                                     :y2 682.375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 657.375,
                                   :x2 239.6708984375,
                                   :y2 682.375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q1: Prologue"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5ec3b-d4f9-4d00-9e37-15dbeb316641",
               :page 5,
               :position {:bounding {:x1 98.328125,
                                     :y1 312.203125,
                                     :x2 336.03973388671875,
                                     :y2 337.203125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 312.203125,
                                   :x2 336.03973388671875,
                                   :y2 337.203125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Q2: Evaluating Names"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5ec4b-513e-4c84-9716-2c95fb699aa2",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 209.65625,
                                     :x2 443.6118469238281,
                                     :y2 234.65625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 209.65625,
                                   :x2 443.6118469238281,
                                   :y2 234.65625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Q3: Evaluating Call Expressions"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5ec6b-dceb-4340-9575-bcb38372c481",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 443.4202575683594,
                                     :y2 355.96875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 330.96875,
                                   :x2 443.4202575683594,
                                   :y2 355.96875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 7},
               :content {:text "Q4: Applying Lambda Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "64b5ecaf-05e9-4415-85cd-9c4c7fd4b958",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 1012.546875,
                                     :x2 364.759521484375,
                                     :y2 1037.546875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1012.546875,
                                   :x2 364.759521484375,
                                   :y2 1037.546875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q5: Handling Exceptions"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
