{:highlights [{:id #uuid "64acc042-f7fe-4b60-b889-c1aedae22e6e",
               :page 8,
               :position {:bounding {:x1 92.015625,
                                     :y1 950.8125,
                                     :x2 264.0706787109375,
                                     :y2 973.8125,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 950.8125,
                                   :x2 264.0706787109375,
                                   :y2 973.8125,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 8},
               :content {:text "Q1: WWSD: Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc105-cca8-402c-a7a8-42856954f50d",
               :page 9,
               :position {:bounding {:x1 92.015625,
                                     :y1 681.625,
                                     :x2 274.65887451171875,
                                     :y2 704.625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 681.625,
                                   :x2 274.65887451171875,
                                   :y2 704.625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 9},
               :content {:text "Q2: Over or Under"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc2bb-b54d-4973-8a43-46c63437bfb9",
               :page 10,
               :position {:bounding {:x1 92.015625,
                                     :y1 66,
                                     :x2 221.9514617919922,
                                     :y2 89,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 66,
                                   :x2 221.9514617919922,
                                   :y2 89,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 10},
               :content {:text "Q3: Filter Lst"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc44e-41d2-451b-8f2a-0ead6de8b0a2",
               :page 10,
               :position {:bounding {:x1 92.015625,
                                     :y1 523.625,
                                     :x2 251.1983642578125,
                                     :y2 546.625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 523.625,
                                   :x2 251.1983642578125,
                                   :y2 546.625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 10},
               :content {:text "Q4: Make Adder"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc524-942f-4049-b8c3-a42535cda340",
               :page 11,
               :position {:bounding {:x1 92.015625,
                                     :y1 142.0625,
                                     :x2 246.56394958496094,
                                     :y2 165.0625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 142.0625,
                                   :x2 246.56394958496094,
                                   :y2 165.0625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 11},
               :content {:text "Q5: Make a List"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc88d-5c5f-4e4e-a01e-2435312e5075",
               :page 11,
               :position {:bounding {:x1 92.015625,
                                     :y1 749.5,
                                     :x2 228.98556518554688,
                                     :y2 772.5,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 749.5,
                                   :x2 228.98556518554688,
                                   :y2 772.5,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 11},
               :content {:text "Q6: Compose"},
               :properties {:color "yellow"}}
              {:id #uuid "64acc964-8e96-4894-81a5-df3b4f956f1d",
               :page 11,
               :position {:bounding {:x1 92.015625,
                                     :y1 1081.90625,
                                     :x2 214.9668426513672,
                                     :y2 1104.90625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 1081.90625,
                                   :x2 214.9668426513672,
                                   :y2 1104.90625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 11},
               :content {:text "Q7: Remove"},
               :properties {:color "yellow"}}
              {:id #uuid "64acca10-5f02-4b03-b684-2792d03b4ba9",
               :page 12,
               :position {:bounding {:x1 92.015625,
                                     :y1 446.375,
                                     :x2 248.89529418945312,
                                     :y2 469.375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 446.375,
                                   :x2 248.89529418945312,
                                   :y2 469.375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 12},
               :content {:text "Q8: No Repeats"},
               :properties {:color "yellow"}}
              {:id #uuid "64acca26-768c-4979-ac7b-e07296c49fb4",
               :page 12,
               :position {:bounding {:x1 92.015625,
                                     :y1 877.078125,
                                     :x2 235.9810333251953,
                                     :y2 900.078125,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 877.078125,
                                   :x2 235.9810333251953,
                                   :y2 900.078125,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 12},
               :content {:text "Q9: Substitute"},
               :properties {:color "yellow"}}
              {:id #uuid "64acca2c-110c-49ac-80e7-9b303036fa22",
               :page 13,
               :position {:bounding {:x1 92.015625,
                                     :y1 152.609375,
                                     :x2 216.05078125,
                                     :y2 175.609375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 92.015625,
                                   :y1 152.609375,
                                   :x2 216.05078125,
                                   :y2 175.609375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 13},
               :content {:text "Q10: Sub All"},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
