{:highlights [{:id #uuid "63573d82-d39a-489a-b457-7deb67f3512d",
               :page 1,
               :position {:bounding {:x1 77.9375,
                                     :y1 717.921875,
                                     :x2 306.96466064453125,
                                     :y2 737.921875,
                                     :width 786,
                                     :height 1112.258216973122},
                          :rects ({:x1 77.9375,
                                   :y1 717.921875,
                                   :x2 306.96466064453125,
                                   :y2 737.921875,
                                   :width 786,
                                   :height 1112.258216973122}),
                          :page 1},
               :content {:text "Q1: Make Adder Increasing"},
               :properties {:color "blue"}}
              {:id #uuid "63573f75-d765-43f3-a4d3-fbb9fb1a6217",
               :page 2,
               :position {:bounding {:x1 77.9375,
                                     :y1 430.453125,
                                     :x2 239.56735229492188,
                                     :y2 450.453125,
                                     :width 786,
                                     :height 1112.258216973122},
                          :rects ({:x1 77.9375,
                                   :y1 430.453125,
                                   :x2 239.56735229492188,
                                   :y2 450.453125,
                                   :width 786,
                                   :height 1112.258216973122}),
                          :page 2},
               :content {:text "Q2: Next Fibonacci"},
               :properties {:color "blue"}}
              {:id #uuid "635741f0-b722-40d8-90e9-7ccf25f37816",
               :page 3,
               :position {:bounding {:x1 77.9375,
                                     :y1 422.515625,
                                     :x2 159.28219604492188,
                                     :y2 442.515625,
                                     :width 786,
                                     :height 1112.258216973122},
                          :rects ({:x1 77.9375,
                                   :y1 422.515625,
                                   :x2 159.28219604492188,
                                   :y2 442.515625,
                                   :width 786,
                                   :height 1112.258216973122}),
                          :page 3},
               :content {:text "Q3: Scale"},
               :properties {:color "blue"}}
              {:id #uuid "63574423-a04b-4d2c-af6c-caf1bce433a3",
               :page 3,
               :position {:bounding {:x1 77.9375,
                                     :y1 880.5,
                                     :x2 192.95571899414062,
                                     :y2 900.5,
                                     :width 786,
                                     :height 1112.258216973122},
                          :rects ({:x1 77.9375,
                                   :y1 880.5,
                                   :x2 192.95571899414062,
                                   :y2 900.5,
                                   :width 786,
                                   :height 1112.258216973122}),
                          :page 3},
               :content {:text "Q4: Hailstone"},
               :properties {:color "blue"}}],
 :extra {:page 3}}
