{:highlights [{:id #uuid "64a4087d-3845-431b-9a2f-9794c575fb57",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 812.453125,
                                     :x2 360.97686767578125,
                                     :y2 837.453125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 812.453125,
                                   :x2 360.97686767578125,
                                   :y2 837.453125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Q1: WWPD: Linked Lists"},
               :properties {:color "yellow"}}
              {:id #uuid "64a40b3e-065b-4002-90e7-18e4b5447042",
               :page 4,
               :position {:bounding {:x1 62,
                                     :y1 213,
                                     :x2 930,
                                     :y2 595,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1688472381803},
               :properties {:color "yellow"}}
              {:id #uuid "64a40b5c-09c4-43d5-99b7-f2dfc5f3e743",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 603.59375,
                                     :x2 289.7259826660156,
                                     :y2 628.59375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 603.59375,
                                   :x2 289.7259826660156,
                                   :y2 628.59375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q2: Making Cards"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4c240-460b-44ab-861d-a6acdaa88563",
               :page 5,
               :position {:bounding {:x1 98.328125,
                                     :y1 1103.84375,
                                     :x2 312.2742614746094,
                                     :y2 1128.84375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1103.84375,
                                   :x2 312.2742614746094,
                                   :y2 1128.84375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Q3: Making a Player"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4c51a-5bb9-48bf-a32b-bbf40d66c952",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 345.96875,
                                     :x2 262.1648254394531,
                                     :y2 370.96875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 345.96875,
                                   :x2 262.1648254394531,
                                   :y2 370.96875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q4: Link to List"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4c695-45fc-4a42-b08e-9e163872a530",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 950.015625,
                                     :x2 308.4682312011719,
                                     :y2 975.015625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 950.015625,
                                   :x2 308.4682312011719,
                                   :y2 975.015625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q5: Cumulative Mul"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4c851-ac6c-4c2c-bec7-a0b2f008521b",
               :page 9,
               :position {:bounding {:x1 98.328125,
                                     :y1 626.109375,
                                     :x2 323.85357666015625,
                                     :y2 651.109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 626.109375,
                                   :x2 323.85357666015625,
                                   :y2 651.109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Q6: Tutors: Flummox"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4ce3d-dd15-4934-b79c-11ecc155db23",
               :page 10,
               :position {:bounding {:x1 98.328125,
                                     :y1 699.890625,
                                     :x2 246.29461669921875,
                                     :y2 724.890625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 699.890625,
                                   :x2 246.29461669921875,
                                   :y2 724.890625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Q7: TAs: Shift"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4ce5e-02db-434c-a586-53789527847e",
               :page 11,
               :position {:bounding {:x1 98.328125,
                                     :y1 69.578125,
                                     :x2 375.558349609375,
                                     :y2 94.578125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 69.578125,
                                   :x2 375.558349609375,
                                   :y2 94.578125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Q8: The Professor Arrives"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4ce7f-ff63-4df0-9168-2e7c5f4ae565",
               :page 12,
               :position {:bounding {:x1 98.328125,
                                     :y1 178.390625,
                                     :x2 477.3370361328125,
                                     :y2 203.390625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 178.390625,
                                   :x2 477.3370361328125,
                                   :y2 203.390625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Q9: Nonlocal Environment Diagram"},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
