{:highlights [{:id #uuid "64d2d323-762f-4a89-b211-46e512209b67",
               :page 9,
               :position {:bounding {:x1 70,
                                     :y1 708,
                                     :x2 891,
                                     :y2 1272,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1691538210830},
               :properties {:color "yellow"}}
              {:id #uuid "64d2d32a-84df-40cf-b5fb-614c7617b7c1",
               :page 10,
               :position {:bounding {:x1 68,
                                     :y1 57,
                                     :x2 903,
                                     :y2 441,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1691538217220},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
