{:highlights [{:id #uuid "64c9c0c1-286b-4224-9029-293338653265",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 647.828125,
                                     :x2 177.09347534179688,
                                     :y2 675.828125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 647.828125,
                                   :x2 177.09347534179688,
                                   :y2 675.828125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Topics"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c0d6-8656-4076-a44b-1f2ff8356a49",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 714.109375,
                                     :x2 149.7519073486328,
                                     :y2 742.109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 714.109375,
                                   :x2 149.7519073486328,
                                   :y2 742.109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "SQL"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c14e-b087-4a4b-b6a9-a4a93c02ed2e",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 586.09375,
                                     :x2 157.12904357910156,
                                     :y2 611.09375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 586.09375,
                                   :x2 157.12904357910156,
                                   :y2 611.09375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Joins"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c19f-8bbd-4682-8b39-ba517b146f18",
               :page 3,
               :position {:bounding {:x1 98.328125,
                                     :y1 350.96875,
                                     :x2 230.9049072265625,
                                     :y2 375.96875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 350.96875,
                                   :x2 230.9049072265625,
                                   :y2 375.96875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Aggregation"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c62b-703e-4833-b0e5-a6f6a35bb3bd",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 717.40625,
                                     :x2 393.38214111328125,
                                     :y2 742.40625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 717.40625,
                                   :x2 393.38214111328125,
                                   :y2 742.40625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Q1: What Would SQL print?"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c786-50f8-487a-b7ec-eb057f5bd3f2",
               :page 7,
               :position {:bounding {:x1 98.328125,
                                     :y1 433.515625,
                                     :x2 257.21453857421875,
                                     :y2 458.515625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 433.515625,
                                   :x2 257.21453857421875,
                                   :y2 458.515625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 7},
               :content {:text "Q2: Obedience"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9c8e0-9c7a-421c-9bb9-146a928856a7",
               :page 7,
               :position {:bounding {:x1 98.328125,
                                     :y1 1040.0625,
                                     :x2 536.972412109375,
                                     :y2 1065.0625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1040.0625,
                                   :x2 536.972412109375,
                                   :y2 1065.0625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 7},
               :content {:text "Q3: The Smallest Unique Positive Integer"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9cb50-99e9-4873-bf89-8bb730aa0428",
               :page 9,
               :position {:bounding {:x1 98.328125,
                                     :y1 614.84375,
                                     :x2 536.972412109375,
                                     :y2 639.84375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 614.84375,
                                   :x2 536.972412109375,
                                   :y2 639.84375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Q5: The Smallest Unique Positive Integer"},
               :properties {:color "yellow"}}
              {:id #uuid "64c9cb6b-bd26-4fe7-8df8-e6e84bec4378",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 579.828125,
                                     :x2 416.12060546875,
                                     :y2 604.828125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 579.828125,
                                   :x2 416.12060546875,
                                   :y2 604.828125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q4: Matchmaker, Matchmaker"},
               :properties {:color "yellow"}}
              {:id #uuid "64caf0eb-74aa-4bfa-9329-92be09f43433",
               :page 11,
               :position {:bounding {:x1 98.328125,
                                     :y1 69.578125,
                                     :x2 265.0152282714844,
                                     :y2 94.578125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 69.578125,
                                   :x2 265.0152282714844,
                                   :y2 94.578125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Q6: Let's Count"},
               :properties {:color "yellow"}}
              {:id #uuid "64caf3a9-d68f-4a40-9644-edf9f6798968",
               :page 12,
               :position {:bounding {:x1 98.328125,
                                     :y1 184.640625,
                                     :x2 214.70556640625,
                                     :y2 209.640625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 184.640625,
                                   :x2 214.70556640625,
                                   :y2 209.640625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Q7: Stacks"},
               :properties {:color "yellow"}}
              {:id #uuid "64cafb43-4d5e-4f67-9646-f0809fd0cd56",
               :page 13,
               :position {:bounding {:x1 98.328125,
                                     :y1 1043.8125,
                                     :x2 220.89688110351562,
                                     :y2 1068.8125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1043.8125,
                                   :x2 220.89688110351562,
                                   :y2 1068.8125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 13},
               :content {:text "Q8: Dragon"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
