{:highlights [{:id #uuid "64a4d3d4-c8da-4a56-8937-695307f83757",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 1013.796875,
                                     :x2 203.41712951660156,
                                     :y2 1038.796875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1013.796875,
                                   :x2 203.41712951660156,
                                   :y2 1038.796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Q1: Insert"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4d68e-0687-4f9f-8dea-dc640af1cc1c",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 789.9375,
                                     :x2 386.0438537597656,
                                     :y2 814.9375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 789.9375,
                                   :x2 386.0438537597656,
                                   :y2 814.9375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Q2: Determining Efficiency"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4d736-d617-48fa-b1db-8eb72645f22d",
               :page 3,
               :position {:bounding {:x1 98.328125,
                                     :y1 726.15625,
                                     :x2 301.0024719238281,
                                     :y2 751.15625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 726.15625,
                                   :x2 301.0024719238281,
                                   :y2 751.15625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Q3: Subsequences"},
               :properties {:color "yellow"}}
              {:id #uuid "64a4da93-b543-4ea1-8c18-fc69ad996294",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 767.421875,
                                     :x2 419.857421875,
                                     :y2 792.421875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 767.421875,
                                   :x2 419.857421875,
                                   :y2 792.421875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Q4: Increasing Subsequences"},
               :properties {:color "yellow"}}
              {:id #uuid "64a61989-c1a1-4dee-b78b-5f0eccfe2b92",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 878.9678955078125,
                                     :y2 1131.390625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 801.83642578125,
                                   :y1 1080.625,
                                   :x2 878.9678955078125,
                                   :y2 1102.625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 1109.390625,
                                   :x2 601.1052856445312,
                                   :y2 1131.390625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "You may assume that the input list contains no negative elements."},
               :properties {:color "yellow"}}
              {:id #uuid "64a61e61-4b89-4743-95be-e3b52bef20c9",
               :page 5,
               :position {:bounding {:x1 98.328125,
                                     :y1 789.9375,
                                     :x2 389.8216552734375,
                                     :y2 814.9375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 789.9375,
                                   :x2 389.8216552734375,
                                   :y2 814.9375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Q5: Generate Permutations"},
               :properties {:color "yellow"}}
              {:id #uuid "64a6218b-f553-49db-b99a-66b57302b57d",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 1138.859375,
                                     :x2 245.94586181640625,
                                     :y2 1163.859375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1138.859375,
                                   :x2 245.94586181640625,
                                   :y2 1163.859375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Q6: Keyboard"},
               :properties {:color "yellow"}}
              {:id #uuid "64a623df-b843-4a5f-8141-3032830d5c17",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 297.203125,
                                     :x2 340.9202575683594,
                                     :y2 322.203125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 297.203125,
                                   :x2 340.9202575683594,
                                   :y2 322.203125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Q7: Advanced Counter"},
               :properties {:color "yellow"}}
              {:id #uuid "64a628f9-e4b9-4da7-9483-ea31dd11e0b0",
               :page 9,
               :position {:bounding {:x1 98.328125,
                                     :y1 232.15625,
                                     :x2 201.75730895996094,
                                     :y2 257.15625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 232.15625,
                                   :x2 201.75730895996094,
                                   :y2 257.15625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Q8: Trade"},
               :properties {:color "yellow"}}
              {:id #uuid "64a629ef-a8aa-456d-88f7-0d3b3312edeb",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 873.19921875,
                                     :y2 462.3125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 384.03125,
                                   :x2 849.203125,
                                   :y2 409.03125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 412.796875,
                                   :x2 873.19921875,
                                   :y2 434.796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 440.3125,
                                   :x2 282.9496765136719,
                                   :y2 462.3125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Write a function trade that exchanges the first m elements of list first with the first n elements of list second, such that the sums of those elements are equal, and the sum is as small as possible."},
               :properties {:color "yellow"}}
              {:id #uuid "64a62be5-7d61-4a76-9574-a5e31d952d82",
               :page 10,
               :position {:bounding {:x1 98.328125,
                                     :y1 1103.84375,
                                     :x2 218.404052734375,
                                     :y2 1128.84375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1103.84375,
                                   :x2 218.404052734375,
                                   :y2 1128.84375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Q9: Shuffle"},
               :properties {:color "yellow"}}
              {:id #uuid "64a62df8-99fe-4205-b59f-5d4869f8abe5",
               :page 11,
               :position {:bounding {:x1 98.328125,
                                     :y1 1036.3125,
                                     :x2 416.0333557128906,
                                     :y2 1061.3125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1036.3125,
                                   :x2 416.0333557128906,
                                   :y2 1061.3125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Q10: Deep Linked List Length"},
               :properties {:color "yellow"}}
              {:id #uuid "64a76e05-fd3a-4a40-a2f6-aa7e6dab503c",
               :page 12,
               :position {:bounding {:x1 98.328125,
                                     :y1 656.125,
                                     :x2 399.83544921875,
                                     :y2 681.125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 656.125,
                                   :x2 399.83544921875,
                                   :y2 681.125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Q11: Linked Lists as Strings"},
               :properties {:color "yellow"}}
              {:id #uuid "64a76fbc-b828-4781-96cd-bec82ee381ed",
               :page 13,
               :position {:bounding {:x1 98.328125,
                                     :y1 656.125,
                                     :x2 284.7477111816406,
                                     :y2 681.125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 656.125,
                                   :x2 284.7477111816406,
                                   :y2 681.125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 13},
               :content {:text "Q12: Prune Small"},
               :properties {:color "yellow"}}
              {:id #uuid "64a771f6-d4f0-4f06-a1ce-d7a937eb834d",
               :page 14,
               :position {:bounding {:x1 92.015625,
                                     :y1 719.078125,
                                     :x2 310.5496520996094,
                                     :y2 742.078125,
                                     :width 928.0000000000001,
                                     :height 1313.200541159106},
                          :rects ({:x1 92.015625,
                                   :y1 719.078125,
                                   :x2 310.5496520996094,
                                   :y2 742.078125,
                                   :width 928.0000000000001,
                                   :height 1313.200541159106}),
                          :page 14},
               :content {:text "Q13: Number of Trees"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
