{:highlights [{:id #uuid "666cd65a-ba29-4b05-93bc-12838d569e3d",
               :page 4,
               :position {:bounding {:x1 66,
                                     :y1 34,
                                     :x2 1017,
                                     :y2 474,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718408793612},
               :properties {:color "green"}}
              {:id #uuid "666cd828-1000-4b20-829a-d92bd0583b6e",
               :page 8,
               :position {:bounding {:x1 89,
                                     :y1 270,
                                     :x2 988,
                                     :y2 719,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1718409255779},
               :properties {:color "red"}}
              {:id #uuid "666cd870-8e03-4a36-85a2-67f8d3df7935",
               :page 11,
               :position {:bounding {:x1 75,
                                     :y1 30,
                                     :x2 1037,
                                     :y2 762,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1718409326947},
               :properties {:color "red"}}
              {:id #uuid "666cdccb-182f-40ca-9c02-429952321949",
               :page 16,
               :position {:bounding {:x1 36,
                                     :y1 28,
                                     :x2 1064,
                                     :y2 801,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1718410445984},
               :properties {:color "red"}}
              {:id #uuid "666cdd79-ebde-4b3c-abaf-ec8c4f7597f8",
               :page 20,
               :position {:bounding {:x1 81,
                                     :y1 8,
                                     :x2 1056,
                                     :y2 754,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1718410616585},
               :properties {:color "red"}}
              {:id #uuid "666cddfa-7275-46d4-9878-0e20c81aa0a9",
               :page 18,
               :position {:bounding {:x1 54,
                                     :y1 115,
                                     :x2 1042,
                                     :y2 793,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1718410744644},
               :properties {:color "red"}}
              {:id #uuid "666cde41-4963-4371-95c8-9b09ec9d0cb2",
               :page 19,
               :position {:bounding {:x1 67,
                                     :y1 250,
                                     :x2 1015,
                                     :y2 402,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1718410816505},
               :properties {:color "red"}}
              {:id #uuid "666cdf14-fc8b-42b5-9e54-5eb8251da4fb",
               :page 21,
               :position {:bounding {:x1 56,
                                     :y1 158.99999999999997,
                                     :x2 1063,
                                     :y2 825.65625,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1718411030372},
               :properties {:color "red"}}
              {:id #uuid "666ce008-6091-4e05-981e-6f127d2e4b49",
               :page 22,
               :position {:bounding {:x1 56,
                                     :y1 141,
                                     :x2 1053,
                                     :y2 825.6875,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1718411271886},
               :properties {:color "red"}}
              {:id #uuid "666ce0e0-b454-4432-9b77-5f1e1bbd5f98",
               :page 23,
               :position {:bounding {:x1 86,
                                     :y1 20.999999999999996,
                                     :x2 1054,
                                     :y2 518,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1718411491356},
               :properties {:color "red"}}
              {:id #uuid "666ce485-e174-4ac2-b28e-d5eb76e40284",
               :page 24,
               :position {:bounding {:x1 73,
                                     :y1 110,
                                     :x2 1060,
                                     :y2 381,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1718412420696},
               :properties {:color "red"}}
              {:id #uuid "666ce520-0202-4f6e-a623-a32e6189fa72",
               :page 26,
               :position {:bounding {:x1 95,
                                     :y1 32,
                                     :x2 1035,
                                     :y2 461,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1718412575098},
               :properties {:color "red"}}
              {:id #uuid "666ce627-7068-4f82-b69e-409b9577386c",
               :page 26,
               :position {:bounding {:x1 33,
                                     :y1 478,
                                     :x2 1028,
                                     :y2 805,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1718412844896},
               :properties {:color "red"}}
              {:id #uuid "666ce6b2-0b8f-45ed-955c-873dbb0e7c46",
               :page 27,
               :position {:bounding {:x1 58,
                                     :y1 160,
                                     :x2 973,
                                     :y2 825,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1718412978093},
               :properties {:color "red"}}
              {:id #uuid "666ce6c1-2c16-4252-a29e-1e1392a2d02f",
               :page 28,
               :position {:bounding {:x1 48,
                                     :y1 21,
                                     :x2 1048,
                                     :y2 527,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1718412996334},
               :properties {:color "red"}}
              {:id #uuid "666ce75d-631d-4927-8c1b-8d91368dd525",
               :page 29,
               :position {:bounding {:x1 84,
                                     :y1 35,
                                     :x2 1048,
                                     :y2 811,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1718413148927},
               :properties {:color "red"}}
              {:id #uuid "666ce770-2a3f-4ea0-91ad-b971d9de445c",
               :page 30,
               :position {:bounding {:x1 96,
                                     :y1 32,
                                     :x2 971,
                                     :y2 665,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1718413167266},
               :properties {:color "red"}}],
 :extra {:page 30}}
