{:highlights [{:id #uuid "66bc56c1-f056-4096-97df-ad3d955d3b9b",
               :page 15,
               :position {:bounding {:x1 316,
                                     :y1 85,
                                     :x2 1015,
                                     :y2 550,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1723619009023},
               :properties {:color "red"}}
              {:id #uuid "66bc5973-215f-400e-b4e8-ef07bd514b2d",
               :page 20,
               :position {:bounding {:x1 275,
                                     :y1 88,
                                     :x2 948,
                                     :y2 551,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1723619698463},
               :properties {:color "red"}}
              {:id #uuid "66bc59a0-ef53-41b9-8e80-e01deb8cd5b5",
               :page 21,
               :position {:bounding {:x1 258,
                                     :y1 82,
                                     :x2 955,
                                     :y2 551,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1723619743112},
               :properties {:color "red"}}],
 :extra {:page 26}}
