{:highlights [{:id #uuid "66c55c6d-9a93-446c-b5f9-db6428a9f90c",
               :page 40,
               :position {:bounding {:x1 88,
                                     :y1 15,
                                     :x2 1016,
                                     :y2 500,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1724210284622},
               :properties {:color "red"}}
              {:id #uuid "66c55e6e-0ff7-4783-a778-ea027f3ab9f2",
               :page 45,
               :position {:bounding {:x1 248,
                                     :y1 86,
                                     :x2 1040,
                                     :y2 571,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1724210797235},
               :properties {:color "red"}}
              {:id #uuid "66c55f38-2501-442a-9f66-780da2fb731a",
               :page 41,
               :position {:bounding {:x1 90,
                                     :y1 9,
                                     :x2 998,
                                     :y2 509,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1724210999178},
               :properties {:color "yellow"}}],
 :extra {:page 48}}
