{:highlights [{:id #uuid "66b5d2b3-df95-4e69-83fd-d893d00f3d8a",
               :page 25,
               :position {:bounding {:x1 269,
                                     :y1 89,
                                     :x2 847,
                                     :y2 552,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1723191987061},
               :properties {:color "red"}}
              {:id #uuid "66bafcae-e835-4c20-9168-2abe411ea36f",
               :page 10,
               :position {:bounding {:x1 104,
                                     :y1 17,
                                     :x2 1069.09375,
                                     :y2 534,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1723530414121},
               :properties {:color "red"}}
              {:id #uuid "66bafcbf-e6e5-46a5-ae4c-8ad9cd564ab2",
               :page 11,
               :position {:bounding {:x1 99,
                                     :y1 11,
                                     :x2 1069.09375,
                                     :y2 579,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1723530430949},
               :properties {:color "red"}}
              {:id #uuid "66bafd9d-1de2-4da4-a74d-27101e268a05",
               :page 29,
               :position {:bounding {:x1 511,
                                     :y1 513,
                                     :x2 797,
                                     :y2 585,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1723530652230},
               :properties {:color "red"}}
              {:id #uuid "66bafdef-c29c-4556-88bf-a39415c20686",
               :page 30,
               :position {:bounding {:x1 248,
                                     :y1 90,
                                     :x2 1035,
                                     :y2 549,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1723530734545},
               :properties {:color "red"}}],
 :extra {:page 32}}
