{:highlights [{:id #uuid "6794ccc8-6d63-43eb-b495-2f8ac81853fe",
               :page 13,
               :position {:bounding {:x1 249,
                                     :y1 417,
                                     :x2 1040,
                                     :y2 574,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1737804997282},
               :properties {:color "yellow"}}],
 :extra {:page 18}}
