{:highlights [{:id #uuid "678506ee-a341-49ce-bd10-5d691096b720",
               :page 3,
               :position {:bounding {:x1 294.609375,
                                     :y1 134.796875,
                                     :x2 994.236328125,
                                     :y2 203.390625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 295.78125,
                                   :y1 134.796875,
                                   :x2 994.236328125,
                                   :y2 167.796875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 294.609375,
                                   :y1 170.390625,
                                   :x2 456.8059997558594,
                                   :y2 203.390625,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 3},
               :content {:text "Instructions are the primitive operations that the CPU may execute"},
               :properties {:color "red"}}
              {:id #uuid "67850700-1711-4390-90c4-2e053594b1e1",
               :page 3,
               :position {:bounding {:x1 294.609375,
                                     :y1 321.203125,
                                     :x2 992.6146850585938,
                                     :y2 389.796875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 294.609375,
                                   :y1 321.203125,
                                   :x2 992.6146850585938,
                                   :y2 354.203125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 294.609375,
                                   :y1 356.796875,
                                   :x2 760.408447265625,
                                   :y2 389.796875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 3},
               :content {:text "The set of instructions a particular CPU implements is an Instruction Set Architecture ( ISA)"},
               :properties {:color "red"}}
              {:id #uuid "678508d3-c385-4dbe-b5bf-a752e771b63b",
               :page 23,
               :position {:bounding {:x1 274,
                                     :y1 93,
                                     :x2 979,
                                     :y2 503,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1736771794700},
               :properties {:color "red"}}],
 :extra {:page 24}}
