{:highlights [{:id #uuid "66bd6034-0e0d-477d-9228-496f4d93d514",
               :page 19,
               :position {:bounding {:x1 283,
                                     :y1 277,
                                     :x2 1030,
                                     :y2 573,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1723686963931},
               :properties {:color "red"}}
              {:id #uuid "66bd604b-c98f-40e5-8dd4-95fd99c54488",
               :page 20,
               :position {:bounding {:x1 285,
                                     :y1 88,
                                     :x2 1020,
                                     :y2 535,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1723686986550},
               :properties {:color "red"}}
              {:id #uuid "66bd6084-162c-44fc-8d8f-84a6c6538d42",
               :page 21,
               :position {:bounding {:x1 92,
                                     :y1 16,
                                     :x2 1035,
                                     :y2 562,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1723687043283},
               :properties {:color "red"}}
              {:id #uuid "66bd609a-2423-431c-bc6d-2a82c84b23fe",
               :page 22,
               :position {:bounding {:x1 280,
                                     :y1 83,
                                     :x2 1014,
                                     :y2 497,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1723687065347},
               :properties {:color "red"}}],
 :extra {:page 22}}
