{:highlights [{:id #uuid "67dc2f9c-283d-414e-a088-7d76aa93cf30",
               :page 4,
               :position {:bounding {:x1 93.21875,
                                     :y1 24.40625,
                                     :x2 762.5936889648438,
                                     :y2 77.40625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 93.21875,
                                   :y1 24.40625,
                                   :x2 762.5936889648438,
                                   :y2 77.40625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 4},
               :content {:text "Big Idea: Stored-Program Compute"},
               :properties {:color "red"}}
              {:id #uuid "67dc2fc2-f398-464f-a6d3-52f47c88a8f2",
               :page 11,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 642.1427001953125,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 642.1427001953125,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 11},
               :content {:text "R-Format Instruction Layout"},
               :properties {:color "red"}}
              {:id #uuid "67dc2fe7-bfb7-421c-a372-7cf1b9fad5eb",
               :page 18,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 507.5855712890625,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 507.5855712890625,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 18},
               :content {:text "I-Format Instructions"},
               :properties {:color "red"}}
              {:id #uuid "67dc3017-cbce-47ea-af97-2f15d23fff29",
               :page 23,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 451.21826171875,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 451.21826171875,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 23},
               :content {:text "Load Instructions "},
               :properties {:color "red"}}
              {:id #uuid "67dc3031-bc72-4e7a-b3f9-f3433c0f609b",
               :page 27,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 288.39202880859375,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 288.39202880859375,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 27},
               :content {:text "S-Format"},
               :properties {:color "red"}}
              {:id #uuid "68ec5e46-62ae-466d-a96a-cb993e2b8eba",
               :page 11,
               :position {:bounding {:x1 244,
                                     :y1 74,
                                     :x2 1042,
                                     :y2 293,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1760321106514},
               :properties {:color "red"}}
              {:id #uuid "68ec6103-f41d-4f03-be1e-e14458d94a2e",
               :page 20,
               :position {:bounding {:x1 267,
                                     :y1 274,
                                     :x2 1049,
                                     :y2 274,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1760322474955},
               :properties {:color "yellow"}}
              {:id #uuid "68ec62be-5081-43a5-8804-f637a28fca5b",
               :page 24,
               :position {:bounding {:x1 264,
                                     :y1 128,
                                     :x2 1047,
                                     :y2 469,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1760322236948},
               :properties {:color "red"}}
              {:id #uuid "68ec6362-21d1-43cf-a8b2-1eeca3e6d7b3",
               :page 14,
               :position {:bounding {:x1 244,
                                     :y1 154,
                                     :x2 1050,
                                     :y2 504,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1760322401235},
               :properties {:color "red"}}
              {:id #uuid "68ec63be-eecc-44df-a1f6-17b5f108af70",
               :page 20,
               :position {:bounding {:x1 242,
                                     :y1 91,
                                     :x2 1053,
                                     :y2 424,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1760322493601},
               :properties {:color "red"}}
              {:id #uuid "68ec6475-a3ed-4f1b-98f4-ab15b1e96d18",
               :page 27,
               :position {:bounding {:x1 257,
                                     :y1 87,
                                     :x2 1042,
                                     :y2 226,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1760322676053},
               :properties {:color "red"}}
              {:id #uuid "68ec65b0-b272-48c1-9285-449c82e19c54",
               :page 28,
               :position {:bounding {:x1 248,
                                     :y1 131,
                                     :x2 1045,
                                     :y2 548,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1760322991475},
               :properties {:color "red"}}],
 :extra {:page 28}}
