{:highlights [{:id #uuid "6798c9e7-4a13-4355-a2fc-e9835565acc6",
               :properties {:color "red"}}
              {:id #uuid "6798c9e8-d0bf-4de3-ba7f-beb1ac40d227",
               :properties {:color "red"}}
              {:id #uuid "6798cb31-6c4a-4eac-b302-f9c7dbc09d5b",
               :page 25,
               :position {:bounding {:x1 289.6875,
                                     :y1 122.40625,
                                     :x2 535.7025756835938,
                                     :y2 551.859375,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 324.328125,
                                   :y1 122.40625,
                                   :x2 523.3395385742188,
                                   :y2 152.40625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 361.640625,
                                   :y1 127.40625,
                                   :x2 523.3395385742188,
                                   :y2 148.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 146.28125,
                                   :x2 523.3395385742188,
                                   :y2 176.28125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 151.28125,
                                   :x2 523.3395385742188,
                                   :y2 172.0625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 169.796875,
                                   :x2 523.3395385742188,
                                   :y2 199.796875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 174.796875,
                                   :x2 523.3395385742188,
                                   :y2 195.578125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 193.671875,
                                   :x2 353.890625,
                                   :y2 223.671875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 374.03125,
                                   :y1 193.671875,
                                   :x2 523.3395385742188,
                                   :y2 223.671875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 198.671875,
                                   :x2 353.890625,
                                   :y2 219.453125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 374.03125,
                                   :y1 198.671875,
                                   :x2 523.3395385742188,
                                   :y2 219.453125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 217.53125,
                                   :x2 523.3395385742188,
                                   :y2 247.53125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 222.53125,
                                   :x2 523.3395385742188,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 241.046875,
                                   :x2 523.3395385742188,
                                   :y2 271.046875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 246.046875,
                                   :x2 523.3395385742188,
                                   :y2 266.828125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 264.921875,
                                   :x2 523.3395385742188,
                                   :y2 294.921875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 269.921875,
                                   :x2 523.3395385742188,
                                   :y2 290.703125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 288.859375,
                                   :x2 523.3395385742188,
                                   :y2 318.859375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 293.859375,
                                   :x2 523.3395385742188,
                                   :y2 314.640625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 289.6875,
                                   :y1 320.828125,
                                   :x2 317.890625,
                                   :y2 361.828125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 289.6875,
                                   :y1 327.828125,
                                   :x2 450.28668212890625,
                                   :y2 356.03125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 355.484375,
                                   :x2 535.7025756835938,
                                   :y2 385.484375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 360.484375,
                                   :x2 535.7025756835938,
                                   :y2 381.265625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 379.34375,
                                   :x2 535.7025756835938,
                                   :y2 409.34375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 384.34375,
                                   :x2 535.7025756835938,
                                   :y2 405.125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 402.859375,
                                   :x2 535.7025756835938,
                                   :y2 432.859375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 407.859375,
                                   :x2 535.7025756835938,
                                   :y2 428.640625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 426.734375,
                                   :x2 366.296875,
                                   :y2 456.734375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 386.4375,
                                   :y1 426.734375,
                                   :x2 535.7025756835938,
                                   :y2 456.734375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 431.734375,
                                   :x2 366.296875,
                                   :y2 452.515625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 386.4375,
                                   :y1 431.734375,
                                   :x2 535.7025756835938,
                                   :y2 452.515625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 450.609375,
                                   :x2 535.7025756835938,
                                   :y2 480.609375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 455.609375,
                                   :x2 535.7025756835938,
                                   :y2 476.390625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 474.125,
                                   :x2 535.7025756835938,
                                   :y2 504.125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 479.125,
                                   :x2 535.7025756835938,
                                   :y2 499.90625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 497.984375,
                                   :x2 535.7025756835938,
                                   :y2 527.984375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 502.984375,
                                   :x2 535.7025756835938,
                                   :y2 523.765625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 521.859375,
                                   :x2 535.7025756835938,
                                   :y2 551.859375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 324.328125,
                                   :y1 526.859375,
                                   :x2 535.7025756835938,
                                   :y2 547.640625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 25},
               :content {:text "add rd, rs1, rs2 sub rd, rs1, rs2 and rd, rs1, rs2 or rd, rs1, rs2 xor rd, rs1, rs2 sll rd, rs1, rs2 srl rd, rs1, rs2 sra rd, rs1, rs2§ Immediate addi rd, rs1, imm subi rd, rs1, imm andi rd, rs1, imm ori rd, rs1, imm xori rd, rs1, imm slli rd, rs1, imm srli rd, rs1, imm srai rd, rs1, imm"},
               :properties {:color "red"}}],
 :extra {:page 22}}
