{:highlights [{:id #uuid "67dc2f9c-283d-414e-a088-7d76aa93cf30",
               :page 4,
               :position {:bounding {:x1 93.21875,
                                     :y1 24.40625,
                                     :x2 762.5936889648438,
                                     :y2 77.40625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 93.21875,
                                   :y1 24.40625,
                                   :x2 762.5936889648438,
                                   :y2 77.40625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 4},
               :content {:text "Big Idea: Stored-Program Compute"},
               :properties {:color "red"}}
              {:id #uuid "67dc2fc2-f398-464f-a6d3-52f47c88a8f2",
               :page 11,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 642.1427001953125,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 642.1427001953125,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 11},
               :content {:text "R-Format Instruction Layout"},
               :properties {:color "red"}}
              {:id #uuid "67dc2fe7-bfb7-421c-a372-7cf1b9fad5eb",
               :page 18,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 507.5855712890625,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 507.5855712890625,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 18},
               :content {:text "I-Format Instructions"},
               :properties {:color "red"}}
              {:id #uuid "67dc3017-cbce-47ea-af97-2f15d23fff29",
               :page 23,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 451.21826171875,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 451.21826171875,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 23},
               :content {:text "Load Instructions "},
               :properties {:color "red"}}
              {:id #uuid "67dc3031-bc72-4e7a-b3f9-f3433c0f609b",
               :page 27,
               :position {:bounding {:x1 113.265625,
                                     :y1 17.1875,
                                     :x2 288.39202880859375,
                                     :y2 70.1875,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 113.265625,
                                   :y1 17.1875,
                                   :x2 288.39202880859375,
                                   :y2 70.1875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 27},
               :content {:text "S-Format"},
               :properties {:color "red"}}],
 :extra {:page 22}}
