{:highlights [{:id #uuid "68ecf4a2-b8ea-4eba-9580-139e45a5fce0",
               :page 3,
               :position {:bounding {:x1 106.625,
                                     :y1 4.625,
                                     :x2 253.30003356933594,
                                     :y2 43.625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 106.625,
                                   :y1 4.625,
                                   :x2 253.30003356933594,
                                   :y2 43.625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 3},
               :content {:text "Great Idea"},
               :properties {:color "red"}}
              {:id #uuid "68ecf5a7-4be4-45f7-81c8-8cdaf6f93fdb",
               :page 11,
               :position {:bounding {:x1 276.68701171875,
                                     :y1 14.03125,
                                     :x2 468.46539306640625,
                                     :y2 66.03125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 276.68701171875,
                                   :y1 14.03125,
                                   :x2 468.46539306640625,
                                   :y2 66.03125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 11},
               :content {:text "Compiling"},
               :properties {:color "yellow"}}
              {:id #uuid "68ecf5ea-b73e-40e6-acde-2c1426153b11",
               :page 15,
               :position {:bounding {:x1 106.625,
                                     :y1 14.03125,
                                     :x2 309.78173828125,
                                     :y2 66.03125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 106.625,
                                   :y1 14.03125,
                                   :x2 309.78173828125,
                                   :y2 66.03125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 15},
               :content {:text "Assembler"},
               :properties {:color "red"}}
              {:id #uuid "68ecf6da-0caf-4b26-8816-a78af7835f11",
               :page 26,
               :position {:bounding {:x1 106.625,
                                     :y1 14.03125,
                                     :x2 217.5391387939453,
                                     :y2 66.03125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 106.625,
                                   :y1 14.03125,
                                   :x2 217.5391387939453,
                                   :y2 66.03125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 26},
               :content {:text "Linker"},
               :properties {:color "red"}}
              {:id #uuid "68ecf702-d076-45db-818a-e3864cab9638",
               :page 38,
               :position {:bounding {:x1 106.625,
                                     :y1 14.03125,
                                     :x2 236.6863555908203,
                                     :y2 66.03125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 106.625,
                                   :y1 14.03125,
                                   :x2 236.6863555908203,
                                   :y2 66.03125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 38},
               :content {:text "Loader"},
               :properties {:color "red"}}
              {:id #uuid "68ecf752-e807-406e-b719-598d02c5f22d",
               :page 41,
               :position {:bounding {:x1 106.625,
                                     :y1 12.25,
                                     :x2 273.36602783203125,
                                     :y2 64.25,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 106.625,
                                   :y1 12.25,
                                   :x2 273.36602783203125,
                                   :y2 64.25,
                                   :width 1060,
                                   :height 596.25}),
                          :page 41},
               :content {:text "Example"},
               :properties {:color "red"}}],
 :extra {:page 22}}
