{:highlights [{:id #uuid "664a0476-b4fe-4228-8c5b-be8852c924fd",
               :page 45,
               :position {:bounding {:x1 46,
                                     :y1 377,
                                     :x2 843,
                                     :y2 590,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1716126837004},
               :properties {:color "yellow"}}
              {:id #uuid "664a0499-2a36-42e8-b936-9667da8535e0",
               :page 44,
               :position {:bounding {:x1 15,
                                     :y1 290,
                                     :x2 953,
                                     :y2 410,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1716126872702},
               :properties {:color "yellow"}}
              {:id #uuid "664a06b1-7870-4e1a-8503-bf72933a57b2",
               :page 57,
               :position {:bounding {:x1 34,
                                     :y1 285,
                                     :x2 1004,
                                     :y2 558,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1722063023977},
               :properties {:color "green"}}
              {:id #uuid "664a0711-a0e6-40f5-8b39-383ec25ac195",
               :page 70,
               :position {:bounding {:x1 25,
                                     :y1 136,
                                     :x2 673,
                                     :y2 531,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1716127504633},
               :properties {:color "yellow"}}
              {:id #uuid "66a36701-88e8-4a1e-a1ed-28f5f535eafd",
               :page 42,
               :position {:bounding {:x1 1,
                                     :y1 201,
                                     :x2 901,
                                     :y2 595,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1721984768550},
               :properties {:color "red"}}
              {:id #uuid "66a36740-f890-4535-8b99-f68e2e87a3f9",
               :page 47,
               :position {:bounding {:x1 47,
                                     :y1 225,
                                     :x2 755,
                                     :y2 548,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1721984831402},
               :properties {:color "yellow"}}
              {:id #uuid "66a3678d-54ff-4067-a01c-694c10377c9a",
               :page 53,
               :position {:bounding {:x1 42,
                                     :y1 157,
                                     :x2 1063,
                                     :y2 587,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1721984907762},
               :properties {:color "red"}}],
 :extra {:page 70}}
