{:highlights [{:id #uuid "68ec690e-0c59-4710-9883-9c59bda073bf",
               :page 8,
               :position {:bounding {:x1 112.3125,
                                     :y1 17.015625,
                                     :x2 668.3292846679688,
                                     :y2 70.015625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 17.015625,
                                   :x2 668.3292846679688,
                                   :y2 70.015625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 8},
               :content {:text "RISC-V B-Format for Branches"},
               :properties {:color "red"}}
              {:id #uuid "68ec69eb-02ff-4ac4-8961-b31bc418c887",
               :page 8,
               :position {:bounding {:x1 171,
                                     :y1 83,
                                     :x2 1043,
                                     :y2 252,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1760324074311},
               :properties {:color "yellow"}}
              {:id #uuid "68ec7429-71fd-446b-803b-f43a5d721d51",
               :page 9,
               :position {:bounding {:x1 271,
                                     :y1 85,
                                     :x2 1046,
                                     :y2 435,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1760326695859},
               :properties {:color "red"}}
              {:id #uuid "68ec74e1-55f3-4934-a592-94546dfb2950",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 106,
                                     :x2 1044,
                                     :y2 472,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1760326880005},
               :properties {:color "red"}}
              {:id #uuid "68ec7577-673e-4f27-a494-d9d86f5b20fa",
               :page 18,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.46875,
                                     :x2 889.7568969726562,
                                     :y2 64.46875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.46875,
                                   :x2 889.7568969726562,
                                   :y2 64.46875,
                                   :width 1060,
                                   :height 596.25}),
                          :page 18},
               :content {:text "U-Format for “Upper Immediate” Instructions"},
               :properties {:color "red"}}
              {:id #uuid "68ec75ae-288d-42f2-9b3a-0adf99fdb08a",
               :page 18,
               :position {:bounding {:x1 249,
                                     :y1 92,
                                     :x2 1037,
                                     :y2 251,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1760327085725},
               :properties {:color "red"}}
              {:id #uuid "68ec771c-1101-4f4e-a554-4abb51531bee",
               :page 24,
               :position {:bounding {:x1 112.3125,
                                     :y1 17.015625,
                                     :x2 690.3455810546875,
                                     :y2 70.015625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 17.015625,
                                   :x2 690.3455810546875,
                                   :y2 70.015625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 24},
               :content {:text "J-Format for Jump Instructions"},
               :properties {:color "yellow"}}
              {:id #uuid "68ec798f-c4a4-4cd8-90f9-dccc66f7cbe8",
               :page 24,
               :position {:bounding {:x1 113,
                                     :y1 89,
                                     :x2 1039,
                                     :y2 224,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1760328078566},
               :properties {:color "red"}}
              {:id #uuid "68ec7c21-d6c4-49fb-b973-c0de27b6b328",
               :page 26,
               :position {:bounding {:x1 164,
                                     :y1 91,
                                     :x2 1043,
                                     :y2 225,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1760328736138},
               :properties {:color "yellow"}}
              {:id #uuid "68ec7ccf-eb83-471e-ab7d-6e62a629bfe5",
               :page 29,
               :position {:bounding {:x1 22,
                                     :y1 94,
                                     :x2 1042,
                                     :y2 394,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1760328909844},
               :properties {:color "red"}}],
 :extra {:page 13}}
