{:highlights [{:id #uuid "664a0476-b4fe-4228-8c5b-be8852c924fd",
               :page 45,
               :position {:bounding {:x1 46,
                                     :y1 377,
                                     :x2 843,
                                     :y2 590,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1716126837004},
               :properties {:color "yellow"}}
              {:id #uuid "664a0481-09e0-4a4f-b227-ff5321796d75",
               :page 41,
               :position {:bounding {:x1 36,
                                     :y1 205,
                                     :x2 907,
                                     :y2 585,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1716126848285},
               :properties {:color "red"}}
              {:id #uuid "664a0499-2a36-42e8-b936-9667da8535e0",
               :page 44,
               :position {:bounding {:x1 15,
                                     :y1 290,
                                     :x2 953,
                                     :y2 410,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1716126872702},
               :properties {:color "yellow"}}
              {:id #uuid "664a05c0-a560-4459-bbed-9b315ebb5e0b",
               :page 50,
               :position {:bounding {:x1 44,
                                     :y1 138,
                                     :x2 1055,
                                     :y2 558,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1716127167834},
               :properties {:color "red"}}
              {:id #uuid "664a06b1-7870-4e1a-8503-bf72933a57b2",
               :page 57,
               :position {:bounding {:x1 34,
                                     :y1 285,
                                     :x2 1004,
                                     :y2 584,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1716127408599},
               :properties {:color "green"}}
              {:id #uuid "664a0711-a0e6-40f5-8b39-383ec25ac195",
               :page 70,
               :position {:bounding {:x1 25,
                                     :y1 136,
                                     :x2 673,
                                     :y2 531,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1716127504633},
               :properties {:color "yellow"}}],
 :extra {:page 65}}
