{:highlights [{:id #uuid "68f1b773-ba24-48a7-b7b0-020cf2cc7e73",
               :page 2,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 385.985107421875,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 385.985107421875,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 2},
               :content {:text "R+I Arithmetic"},
               :properties {:color "red"}}
              {:id #uuid "68f1b7ec-193d-48d9-a129-98eaba4a4780",
               :page 3,
               :position {:bounding {:x1 267,
                                     :y1 124,
                                     :x2 1048,
                                     :y2 331,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1760671723432},
               :properties {:color "red"}}
              {:id #uuid "68f1b92b-f777-4d83-9daf-17bb87f141df",
               :page 5,
               :position {:bounding {:x1 273,
                                     :y1 90,
                                     :x2 1055,
                                     :y2 545,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1760672045598},
               :properties {:color "red"}}
              {:id #uuid "68f1b941-46f5-48b6-a8a3-8966fb261da1",
               :page 6,
               :position {:bounding {:x1 257,
                                     :y1 80,
                                     :x2 1041,
                                     :y2 340,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1760672064791},
               :properties {:color "red"}}
              {:id #uuid "68f1b94e-b93c-4ccd-ba45-e7df32779869",
               :page 8,
               :position {:bounding {:x1 112.3125,
                                     :y1 7.890625,
                                     :x2 528.9783325195312,
                                     :y2 76.890625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 259.125,
                                   :y1 7.890625,
                                   :x2 325.015625,
                                   :y2 76.890625,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 263.53125,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 323.59375,
                                   :y1 14.828125,
                                   :x2 528.9783325195312,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 250.421875,
                                   :y1 17.828125,
                                   :x2 325.015625,
                                   :y2 65,
                                   :width 1060,
                                   :height 596.25}),
                          :page 8},
               :content {:text "Adding sw instruction"},
               :properties {:color "red"}}
              {:id #uuid "68f1b9a0-fb0d-4e8e-88d9-5f3bca19ad99",
               :page 8,
               :position {:bounding {:x1 246,
                                     :y1 200,
                                     :x2 1048,
                                     :y2 392,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1760672227020},
               :properties {:color "red"}}
              {:id #uuid "68f1ba65-99a8-49f6-af6c-b68405c102dc",
               :page 11,
               :position {:bounding {:x1 270,
                                     :y1 97,
                                     :x2 1053,
                                     :y2 542,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1760672356020},
               :properties {:color "red"}}
              {:id #uuid "68f1bcd3-b632-4fee-898f-dbe8ba824be6",
               :page 12,
               :position {:bounding {:x1 245,
                                     :y1 80,
                                     :x2 1053,
                                     :y2 435,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1760672993650},
               :properties {:color "red"}}
              {:id #uuid "68f1bd02-1164-4bcc-9fb7-316e88631188",
               :page 13,
               :position {:bounding {:x1 266,
                                     :y1 281,
                                     :x2 1048,
                                     :y2 451,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1760673025196},
               :properties {:color "red"}}
              {:id #uuid "68f1bd11-dafa-43df-8dd7-6ca566aa8313",
               :page 15,
               :position {:bounding {:x1 498.25677490234375,
                                     :y1 16.9375,
                                     :x2 668.8880004882812,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 498.25677490234375,
                                   :y1 16.9375,
                                   :x2 668.8880004882812,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 15},
               :content {:text "Branches"},
               :properties {:color "red"}}
              {:id #uuid "68f1bd6f-0241-43af-8ef1-586c22e22f3a",
               :page 15,
               :position {:bounding {:x1 186,
                                     :y1 81,
                                     :x2 1048,
                                     :y2 248,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1760673134889},
               :properties {:color "red"}}
              {:id #uuid "68f1bfb7-88a1-499b-ad71-6403509471b6",
               :page 19,
               :position {:bounding {:x1 278,
                                     :y1 155,
                                     :x2 490,
                                     :y2 481,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1760673718341},
               :properties {:color "red"}}
              {:id #uuid "68f1c1e6-ec48-427b-ba3f-24d493d20999",
               :page 22,
               :position {:bounding {:x1 21,
                                     :y1 75,
                                     :x2 1048,
                                     :y2 569,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1760674282705},
               :properties {:color "red"}}
              {:id #uuid "68f1c202-0265-4cf7-84f2-7e6475332324",
               :page 23,
               :position {:bounding {:x1 258,
                                     :y1 98,
                                     :x2 1056,
                                     :y2 543,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1760674305753},
               :properties {:color "red"}}
              {:id #uuid "68f1c23b-f611-491b-b9ee-234ebf2545f7",
               :page 25,
               :position {:bounding {:x1 112.3125,
                                     :y1 7.890625,
                                     :x2 404.9061279296875,
                                     :y2 76.890625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 295.515625,
                                   :y1 7.890625,
                                   :x2 404.9061279296875,
                                   :y2 76.890625,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 299.78125,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 286.671875,
                                   :y1 17.828125,
                                   :x2 299.78125,
                                   :y2 65,
                                   :width 1060,
                                   :height 596.25}),
                          :page 25},
               :content {:text "Let’s Add JALR"},
               :properties {:color "red"}}
              {:id #uuid "68f1c277-ab1f-4c6b-85af-2271ca333292",
               :page 25,
               :position {:bounding {:x1 158,
                                     :y1 83,
                                     :x2 1046,
                                     :y2 231,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1760674422696},
               :properties {:color "red"}}
              {:id #uuid "68f1c2d5-a119-4884-9a56-fc7b327197aa",
               :page 30,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 691.4283447265625,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 691.4283447265625,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 30},
               :content {:text "J-Format for Jump Instructions"},
               :properties {:color "red"}}
              {:id #uuid "68f1c304-3ed5-42f3-86f4-fc82c4b7a501",
               :page 30,
               :position {:bounding {:x1 116,
                                     :y1 87,
                                     :x2 1034,
                                     :y2 224,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1760674563096},
               :properties {:color "red"}}
              {:id #uuid "68f1c38c-0d7a-480d-b304-31219823c6f1",
               :page 32,
               :position {:bounding {:x1 269,
                                     :y1 97,
                                     :x2 1054,
                                     :y2 546,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1760674703009},
               :properties {:color "red"}}
              {:id #uuid "68f1c402-39b2-431f-9ea6-e1801326d09e",
               :page 34,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.484375,
                                     :x2 268.41265869140625,
                                     :y2 64.484375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.484375,
                                   :x2 268.41265869140625,
                                   :y2 64.484375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 34},
               :content {:text "U-Forma"},
               :properties {:color "red"}}
              {:id #uuid "68f1c426-98eb-409f-951a-5410550cd79d",
               :page 34,
               :position {:bounding {:x1 258,
                                     :y1 92,
                                     :x2 1032,
                                     :y2 248,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1760674853096},
               :properties {:color "red"}}
              {:id #uuid "68f1c496-f93d-4fa1-bcfb-8a7a01b0cc2f",
               :page 36,
               :position {:bounding {:x1 264,
                                     :y1 104,
                                     :x2 1055,
                                     :y2 544,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1760674970645},
               :properties {:color "red"}}
              {:id #uuid "68f1c4cb-5d18-4da3-9bfa-20269559ee72",
               :page 37,
               :position {:bounding {:x1 277,
                                     :y1 120,
                                     :x2 1054,
                                     :y2 542,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1760675018682},
               :properties {:color "red"}}
              {:id #uuid "68f1c4ed-d9b0-499b-abf3-d82adde195ae",
               :page 39,
               :position {:bounding {:x1 112.3125,
                                     :y1 14.828125,
                                     :x2 607.9996948242188,
                                     :y2 67.828125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 607.9996948242188,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 39},
               :content {:text "Complete RV32I Datapath"},
               :properties {:color "red"}}
              {:id #uuid "68f1c501-2649-412c-ba6b-64c20a392a71",
               :page 39,
               :position {:bounding {:x1 266,
                                     :y1 117,
                                     :x2 1054,
                                     :y2 546,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1760675072730},
               :properties {:color "red"}}],
 :extra {:page 3}}
