{:highlights [{:id #uuid "68ede627-f207-4ca3-adbb-5506d39217ab",
               :page 3,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 207.66534423828125,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 207.66534423828125,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 3},
               :content {:text "Uses"},
               :properties {:color "red"}}
              {:id #uuid "68ede676-869f-4a44-b381-c28ba17635ed",
               :page 8,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 412.7699279785156,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 412.7699279785156,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 8},
               :content {:text "Register Details"},
               :properties {:color "red"}}
              {:id #uuid "68ede6f3-47fa-484c-b1d9-8ee316a5dacc",
               :page 8,
               :position {:bounding {:x1 292,
                                     :y1 93,
                                     :x2 950,
                                     :y2 294,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1760421618445},
               :properties {:color "red"}}
              {:id #uuid "68ede764-1511-4131-8348-13e081350a06",
               :page 9,
               :position {:bounding {:x1 274,
                                     :y1 313,
                                     :x2 1030,
                                     :y2 545,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1760421781744},
               :properties {:color "red"}}
              {:id #uuid "68ede77d-2b34-4938-b61e-d6c4f13097b5",
               :page 10,
               :position {:bounding {:x1 292,
                                     :y1 312,
                                     :x2 1052,
                                     :y2 547,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1760421787438},
               :properties {:color "red"}}
              {:id #uuid "68ede7fc-1d97-4e07-8e90-e8bcb5088122",
               :page 6,
               :position {:bounding {:x1 607,
                                     :y1 87,
                                     :x2 1011,
                                     :y2 289,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1760421883696},
               :properties {:color "yellow"}}
              {:id #uuid "68ede80f-1dbf-4397-80c3-671961762fa2",
               :page 6,
               :position {:bounding {:x1 424,
                                     :y1 307,
                                     :x2 977,
                                     :y2 495,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1760421905908},
               :properties {:color "red"}}
              {:id #uuid "68ede8f9-ebac-46fa-9017-9e4c8cd033ff",
               :page 12,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 539.110595703125,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 539.110595703125,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 12},
               :content {:text "Accumulator Revisited"},
               :properties {:color "red"}}
              {:id #uuid "68ede906-81d6-435d-a780-4b2872c67333",
               :page 12,
               :position {:bounding {:x1 274,
                                     :y1 299,
                                     :x2 641,
                                     :y2 540,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1760422148960},
               :properties {:color "yellow"}}
              {:id #uuid "68ede929-7ac3-4309-8206-41d962fd69b9",
               :page 13,
               :position {:bounding {:x1 263,
                                     :y1 85,
                                     :x2 873,
                                     :y2 278,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1760422184355},
               :properties {:color "yellow"}}
              {:id #uuid "68ede9c9-4836-4070-b0e0-44959096f9e6",
               :page 15,
               :position {:bounding {:x1 629.734375,
                                     :y1 574.5,
                                     :x2 668.3988647460938,
                                     :y2 593.5,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 629.734375,
                                   :y1 574.5,
                                   :x2 668.3988647460938,
                                   :y2 593.5,
                                   :width 1060,
                                   :height 596.25}),
                          :page 15},
               :content {:text "State"},
               :properties {:color "red"}}
              {:id #uuid "68eded95-0161-477a-8445-fafc2dfe748e",
               :page 16,
               :position {:bounding {:x1 316,
                                     :y1 153,
                                     :x2 1017,
                                     :y2 432,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1760423315343},
               :properties {:color "yellow"}}
              {:id #uuid "68ededac-8c7e-41e5-b8b7-adaf117e6aa0",
               :page 17,
               :position {:bounding {:x1 322.65625,
                                     :y1 88.046875,
                                     :x2 956.6445922851562,
                                     :y2 121.046875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 322.65625,
                                   :y1 88.046875,
                                   :x2 956.6445922851562,
                                   :y2 121.046875,
                                   :width 1060,
                                   :height 596.25}),
                          :page 17},
               :content {:text "Insertion of register allows higher clock frequency"},
               :properties {:color "red"}}
              {:id #uuid "68edede1-00f4-4dbc-a13f-103b00f43825",
               :page 17,
               :position {:bounding {:x1 249,
                                     :y1 174,
                                     :x2 1041,
                                     :y2 544,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1760423398164},
               :properties {:color "red"}}
              {:id #uuid "68edee63-4142-4428-b400-b16eaad4972c",
               :page 20,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 529.0006103515625,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 529.0006103515625,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 20},
               :content {:text "Finite State Machines "},
               :properties {:color "red"}}
              {:id #uuid "68edef2d-d8e6-496a-9645-d34d2a9dae39",
               :page 20,
               :position {:bounding {:x1 593,
                                     :y1 163,
                                     :x2 941,
                                     :y2 435,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1760423724489},
               :properties {:color "red"}}
              {:id #uuid "68edef56-345c-4a94-b4be-1c1ae66fadc6",
               :page 21,
               :position {:bounding {:x1 268,
                                     :y1 168,
                                     :x2 1015,
                                     :y2 277,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1760423765868},
               :properties {:color "red"}}
              {:id #uuid "68edef61-e760-4796-8f8c-c14ff74987d5",
               :page 21,
               :position {:bounding {:x1 670,
                                     :y1 301,
                                     :x2 1029,
                                     :y2 498,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1760423780898},
               :properties {:color "red"}}
              {:id #uuid "68ee00e9-2d3a-4f00-9d4d-b8a1f108ccd0",
               :page 22,
               :position {:bounding {:x1 257,
                                     :y1 302,
                                     :x2 1012,
                                     :y2 567,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1760428270558},
               :properties {:color "red"}}
              {:id #uuid "68ee0123-56bf-441f-a3ba-bf8015f17603",
               :page 23,
               :position {:bounding {:x1 646,
                                     :y1 265,
                                     :x2 944,
                                     :y2 560,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1760428322288},
               :properties {:color "red"}}],
 :extra {:page 23}}
