{:highlights [{:id #uuid "68f19fe1-c7c9-44f4-916e-8a501ca565dd",
               :page 9,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 896.9305419921875,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 896.9305419921875,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 9},
               :content {:text "One-Instruction-Per-Cycle RISC-V Machine"},
               :properties {:color "red"}}
              {:id #uuid "68f1a007-5ad1-4ea7-b0eb-1f432a020bdd",
               :page 12,
               :position {:bounding {:x1 246,
                                     :y1 94,
                                     :x2 1055,
                                     :y2 549,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1760665634186},
               :properties {:color "red"}}
              {:id #uuid "68f1a063-6672-480a-998e-f556fba3a920",
               :page 15,
               :position {:bounding {:x1 789,
                                     :y1 89,
                                     :x2 1051,
                                     :y2 242,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1760665718128},
               :properties {:color "red"}}
              {:id #uuid "68f1a0ad-da99-4ab1-9984-c1b1ef928877",
               :page 2,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 485.29095458984375,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 485.29095458984375,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 2},
               :content {:text "Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68f1a0ca-277d-42cb-b486-85ab160d4f4d",
               :page 5,
               :position {:bounding {:x1 260,
                                     :y1 89,
                                     :x2 1046,
                                     :y2 520,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1760665801756},
               :properties {:color "red"}}
              {:id #uuid "68f1a119-ce7a-435d-9799-7b560c662345",
               :page 20,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 628.0469970703125,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 628.0469970703125,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 20},
               :content {:text "Review: R-Type Instructions"},
               :properties {:color "red"}}
              {:id #uuid "68f1a14b-64f9-45ac-ad44-dd5f1e84060e",
               :page 20,
               :position {:bounding {:x1 238,
                                     :y1 88,
                                     :x2 1044,
                                     :y2 548,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1760665930153},
               :properties {:color "red"}}
              {:id #uuid "68f1a1a4-d6b8-481d-97e6-dc98a5219f44",
               :page 22,
               :position {:bounding {:x1 293,
                                     :y1 85,
                                     :x2 1040,
                                     :y2 486,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1760666019254},
               :properties {:color "red"}}
              {:id #uuid "68f1a1cc-94ea-4a4d-bc8a-b77aef113540",
               :page 25,
               :position {:bounding {:x1 112.3125,
                                     :y1 7.890625,
                                     :x2 760.3995971679688,
                                     :y2 76.890625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 463.34375,
                                   :y1 7.890625,
                                   :x2 556.28125,
                                   :y2 76.890625,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 467.65625,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 554.859375,
                                   :y1 14.828125,
                                   :x2 760.3995971679688,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 454.546875,
                                   :y1 17.828125,
                                   :x2 556.28125,
                                   :y2 65,
                                   :width 1060,
                                   :height 596.25}),
                          :page 25},
               :content {:text "Implementing the sub instruction"},
               :properties {:color "red"}}
              {:id #uuid "68f1a207-34d3-4e36-a26a-198aafa0e99b",
               :page 26,
               :position {:bounding {:x1 273,
                                     :y1 83,
                                     :x2 1045,
                                     :y2 484,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1760666123019},
               :properties {:color "red"}}
              {:id #uuid "68f1a242-2352-4ba9-ad43-2c16a63fb676",
               :page 29,
               :position {:bounding {:x1 112.3125,
                                     :y1 7.890625,
                                     :x2 902.1033325195312,
                                     :y2 76.890625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 578.171875,
                                   :y1 7.890625,
                                   :x2 698.140625,
                                   :y2 76.890625,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 582.0625,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 696.71875,
                                   :y1 14.828125,
                                   :x2 902.1033325195312,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 568.953125,
                                   :y1 17.828125,
                                   :x2 698.140625,
                                   :y2 65,
                                   :width 1060,
                                   :height 596.25}),
                          :page 29},
               :content {:text "Implementing I-Format - addi instruction"},
               :properties {:color "red"}}
              {:id #uuid "68f48745-031b-413c-9aa3-58385def88a0",
               :page 33,
               :position {:bounding {:x1 318,
                                     :y1 93,
                                     :x2 1161,
                                     :y2 619,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1760855876564},
               :properties {:color "red"}}],
 :extra {:page 20}}
