{:highlights [{:id #uuid "68edbc99-3cb6-4336-a7b5-55724584d0ac",
               :page 3,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 484.5081787109375,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 484.5081787109375,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 3},
               :content {:text "Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68edc228-78c8-4cfd-b63a-9f04f479273b",
               :page 12,
               :position {:bounding {:x1 197.06942749023438,
                                     :y1 17.140625,
                                     :x2 371.2004089355469,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 197.06942749023438,
                                   :y1 17.140625,
                                   :x2 371.2004089355469,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 12},
               :content {:text "Transisto"},
               :properties {:color "red"}}
              {:id #uuid "68edc315-c7bb-4892-b902-40b7e22a28f9",
               :page 14,
               :position {:bounding {:x1 278,
                                     :y1 262,
                                     :x2 981,
                                     :y2 544,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1760412436725},
               :properties {:color "red"}}
              {:id #uuid "68edc398-1969-430f-a596-771f3cff7538",
               :page 16,
               :position {:bounding {:x1 326,
                                     :y1 163,
                                     :x2 998,
                                     :y2 453,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1760412567538},
               :properties {:color "red"}}
              {:id #uuid "68edc3ad-9b09-48f5-ab82-bfbd250d2a81",
               :page 18,
               :position {:bounding {:x1 112.359375,
                                     :y1 17.140625,
                                     :x2 563.9188232421875,
                                     :y2 69.140625,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 17.140625,
                                   :x2 563.9188232421875,
                                   :y2 69.140625,
                                   :width 1060,
                                   :height 596.25}),
                          :page 18},
               :content {:text "Signals and Waveforms"},
               :properties {:color "red"}}],
 :extra {:page 24}}
