{:highlights [{:id #uuid "68f33235-249f-467c-b414-a3089aacc701",
               :page 2,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 662.1629638671875,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 662.1629638671875,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 2},
               :content {:text "‘Sequential’ RISC-V Datapath"},
               :properties {:color "red"}}
              {:id #uuid "68f332cd-adc0-4ccb-bd5b-40349f033be5",
               :page 6,
               :position {:bounding {:x1 230,
                                     :y1 113,
                                     :x2 1031,
                                     :y2 536,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1760768716102},
               :properties {:color "red"}}
              {:id #uuid "68f332ea-5de3-4c64-a8fb-41088352ac1c",
               :page 8,
               :position {:bounding {:x1 112.3125,
                                     :y1 14.828125,
                                     :x2 655.9735107421875,
                                     :y2 67.828125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 14.828125,
                                   :x2 655.9735107421875,
                                   :y2 67.828125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 8},
               :content {:text "Single-Cycle RV32I Datapath"},
               :properties {:color "red"}}
              {:id #uuid "68f333be-a3bc-48f3-8c44-86fd20d5e711",
               :page 10,
               :position {:bounding {:x1 102,
                                     :y1 10,
                                     :x2 1060.09375,
                                     :y2 569,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1760768986914},
               :properties {:color "red"}}
              {:id #uuid "68f33445-1bd5-46cb-9dda-6f352ce3a54d",
               :page 12,
               :position {:bounding {:x1 320,
                                     :y1 247,
                                     :x2 916,
                                     :y2 559,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1760769096949},
               :properties {:color "red"}}
              {:id #uuid "68f3345d-6eed-491f-87dd-ff79f822b082",
               :page 14,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 272.15875244140625,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 272.15875244140625,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 14},
               :content {:text "Hazards"},
               :properties {:color "red"}}
              {:id #uuid "68f3351f-aec8-4de5-a63e-24f2922bfbbc",
               :page 22,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 359.62469482421875,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 359.62469482421875,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 22},
               :content {:text "Data Hazard:"},
               :properties {:color "red"}}
              {:id #uuid "68f33552-f6fe-4557-9a9b-25ffe4869793",
               :page 24,
               :position {:bounding {:x1 258,
                                     :y1 109,
                                     :x2 1044,
                                     :y2 543,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1760769361244},
               :properties {:color "red"}}
              {:id #uuid "68f3356b-bfac-476f-91fb-bb511f868964",
               :page 25,
               :position {:bounding {:x1 249,
                                     :y1 107,
                                     :x2 1013,
                                     :y2 513,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1760769389228},
               :properties {:color "red"}}
              {:id #uuid "68f335a9-ead6-417e-a1b7-52fa806652b9",
               :page 28,
               :position {:bounding {:x1 248,
                                     :y1 88,
                                     :x2 912,
                                     :y2 411,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1760769447940},
               :properties {:color "red"}}
              {:id #uuid "68f335c4-1ebe-4ecf-b892-4f565db91724",
               :page 30,
               :position {:bounding {:x1 250,
                                     :y1 90,
                                     :x2 1057,
                                     :y2 540,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1760769475640},
               :properties {:color "red"}}],
 :extra {:page 17}}
