{:highlights [{:id #uuid "6353a650-909f-4ba5-875c-0d860276c52a",
               :page 9,
               :position {:bounding {:x1 91.703125,
                                     :y1 130.484375,
                                     :x2 581.9021606445312,
                                     :y2 163.484375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 130.484375,
                                   :x2 581.9021606445312,
                                   :y2 163.484375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text "This is not the only way to run Java code."},
               :properties {:color "blue"}}
              {:id #uuid "6353a660-dad7-4994-819e-1f847c945731",
               :page 9,
               :position {:bounding {:x1 38.96875,
                                     :y1 318.90625,
                                     :x2 372.56268310546875,
                                     :y2 351.90625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 38.96875,
                                   :y1 318.90625,
                                   :x2 372.56268310546875,
                                   :y2 351.90625,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text "Why make a class file at all?"},
               :properties {:color "blue"}}
              {:id #uuid "6353a66b-4769-450d-a334-52ddcb6669ab",
               :page 9,
               :position {:bounding {:x1 65.65625,
                                     :y1 363.359375,
                                     :x2 789.54443359375,
                                     :y2 396.359375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 65.65625,
                                   :y1 363.359375,
                                   :x2 789.54443359375,
                                   :y2 396.359375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text " .class file has been type checked. Distributed code is safer."},
               :properties {:color "green"}}
              {:id #uuid "6353a672-ad1a-40d3-85dd-aebed55e3bc4",
               :page 9,
               :position {:bounding {:x1 65.65625,
                                     :y1 398.9375,
                                     :x2 969.2819213867188,
                                     :y2 431.9375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 65.65625,
                                   :y1 398.9375,
                                   :x2 969.2819213867188,
                                   :y2 431.9375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text " .class files are ‘simpler’ for machine to execute. Distributed code is faster."},
               :properties {:color "green"}}
              {:id #uuid "6353a683-6de3-4000-ade2-1ec21b77b9ba",
               :page 9,
               :position {:bounding {:x1 92.3125,
                                     :y1 434.5,
                                     :x2 1028.931396484375,
                                     :y2 467.5,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 92.3125,
                                   :y1 434.5,
                                   :x2 1028.931396484375,
                                   :y2 467.5,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text "Minor benefit: Protects your intellectual property. No need to give out source."},
               :properties {:color "blue"}}
              {:id #uuid "6353a70e-6777-4c50-bf79-c8b58740757c",
               :page 9,
               :position {:bounding {:x1 342.40625,
                                     :y1 563.828125,
                                     :x2 957.7425537109375,
                                     :y2 586.828125,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 342.40625,
                                   :y1 563.828125,
                                   :x2 957.7425537109375,
                                   :y2 586.828125,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 9},
               :content {:text "Note: .class files are easily reversible into similar looking Java files."},
               :properties {:color "green"}}
              {:id #uuid "6353a802-7568-411d-84a7-0d57ca01b5f0",
               :page 14,
               :position {:bounding {:x1 38.34375,
                                     :y1 86.03125,
                                     :x2 865.90185546875,
                                     :y2 119.03125,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 38.34375,
                                   :y1 86.03125,
                                   :x2 865.90185546875,
                                   :y2 119.03125,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 14},
               :content {:text "Classes can contain not just functions (a.k.a. methods), but also data."},
               :properties {:color "yellow"}}
              {:id #uuid "6353a86f-0e66-4e77-92cd-7b2515330ccd",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 448,
                                     :x2 1008.9081420898438,
                                     :y2 562.015625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 0,
                                   :y1 448,
                                   :x2 0,
                                   :y2 464,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 0,
                                   :y1 464,
                                   :x2 0,
                                   :y2 480,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 711.546875,
                                   :y1 465.65625,
                                   :x2 1008.9081420898438,
                                   :y2 488.65625,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 0,
                                   :y1 480,
                                   :x2 0,
                                   :y2 496,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 711.546875,
                                   :y1 490.109375,
                                   :x2 955.920654296875,
                                   :y2 513.109375,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 711.546875,
                                   :y1 514.5625,
                                   :x2 996.2081298828125,
                                   :y2 537.5625,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 711.546875,
                                   :y1 539.015625,
                                   :x2 807.1942749023438,
                                   :y2 562.015625,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 15},
               :content {:text "Roughly speaking: If the method needs to use “my instance variables”, the method must be non-static."},
               :properties {:color "blue"}}
              {:id #uuid "6353a8c2-00d7-40a4-98e0-f80156046689",
               :page 17,
               :position {:bounding {:x1 38.34375,
                                     :y1 86.03125,
                                     :x2 385.3283996582031,
                                     :y2 119.03125,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 38.34375,
                                   :y1 86.03125,
                                   :x2 385.3283996582031,
                                   :y2 119.03125,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 17},
               :content {:text "To create an array of objects:"},
               :properties {:color "blue"}}
              {:id #uuid "6353a8cd-9a93-4a21-9960-0b27bbb31e24",
               :page 17,
               :position {:bounding {:x1 91.703125,
                                     :y1 126.15625,
                                     :x2 637.969970703125,
                                     :y2 169.15625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 245.328125,
                                   :y1 126.15625,
                                   :x2 303.1636657714844,
                                   :y2 169.15625,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 91.703125,
                                   :y1 130.484375,
                                   :x2 637.969970703125,
                                   :y2 163.484375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 17},
               :content {:text "First use the new keyword to create the array."},
               :properties {:color "blue"}}
              {:id #uuid "6353a8d9-8613-4248-b188-56c3eb41c7e4",
               :page 17,
               :position {:bounding {:x1 91.703125,
                                     :y1 161.71875,
                                     :x2 916.8963012695312,
                                     :y2 204.71875,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 207.296875,
                                   :y1 161.71875,
                                   :x2 265.1324157714844,
                                   :y2 204.71875,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 91.703125,
                                   :y1 166.046875,
                                   :x2 916.8963012695312,
                                   :y2 199.046875,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 17},
               :content {:text "Then use new again for each object that you want to put in the array."},
               :properties {:color "blue"}}
              {:id #uuid "6353a919-86a7-46ab-9cbb-813625b238f3",
               :page 17,
               :position {:bounding {:x1 364,
                                     :y1 480,
                                     :x2 1002,
                                     :y2 592,
                                     :width 1067,
                                     :height 600.1875},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1666427160452},
               :properties {:color "blue"}}
              {:id #uuid "6353a95f-36c2-4420-81e4-37cd70fddb1a",
               :page 19,
               :position {:bounding {:x1 91.703125,
                                     :y1 130.484375,
                                     :x2 950.7355346679688,
                                     :y2 163.484375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 130.484375,
                                   :x2 950.7355346679688,
                                   :y2 163.484375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 19},
               :content {:text "Static methods are invoked using the class name, e.g. Dog.makeNoise();"},
               :properties {:color "blue"}}
              {:id #uuid "6353a97d-a4a5-4242-9103-99f33586bcc7",
               :page 19,
               :position {:bounding {:x1 91.703125,
                                     :y1 166.046875,
                                     :x2 1034.9976806640625,
                                     :y2 199.046875,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 166.046875,
                                   :x2 1034.9976806640625,
                                   :y2 199.046875,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 19},
               :content {:text "Instance methods are invoked using an instance name, e.g. maya.makeNoise();"},
               :properties {:color "blue"}}
              {:id #uuid "6353a9a9-78b9-47f4-965b-2c720f5aacb1",
               :page 19,
               :position {:bounding {:x1 91.703125,
                                     :y1 201.625,
                                     :x2 1032.2470703125,
                                     :y2 234.625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 201.625,
                                   :x2 1032.2470703125,
                                   :y2 234.625,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 19},
               :content {:text "Static methods can’t access “my” instance variables, because there is no “me”."},
               :properties {:color "blue"}}
              {:id #uuid "6353aa02-e712-46f1-8869-df9774c3b361",
               :page 21,
               :position {:bounding {:x1 91.703125,
                                     :y1 201.625,
                                     :x2 993.2726440429688,
                                     :y2 234.625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 201.625,
                                   :x2 993.2726440429688,
                                   :y2 234.625,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 21},
               :content {:text "Non-static members cannot be invoked using class name: Dog.makeNoise()"},
               :properties {:color "blue"}}
              {:id #uuid "6353aa43-7720-429c-aa84-08cd6f6e5e74",
               :page 29,
               :position {:bounding {:x1 128.03125,
                                     :y1 441.6875,
                                     :x2 977.9279174804688,
                                     :y2 474.6875,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 128.03125,
                                   :y1 441.6875,
                                   :x2 977.9279174804688,
                                   :y2 474.6875,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 29},
               :content {:text "but you’ll have to spend some time getting acquainted with the library."},
               :properties {:color "blue"}}
              {:id #uuid "6353c8b5-4463-403c-b0f7-28079e0025a5",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 32,
                                     :x2 857.4805603027344,
                                     :y2 154.59375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 254.02511596679688,
                                   :y1 86.03125,
                                   :x2 857.4805603027344,
                                   :y2 119.03125,
                                   :width 1067,
                                   :height 600.1875}
                                  {:x1 38.34375,
                                   :y1 121.59375,
                                   :x2 144.04888916015625,
                                   :y2 154.59375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 30},
               :content {:text " you’ll want to leverage existing libraries whenever possible."},
               :properties {:color "blue"}}
              {:id #uuid "6353c920-5573-4075-b688-295583f293c1",
               :page 30,
               :position {:bounding {:x1 38.34375,
                                     :y1 210.515625,
                                     :x2 652.787841796875,
                                     :y2 243.515625,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 38.34375,
                                   :y1 210.515625,
                                   :x2 652.787841796875,
                                   :y2 243.515625,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 30},
               :content {:text "Best ways to learn how to use an unfamiliar library:"},
               :properties {:color "blue"}}
              {:id #uuid "6353c92a-56de-4682-a53b-0af361a4edeb",
               :page 30,
               :position {:bounding {:x1 91.703125,
                                     :y1 254.96875,
                                     :x2 769.6046752929688,
                                     :y2 287.96875,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 254.96875,
                                   :x2 769.6046752929688,
                                   :y2 287.96875,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 30},
               :content {:text "Find a tutorial (on the web, youtube, etc.) for the library."},
               :properties {:color "green"}}
              {:id #uuid "6353c936-e724-4bf7-9bd0-8d0e4aa11da9",
               :page 30,
               :position {:bounding {:x1 91.703125,
                                     :y1 290.53125,
                                     :x2 902.4242553710938,
                                     :y2 323.53125,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 290.53125,
                                   :x2 902.4242553710938,
                                   :y2 323.53125,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 30},
               :content {:text "Read the documentation for the library (Java docs often very good)."},
               :properties {:color "green"}}
              {:id #uuid "6353c953-7f43-4d68-b141-35e627b59370",
               :page 30,
               :position {:bounding {:x1 91.703125,
                                     :y1 326.109375,
                                     :x2 700.8741455078125,
                                     :y2 359.109375,
                                     :width 1067,
                                     :height 600.1875},
                          :rects ({:x1 91.703125,
                                   :y1 326.109375,
                                   :x2 700.8741455078125,
                                   :y2 359.109375,
                                   :width 1067,
                                   :height 600.1875}),
                          :page 30},
               :content {:text "Look at example code snippets that use the library."},
               :properties {:color "green"}}],
 :extra {:page 9}}
