{:highlights [{:id #uuid "68f6e1d6-362f-4f81-83ac-fd147d28ebbc",
               :page 3,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 628.5255126953125,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 628.5255126953125,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}
                                  {:x1 263.328125,
                                   :y1 23.78125,
                                   :x2 281.78125,
                                   :y2 79.171875,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 3},
               :content {:text "Direct-Mapped Cache"},
               :properties {:color "red"}}
              {:id #uuid "68f6e3b8-63b2-419f-9377-73a023200327",
               :page 9,
               :position {:bounding {:x1 325,
                                     :y1 103,
                                     :x2 1196,
                                     :y2 643,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1761010615766},
               :properties {:color "red"}}
              {:id #uuid "68f6e45f-be5d-47c8-ae14-8dda8509ad81",
               :page 16,
               :position {:bounding {:x1 293,
                                     :y1 100,
                                     :x2 1207,
                                     :y2 648,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1761010781732},
               :properties {:color "red"}}
              {:id #uuid "68f6e475-8d94-42fb-a76c-0786ba8798e4",
               :page 11,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 838.5242309570312,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 838.5242309570312,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}
                                  {:x1 263.328125,
                                   :y1 23.78125,
                                   :x2 281.78125,
                                   :y2 79.171875,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 11},
               :content {:text "Direct-Mapped Cache Example"},
               :properties {:color "yellow"}}
              {:id #uuid "68f6e4a8-7fdf-47a1-833c-d52996842e91",
               :page 18,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 614.6280517578125,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 614.6280517578125,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 18},
               :content {:text "Caching Terminology"},
               :properties {:color "red"}}],
 :extra {:page 9}}
