{:highlights [{:id #uuid "68f3213c-5128-4854-8f3b-5fda940cd1f3",
               :page 6,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 559.3057861328125,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 559.3057861328125,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 6},
               :content {:text "Performance Measures"},
               :properties {:color "red"}}
              {:id #uuid "68f3219d-3a77-4dda-b6f0-359d1fc7934b",
               :page 10,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 818.6668090820312,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 818.6668090820312,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 10},
               :content {:text "“Iron Law” of Processor Performance"},
               :properties {:color "red"}}
              {:id #uuid "68f3226f-6d96-4bc8-9422-f56ebfc216b8",
               :page 16,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 744.7626953125,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 744.7626953125,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 16},
               :content {:text "Where Does Energy Go in CMOS?"},
               :properties {:color "red"}}
              {:id #uuid "68f322a2-7b32-4933-bf01-c2c913419390",
               :page 16,
               :position {:bounding {:x1 542,
                                     :y1 82,
                                     :x2 1047,
                                     :y2 536,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1760764576091},
               :properties {:color "red"}}
              {:id #uuid "68f323d3-7347-49ee-86e5-d46c19667116",
               :page 23,
               :position {:bounding {:x1 112.3125,
                                     :y1 16.9375,
                                     :x2 451.8551940917969,
                                     :y2 69.9375,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.3125,
                                   :y1 16.9375,
                                   :x2 451.8551940917969,
                                   :y2 69.9375,
                                   :width 1060,
                                   :height 596.25}),
                          :page 23},
               :content {:text "Gotta Do Laundry"},
               :properties {:color "red"}}],
 :extra {:page 22}}
