{:highlights [{:id #uuid "68f8a605-189a-42db-8b59-16b784541a8a",
               :page 2,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 467.44873046875,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 467.44873046875,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "Virtual Memory"},
               :properties {:color "red"}}
              {:id #uuid "68f8a63f-bfae-4894-8c49-35bffa7a46c5",
               :page 10,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 310.66229248046875,
                                     :y2 80.42388916015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 310.66229248046875,
                                   :y2 80.42388916015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 10},
               :content {:text "Memory"},
               :properties {:color "red"}}
              {:id #uuid "68f8a66c-ff52-4e5e-a5aa-6dc895f0ebe6",
               :page 17,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 467.44873046875,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 467.44873046875,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 17},
               :content {:text "Virtual Memory"},
               :properties {:color "red"}}
              {:id #uuid "68f8a6b6-79ee-453d-a591-6bd167545bce",
               :page 23,
               :position {:bounding {:x1 625.1565551757812,
                                     :y1 21.2698974609375,
                                     :x2 960.8423461914062,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 625.1565551757812,
                                   :y1 21.2698974609375,
                                   :x2 960.8423461914062,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 23},
               :content {:text "Paged Memory"},
               :properties {:color "red"}}
              {:id #uuid "68f8a781-d6a1-4660-b44b-671f04a7d3ef",
               :page 27,
               :position {:bounding {:x1 358,
                                     :y1 89.666015625,
                                     :x2 838,
                                     :y2 466.666015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1761126272504},
               :properties {:color "red"}}
              {:id #uuid "68f8a7a5-e678-45a4-804b-db461458a9a3",
               :page 26,
               :position {:bounding {:x1 291,
                                     :y1 454.3984375,
                                     :x2 852,
                                     :y2 606.3984375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1761126308565},
               :properties {:color "red"}}
              {:id #uuid "68f8a871-ce84-4d0a-a7f4-e08e77a0c684",
               :page 30,
               :position {:bounding {:x1 348,
                                     :y1 92.98828125,
                                     :x2 1168,
                                     :y2 631.98828125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1761126512626},
               :properties {:color "yellow"}}
              {:id #uuid "68f8a8b5-212e-4ac2-b60e-a2f3c03a018a",
               :page 32,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 21.2698974609375,
                                     :x2 478.3483467102051,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 21.2698974609375,
                                   :x2 478.3483467102051,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 32},
               :content {:text "Blocks vs. Pages"},
               :properties {:color "red"}}
              {:id #uuid "68f8a925-a734-4a3e-8569-d06400479856",
               :page 35,
               :position {:bounding {:x1 321,
                                     :y1 92.56640625,
                                     :x2 1123,
                                     :y2 639.56640625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1761126692495},
               :properties {:color "yellow"}}],
 :extra {:page 36}}
