{:highlights [{:id #uuid "68f88273-e3c5-4874-8246-431928cebc2a",
               :page 2,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 549.3408203125,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 549.3408203125,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68f88309-edf7-42f8-82c1-0a278236f1fa",
               :page 15,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 590.042236328125,
                                     :y2 80.42388916015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 590.042236328125,
                                   :y2 80.42388916015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 15},
               :content {:text "Well, “Just Software”"},
               :properties {:color "red"}}
              {:id #uuid "68f8834b-cd88-4582-a043-c307160c4057",
               :page 23,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 626.052734375,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 626.052734375,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 23},
               :content {:text "Launching Applications"},
               :properties {:color "red"}}],
 :extra {:page 20}}
