{:highlights [{:id #uuid "68f75903-9ee0-42d5-90e9-26449fdadd44",
               :page 3,
               :position {:bounding {:x1 334.62192483246326,
                                     :y1 23.951416015625,
                                     :x2 898.6072763949633,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 334.62192483246326,
                                   :y1 23.951416015625,
                                   :x2 898.6072763949633,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 3},
               :content {:text "Set Associative Cache "},
               :properties {:color "red"}}
              {:id #uuid "68f75a28-47be-45b5-b1d5-2d2e8a06e169",
               :page 7,
               :position {:bounding {:x1 471,
                                     :y1 117.0556640625,
                                     :x2 1182,
                                     :y2 738.0556640625,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1761040935636},
               :properties {:color "yellow"}}
              {:id #uuid "68f75a3a-c71b-4a30-ac9f-f50ce1431cbf",
               :page 9,
               :position {:bounding {:x1 147.96495766937733,
                                     :y1 23.951416015625,
                                     :x2 793.8780436068773,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 147.96495766937733,
                                   :y1 23.951416015625,
                                   :x2 793.8780436068773,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 9},
               :content {:text "Block Replacement Policy"},
               :properties {:color "red"}}
              {:id #uuid "68f75d5b-b0bc-4ad2-9c82-160d14593fff",
               :page 16,
               :position {:bounding {:x1 603,
                                     :y1 355.806640625,
                                     :x2 1137,
                                     :y2 590.806640625,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1761041754365},
               :properties {:color "yellow"}}
              {:id #uuid "68f75d78-954d-42f9-b009-818018cb0493",
               :page 25,
               :position {:bounding {:x1 228.32375283539295,
                                     :y1 23.951416015625,
                                     :x2 515.6463846713305,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 228.32375283539295,
                                   :y1 23.951416015625,
                                   :x2 515.6463846713305,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 25},
               :content {:text "Actual CPU"},
               :properties {:color "red"}}],
 :extra {:page 7}}
