{:highlights [{:id #uuid "68f1d307-6232-4fba-8b38-a13e78fd2670",
               :page 4,
               :position {:bounding {:x1 112.359375,
                                     :y1 16.71875,
                                     :x2 422.28155517578125,
                                     :y2 69.71875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 16.71875,
                                   :x2 422.28155517578125,
                                   :y2 69.71875,
                                   :width 1060,
                                   :height 596.25}),
                          :page 4},
               :content {:text "CSR Instructions"},
               :properties {:color "red"}}
              {:id #uuid "68f1d32d-fc45-4eab-b8e0-390dcfa7ddc5",
               :page 5,
               :position {:bounding {:x1 253,
                                     :y1 91,
                                     :x2 1030,
                                     :y2 258,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1760678700408},
               :properties {:color "red"}}
              {:id #uuid "68f1d339-26f2-406c-b4dc-402f036ee3a6",
               :page 4,
               :position {:bounding {:x1 256,
                                     :y1 275,
                                     :x2 1019,
                                     :y2 547,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1760678712589},
               :properties {:color "red"}}
              {:id #uuid "68f1d342-57bd-4314-9941-d468e6f41ed9",
               :page 5,
               :position {:bounding {:x1 258,
                                     :y1 270,
                                     :x2 1018,
                                     :y2 546,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1760678721454},
               :properties {:color "red"}}
              {:id #uuid "68f1d3f1-838e-4dc3-a427-265c2b1c0809",
               :page 7,
               :position {:bounding {:x1 268,
                                     :y1 283,
                                     :x2 1041,
                                     :y2 443,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1760678896120},
               :properties {:color "red"}}
              {:id #uuid "68f1d7e0-c131-4bbc-b19c-9e80baca6e55",
               :page 9,
               :position {:bounding {:x1 112.359375,
                                     :y1 16.71875,
                                     :x2 607.1016845703125,
                                     :y2 69.71875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 16.71875,
                                   :x2 607.1016845703125,
                                   :y2 69.71875,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 311.203125,
                                   :y1 19.71875,
                                   :x2 326.90625,
                                   :y2 66.828125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 9},
               :content {:text "Our Single-Core Processor"},
               :properties {:color "red"}}
              {:id #uuid "68f1de69-7437-4918-ab95-e4d43031cb75",
               :page 14,
               :position {:bounding {:x1 112.359375,
                                     :y1 8.421875,
                                     :x2 380.82080078125,
                                     :y2 77.421875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 298.484375,
                                   :y1 8.421875,
                                   :x2 380.82080078125,
                                   :y2 77.421875,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 112.359375,
                                   :y1 15.34375,
                                   :x2 302.578125,
                                   :y2 68.34375,
                                   :width 1060,
                                   :height 596.25}
                                  {:x1 289.484375,
                                   :y1 18.34375,
                                   :x2 302.578125,
                                   :y2 65.453125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 14},
               :content {:text "Example: add"},
               :properties {:color "red"}}
              {:id #uuid "68f1dea4-14c8-4f20-9b28-e4e07481e616",
               :page 18,
               :position {:bounding {:x1 255,
                                     :y1 87,
                                     :x2 1052,
                                     :y2 383,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1760681635479},
               :properties {:color "red"}}
              {:id #uuid "68f1debb-dccd-4813-92bf-07da0f13883b",
               :page 21,
               :position {:bounding {:x1 112.359375,
                                     :y1 16.71875,
                                     :x2 363.41705322265625,
                                     :y2 69.71875,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 112.359375,
                                   :y1 16.71875,
                                   :x2 363.41705322265625,
                                   :y2 69.71875,
                                   :width 1060,
                                   :height 596.25}),
                          :page 21},
               :content {:text "Control Logic"},
               :properties {:color "red"}}
              {:id #uuid "68f1e538-7df2-4688-a36d-fb018a5624d4",
               :page 21,
               :position {:bounding {:x1 282,
                                     :y1 78,
                                     :x2 1053,
                                     :y2 548,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1760683319711},
               :properties {:color "red"}}
              {:id #uuid "68f1e59c-873e-465d-9cea-5d18d91ad4ff",
               :page 23,
               :position {:bounding {:x1 298,
                                     :y1 82,
                                     :x2 981,
                                     :y2 555,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1760683420062},
               :properties {:color "red"}}
              {:id #uuid "68f1e5b9-ce40-404b-9ae1-8452137f1951",
               :page 24,
               :position {:bounding {:x1 253,
                                     :y1 112,
                                     :x2 1052,
                                     :y2 529,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1760683448444},
               :properties {:color "red"}}
              {:id #uuid "68f1e5ea-f88b-4aed-a18b-963e58fbc99e",
               :page 26,
               :position {:bounding {:x1 363,
                                     :y1 134,
                                     :x2 878,
                                     :y2 459,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1760683496707},
               :properties {:color "red"}}
              {:id #uuid "68f1e60a-0554-483d-8673-73d7f9578ce9",
               :page 27,
               :position {:bounding {:x1 339,
                                     :y1 105,
                                     :x2 999,
                                     :y2 547,
                                     :width 1060,
                                     :height 596.25},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1760683529515},
               :properties {:color "red"}}
              {:id #uuid "68f1e64f-50c9-496d-a812-8733e4fae724",
               :page 29,
               :position {:bounding {:x1 103.765625,
                                     :y1 22.03125,
                                     :x2 165.8360137939453,
                                     :y2 66.03125,
                                     :width 1060,
                                     :height 596.25},
                          :rects ({:x1 103.765625,
                                   :y1 22.03125,
                                   :x2 165.8360137939453,
                                   :y2 66.03125,
                                   :width 1060,
                                   :height 596.25}),
                          :page 29},
               :content {:text "Call"},
               :properties {:color "red"}}],
 :extra {:page 5}}
