{:highlights [{:id #uuid "68f6d67d-6f05-4e5f-8c5e-c411ca79bc25",
               :page 3,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 374.4007263183594,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 374.4007263183594,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 3},
               :content {:text "Kilo, Mega"},
               :properties {:color "yellow"}}
              {:id #uuid "68f6d697-b5ef-4869-9da6-94564bc6b31f",
               :page 8,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 862.9906616210938,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 862.9906616210938,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}
                                  {:x1 238.9375,
                                   :y1 23.78125,
                                   :x2 257.390625,
                                   :y2 79.171875,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 8},
               :content {:text "New-School Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68f6d719-c9ff-4fc6-bf10-50f908495974",
               :page 11,
               :position {:bounding {:x1 336,
                                     :y1 105,
                                     :x2 1185,
                                     :y2 532,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1761007384149},
               :properties {:color "red"}}
              {:id #uuid "68f6d73b-f1ed-4108-9b07-26a98b3d3ed9",
               :page 13,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 781.9937744140625,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 781.9937744140625,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 13},
               :content {:text "What To Do: Library Analogy"},
               :properties {:color "red"}}
              {:id #uuid "68f6e00a-84de-4a75-a88d-9f0448a6b563",
               :page 17,
               :position {:bounding {:x1 510,
                                     :y1 127,
                                     :x2 1211,
                                     :y2 618,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1761009673804},
               :properties {:color "red"}}
              {:id #uuid "68f6e023-74c5-4163-adee-7d8477a93e58",
               :page 21,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 688.6279296875,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 688.6279296875,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 21},
               :content {:text "Memory Hierarchy Basis"},
               :properties {:color "red"}}],
 :extra {:page 24}}
