{:highlights [{:id #uuid "68f6f598-5c10-4ec1-8c6e-f31c6e51ecbb",
               :page 3,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 1073.8328857421875,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 1073.8328857421875,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 3},
               :content {:text "Accessing data in a direct mapped cache"},
               :properties {:color "red"}}
              {:id #uuid "68f6f5f0-2b1f-47d7-9b13-2b398bf5d963",
               :page 27,
               :position {:bounding {:x1 125.09375,
                                     :y1 27.890625,
                                     :x2 902.498046875,
                                     :y2 83.890625,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 125.09375,
                                   :y1 27.890625,
                                   :x2 902.498046875,
                                   :y2 83.890625,
                                   :width 1251,
                                   :height 703.6875}
                                  {:x1 333.390625,
                                   :y1 31.890625,
                                   :x2 606.609375,
                                   :y2 81.84375,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 27},
               :content {:text "Multiword-Block Direct-Mapped Cach"},
               :properties {:color "red"}}
              {:id #uuid "68f6f696-9e62-4a8f-975b-de7680aea5cb",
               :page 31,
               :position {:bounding {:x1 367,
                                     :y1 114,
                                     :x2 1201,
                                     :y2 408,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1761015445781},
               :properties {:color "red"}}
              {:id #uuid "68f6f6a9-40b3-4bb8-a6f7-9cc20a868497",
               :page 31,
               :position {:bounding {:x1 545,
                                     :y1 418,
                                     :x2 1137,
                                     :y2 673,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1761015464621},
               :properties {:color "yellow"}}
              {:id #uuid "68f6f8a8-b993-4fec-b8c6-9dc98d66a7c8",
               :page 35,
               :position {:bounding {:x1 132.59375,
                                     :y1 19.78125,
                                     :x2 646.6498413085938,
                                     :y2 81.78125,
                                     :width 1251,
                                     :height 703.6875},
                          :rects ({:x1 132.59375,
                                   :y1 19.78125,
                                   :x2 646.6498413085938,
                                   :y2 81.78125,
                                   :width 1251,
                                   :height 703.6875}),
                          :page 35},
               :content {:text "Fully Associative Cache"},
               :properties {:color "red"}}
              {:id #uuid "68f6f965-19db-4e6d-b46c-ee192950423b",
               :page 36,
               :position {:bounding {:x1 363,
                                     :y1 270,
                                     :x2 1198,
                                     :y2 636,
                                     :width 1251,
                                     :height 703.6875},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1761016164462},
               :properties {:color "red"}}],
 :extra {:page 39}}
