{:highlights [{:id #uuid "68fde4fa-fb31-4e0f-b71a-56f5020a7201",
               :page 3,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.951416015625,
                                     :x2 802.310546875,
                                     :y2 93.32958984375,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.951416015625,
                                   :x2 802.310546875,
                                   :y2 93.32958984375,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 3},
               :content {:text "Review … where are we?"},
               :properties {:color "red"}}
              {:id #uuid "68fde53a-9cb7-4e83-84e8-5ca39806af57",
               :page 9,
               :position {:bounding {:x1 196.96554565429688,
                                     :y1 23.3466796875,
                                     :x2 814.6237487792969,
                                     :y2 85.421875,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 196.96554565429688,
                                   :y1 23.3466796875,
                                   :x2 814.6237487792969,
                                   :y2 85.421875,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 9},
               :content {:text "hy Cloud Computing Now?"},
               :properties {:color "red"}}
              {:id #uuid "68fde5ef-dcc5-4b10-a226-1b9e9d0cdeed",
               :page 15,
               :position {:bounding {:x1 355,
                                     :y1 122.8193359375,
                                     :x2 1324,
                                     :y2 702.8193359375,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1761469934933},
               :properties {:color "yellow"}}
              {:id #uuid "68fde7db-9942-45cb-868d-2654cc1dedeb",
               :page 22,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.95147705078125,
                                     :x2 960.0363159179688,
                                     :y2 93.32965087890625,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.95147705078125,
                                   :x2 960.0363159179688,
                                   :y2 93.32965087890625,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 22},
               :content {:text "Coping with Workload Variation"},
               :properties {:color "yellow"}}
              {:id #uuid "68fdee38-8fa7-47c2-8a28-af565f587c18",
               :page 24,
               :position {:bounding {:x1 416,
                                     :y1 126.755859375,
                                     :x2 1301,
                                     :y2 433.755859375,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1761472055009},
               :properties {:color "yellow"}}
              {:id #uuid "68fdef89-7d34-4465-bda9-b0c3e45b611e",
               :page 27,
               :position {:bounding {:x1 384,
                                     :y1 126.5703125,
                                     :x2 1306,
                                     :y2 685.5703125,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1761472393141},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
