{:highlights [{:id #uuid "68fb7ceb-fdcc-40c3-ae52-07a5ef5e7c06",
               :page 2,
               :position {:bounding {:x1 127.14009857177734,
                                     :y1 21.2698974609375,
                                     :x2 813.6709213256836,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009857177734,
                                   :y1 21.2698974609375,
                                   :x2 813.6709213256836,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "New-School Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68fb7d1f-be22-4023-b67c-1d1cc34ed7fe",
               :page 8,
               :position {:bounding {:x1 117.44084930419922,
                                     :y1 27.70562744140625,
                                     :x2 669.921745300293,
                                     :y2 81.74755859375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 117.44084930419922,
                                   :y1 27.70562744140625,
                                   :x2 669.921745300293,
                                   :y2 81.74755859375,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 8},
               :content {:text "Example: 2 x 2 Matrix Multiply"},
               :properties {:color "red"}}
              {:id #uuid "68fb7d59-ad6c-494f-94e7-dec86c4c9383",
               :page 14,
               :position {:bounding {:x1 127.14009857177734,
                                     :y1 21.269866943359375,
                                     :x2 877.5492172241211,
                                     :y2 80.42391967773438,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009857177734,
                                   :y1 21.269866943359375,
                                   :x2 877.5492172241211,
                                   :y2 80.42391967773438,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 14},
               :content {:text "Software vs. Hardware Parallelism"},
               :properties {:color "red"}}
              {:id #uuid "68fb7d9a-0ab6-43b5-81f3-f97f313ec9b8",
               :page 16,
               :position {:bounding {:x1 312,
                                     :y1 106.912109375,
                                     :x2 737,
                                     :y2 577.912109375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1761312153486},
               :properties {:color "yellow"}}
              {:id #uuid "68fb7db2-4176-484d-8cc3-c4a6d19a2f0c",
               :page 17,
               :position {:bounding {:x1 312,
                                     :y1 107.2724609375,
                                     :x2 678,
                                     :y2 625.2724609375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1761312177944},
               :properties {:color "red"}}
              {:id #uuid "68fb7de8-3f0c-4763-9ec8-563822ffac5b",
               :page 18,
               :position {:bounding {:x1 304,
                                     :y1 96.6328125,
                                     :x2 742,
                                     :y2 587.6328125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1761312231856},
               :properties {:color "red"}}
              {:id #uuid "68fb7dff-2bf5-4b60-af5e-865abbffffb9",
               :page 19,
               :position {:bounding {:x1 303,
                                     :y1 106.806640625,
                                     :x2 716,
                                     :y2 588.806640625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1761312254575},
               :properties {:color "yellow"}}
              {:id #uuid "68fb7e27-cdf2-4252-a96b-9da6f0b915e0",
               :page 21,
               :position {:bounding {:x1 0,
                                     :y1 21.2698974609375,
                                     :x2 1199.9915771484375,
                                     :y2 1359.9951171875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009857177734,
                                   :y1 21.2698974609375,
                                   :x2 538.0842514038086,
                                   :y2 80.423828125,
                                   :width 1200,
                                   :height 674.9999999999999}
                                  {:x1 0,
                                   :y1 684.9954833984375,
                                   :x2 1199.9915771484375,
                                   :y2 1359.9951171875,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 21},
               :content {:text "SIMD Architectures"},
               :properties {:color "red"}}
              {:id #uuid "68fb7e70-b478-4e58-bfe6-b11f45f0bc93",
               :page 23,
               :position {:bounding {:x1 363,
                                     :y1 98.2353515625,
                                     :x2 1131,
                                     :y2 404.2353515625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1761312368010},
               :properties {:color "yellow"}}
              {:id #uuid "68fb7ed2-adf4-44e7-9a3d-a616c717e6bd",
               :page 27,
               :position {:bounding {:x1 281,
                                     :y1 100.302734375,
                                     :x2 1167,
                                     :y2 484.302734375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1761312465828},
               :properties {:color "yellow"}}
              {:id #uuid "68fb7f66-101e-46e5-a9d7-e9426c271470",
               :page 28,
               :position {:bounding {:x1 342,
                                     :y1 142.6640625,
                                     :x2 1149,
                                     :y2 597.6640625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1761312613917},
               :properties {:color "yellow"}}
              {:id #uuid "68fb7f8f-7532-4f6a-b498-e7a5ebbec0c4",
               :page 31,
               :position {:bounding {:x1 340.32801055908203,
                                     :y1 21.2698974609375,
                                     :x2 835.9458694458008,
                                     :y2 80.42388916015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 340.32801055908203,
                                   :y1 21.2698974609375,
                                   :x2 835.9458694458008,
                                   :y2 80.42388916015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 31},
               :content {:text "SIMD Array Processing"},
               :properties {:color "red"}}
              {:id #uuid "68fb7fbc-bdfd-4f0f-b867-14b23da2fea2",
               :page 35,
               :position {:bounding {:x1 117.44084930419922,
                                     :y1 28.77825927734375,
                                     :x2 774.1303634643555,
                                     :y2 87.93231201171875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 117.44084930419922,
                                   :y1 28.77825927734375,
                                   :x2 774.1303634643555,
                                   :y2 87.93231201171875,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 35},
               :content {:text "Example: 2 x 2 Matrix Multiply"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb80ca-ec21-4a8b-bfde-5af57854dc99",
               :page 37,
               :position {:bounding {:x1 309,
                                     :y1 97.95703125,
                                     :x2 1198,
                                     :y2 604.95703125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1761312969205},
               :properties {:color "yellow"}}
              {:id #uuid "68fb8901-931d-4d8e-8d13-62ffaac6a237",
               :page 38,
               :position {:bounding {:x1 301,
                                     :y1 95.130859375,
                                     :x2 1194,
                                     :y2 605.130859375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1761315072384},
               :properties {:color "yellow"}}
              {:id #uuid "68fb8954-3fca-4aff-93e6-584e56931ceb",
               :page 39,
               :position {:bounding {:x1 310,
                                     :y1 104.943359375,
                                     :x2 1191,
                                     :y2 597.943359375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1761315155562},
               :properties {:color "yellow"}}
              {:id #uuid "68fb8968-e392-40cf-943f-695c8b0040df",
               :page 40,
               :position {:bounding {:x1 293,
                                     :y1 97.6640625,
                                     :x2 1199,
                                     :y2 599.6640625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1761315176015},
               :properties {:color "yellow"}}],
 :extra {:page 40}}
