{:highlights [{:id #uuid "68fcbc6b-464c-4441-99a6-70d8290860d3",
               :page 3,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 20.7564697265625,
                                     :x2 1111.671875,
                                     :y2 101.8193359375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 900.5471801757812,
                                   :y1 20.7564697265625,
                                   :x2 1010.3427124023438,
                                   :y2 101.8193359375,
                                   :width 1396,
                                   :height 785.25}
                                  {:x1 147.9649658203125,
                                   :y1 30.649658203125,
                                   :x2 904.1758422851562,
                                   :y2 92.724853515625,
                                   :width 1396,
                                   :height 785.25}
                                  {:x1 1009.715087890625,
                                   :y1 30.649658203125,
                                   :x2 1111.671875,
                                   :y2 92.724853515625,
                                   :width 1396,
                                   :height 785.25}
                                  {:x1 888.6912231445312,
                                   :y1 34.3011474609375,
                                   :x2 1010.3427124023438,
                                   :y2 90.0433349609375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 3},
               :content {:text "Review: OpenMP Building Block: for loop"},
               :properties {:color "yellow"}}
              {:id #uuid "68fcbd6e-61a0-42f9-8eec-c3aad6ff470b",
               :page 6,
               :position {:bounding {:x1 400,
                                     :y1 361.780029296875,
                                     :x2 1343,
                                     :y2 503.780029296875,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1761394029685},
               :properties {:color "yellow"}}
              {:id #uuid "68fd7cbe-253f-4501-b171-95f764177f19",
               :page 15,
               :position {:bounding {:x1 301.4261474609375,
                                     :y1 23.951416015625,
                                     :x2 927.8866577148438,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 301.4261474609375,
                                   :y1 23.951416015625,
                                   :x2 927.8866577148438,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 15},
               :content {:text " Multicore Multiprocessor"},
               :properties {:color "yellow"}}
              {:id #uuid "68fd7d14-2f26-4efd-9bae-9cfa996f4343",
               :page 15,
               :position {:bounding {:x1 499,
                                     :y1 124.294921875,
                                     :x2 1216,
                                     :y2 473.294921875,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1761443091973},
               :properties {:color "yellow"}}
              {:id #uuid "68fd7dd9-4985-40de-baf8-d847a091e462",
               :page 22,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.951416015625,
                                     :x2 1028.058837890625,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.951416015625,
                                   :x2 1028.058837890625,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 22},
               :content {:text "Keeping Multiple Caches Coherent"},
               :properties {:color "yellow"}}
              {:id #uuid "68fd85a7-5e4e-4cb0-9d3b-9c45cd716d3c",
               :page 25,
               :position {:bounding {:x1 406,
                                     :y1 180.41015625,
                                     :x2 1214,
                                     :y2 534.41015625,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1761445286708},
               :properties {:color "yellow"}}
              {:id #uuid "68fd8617-2cde-4b30-8589-d8e7625c42ca",
               :page 27,
               :position {:bounding {:x1 444,
                                     :y1 114.2109375,
                                     :x2 1244,
                                     :y2 455.2109375,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1761445398536},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
