{:highlights [{:id #uuid "68ff5a8e-6530-469b-8053-4a27b168861c",
               :page 2,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 20.60809326171875,
                                     :x2 888.9018859863281,
                                     :y2 74.6500244140625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 20.60809326171875,
                                   :x2 888.9018859863281,
                                   :y2 74.6500244140625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "6 Great Ideas in Computer Architecture"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff5ac9-f1b1-4ad2-9358-0041abe33503",
               :page 8,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 434.0615539550781,
                                     :y2 80.42388916015625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 434.0615539550781,
                                   :y2 80.42388916015625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 8},
               :content {:text "Dependability"},
               :properties {:color "red"}}
              {:id #uuid "68ff6253-2aef-4186-b3c1-c7b14f26349b",
               :page 17,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 451.1880798339844,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 451.1880798339844,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 17},
               :content {:text "Error Detection"},
               :properties {:color "red"}}
              {:id #uuid "68ff64af-ce00-46c0-8907-5e586f5f9208",
               :page 19,
               :position {:bounding {:x1 373,
                                     :y1 292.353515625,
                                     :x2 1115,
                                     :y2 469.353515625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1761567918393},
               :properties {:color "yellow"}}
              {:id #uuid "68ff6589-14e7-4385-8267-c4b4508a128c",
               :page 22,
               :position {:bounding {:x1 465.8918762207031,
                                     :y1 20.60809326171875,
                                     :x2 606.2586364746094,
                                     :y2 74.6500244140625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 465.8918762207031,
                                   :y1 20.60809326171875,
                                   :x2 606.2586364746094,
                                   :y2 74.6500244140625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 22},
               :content {:text "Correct"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff6688-9aab-4afd-a9e6-b31dc6763ff0",
               :page 25,
               :position {:bounding {:x1 110,
                                     :y1 103.3154296875,
                                     :x2 1050,
                                     :y2 647.3154296875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1761568391533},
               :properties {:color "yellow"}}
              {:id #uuid "68ff66ab-1cab-4947-aa54-18a176f6a3ea",
               :page 26,
               :position {:bounding {:x1 113,
                                     :y1 109.22265625,
                                     :x2 1192,
                                     :y2 642.22265625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1761568425749},
               :properties {:color "yellow"}}
              {:id #uuid "68ff672d-5bc6-4c09-b053-de942e37a047",
               :page 28,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 21.2698974609375,
                                     :x2 437.5083923339844,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 21.2698974609375,
                                   :x2 437.5083923339844,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 28},
               :content {:text "Hamming ECC"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff6cb1-7a16-48a2-bfd5-9b31efaa6213",
               :page 34,
               :position {:bounding {:x1 310,
                                     :y1 105.626953125,
                                     :x2 990,
                                     :y2 499.626953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1761569968563},
               :properties {:color "yellow"}}
              {:id #uuid "68ff6df9-dfb7-4cd1-8e83-f3755274704b",
               :page 36,
               :position {:bounding {:x1 355,
                                     :y1 101.345703125,
                                     :x2 729,
                                     :y2 396.345703125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1761570296390},
               :properties {:color "yellow"}}
              {:id #uuid "68ff6e53-1616-4283-a69d-f335afe76475",
               :page 39,
               :position {:bounding {:x1 127.14010620117188,
                                     :y1 11.87872314453125,
                                     :x2 497.8875427246094,
                                     :y2 71.03277587890625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14010620117188,
                                   :y1 11.87872314453125,
                                   :x2 497.8875427246094,
                                   :y2 71.03277587890625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 39},
               :content {:text "RAID: Redundant"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff702e-3793-42be-94bb-0fbf658136cc",
               :page 41,
               :position {:bounding {:x1 323,
                                     :y1 96.94921875,
                                     :x2 1178,
                                     :y2 614.94921875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1761570861775},
               :properties {:color "yellow"}}
              {:id #uuid "68ff70b8-f2f7-44e0-a542-eadcf512d04d",
               :page 44,
               :position {:bounding {:x1 286,
                                     :y1 98.712890625,
                                     :x2 1180,
                                     :y2 674.712890625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1761570998585},
               :properties {:color "yellow"}}
              {:id #uuid "68ff714b-de66-4423-99ea-e66646b71231",
               :page 43,
               :position {:bounding {:x1 354,
                                     :y1 371.0859375,
                                     :x2 1156,
                                     :y2 660.0859375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1761571146233},
               :properties {:color "yellow"}}
              {:id #uuid "68ff7179-48c6-4807-bc93-f9a7c426d8a5",
               :page 40,
               :position {:bounding {:x1 273,
                                     :y1 148.19140625,
                                     :x2 1136,
                                     :y2 586.19140625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1761571192457},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
