{:highlights [{:id #uuid "68f8bea9-0f4d-40cf-bef7-bb82f8642e38",
               :page 4,
               :position {:bounding {:x1 189,
                                     :y1 94.987548828125,
                                     :x2 1188,
                                     :y2 634.987548828125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1761132199658},
               :properties {:color "yellow"}}
              {:id #uuid "68f8beb6-59ac-40dd-a22c-c661699934f0",
               :page 2,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 21.2698974609375,
                                     :x2 541.9438056945801,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 21.2698974609375,
                                   :x2 541.9438056945801,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "Size of Page Tables"},
               :properties {:color "red"}}
              {:id #uuid "68f8bf9b-9331-4406-8eee-f820eb84d3cc",
               :page 5,
               :position {:bounding {:x1 289,
                                     :y1 113.254638671875,
                                     :x2 1172,
                                     :y2 647.254638671875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1761132441564},
               :properties {:color "yellow"}}
              {:id #uuid "68f8c017-3c86-4e96-9e90-1e48109aecd1",
               :page 7,
               :position {:bounding {:x1 118.89003372192383,
                                     :y1 18.2117919921875,
                                     :x2 871.7755928039551,
                                     :y2 77.3658447265625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 118.89003372192383,
                                   :y1 18.2117919921875,
                                   :x2 871.7755928039551,
                                   :y2 77.3658447265625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 7},
               :content {:text "Address Translation and Protection"},
               :properties {:color "red"}}
              {:id #uuid "68f8c1bc-dd8a-406e-98ec-3573b4fffce1",
               :page 10,
               :position {:bounding {:x1 389,
                                     :y1 316.58984375,
                                     :x2 1140,
                                     :y2 632.58984375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1761132987772},
               :properties {:color "red"}}
              {:id #uuid "68f8c20d-39f1-42b7-bcb9-91e5a60fe6cd",
               :page 11,
               :position {:bounding {:x1 297,
                                     :y1 108.31005859375,
                                     :x2 1193,
                                     :y2 608.31005859375,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1761133068505},
               :properties {:color "yellow"}}
              {:id #uuid "68f8c25f-e579-44ee-9441-16e97ecfb2d3",
               :page 13,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 20.608154296875,
                                     :x2 690.5136909484863,
                                     :y2 74.6500244140625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 20.608154296875,
                                   :x2 690.5136909484863,
                                   :y2 74.6500244140625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 13},
               :content {:text "VM-related Events in Pipeline"},
               :properties {:color "red"}}
              {:id #uuid "68f8c2ab-57aa-433a-ba74-d7052732efad",
               :page 14,
               :position {:bounding {:x1 283,
                                     :y1 92.0185546875,
                                     :x2 1161,
                                     :y2 626.0185546875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1761133225996},
               :properties {:color "yellow"}}
              {:id #uuid "68f8c2de-c689-4798-aa9a-20959aae6201",
               :page 15,
               :position {:bounding {:x1 286,
                                     :y1 100.3779296875,
                                     :x2 1144,
                                     :y2 623.3779296875,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1761133277523},
               :properties {:color "yellow"}}
              {:id #uuid "68f8c45a-7e2d-4bc1-8141-63255eeb4241",
               :page 20,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 21.2698974609375,
                                     :x2 494.7062568664551,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 21.2698974609375,
                                   :x2 494.7062568664551,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 20},
               :content {:text "VM Performance"},
               :properties {:color "red"}}],
 :extra {:page 10}}
