{:highlights [{:id #uuid "68f96909-f48d-4ca3-a890-0de182bcc8a4",
               :page 2,
               :position {:bounding {:x1 297.51774978637695,
                                     :y1 21.2698974609375,
                                     :x2 364.5135383605957,
                                     :y2 80.42391967773438,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 297.51774978637695,
                                   :y1 21.2698974609375,
                                   :x2 364.5135383605957,
                                   :y2 80.42391967773438,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 2},
               :content {:text "I/O"},
               :properties {:color "red"}}
              {:id #uuid "68f96991-6382-490d-870c-ce49a6ca7f43",
               :page 8,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 21.2698974609375,
                                     :x2 267.4006538391113,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 21.2698974609375,
                                   :x2 267.4006538391113,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 8},
               :content {:text "Polling"},
               :properties {:color "red"}}
              {:id #uuid "68f969c8-b4c8-4210-a1ce-7fb4cfd61858",
               :page 14,
               :position {:bounding {:x1 628.0811347961426,
                                     :y1 21.2698974609375,
                                     :x2 836.1136054992676,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 628.0811347961426,
                                   :y1 21.2698974609375,
                                   :x2 836.1136054992676,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 14},
               :content {:text "Interrupts"},
               :properties {:color "red"}}
              {:id #uuid "68f96a57-5ac5-4fc0-b0e7-b6b557d17505",
               :page 18,
               :position {:bounding {:x1 628.6088447570801,
                                     :y1 21.2698974609375,
                                     :x2 734.1796455383301,
                                     :y2 80.4239501953125,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 628.6088447570801,
                                   :y1 21.2698974609375,
                                   :x2 734.1796455383301,
                                   :y2 80.4239501953125,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 18},
               :content {:text "DMA"},
               :properties {:color "red"}}
              {:id #uuid "68f96a70-0559-4535-aaa0-e18bef44b918",
               :page 19,
               :position {:bounding {:x1 405,
                                     :y1 103.259765625,
                                     :x2 1074,
                                     :y2 463.259765625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1761176175060},
               :properties {:color "red"}}
              {:id #uuid "68f96ab7-bdac-433f-8ab0-0683e80a6246",
               :page 24,
               :position {:bounding {:x1 127.14009475708008,
                                     :y1 20.6080322265625,
                                     :x2 311.8980293273926,
                                     :y2 74.6500244140625,
                                     :width 1200,
                                     :height 674.9999999999999},
                          :rects ({:x1 127.14009475708008,
                                   :y1 20.6080322265625,
                                   :x2 311.8980293273926,
                                   :y2 74.6500244140625,
                                   :width 1200,
                                   :height 674.9999999999999}),
                          :page 24},
               :content {:text "Networks"},
               :properties {:color "yellow"}}],
 :extra {:page 20}}
