{:highlights [{:id #uuid "68fc2b6d-aa71-48f4-987c-02aa8dede4e0",
               :page 3,
               :position {:bounding {:x1 151.68490600585938,
                                     :y1 24.67034912109375,
                                     :x2 766.2406921386719,
                                     :y2 95.5091552734375,
                                     :width 1431,
                                     :height 804.9375},
                          :rects ({:x1 151.68490600585938,
                                   :y1 24.67034912109375,
                                   :x2 766.2406921386719,
                                   :y2 95.5091552734375,
                                   :width 1431,
                                   :height 804.9375}),
                          :page 3},
               :content {:text "Improving Performance"},
               :properties {:color "red"}}
              {:id #uuid "68fc2bd6-df7c-4d26-a5ef-0de52d1e21af",
               :page 6,
               :position {:bounding {:x1 441,
                                     :y1 116.700439453125,
                                     :x2 1270,
                                     :y2 783.9576416015625,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1761356758289},
               :properties {:color "red"}}
              {:id #uuid "68fc2c00-c7ed-4264-8bd3-9cad7a3f65c1",
               :page 9,
               :position {:bounding {:x1 476.2675915658474,
                                     :y1 24.64752197265625,
                                     :x2 708.3142224252224,
                                     :y2 93.29541015625,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects ({:x1 476.2675915658474,
                                   :y1 24.64752197265625,
                                   :x2 708.3142224252224,
                                   :y2 93.29541015625,
                                   :width 1393.9999999999998,
                                   :height 784.1249999999999}),
                          :page 9},
               :content {:text "Multicore"},
               :properties {:color "red"}}
              {:id #uuid "68fc2c49-3363-4343-b446-925786e1467d",
               :page 10,
               :position {:bounding {:x1 400,
                                     :y1 120.67578125,
                                     :x2 1346,
                                     :y2 741.67578125,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1761356873164},
               :properties {:color "red"}}
              {:id #uuid "68fc2cff-bc5d-41c0-bb33-034ae35b992a",
               :page 14,
               :position {:bounding {:x1 344,
                                     :y1 140.5576171875,
                                     :x2 1367,
                                     :y2 756.5576171875,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1761357055437},
               :properties {:color "red"}}
              {:id #uuid "68fc2d1c-97ce-40b5-90fd-b015af08bf67",
               :page 16,
               :position {:bounding {:x1 147.75956544280052,
                                     :y1 24.64752197265625,
                                     :x2 1196.021894544363,
                                     :y2 93.29534912109375,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects ({:x1 147.75956544280052,
                                   :y1 24.64752197265625,
                                   :x2 1196.021894544363,
                                   :y2 93.29534912109375,
                                   :width 1393.9999999999998,
                                   :height 784.1249999999999}),
                          :page 16},
               :content {:text "Programs Running on a typical Computer"},
               :properties {:color "red"}}
              {:id #uuid "68fc2d8b-c47f-436f-b1ac-93702b341a69",
               :page 23,
               :position {:bounding {:x1 147.75956544280052,
                                     :y1 24.64752197265625,
                                     :x2 520.8161145150661,
                                     :y2 93.29541015625,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects ({:x1 147.75956544280052,
                                   :y1 24.64752197265625,
                                   :x2 520.8161145150661,
                                   :y2 93.29541015625,
                                   :width 1393.9999999999998,
                                   :height 784.1249999999999}),
                          :page 23},
               :content {:text "Multithreading"},
               :properties {:color "red"}}
              {:id #uuid "68fc2de7-8d91-48e9-bf43-bd9d307b44ca",
               :page 24,
               :position {:bounding {:x1 354,
                                     :y1 115.89453125,
                                     :x2 1350,
                                     :y2 712.89453125,
                                     :width 1393.9999999999998,
                                     :height 784.1249999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1761357287687},
               :properties {:color "red"}}],
 :extra {:page 26}}
