{:highlights [{:id #uuid "68fc78d6-4cf0-4a1e-996e-5ada5f061ef7",
               :page 3,
               :position {:bounding {:x1 740.8261242806911,
                                     :y1 24.6475830078125,
                                     :x2 1292.2079602181911,
                                     :y2 93.29541015625,
                                     :width 1394,
                                     :height 784.125},
                          :rects ({:x1 740.8261242806911,
                                   :y1 24.6475830078125,
                                   :x2 1292.2079602181911,
                                   :y2 93.29541015625,
                                   :width 1394,
                                   :height 784.125}),
                          :page 3},
               :content {:text "Parallel Programming"},
               :properties {:color "red"}}
              {:id #uuid "68fc7929-3e52-40e5-86a3-a6a247eb5419",
               :page 7,
               :position {:bounding {:x1 147.75956544280052,
                                     :y1 24.6474609375,
                                     :x2 333.0024853646755,
                                     :y2 93.29541015625,
                                     :width 1394,
                                     :height 784.125},
                          :rects ({:x1 147.75956544280052,
                                   :y1 24.6474609375,
                                   :x2 333.0024853646755,
                                   :y2 93.29541015625,
                                   :width 1394,
                                   :height 784.125}),
                          :page 7},
               :content {:text "Parallel"},
               :properties {:color "red"}}
              {:id #uuid "68fc917b-d9e4-4e01-8159-d0a203580660",
               :page 9,
               :position {:bounding {:x1 910,
                                     :y1 183.4033203125,
                                     :x2 1318,
                                     :y2 521.4033203125,
                                     :width 1394,
                                     :height 784.125},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1761382778719},
               :properties {:color "red"}}
              {:id #uuid "68fc9246-2151-4d61-af76-49e251d8b1a6",
               :page 11,
               :position {:bounding {:x1 528,
                                     :y1 160.7255859375,
                                     :x2 1191,
                                     :y2 372.7255859375,
                                     :width 1396,
                                     :height 785.25},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1761382982336},
               :properties {:color "red"}}
              {:id #uuid "68fc93a4-1ef2-405c-b610-1362bd2dceb6",
               :page 23,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.951416015625,
                                     :x2 554.191162109375,
                                     :y2 93.32958984375,
                                     :width 1396,
                                     :height 785.25},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.951416015625,
                                   :x2 554.191162109375,
                                   :y2 93.32958984375,
                                   :width 1396,
                                   :height 785.25}),
                          :page 23},
               :content {:text "Synchronization"},
               :properties {:color "red"}}],
 :extra {:page 26}}
