{:highlights [{:id #uuid "68fda537-59e9-499e-b69c-8cb0c5800d3d",
               :page 3,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.951416015625,
                                     :x2 919.0176391601562,
                                     :y2 93.32958984375,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.951416015625,
                                   :x2 919.0176391601562,
                                   :y2 93.32958984375,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 3},
               :content {:text "Amdahl’s (Heartbreaking) Law"},
               :properties {:color "yellow"}}
              {:id #uuid "68fda589-732c-4e27-a51f-f1f33bfdfde2",
               :page 7,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.9515380859375,
                                     :x2 962.9969787597656,
                                     :y2 93.3297119140625,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.9515380859375,
                                   :x2 962.9969787597656,
                                   :y2 93.3297119140625,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}
                                  {:x1 266.62677001953125,
                                   :y1 28.333251953125,
                                   :x2 287.2120056152344,
                                   :y2 90.1346435546875,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 7},
               :content {:text "New-School Machine Structures"},
               :properties {:color "red"}}
              {:id #uuid "68fda621-0e44-4b85-85a5-becfdcd76363",
               :page 9,
               :position {:bounding {:x1 372,
                                     :y1 142.31005859375,
                                     :x2 1296,
                                     :y2 676.31005859375,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1761453600567},
               :properties {:color "yellow"}}
              {:id #uuid "68fda67e-a0f9-4193-94a5-1c8f8c0da333",
               :page 12,
               :position {:bounding {:x1 353.4270935058594,
                                     :y1 23.95147705078125,
                                     :x2 660.1967163085938,
                                     :y2 93.32965087890625,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 353.4270935058594,
                                   :y1 23.95147705078125,
                                   :x2 660.1967163085938,
                                   :y2 93.32965087890625,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 12},
               :content {:text "MapReduce"},
               :properties {:color "yellow"}}
              {:id #uuid "68fda78b-63ca-4cec-b567-84ca0b3aa8d7",
               :page 16,
               :position {:bounding {:x1 369,
                                     :y1 126.5400390625,
                                     :x2 1290,
                                     :y2 452.5400390625,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1761453962438},
               :properties {:color "yellow"}}
              {:id #uuid "68fda7b6-836c-472b-8369-a74c4f3f08bf",
               :page 20,
               :position {:bounding {:x1 322,
                                     :y1 115.421875,
                                     :x2 1370,
                                     :y2 744.421875,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1761454004538},
               :properties {:color "yellow"}}
              {:id #uuid "68fda81d-336d-479f-9cf7-e6ea1c01ba9c",
               :page 21,
               :position {:bounding {:x1 384,
                                     :y1 154.595703125,
                                     :x2 1329,
                                     :y2 453.595703125,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1761454108154},
               :properties {:color "yellow"}}
              {:id #uuid "68fda892-1ea2-47ae-8006-18ceca43d548",
               :page 24,
               :position {:bounding {:x1 147.9649658203125,
                                     :y1 23.95147705078125,
                                     :x2 268.4657897949219,
                                     :y2 93.32965087890625,
                                     :width 1395.9999999999998,
                                     :height 785.2499999999999},
                          :rects ({:x1 147.9649658203125,
                                   :y1 23.95147705078125,
                                   :x2 268.4657897949219,
                                   :y2 93.32965087890625,
                                   :width 1395.9999999999998,
                                   :height 785.2499999999999}),
                          :page 24},
               :content {:text "Spar"},
               :properties {:color "yellow"}}],
 :extra {:page 27}}
