{:highlights [{:id #uuid "67dcaa02-5716-4b1d-b2b4-a135e1d726f5",
               :page 5,
               :position {:bounding {:x1 100,
                                     :y1 227,
                                     :x2 973,
                                     :y2 408,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1742514689719},
               :properties {:color "red"}}
              {:id #uuid "67dcaa8f-bbe1-42f2-9a78-828d5f18f803",
               :page 17,
               :position {:bounding {:x1 89,
                                     :y1 225,
                                     :x2 1029,
                                     :y2 740,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1742514830026},
               :properties {:color "red"}}
              {:id #uuid "67dcaaba-608e-4c1f-af42-ea565833188b",
               :page 18,
               :position {:bounding {:x1 59,
                                     :y1 225,
                                     :x2 1025,
                                     :y2 748,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1742514873287},
               :properties {:color "red"}}
              {:id #uuid "67dcab15-4a5c-4b84-85d3-7e3d5e0b5211",
               :page 32,
               :position {:bounding {:x1 164,
                                     :y1 250,
                                     :x2 991,
                                     :y2 698,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1742514964295},
               :properties {:color "red"}}
              {:id #uuid "67dcab6c-cb0e-468e-9175-1309a46c0e76",
               :page 44,
               :position {:bounding {:x1 45,
                                     :y1 215,
                                     :x2 1006,
                                     :y2 769,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1742515051501},
               :properties {:color "red"}}
              {:id #uuid "67dcaeb6-81cf-44f3-8808-6bd914697b00",
               :page 45,
               :position {:bounding {:x1 59,
                                     :y1 213,
                                     :x2 1008,
                                     :y2 770,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1742515893132},
               :properties {:color "red"}}
              {:id #uuid "67dcaec7-6d96-4ee8-a4ea-82f5f6939142",
               :page 46,
               :position {:bounding {:x1 53,
                                     :y1 202,
                                     :x2 1007,
                                     :y2 772,
                                     :width 1068.9999999999998,
                                     :height 826.0454545454544},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1742515910967},
               :properties {:color "red"}}],
 :extra {:page 46}}
