{:highlights [{:id #uuid "66482954-f4a4-4ad1-8abe-520b4cb7ecca",
               :page 45,
               :position {:bounding {:x1 50,
                                     :y1 155,
                                     :x2 1002,
                                     :y2 579,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1716005203144},
               :properties {:color "blue"}}
              {:id #uuid "66482a39-f9d6-4bfa-bf72-f4a0c1780920",
               :page 51,
               :position {:bounding {:x1 560,
                                     :y1 221,
                                     :x2 1043,
                                     :y2 505,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716005432496},
               :properties {:color "purple"}}
              {:id #uuid "66482a4a-e1f6-4003-bd4b-150849c9575e",
               :page 66,
               :position {:bounding {:x1 581,
                                     :y1 204,
                                     :x2 1047,
                                     :y2 569,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1716005448323},
               :properties {:color "green"}}],
 :extra {:page 105}}
