{:highlights [{:id #uuid "67e36ac2-3552-4f04-8b0d-6b14c05161ea",
               :page 1,
               :position {:bounding {:x1 150,
                                     :y1 661.0625,
                                     :x2 485.5672912597656,
                                     :y2 688.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 661.0625,
                                   :x2 485.5672912597656,
                                   :y2 688.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Runway Reservation System"},
               :properties {:color "red"}}
              {:id #uuid "67e36ca4-fa5e-48a3-baf0-a3db69b4784e",
               :page 1,
               :position {:bounding {:x1 150,
                                     :y1 988.6875,
                                     :x2 235.10244750976562,
                                     :y2 1010.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 988.6875,
                                   :x2 235.10244750976562,
                                   :y2 1010.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Example"},
               :properties {:color "red"}}
              {:id #uuid "67e36fe7-8f08-452f-af77-3cf1ff69f439",
               :page 4,
               :position {:bounding {:x1 150,
                                     :y1 193.96875,
                                     :x2 469.954345703125,
                                     :y2 220.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 193.96875,
                                   :x2 469.954345703125,
                                   :y2 220.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Binary Search Trees (BST)"},
               :properties {:color "red"}}
              {:id #uuid "67e38883-1fc0-461b-a3ab-881c06f90628",
               :page 7,
               :position {:bounding {:x1 137,
                                     :y1 572,
                                     :x2 831,
                                     :y2 879,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1742964865180},
               :properties {:color "red"}}
              {:id #uuid "67e8baf1-41cd-4a5c-b32b-b15e9b2687e7",
               :page 4,
               :position {:bounding {:x1 150,
                                     :y1 917.59375,
                                     :x2 354.76812744140625,
                                     :y2 939.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 917.59375,
                                   :x2 354.76812744140625,
                                   :y2 939.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Insertion: insert(val)"},
               :properties {:color "red"}}
              {:id #uuid "67e8bafb-85a5-4699-a598-d73af76960f8",
               :page 4,
               :position {:bounding {:x1 150,
                                     :y1 1090.765625,
                                     :x2 621.5877685546875,
                                     :y2 1112.765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 1090.765625,
                                   :x2 621.5877685546875,
                                   :y2 1112.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Finding a value in the BST if it exists: ﬁnd(val)"},
               :properties {:color "red"}}
              {:id #uuid "67e8bb07-4f79-4b2b-b49e-99d54d37ece8",
               :page 5,
               :position {:bounding {:x1 150,
                                     :y1 197.25,
                                     :x2 650.0604248046875,
                                     :y2 219.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 197.25,
                                   :x2 650.0604248046875,
                                   :y2 219.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Finding the minimum element in a BST: ﬁndmin()"},
               :properties {:color "red"}}
              {:id #uuid "67e8bb25-e67d-4610-80a9-3066406653bd",
               :page 5,
               :position {:bounding {:x1 150,
                                     :y1 620.75,
                                     :x2 608.4029541015625,
                                     :y2 642.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 620.75,
                                   :x2 608.4029541015625,
                                   :y2 642.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Finding the next larger element: next-larger(x"},
               :properties {:color "red"}}
              {:id #uuid "67e8bb72-1d20-4650-b1b7-93ec559795da",
               :page 4,
               :position {:bounding {:x1 144,
                                     :y1 952,
                                     :x2 885,
                                     :y2 1076,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1743305585717},
               :properties {:color "red"}}
              {:id #uuid "67e8bb8b-9e77-46a8-9f26-c22fbdeb399d",
               :page 5,
               :position {:bounding {:x1 177,
                                     :y1 738,
                                     :x2 657,
                                     :y2 879,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1743305611240},
               :properties {:color "red"}}
              {:id #uuid "67e8bbb1-1d46-4e11-ac72-bac32a1da78a",
               :page 6,
               :position {:bounding {:x1 415.771484375,
                                     :y1 527.78125,
                                     :x2 686.2943115234375,
                                     :y2 549.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 415.771484375,
                                   :y1 527.78125,
                                   :x2 686.2943115234375,
                                   :y2 549.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Augmenting the BST Structure"},
               :properties {:color "red"}}
              {:id #uuid "67e8bc55-432e-4265-bf99-71c94a53f578",
               :page 7,
               :position {:bounding {:x1 150,
                                     :y1 883.203125,
                                     :x2 566.7490234375,
                                     :y2 1269.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 883.203125,
                                   :x2 566.7490234375,
                                   :y2 905.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 505.09375,
                                   :y1 1247.109375,
                                   :x2 516.1875,
                                   :y2 1269.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Balanced BSTs to the rescue in the next lecture!7"},
               :properties {:color "red"}}],
 :extra {:page 7}}
