{:highlights [{:id #uuid "66482954-f4a4-4ad1-8abe-520b4cb7ecca",
               :page 45,
               :position {:bounding {:x1 50,
                                     :y1 155,
                                     :x2 1002,
                                     :y2 579,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1716005203144},
               :properties {:color "blue"}}
              {:id #uuid "66482a39-f9d6-4bfa-bf72-f4a0c1780920",
               :page 51,
               :position {:bounding {:x1 560,
                                     :y1 221,
                                     :x2 1043,
                                     :y2 505,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716005432496},
               :properties {:color "purple"}}
              {:id #uuid "66482a4a-e1f6-4003-bd4b-150849c9575e",
               :page 66,
               :position {:bounding {:x1 581,
                                     :y1 204,
                                     :x2 1047,
                                     :y2 569,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1716005448323},
               :properties {:color "green"}}
              {:id #uuid "66a35aaa-3254-4aaf-a488-558c72d6cd61",
               :page 56,
               :position {:bounding {:x1 45,
                                     :y1 224,
                                     :x2 570,
                                     :y2 601.5,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1721981608592},
               :properties {:color "yellow"}}
              {:id #uuid "66a35ac6-f7a2-4751-b03f-34a896136f28",
               :page 59,
               :position {:bounding {:x1 54,
                                     :y1 230,
                                     :x2 548,
                                     :y2 440,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1721981637986},
               :properties {:color "red"}}
              {:id #uuid "66a35b21-01d5-4dda-8615-8e1e4f04485b",
               :page 64,
               :position {:bounding {:x1 55,
                                     :y1 235,
                                     :x2 535,
                                     :y2 473,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1721981728552},
               :properties {:color "red"}}
              {:id #uuid "66a35b8f-2d68-4719-a767-f35fbdedd343",
               :page 69,
               :position {:bounding {:x1 53,
                                     :y1 230,
                                     :x2 577,
                                     :y2 552,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 69},
               :content {:text "[:span]", :image 1721981838784},
               :properties {:color "red"}}
              {:id #uuid "66a35c06-e537-4c2a-ba1a-f161edd3d95e",
               :page 80,
               :position {:bounding {:x1 11,
                                     :y1 219,
                                     :x2 1054,
                                     :y2 524,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 80},
               :content {:text "[:span]", :image 1721981957589},
               :properties {:color "red"}}],
 :extra {:page 96}}
