{:highlights [{:id #uuid "67f252b3-53ef-41cd-8041-204216ec57a0",
               :page 2,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 632.4794921875,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 632.4794921875,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "Predictive Top-Down Parsers"},
               :properties {:color "red"}}
              {:id #uuid "67f252ec-559b-462d-abb0-583552cfb630",
               :page 2,
               :position {:bounding {:x1 98.875,
                                     :y1 437.796875,
                                     :x2 870.5440673828125,
                                     :y2 484.796875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 437.796875,
                                   :x2 870.5440673828125,
                                   :y2 484.796875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "Predictive parsers accept LL(k) grammars"},
               :properties {:color "red"}}
              {:id #uuid "67f252ff-252b-43c0-89a0-7ad35fa0612a",
               :page 2,
               :position {:bounding {:x1 145.640625,
                                     :y1 487.0625,
                                     :x2 696.9049072265625,
                                     :y2 527.0625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 487.0625,
                                   :x2 696.9049072265625,
                                   :y2 527.0625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "L means “left-to-right” scan of input"},
               :properties {:color "red"}}
              {:id #uuid "67f25307-87d1-47b9-9bf9-0d3638e05097",
               :page 2,
               :position {:bounding {:x1 145.640625,
                                     :y1 531.296875,
                                     :x2 603.8125,
                                     :y2 571.296875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 531.296875,
                                   :x2 603.8125,
                                   :y2 571.296875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "L means “leftmost derivation”"},
               :properties {:color "red"}}
              {:id #uuid "67f2542f-745b-40df-82c1-a468e9550669",
               :page 2,
               :position {:bounding {:x1 145.640625,
                                     :y1 575.515625,
                                     :x2 934,
                                     :y2 615.515625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 575.515625,
                                   :x2 934,
                                   :y2 615.515625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "k means “predict based on k tokens of lookahead”"},
               :properties {:color "red"}}
              {:id #uuid "67f2543a-6a1e-4321-ab6b-0b5775537b74",
               :page 2,
               :position {:bounding {:x1 145.640625,
                                     :y1 619.75,
                                     :x2 535.8289184570312,
                                     :y2 659.75,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 619.75,
                                   :x2 535.8289184570312,
                                   :y2 659.75,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 2},
               :content {:text "In practice, LL(1) is used"},
               :properties {:color "red"}}
              {:id #uuid "67f254e8-26bb-4f52-ba79-51804c3e5208",
               :page 3,
               :position {:bounding {:x1 72.15625,
                                     :y1 652.046875,
                                     :x2 959.463623046875,
                                     :y2 692.046875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 72.15625,
                                   :y1 652.046875,
                                   :x2 959.463623046875,
                                   :y2 692.046875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 3},
               :content {:text "LL(1) is a recursive descent variant without backtracking"},
               :properties {:color "red"}}
              {:id #uuid "67f25f23-eed8-40ab-8e9b-79cf6417192c",
               :page 4,
               :position {:bounding {:x1 520.9127807617188,
                                     :y1 84.96875,
                                     :x2 795.7114868164062,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 520.9127807617188,
                                   :y1 84.96875,
                                   :x2 795.7114868164062,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 4},
               :content {:text "Left Factoring"},
               :properties {:color "red"}}
              {:id #uuid "67f25f77-38c9-49d4-b4d5-3348446ed12e",
               :page 5,
               :position {:bounding {:x1 77,
                                     :y1 189,
                                     :x2 914,
                                     :y2 595,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1743937399257},
               :properties {:color "red"}}
              {:id #uuid "67f25fcb-0230-48fc-8a93-96915dd0fb51",
               :page 6,
               :position {:bounding {:x1 29,
                                     :y1 369,
                                     :x2 1005,
                                     :y2 776,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1743937483337},
               :properties {:color "red"}}
              {:id #uuid "67f2638b-3b78-45ba-89bc-b585c2c62110",
               :page 9,
               :position {:bounding {:x1 145.640625,
                                     :y1 334.03125,
                                     :x2 729.9558715820312,
                                     :y2 374.03125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 334.03125,
                                   :x2 729.9558715820312,
                                   :y2 374.03125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "Blank entries indicate error situations"},
               :properties {:color "red"}}
              {:id #uuid "67f263ab-db2c-4447-b22d-1adedf847cd8",
               :page 10,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 477.6706848144531,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 477.6706848144531,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 10},
               :content {:text "Using Parsing Tables"},
               :properties {:color "red"}}
              {:id #uuid "67f263e5-0db4-4430-bf37-fc21d4bac5e3",
               :page 11,
               :position {:bounding {:x1 31,
                                     :y1 179,
                                     :x2 890,
                                     :y2 707,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1743938533504},
               :properties {:color "red"}}
              {:id #uuid "67f26963-11a2-4bf5-bba2-f5498774977a",
               :page 14,
               :position {:bounding {:x1 39,
                                     :y1 176,
                                     :x2 1042,
                                     :y2 757,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1743939939071},
               :properties {:color "red"}}
              {:id #uuid "67f26986-ef0a-405a-ad29-beb0b7a062ef",
               :page 15,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 479.11981201171875,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 479.11981201171875,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 15},
               :content {:text "Computing First Sets"},
               :properties {:color "red"}}
              {:id #uuid "67f269b1-c6fe-47e3-9b28-1765f401ebc2",
               :page 15,
               :position {:bounding {:x1 43,
                                     :y1 184,
                                     :x2 785,
                                     :y2 697,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1743940017284},
               :properties {:color "red"}}
              {:id #uuid "67f26e6f-526e-4e05-94e2-add17b6e0f55",
               :page 18,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 520.64501953125,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 520.64501953125,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 18},
               :content {:text "Computing Follow Sets"},
               :properties {:color "red"}}
              {:id #uuid "67f26f49-ed85-46aa-821a-12af0c9c7f98",
               :page 18,
               :position {:bounding {:x1 86,
                                     :y1 197,
                                     :x2 816,
                                     :y2 663,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1743941449665},
               :properties {:color "red"}}
              {:id #uuid "67f26f5f-0b04-4e8b-8b33-6122e2b67afd",
               :page 19,
               :position {:bounding {:x1 16,
                                     :y1 195,
                                     :x2 982,
                                     :y2 544,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1743941473305},
               :properties {:color "red"}}
              {:id #uuid "67f26f9e-1413-4ccd-a7f4-3a6d1037087c",
               :page 29,
               :position {:bounding {:x1 49,
                                     :y1 183,
                                     :x2 1024,
                                     :y2 726,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1743941534150},
               :properties {:color "red"}}
              {:id #uuid "67f26fc8-34bb-49bc-a693-c8f74f278338",
               :page 14,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 894.7757568359375,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 894.7757568359375,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 14},
               :content {:text "Constructing Parsing Tables: The Intuition"},
               :properties {:color "red"}}
              {:id #uuid "67f26ff9-6b42-43b6-8964-a83d34aa3541",
               :page 31,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 733.981689453125,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 733.981689453125,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 31},
               :content {:text "Constructing LL(1) Parsing Tables"},
               :properties {:color "red"}}
              {:id #uuid "67f274a4-19db-4620-b141-15332259b9a7",
               :page 31,
               :position {:bounding {:x1 80,
                                     :y1 186,
                                     :x2 881,
                                     :y2 605,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1743942820244},
               :properties {:color "red"}}
              {:id #uuid "67f276b4-a627-4221-a9d4-b6717dc2353a",
               :page 32,
               :position {:bounding {:x1 82,
                                     :y1 187,
                                     :x2 1026,
                                     :y2 528,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1743943347898},
               :properties {:color "red"}}],
 :extra {:page 5}}
