{:highlights [{:id #uuid "6648625a-3dd9-46b9-a45b-0d1f858d243e",
               :page 61,
               :position {:bounding {:x1 53,
                                     :y1 141,
                                     :x2 684,
                                     :y2 587,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1716019801859},
               :properties {:color "red"}}
              {:id #uuid "66a364e0-7002-440e-88c0-769be024ee65",
               :page 25,
               :position {:bounding {:x1 5,
                                     :y1 209,
                                     :x2 982,
                                     :y2 564,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1721984222996},
               :properties {:color "red"}}
              {:id #uuid "66a364f9-40b8-4b26-a7b1-97d4148c648d",
               :page 27,
               :position {:bounding {:x1 41,
                                     :y1 156,
                                     :x2 639,
                                     :y2 504,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1721984248474},
               :properties {:color "red"}}
              {:id #uuid "66a36522-13ab-4646-a122-b0ddde4e8b70",
               :page 31,
               :position {:bounding {:x1 52,
                                     :y1 221,
                                     :x2 783,
                                     :y2 533,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1721984289059},
               :properties {:color "red"}}
              {:id #uuid "66a365d5-ab64-4e24-a5fd-32d7b44628f2",
               :page 44,
               :position {:bounding {:x1 47,
                                     :y1 185,
                                     :x2 950,
                                     :y2 590,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1721984468975},
               :properties {:color "red"}}],
 :extra {:page 61}}
