{:highlights [{:id #uuid "67dcb372-c6ac-4c29-9902-ae339032b18d",
               :page 3,
               :position {:bounding {:x1 36,
                                     :y1 150,
                                     :x2 981,
                                     :y2 635,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1742517108671},
               :properties {:color "red"}}
              {:id #uuid "67dcb691-0bc1-4230-82a5-d6decb6008a3",
               :page 4,
               :position {:bounding {:x1 59,
                                     :y1 151,
                                     :x2 1005,
                                     :y2 382,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1742517903325},
               :properties {:color "red"}}
              {:id #uuid "67dcb6bf-f294-4504-8527-63702fdb01ef",
               :page 5,
               :position {:bounding {:x1 57,
                                     :y1 32,
                                     :x2 1026,
                                     :y2 775,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1742517950471},
               :properties {:color "red"}}
              {:id #uuid "67dcb706-0e1c-4e74-ae66-3fff2e025d0a",
               :page 7,
               :position {:bounding {:x1 34,
                                     :y1 30,
                                     :x2 1004,
                                     :y2 471,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1742518021148},
               :properties {:color "red"}}
              {:id #uuid "67dcb7c4-abb7-47b6-86b2-c2541c8dd4fc",
               :page 11,
               :position {:bounding {:x1 49,
                                     :y1 188,
                                     :x2 898,
                                     :y2 747,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1742518222583},
               :properties {:color "red"}}
              {:id #uuid "67dcbb83-ce28-4ed2-88f1-bf58ed01b769",
               :page 12,
               :position {:bounding {:x1 49,
                                     :y1 28,
                                     :x2 1022,
                                     :y2 656,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1742519571744},
               :properties {:color "red"}}
              {:id #uuid "67dcbd79-c01a-4146-b148-e4586f934f7b",
               :page 13,
               :position {:bounding {:x1 65,
                                     :y1 436,
                                     :x2 1031,
                                     :y2 740,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1742519672018},
               :properties {:color "red"}}
              {:id #uuid "67dcbdb5-db0d-49b0-9c4e-3657df51c847",
               :page 14,
               :position {:bounding {:x1 49,
                                     :y1 425,
                                     :x2 1022,
                                     :y2 794,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1742519732540},
               :properties {:color "red"}}
              {:id #uuid "67dcc045-b6a7-490d-978d-0f48214ee344",
               :page 22,
               :position {:bounding {:x1 61,
                                     :y1 112,
                                     :x2 940,
                                     :y2 696,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1742520388436},
               :properties {:color "red"}}],
 :extra {:page 24}}
