{:highlights [{:id #uuid "670c8986-7759-4989-b2ad-88872464273c",
               :page 1,
               :position {:bounding {:x1 150,
                                     :y1 698.390625,
                                     :x2 422.93292236328125,
                                     :y2 725.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 698.390625,
                                   :x2 422.93292236328125,
                                   :y2 725.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "What is an Algorithm?"},
               :properties {:color "red"}}
              {:id #uuid "670c89a5-b649-4704-85f0-db5543104de9",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 746.921875,
                                     :x2 574.5567626953125,
                                     :y2 766.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 746.921875,
                                   :x2 574.5567626953125,
                                   :y2 766.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Mathematical abstraction of computer program"},
               :properties {:color "red"}}
              {:id #uuid "670c89bb-ffda-47c3-bd44-5d2532dcf620",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 783.75,
                                     :x2 551.75,
                                     :y2 803.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 783.75,
                                   :x2 551.75,
                                   :y2 803.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Computational procedure to solve a problem"},
               :properties {:color "red"}}
              {:id #uuid "670c89d7-7b91-4ff6-9242-72a450bed7d6",
               :page 1,
               :position {:bounding {:x1 273,
                                     :y1 826,
                                     :x2 754,
                                     :y2 1071,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1728874967487},
               :properties {:color "red"}}
              {:id #uuid "670c89e4-8cd6-4f35-870e-c7323950f95e",
               :page 1,
               :position {:bounding {:x1 150,
                                     :y1 1090.15625,
                                     :x2 535.8731079101562,
                                     :y2 1216.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 1090.15625,
                                   :x2 396.676513671875,
                                   :y2 1110.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.265625,
                                   :y1 1122.5625,
                                   :x2 514.457763671875,
                                   :y2 1142.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.265625,
                                   :y1 1159.390625,
                                   :x2 516.4556274414062,
                                   :y2 1179.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 177.265625,
                                   :y1 1196.203125,
                                   :x2 535.8731079101562,
                                   :y2 1216.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Model of computation speciﬁes• what operations an algorithm is allowed• cost (time, space, . . . ) of each operation• cost of algorithm = sum of operation costs"},
               :properties {:color "red"}}
              {:id #uuid "670c8a42-e287-459f-a19b-c410ca722683",
               :page 2,
               :position {:bounding {:x1 150,
                                     :y1 192.328125,
                                     :x2 539.7503051757812,
                                     :y2 219.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 192.328125,
                                   :x2 539.7503051757812,
                                   :y2 219.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Random Access Machine (RAM)"},
               :properties {:color "red"}}
              {:id #uuid "670c8ac7-db5e-4ee1-9f86-aff33fbc1be0",
               :page 2,
               :position {:bounding {:x1 341,
                                     :y1 247,
                                     :x2 667,
                                     :y2 600,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1728875207647},
               :properties {:color "red"}}
              {:id #uuid "670c8ad6-df2a-4d41-be32-927a3e379d4f",
               :page 2,
               :position {:bounding {:x1 158,
                                     :y1 635,
                                     :x2 657,
                                     :y2 998,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1728875222107},
               :properties {:color "red"}}
              {:id #uuid "670c8bc8-f0cc-4195-a816-2d5f6a560649",
               :page 2,
               :position {:bounding {:x1 154,
                                     :y1 1064,
                                     :x2 729,
                                     :y2 1234,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1728875464372},
               :properties {:color "red"}}
              {:id #uuid "670c8c21-9199-460d-80af-9c2cd3561bc2",
               :page 3,
               :position {:bounding {:x1 384,
                                     :y1 184,
                                     :x2 636,
                                     :y2 529,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728875552899},
               :properties {:color "red"}}
              {:id #uuid "670c8ca2-ec23-4b25-bc8e-3371087019dc",
               :page 3,
               :position {:bounding {:x1 150,
                                     :y1 570.125,
                                     :x2 319.7377624511719,
                                     :y2 597.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 570.125,
                                   :x2 319.7377624511719,
                                   :y2 597.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Python Model"},
               :properties {:color "red"}}
              {:id #uuid "670c8cdc-1050-44eb-924a-1a441bf9e164",
               :page 3,
               :position {:bounding {:x1 141,
                                     :y1 613,
                                     :x2 877,
                                     :y2 1229,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728875740587},
               :properties {:color "red"}}
              {:id #uuid "670c8cf1-135d-42ff-85c4-1e7b2c0cfc15",
               :page 4,
               :position {:bounding {:x1 148,
                                     :y1 182,
                                     :x2 924,
                                     :y2 916,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1728875760963},
               :properties {:color "red"}}
              {:id #uuid "670dc251-c773-4a70-9c59-37020c308b06",
               :page 4,
               :position {:bounding {:x1 142,
                                     :y1 976,
                                     :x2 880,
                                     :y2 1221,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1728954960883},
               :properties {:color "red"}}
              {:id #uuid "670dc283-338d-4134-8142-26e4c5ce67ec",
               :page 5,
               :position {:bounding {:x1 298,
                                     :y1 204,
                                     :x2 708,
                                     :y2 562,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728955010718},
               :properties {:color "red"}}
              {:id #uuid "670dc2dc-6900-4bb1-9acb-d2d835fb8642",
               :page 5,
               :position {:bounding {:x1 129,
                                     :y1 577,
                                     :x2 873,
                                     :y2 732,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728955099743},
               :properties {:color "red"}}
              {:id #uuid "670dc2eb-fdeb-4452-81a0-f08337257b82",
               :page 5,
               :position {:bounding {:x1 138,
                                     :y1 733,
                                     :x2 875,
                                     :y2 994,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728955114700},
               :properties {:color "red"}}
              {:id #uuid "670dc4c7-f57a-4588-8808-bf84104577ce",
               :page 5,
               :position {:bounding {:x1 151,
                                     :y1 1066,
                                     :x2 577,
                                     :y2 1193,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728955591351},
               :properties {:color "red"}}
              {:id #uuid "670dc4de-8826-461a-b746-82df45581583",
               :page 7,
               :position {:bounding {:x1 151,
                                     :y1 316,
                                     :x2 680,
                                     :y2 659,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1728955664699},
               :properties {:color "red"}}
              {:id #uuid "670dc537-eb48-4026-9556-7134e6c6d7d8",
               :page 6,
               :position {:bounding {:x1 149,
                                     :y1 180,
                                     :x2 869,
                                     :y2 1137,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1728955702704},
               :properties {:color "red"}}],
 :extra {:page 7}}
