{:highlights [{:id #uuid "66bdb1b2-b3fc-46e9-a2c7-acaa53824fa5",
               :page 4,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 764.7485961914062,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 764.7485961914062,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 4},
               :content {:text "Programming Language Economics"},
               :properties {:color "red"}}
              {:id #uuid "66bdb3e7-b4d7-4588-a13b-b883bde8e34a",
               :page 5,
               :position {:bounding {:x1 98.875,
                                     :y1 196.3125,
                                     :x2 847.6555786132812,
                                     :y2 293.796875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 196.3125,
                                   :x2 847.6555786132812,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 98.875,
                                   :y1 246.796875,
                                   :x2 408.5726623535156,
                                   :y2 293.796875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 5},
               :content {:text "Application domains have distinctive and conflicting needs"},
               :properties {:color "red"}}
              {:id #uuid "66bdb54a-548a-4618-8686-2613ff208125",
               :page 8,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 623.0263061523438,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 623.0263061523438,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 8},
               :content {:text "History of Ideas: Abstraction"},
               :properties {:color "red"}}
              {:id #uuid "66bdb56e-7eba-43cc-a3ed-549ac9a58e45",
               :page 9,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 512.3294677734375,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 512.3294677734375,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "History of Ideas: Types"},
               :properties {:color "red"}}
              {:id #uuid "66bdb57e-fbee-46a1-a552-34bb17127dc7",
               :page 10,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 520.82568359375,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 520.82568359375,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 10},
               :content {:text "History of Ideas: Reuse"},
               :properties {:color "red"}}
              {:id #uuid "66bdb605-305c-4937-afb0-88c888c1a7d2",
               :page 8,
               :position {:bounding {:x1 107.203125,
                                     :y1 363.3125,
                                     :x2 950.92333984375,
                                     :y2 434.859375,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 107.203125,
                                   :y1 363.3125,
                                   :x2 950.92333984375,
                                   :y2 403.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 120.5625,
                                   :y1 401.859375,
                                   :x2 921.3284301757812,
                                   :y2 434.859375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 8},
               :content {:text "Abstraction is necessary to build any complex system– The key is information hiding—expose only the essential"},
               :properties {:color "red"}}
              {:id #uuid "66bdb632-ded0-45e1-a2ba-8aceefaf40e5",
               :page 9,
               :position {:bounding {:x1 58.78125,
                                     :y1 195.109375,
                                     :x2 934.6451416015625,
                                     :y2 681.984375,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 195.109375,
                                   :x2 415.1015625,
                                   :y2 235.109375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 233.671875,
                                   :x2 498.19195556640625,
                                   :y2 266.671875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 265.75,
                                   :x2 556.6353759765625,
                                   :y2 298.75,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 58.78125,
                                   :y1 338.625,
                                   :x2 81.171875,
                                   :y2 378.625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 98.875,
                                   :y1 338.625,
                                   :x2 466.07196044921875,
                                   :y2 378.625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 377.1875,
                                   :x2 556.6483154296875,
                                   :y2 410.1875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 409.265625,
                                   :x2 741.4680786132812,
                                   :y2 442.265625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 441.328125,
                                   :x2 934.6451416015625,
                                   :y2 474.328125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 473.40625,
                                   :x2 649.0530395507812,
                                   :y2 506.40625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 58.78125,
                                   :y1 546.28125,
                                   :x2 81.171875,
                                   :y2 586.28125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 98.875,
                                   :y1 546.28125,
                                   :x2 314.7445068359375,
                                   :y2 586.28125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 584.84375,
                                   :x2 451.0147705078125,
                                   :y2 617.84375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 616.90625,
                                   :x2 820.6397094726562,
                                   :y2 649.90625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 648.984375,
                                   :x2 700.2901000976562,
                                   :y2 681.984375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "Originally, few types– FORTRAN: scalars, arrays– LISP: no static type distinctions• Realization: Types help– Lets you to express abstraction– Lets the compiler report many frequent errors– Sometimes to the point that programs are guaranteed “safe”– Helps the compiler optimize your code• More recently– Lots of interest in types– Experiments with various forms of parameterization– Best developed in functional programming"},
               :properties {:color "red"}}
              {:id #uuid "66bdba00-dd22-4073-bf14-8a6150b478f6",
               :page 11,
               :position {:bounding {:x1 98.875,
                                     :y1 196.3125,
                                     :x2 928.0924682617188,
                                     :y2 364.515625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 196.3125,
                                   :x2 417.918212890625,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 245.59375,
                                   :x2 743.8912353515625,
                                   :y2 285.59375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 112.234375,
                                   :y1 288.65625,
                                   :x2 928.0924682617188,
                                   :y2 328.65625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 165.6875,
                                   :y1 331.515625,
                                   :x2 425.1522521972656,
                                   :y2 364.515625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 11},
               :content {:text "Language design– Many new special-purpose languages– Popular languages stick around (perhaps forever)• Fortran and Cobo"},
               :properties {:color "red"}}
              {:id #uuid "66bdbae9-e5fc-4a97-97a1-f78807372fc0",
               :page 13,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 347.69671630859375,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 347.69671630859375,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 13},
               :content {:text "Cool Overview"},
               :properties {:color "red"}}],
 :extra {:page 26}}
