{:highlights [{:id #uuid "66bdbd50-ffb6-4784-bc7b-b589457edfb5",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 359.921875,
                                     :x2 1069,
                                     :y2 1613.5,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 359.921875,
                                   :x2 591.36669921875,
                                   :y2 399.921875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 165.6875,
                                   :y1 402.78125,
                                   :x2 735.1572875976562,
                                   :y2 435.78125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 0,
                                   :y1 811.75,
                                   :x2 1069,
                                   :y2 1613.5,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 4},
               :content {:text "In a programming language: Identifier, Integer, Keyword, Whitespace, …"},
               :properties {:color "red"}}
              {:id #uuid "66bdbd65-e2b1-4025-bf0a-adbf994f0fec",
               :page 5,
               :position {:bounding {:x1 98.875,
                                     :y1 196.3125,
                                     :x2 910.0171508789062,
                                     :y2 243.3125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 196.3125,
                                   :x2 910.0171508789062,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 5},
               :content {:text "A token class corresponds to a set of strings"},
               :properties {:color "red"}}
              {:id #uuid "66bdbde2-54a4-42c9-b56a-e809342026ab",
               :page 6,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 491.50634765625,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 491.50634765625,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 6},
               :content {:text "What are Tokens For?"},
               :properties {:color "red"}}
              {:id #uuid "66bdbeab-c8bc-43b9-876d-7c44c3c2c491",
               :page 7,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 625.2371826171875,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 625.2371826171875,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 7},
               :content {:text "Designing a Lexical Analyzer"},
               :properties {:color "red"}}
              {:id #uuid "66bdbf62-fb62-4843-86fe-67850bcc5760",
               :page 9,
               :position {:bounding {:x1 98.875,
                                     :y1 196.3125,
                                     :x2 912.3242797851562,
                                     :y2 243.3125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 196.3125,
                                   :x2 912.3242797851562,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "Describe which strings belong to each token"},
               :properties {:color "red"}}
              {:id #uuid "66bdde6b-0c69-4654-a5db-cf56e291203d",
               :page 24,
               :position {:bounding {:x1 192.0625,
                                     :y1 383.625,
                                     :x2 915.0016479492188,
                                     :y2 531.59375,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 226.296875,
                                   :y1 383.625,
                                   :x2 915.0016479492188,
                                   :y2 430.625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 226.296875,
                                   :y1 386.625,
                                   :x2 915.0016479492188,
                                   :y2 428.203125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 192.0625,
                                   :y1 434.109375,
                                   :x2 899.2193603515625,
                                   :y2 481.109375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 192.0625,
                                   :y1 437.109375,
                                   :x2 899.2193603515625,
                                   :y2 478.6875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 314.609375,
                                   :y1 484.59375,
                                   :x2 765.40625,
                                   :y2 531.59375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 314.609375,
                                   :y1 487.59375,
                                   :x2 765.40625,
                                   :y2 529.171875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 24},
               :content {:text "Let alphabet Σ be a set of characters. A language over Σ is a set of strings of characters drawn from Σ"},
               :properties {:color "red"}}
              {:id #uuid "66bddff5-044d-4d51-8320-cdc526f27783",
               :page 27,
               :position {:bounding {:x1 93,
                                     :y1 190,
                                     :x2 1038,
                                     :y2 602,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1723719668174},
               :properties {:color "red"}}
              {:id #uuid "66bde00d-5af7-4aea-a6a1-4d37169fefd6",
               :page 28,
               :position {:bounding {:x1 88,
                                     :y1 177,
                                     :x2 877,
                                     :y2 736,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1723719692707},
               :properties {:color "red"}}
              {:id #uuid "66bde040-7565-4640-9cc2-40338a4c4caa",
               :page 31,
               :position {:bounding {:x1 33,
                                     :y1 226,
                                     :x2 1030,
                                     :y2 708,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1723719743483},
               :properties {:color "red"}}
              {:id #uuid "66bde052-f45d-4d0a-9d17-da34195cdc0c",
               :page 32,
               :position {:bounding {:x1 95,
                                     :y1 298,
                                     :x2 975,
                                     :y2 688,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1723719761881},
               :properties {:color "red"}}],
 :extra {:page 1}}
