{:highlights [{:id #uuid "6648344c-2b90-4a34-b0bf-72155a0b83c3",
               :page 21,
               :position {:bounding {:x1 46.5,
                                     :y1 65.703125,
                                     :x2 369.7604064941406,
                                     :y2 109.703125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 46.5,
                                   :y1 65.703125,
                                   :x2 369.7604064941406,
                                   :y2 109.703125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 21},
               :content {:text "Member Types: Syntax"},
               :properties {:color "red"}}
              {:id #uuid "66485f65-bd48-420c-9405-34fd5ceb19d4",
               :page 49,
               :position {:bounding {:x1 7,
                                     :y1 36,
                                     :x2 1059,
                                     :y2 582,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1716019044588},
               :properties {:color "purple"}}
              {:id #uuid "66485f84-dbcd-4919-b6bd-c78c9927e997",
               :page 50,
               :position {:bounding {:x1 32,
                                     :y1 49,
                                     :x2 1034,
                                     :y2 576,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1716019075942},
               :properties {:color "purple"}}
              {:id #uuid "66485f8f-68da-428e-bf2e-d520d1b40a0a",
               :page 51,
               :position {:bounding {:x1 33,
                                     :y1 56,
                                     :x2 1025,
                                     :y2 565,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716019085767},
               :properties {:color "green"}}],
 :extra {:page 50}}
