{:highlights [{:id #uuid "66483216-a707-4efe-861c-92f5585a2b2c",
               :page 63,
               :position {:bounding {:x1 67.34375,
                                     :y1 91.984375,
                                     :x2 747.593017578125,
                                     :y2 514.015625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 67.34375,
                                   :y1 91.984375,
                                   :x2 747.593017578125,
                                   :y2 171.984375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 177.484375,
                                   :x2 596.8643188476562,
                                   :y2 257.484375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 182.484375,
                                   :x2 596.8643188476562,
                                   :y2 253.75,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 263,
                                   :x2 701.3430786132812,
                                   :y2 343,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 268,
                                   :x2 701.3430786132812,
                                   :y2 339.265625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 348.5,
                                   :x2 692.143798828125,
                                   :y2 428.5,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 353.5,
                                   :x2 692.143798828125,
                                   :y2 424.765625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 434.015625,
                                   :x2 259.8387145996094,
                                   :y2 514.015625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 63},
               :content {:text "Templates don’t emit code until instantiated, so include the .cpp in the .h instead of the other way around!"},
               :properties {:color "red"}}],
 :extra {:page 63}}
