{:highlights [{:id #uuid "67f279d4-d6ce-47e5-8a68-ca54cbfde031",
               :page 6,
               :position {:bounding {:x1 73.34375,
                                     :y1 377.6875,
                                     :x2 1002.2944946289062,
                                     :y2 475.171875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 73.34375,
                                   :y1 377.6875,
                                   :x2 1002.2944946289062,
                                   :y2 424.6875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 489.6875,
                                   :y1 428.171875,
                                   :x2 628.3106689453125,
                                   :y2 475.171875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 6},
               :content {:text "A bottom-up parser traces a rightmost derivation in reverse"},
               :properties {:color "red"}}
              {:id #uuid "67f27c87-d093-4556-b48c-d3e08e5812a3",
               :page 8,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 612.9979858398438,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 612.9979858398438,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 8},
               :content {:text "A Bottom-up Parse in Detail "},
               :properties {:color "red"}}],
 :extra {:page 7}}
