{:highlights [{:id #uuid "66b6c8eb-713f-48a3-a328-4af99aa07eef",
               :page 11,
               :position {:bounding {:x1 22,
                                     :y1 468,
                                     :x2 256,
                                     :y2 700,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1723255018685},
               :properties {:color "red"}}
              {:id #uuid "66b6c8f4-420e-4dd0-9f74-983f1d79e212",
               :page 11,
               :position {:bounding {:x1 316,
                                     :y1 504,
                                     :x2 1042,
                                     :y2 664,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1723255027776},
               :properties {:color "red"}}
              {:id #uuid "66b6ca98-2425-439d-9427-5eee3dbfa402",
               :page 24,
               :position {:bounding {:x1 84,
                                     :y1 253,
                                     :x2 943,
                                     :y2 742,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1723255447928},
               :properties {:color "red"}}
              {:id #uuid "66b6cbcc-7f00-46db-b981-cd2213d7085a",
               :page 32,
               :position {:bounding {:x1 784,
                                     :y1 351,
                                     :x2 1021,
                                     :y2 794,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1723255755120},
               :properties {:color "red"}}
              {:id #uuid "66b6cc34-9f9d-40cb-9f2d-a8906d210400",
               :page 34,
               :position {:bounding {:x1 98.875,
                                     :y1 488.625,
                                     :x2 1027.9954833984375,
                                     :y2 535.625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 488.625,
                                   :x2 1027.9954833984375,
                                   :y2 535.625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 34},
               :content {:text "Language design has a big impact on the compiler"},
               :properties {:color "red"}}
              {:id #uuid "66b6cc81-5d26-42c4-970b-20281026afe7",
               :page 35,
               :position {:bounding {:x1 98.875,
                                     :y1 196.3125,
                                     :x2 939.8896484375,
                                     :y2 293.796875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 196.3125,
                                   :x2 939.8896484375,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 98.875,
                                   :y1 246.796875,
                                   :x2 501.0423583984375,
                                   :y2 293.796875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 35},
               :content {:text "The overall structure of almost every compiler adheres to our outline"},
               :properties {:color "red"}}],
 :extra {:page 35}}
