{:highlights [{:id #uuid "67e39ba0-9595-41da-a90b-7ce0802e79f7",
               :page 3,
               :position {:bounding {:x1 141,
                                     :y1 235,
                                     :x2 879,
                                     :y2 725,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1742969759717},
               :properties {:color "red"}}
              {:id #uuid "67e39d68-09a0-4629-b591-2f98adf951eb",
               :page 3,
               :position {:bounding {:x1 140,
                                     :y1 748,
                                     :x2 847,
                                     :y2 1170,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1742970527503},
               :properties {:color "red"}}
              {:id #uuid "67e3a001-23f3-408e-96fe-886943323135",
               :page 4,
               :position {:bounding {:x1 137,
                                     :y1 177,
                                     :x2 863,
                                     :y2 1178,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1742970880219},
               :properties {:color "red"}}],
 :extra {:page 6}}
