{:highlights [{:id #uuid "670a1d52-046a-4ed0-816e-9abaa2f095e1",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 533.4375,
                                     :x2 869.9967041015625,
                                     :y2 578.28125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 533.4375,
                                   :x2 869.9967041015625,
                                   :y2 553.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 195.4375,
                                   :y1 558.28125,
                                   :x2 325.70184326171875,
                                   :y2 578.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Eﬃcient procedures for solving problems on large inputs (Ex: U.S. Highway Map, Human Genome"},
               :properties {:color "red"}}
              {:id #uuid "670a1d99-a6a6-4a4d-9bab-fc6b92d2be74",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 598.0625,
                                     :x2 278.2684020996094,
                                     :y2 618.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 598.0625,
                                   :x2 278.2684020996094,
                                   :y2 618.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Scalability"},
               :properties {:color "red"}}
              {:id #uuid "670a1db8-2daf-4a95-af02-b154483e9c20",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 637.84375,
                                     :x2 701.2045288085938,
                                     :y2 657.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 637.84375,
                                   :x2 701.2045288085938,
                                   :y2 657.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Classic data structures and elementary algorithms (CLRS text)"},
               :properties {:color "red"}}
              {:id #uuid "670a1ded-38e8-4ecd-84c5-d463294ecf12",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 677.625,
                                     :x2 453.6217346191406,
                                     :y2 697.625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 677.625,
                                   :x2 453.6217346191406,
                                   :y2 697.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Real implementations in Python"},
               :properties {:color "red"}}
              {:id #uuid "670a1e35-12b6-40ac-a2fb-091b272a4efb",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 717.40625,
                                     :x2 332.8126220703125,
                                     :y2 737.40625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 717.40625,
                                   :x2 332.8126220703125,
                                   :y2 737.40625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Fun problem sets"},
               :properties {:color "red"}}
              {:id #uuid "670a1e66-ed80-4cc5-a9a7-df21745e3761",
               :page 1,
               :position {:bounding {:x1 354.0625,
                                     :y1 757.1875,
                                     :x2 432.82049560546875,
                                     :y2 777.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 354.0625,
                                   :y1 757.1875,
                                   :x2 432.82049560546875,
                                   :y2 777.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "8 modules"},
               :properties {:color "red"}}
              {:id #uuid "670a1e7f-7262-43d6-8415-06b780c84b5c",
               :page 1,
               :position {:bounding {:x1 172.203125,
                                     :y1 846.640625,
                                     :x2 487.4239501953125,
                                     :y2 866.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.203125,
                                   :y1 846.640625,
                                   :x2 487.4239501953125,
                                   :y2 866.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1. Algorithmic Thinking: Peak Finding"},
               :properties {:color "red"}}
              {:id #uuid "670a1ea2-a4b0-484b-a29a-5daa2544d9b3",
               :page 1,
               :position {:bounding {:x1 172.203125,
                                     :y1 886.421875,
                                     :x2 472.1836853027344,
                                     :y2 906.421875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.203125,
                                   :y1 886.421875,
                                   :x2 472.1836853027344,
                                   :y2 906.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "2. Sorting & Trees: Event Simulation"},
               :properties {:color "red"}}
              {:id #uuid "670a1eb0-3790-4908-aeb5-abd0288a5355",
               :page 1,
               :position {:bounding {:x1 195.4375,
                                     :y1 926.203125,
                                     :x2 438.7445068359375,
                                     :y2 946.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 195.4375,
                                   :y1 926.203125,
                                   :x2 438.7445068359375,
                                   :y2 946.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Hashing: Genome Comparison"},
               :properties {:color "red"}}
              {:id #uuid "670a1ed6-ba66-48e8-a737-2dedd664ec32",
               :page 1,
               :position {:bounding {:x1 172.203125,
                                     :y1 966,
                                     :x2 414.8516845703125,
                                     :y2 986,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.203125,
                                   :y1 966,
                                   :x2 414.8516845703125,
                                   :y2 986,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "4. Numerics: RSA Encryption"},
               :properties {:color "red"}}
              {:id #uuid "670a1f15-dbec-4191-9d19-3b9a85a1ffd2",
               :page 1,
               :position {:bounding {:x1 172.203125,
                                     :y1 1005.78125,
                                     :x2 374.8691711425781,
                                     :y2 1025.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.203125,
                                   :y1 1005.78125,
                                   :x2 374.8691711425781,
                                   :y2 1025.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "5. Graphs: Rubik’s Cube"},
               :properties {:color "red"}}
              {:id #uuid "670a1f24-6895-4626-a234-30a5408fd88e",
               :page 1,
               :position {:bounding {:x1 172.203125,
                                     :y1 1045.5625,
                                     :x2 452.5167236328125,
                                     :y2 1065.5625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.203125,
                                   :y1 1045.5625,
                                   :x2 452.5167236328125,
                                   :y2 1065.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "6. Shortest Paths: Caltech → MIT"},
               :properties {:color "red"}}
              {:id #uuid "670a1f32-a9ea-4d5e-a648-552fff94bc62",
               :page 1,
               :position {:bounding {:x1 172.1875,
                                     :y1 1085.34375,
                                     :x2 549.333740234375,
                                     :y2 1105.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.1875,
                                   :y1 1085.34375,
                                   :x2 549.333740234375,
                                   :y2 1105.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "7. Dynamic Programming: Image Compression"},
               :properties {:color "red"}}
              {:id #uuid "670a1f4c-2b68-4d69-9af1-f377a721635a",
               :page 1,
               :position {:bounding {:x1 172.1875,
                                     :y1 1125.109375,
                                     :x2 330.3725891113281,
                                     :y2 1145.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.1875,
                                   :y1 1125.109375,
                                   :x2 330.3725891113281,
                                   :y2 1145.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "8. Advanced Topics"},
               :properties {:color "red"}}
              {:id #uuid "670a1ffc-2b61-4350-abe6-b7baaa34556a",
               :page 2,
               :position {:bounding {:x1 150,
                                     :y1 192.328125,
                                     :x2 293.6900939941406,
                                     :y2 219.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 192.328125,
                                   :x2 293.6900939941406,
                                   :y2 219.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Peak Finder"},
               :properties {:color "red"}}
              {:id #uuid "670a2f63-d5c0-4a44-8149-0fa39bfd2aca",
               :page 3,
               :position {:bounding {:x1 150,
                                     :y1 838.453125,
                                     :x2 396.4344177246094,
                                     :y2 860.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 150,
                                   :y1 838.453125,
                                   :x2 396.4344177246094,
                                   :y2 860.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Two-dimensional Version"},
               :properties {:color "red"}}
              {:id #uuid "670c6ed5-1808-46f0-bfb8-9d8027e10a1b",
               :page 2,
               :position {:bounding {:x1 132,
                                     :y1 266,
                                     :x2 787,
                                     :y2 503,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1728868052891},
               :properties {:color "red"}}
              {:id #uuid "670c6f2d-6d0c-4961-808e-9ebc6db4d1fe",
               :page 3,
               :position {:bounding {:x1 139,
                                     :y1 220,
                                     :x2 879,
                                     :y2 818,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728868140883},
               :properties {:color "red"}}
              {:id #uuid "670c6ffd-de6f-43b9-8b93-0807744ea4a7",
               :page 3,
               :position {:bounding {:x1 218,
                                     :y1 898,
                                     :x2 801,
                                     :y2 1182,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728868354910},
               :properties {:color "red"}}
              {:id #uuid "670c8050-eb4f-485c-a72e-2983fc94d2d7",
               :page 5,
               :position {:bounding {:x1 124,
                                     :y1 186,
                                     :x2 854,
                                     :y2 1168,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728872527199},
               :properties {:color "red"}}
              {:id #uuid "670c80c7-7e79-4450-a6e1-64f644fb2909",
               :page 5,
               :position {:bounding {:x1 140,
                                     :y1 1168,
                                     :x2 884,
                                     :y2 1228,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1728872646116},
               :properties {:color "red"}}],
 :extra {:page 2}}
