{:highlights [{:id #uuid "6648344c-2b90-4a34-b0bf-72155a0b83c3",
               :page 21,
               :position {:bounding {:x1 46.5,
                                     :y1 65.703125,
                                     :x2 369.7604064941406,
                                     :y2 109.703125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 46.5,
                                   :y1 65.703125,
                                   :x2 369.7604064941406,
                                   :y2 109.703125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 21},
               :content {:text "Member Types: Syntax"},
               :properties {:color "red"}}
              {:id #uuid "66485f65-bd48-420c-9405-34fd5ceb19d4",
               :page 49,
               :position {:bounding {:x1 7,
                                     :y1 36,
                                     :x2 1059,
                                     :y2 582,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1716019044588},
               :properties {:color "purple"}}
              {:id #uuid "66485f84-dbcd-4919-b6bd-c78c9927e997",
               :page 50,
               :position {:bounding {:x1 32,
                                     :y1 49,
                                     :x2 1034,
                                     :y2 576,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1716019075942},
               :properties {:color "purple"}}
              {:id #uuid "66485f8f-68da-428e-bf2e-d520d1b40a0a",
               :page 51,
               :position {:bounding {:x1 33,
                                     :y1 56,
                                     :x2 1025,
                                     :y2 565,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1716019085767},
               :properties {:color "green"}}
              {:id #uuid "66a35f30-0b48-4711-8f5a-fd63acf2b25b",
               :page 19,
               :position {:bounding {:x1 2,
                                     :y1 43,
                                     :x2 745,
                                     :y2 363,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1721982767656},
               :properties {:color "red"}}
              {:id #uuid "66a361aa-3f06-456f-bc2a-257dac5bb7af",
               :page 21,
               :position {:bounding {:x1 3,
                                     :y1 414,
                                     :x2 891,
                                     :y2 535,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1721983400804},
               :properties {:color "red"}}
              {:id #uuid "66a361e2-4f4c-4a5e-a2ae-04d262a5c177",
               :page 22,
               :position {:bounding {:x1 24,
                                     :y1 43,
                                     :x2 1008,
                                     :y2 525,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1721983457655},
               :properties {:color "blue"}}
              {:id #uuid "66a36210-c49e-4484-bc60-04d9df775ce1",
               :page 23,
               :position {:bounding {:x1 31,
                                     :y1 55,
                                     :x2 985,
                                     :y2 441,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1721983512401},
               :properties {:color "green"}}
              {:id #uuid "66a3625c-6634-4d35-9b41-0aae88335e87",
               :page 25,
               :position {:bounding {:x1 39,
                                     :y1 56,
                                     :x2 1019,
                                     :y2 519,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1721983579168},
               :properties {:color "green"}}
              {:id #uuid "66a362b4-4c7a-47e3-aeb2-005b3b358be4",
               :page 38,
               :position {:bounding {:x1 0,
                                     :y1 43,
                                     :x2 1045,
                                     :y2 567,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1721983667604},
               :properties {:color "red"}}
              {:id #uuid "66a362d4-85ed-4efa-b43a-c38ced4fea98",
               :page 39,
               :position {:bounding {:x1 1,
                                     :y1 29,
                                     :x2 1043,
                                     :y2 553,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1721983699113},
               :properties {:color "red"}}
              {:id #uuid "66a36303-9552-4c6f-bfad-f05b62b6c2a2",
               :page 40,
               :position {:bounding {:x1 70.765625,
                                     :y1 99.359375,
                                     :x2 763.2708740234375,
                                     :y2 556.203125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 70.765625,
                                   :y1 99.359375,
                                   :x2 716.62744140625,
                                   :y2 171.359375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 489.484375,
                                   :y1 167.765625,
                                   :x2 696.28125,
                                   :y2 259.765625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 176.328125,
                                   :x2 492.671875,
                                   :y2 248.328125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 696.65625,
                                   :y1 176.328125,
                                   :x2 739.5121459960938,
                                   :y2 248.328125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 180.328125,
                                   :x2 739.5121459960938,
                                   :y2 244.46875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 253.296875,
                                   :x2 725.575927734375,
                                   :y2 325.296875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 257.296875,
                                   :x2 725.575927734375,
                                   :y2 321.4375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 186,
                                   :y1 321.703125,
                                   :x2 392.796875,
                                   :y2 413.703125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 416.90625,
                                   :y1 321.703125,
                                   :x2 763.2708740234375,
                                   :y2 413.703125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 330.265625,
                                   :x2 189.078125,
                                   :y2 402.265625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 334.265625,
                                   :x2 392.796875,
                                   :y2 398.40625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 416.90625,
                                   :y1 335.703125,
                                   :x2 763.2708740234375,
                                   :y2 399.84375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 407.234375,
                                   :x2 460.6792297363281,
                                   :y2 479.234375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 411.234375,
                                   :x2 460.6792297363281,
                                   :y2 475.375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 70.765625,
                                   :y1 484.203125,
                                   :x2 438.22772216796875,
                                   :y2 556.203125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 40},
               :content {:text "const-interface: All member functions marked const in a class deﬁnition. Objects of type const ClassName may only use the const-interface."},
               :properties {:color "red"}}
              {:id #uuid "66a3640b-da80-4888-962d-be6afb614096",
               :page 47,
               :position {:bounding {:x1 5,
                                     :y1 26,
                                     :x2 745,
                                     :y2 581,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1721984010442},
               :properties {:color "red"}}
              {:id #uuid "66a36427-2fe1-4d7f-b316-820f49cbf565",
               :page 48,
               :position {:bounding {:x1 5,
                                     :y1 122,
                                     :x2 917,
                                     :y2 439,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1721984038719},
               :properties {:color "red"}}],
 :extra {:page 48}}
