{:highlights [{:id #uuid "6789c1e3-90bf-409b-a17c-4fccef79668e",
               :page 6,
               :position {:bounding {:x1 58.78125,
                                     :y1 83.90625,
                                     :x2 1003.8909301757812,
                                     :y2 129.90625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 83.90625,
                                   :x2 1003.8909301757812,
                                   :y2 129.90625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 6},
               :content {:text "Convert Regular Expressions to Finite Automata"},
               :properties {:color "red"}}
              {:id #uuid "6789c242-0dc1-45c0-b18a-03de6b62fd35",
               :page 6,
               :position {:bounding {:x1 90,
                                     :y1 188,
                                     :x2 978,
                                     :y2 673,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1737081409971},
               :properties {:color "red"}}
              {:id #uuid "6789c285-fd5a-47a3-bc8a-d86ca96f7cd4",
               :page 7,
               :position {:bounding {:x1 49,
                                     :y1 183,
                                     :x2 986,
                                     :y2 634,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1737081476815},
               :properties {:color "red"}}
              {:id #uuid "6789c2b6-4805-4eca-8dc2-6e4bc15c6b79",
               :page 9,
               :position {:bounding {:x1 58.78125,
                                     :y1 78.90625,
                                     :x2 911.327880859375,
                                     :y2 138.90625,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 481.59375,
                                   :y1 78.90625,
                                   :x2 532.46875,
                                   :y2 138.90625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 481.625,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 534.71875,
                                   :y1 84.96875,
                                   :x2 911.327880859375,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 470.0625,
                                   :y1 87.96875,
                                   :x2 532.46875,
                                   :y2 129.546875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "Lexical Specification → Regex in five steps"},
               :properties {:color "red"}}
              {:id #uuid "6789c2db-b7ca-43f5-9cc7-3bc9c92c55bb",
               :page 9,
               :position {:bounding {:x1 121.140625,
                                     :y1 196.3125,
                                     :x2 642.6332397460938,
                                     :y2 243.3125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 121.140625,
                                   :y1 196.3125,
                                   :x2 642.6332397460938,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 9},
               :content {:text "Write a regex for each token"},
               :properties {:color "red"}}
              {:id #uuid "6789c2ee-3048-487e-ae52-74eb53ce164a",
               :page 9,
               :position {:bounding {:x1 105,
                                     :y1 246,
                                     :x2 677,
                                     :y2 469,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1737081581879},
               :properties {:color "red"}}
              {:id #uuid "6789c2fc-2d0d-40be-92a8-199513d5ceaf",
               :page 10,
               :position {:bounding {:x1 121.140625,
                                     :y1 196.3125,
                                     :x2 999.1578369140625,
                                     :y2 243.3125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 121.140625,
                                   :y1 196.3125,
                                   :x2 999.1578369140625,
                                   :y2 243.3125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 299.0625,
                                   :y1 199.3125,
                                   :x2 340.609375,
                                   :y2 240.890625,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 10},
               :content {:text "Construct R, matching all lexemes for all tokens"},
               :properties {:color "red"}}
              {:id #uuid "6789c5ed-4b34-4b34-9626-31fbad326e32",
               :page 12,
               :position {:bounding {:x1 84,
                                     :y1 184,
                                     :x2 865,
                                     :y2 725,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1737082348677},
               :properties {:color "red"}}
              {:id #uuid "6789c5fa-82c0-44cb-b747-fd045eb1a3c9",
               :page 13,
               :position {:bounding {:x1 90,
                                     :y1 183,
                                     :x2 958,
                                     :y2 611,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1737082361712},
               :properties {:color "red"}}
              {:id #uuid "6789c63e-5e13-43f7-a4a3-0bbf4ea39402",
               :page 14,
               :position {:bounding {:x1 91,
                                     :y1 187,
                                     :x2 753,
                                     :y2 569,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1737082429679},
               :properties {:color "red"}}
              {:id #uuid "6789c658-c6ce-4336-9217-a4bad3c34def",
               :page 15,
               :position {:bounding {:x1 98.875,
                                     :y1 195.109375,
                                     :x2 996.1610717773438,
                                     :y2 278.171875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 195.109375,
                                   :x2 996.1610717773438,
                                   :y2 235.109375,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}
                                  {:x1 98.875,
                                   :y1 238.171875,
                                   :x2 227.6437225341797,
                                   :y2 278.171875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 15},
               :content {:text "Regular expressions provide a concise notation for string patterns"},
               :properties {:color "red"}}
              {:id #uuid "6789c663-e506-4b6e-9cf2-26288e4c120c",
               :page 15,
               :position {:bounding {:x1 98.875,
                                     :y1 342.8125,
                                     :x2 859.41357421875,
                                     :y2 382.8125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 98.875,
                                   :y1 342.8125,
                                   :x2 859.41357421875,
                                   :y2 382.8125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 15},
               :content {:text "Use in lexical analysis requires small extensions"},
               :properties {:color "red"}}
              {:id #uuid "6789c66e-a638-4358-b77c-f3d3db616c89",
               :page 15,
               :position {:bounding {:x1 145.640625,
                                     :y1 385.6875,
                                     :x2 439.44158935546875,
                                     :y2 418.6875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 145.640625,
                                   :y1 385.6875,
                                   :x2 439.44158935546875,
                                   :y2 418.6875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 15},
               :content {:text "To resolve ambiguities"},
               :properties {:color "red"}}
              {:id #uuid "6789c722-1822-4d77-90de-6a5a1f9968c1",
               :page 16,
               :position {:bounding {:x1 88,
                                     :y1 366,
                                     :x2 737,
                                     :y2 659,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1737082657774},
               :properties {:color "red"}}
              {:id #uuid "6789c763-75a2-40fc-9362-f0cc4ca7e4e8",
               :page 17,
               :position {:bounding {:x1 93,
                                     :y1 184,
                                     :x2 977,
                                     :y2 679,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1737082722612},
               :properties {:color "red"}}
              {:id #uuid "6789c7a9-806b-45d4-a578-f6d81382ab71",
               :page 18,
               :position {:bounding {:x1 45,
                                     :y1 79,
                                     :x2 854,
                                     :y2 689,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1737082792492},
               :properties {:color "red"}}
              {:id #uuid "6789c7be-1084-4548-a6f0-9b0e22a1046d",
               :page 19,
               :position {:bounding {:x1 85,
                                     :y1 187,
                                     :x2 821,
                                     :y2 679,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1737082813575},
               :properties {:color "red"}}
              {:id #uuid "6789c805-2437-423e-ad99-a25c0f7f3b07",
               :page 20,
               :position {:bounding {:x1 89,
                                     :y1 187,
                                     :x2 973,
                                     :y2 647,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1737082884241},
               :properties {:color "red"}}
              {:id #uuid "6789c94d-607e-4e74-97e8-3e1ee8767f43",
               :page 22,
               :position {:bounding {:x1 88,
                                     :y1 189,
                                     :x2 880,
                                     :y2 626,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1737083212697},
               :properties {:color "red"}}
              {:id #uuid "6789c986-2440-4dda-9b80-2e995dee522a",
               :page 23,
               :position {:bounding {:x1 89,
                                     :y1 190,
                                     :x2 944,
                                     :y2 582,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1737083269518},
               :properties {:color "yellow"}}
              {:id #uuid "6789c9aa-2b3b-419b-9b06-d89d90f4d201",
               :page 24,
               :position {:bounding {:x1 92,
                                     :y1 188,
                                     :x2 999,
                                     :y2 539,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1737083304470},
               :properties {:color "red"}}
              {:id #uuid "6789ca00-fb76-4f5c-bea1-bbdddbd0f356",
               :page 26,
               :position {:bounding {:x1 82,
                                     :y1 188,
                                     :x2 901,
                                     :y2 563,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1737083391226},
               :properties {:color "red"}}
              {:id #uuid "6789ca22-0f1d-4281-910c-dc02b4e93023",
               :page 27,
               :position {:bounding {:x1 88,
                                     :y1 192,
                                     :x2 954,
                                     :y2 714,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1737083424977},
               :properties {:color "yellow"}}
              {:id #uuid "6789ca4a-3fb7-4705-8a61-bab4a29a722b",
               :page 28,
               :position {:bounding {:x1 58.78125,
                                     :y1 84.96875,
                                     :x2 778.589111328125,
                                     :y2 131.96875,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 58.78125,
                                   :y1 84.96875,
                                   :x2 778.589111328125,
                                   :y2 131.96875,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 28},
               :content {:text "Convert Regular Expressions to NFA"},
               :properties {:color "red"}}
              {:id #uuid "6789ca6e-7335-43bc-b48e-d61389e993ba",
               :page 28,
               :position {:bounding {:x1 91,
                                     :y1 187,
                                     :x2 780,
                                     :y2 702,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1737083527638},
               :properties {:color "red"}}
              {:id #uuid "6789ca7c-a051-4840-90aa-80f1ec1cc70e",
               :page 29,
               :position {:bounding {:x1 93,
                                     :y1 192,
                                     :x2 852,
                                     :y2 680,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1737083515718},
               :properties {:color "red"}}
              {:id #uuid "6789ca94-8f02-4a8e-9a30-b2d31bf80abd",
               :page 30,
               :position {:bounding {:x1 94,
                                     :y1 185,
                                     :x2 811,
                                     :y2 580,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1737083539016},
               :properties {:color "red"}}
              {:id #uuid "6789cae9-c9b4-48ce-bd81-c338c4e3452a",
               :page 31,
               :position {:bounding {:x1 43,
                                     :y1 194,
                                     :x2 1021,
                                     :y2 700,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1737083624915},
               :properties {:color "red"}}
              {:id #uuid "6789cb93-f061-4206-934f-d9cc2277c5ac",
               :page 32,
               :position {:bounding {:x1 83,
                                     :y1 188,
                                     :x2 1011,
                                     :y2 655,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1737083793846},
               :properties {:color "red"}}
              {:id #uuid "6789cbff-35a5-4e9c-82a9-a759b69e0cb0",
               :page 34,
               :position {:bounding {:x1 37,
                                     :y1 172,
                                     :x2 1054,
                                     :y2 740,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1737083901935},
               :properties {:color "red"}}
              {:id #uuid "6789cf0d-0c5e-4d3f-94f6-f16a592eaaae",
               :page 35,
               :position {:bounding {:x1 90,
                                     :y1 178,
                                     :x2 1005,
                                     :y2 728,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1737084703693},
               :properties {:color "red"}}
              {:id #uuid "6789d111-6918-43a1-9a1b-91b780849f52",
               :page 36,
               :position {:bounding {:x1 88,
                                     :y1 179,
                                     :x2 831,
                                     :y2 719,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1737085200584},
               :properties {:color "red"}}],
 :extra {:page 30}}
