{:highlights [{:id #uuid "66483216-a707-4efe-861c-92f5585a2b2c",
               :page 63,
               :position {:bounding {:x1 67.34375,
                                     :y1 91.984375,
                                     :x2 747.593017578125,
                                     :y2 514.015625,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 67.34375,
                                   :y1 91.984375,
                                   :x2 747.593017578125,
                                   :y2 171.984375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 177.484375,
                                   :x2 596.8643188476562,
                                   :y2 257.484375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 182.484375,
                                   :x2 596.8643188476562,
                                   :y2 253.75,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 263,
                                   :x2 701.3430786132812,
                                   :y2 343,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 268,
                                   :x2 701.3430786132812,
                                   :y2 339.265625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 348.5,
                                   :x2 692.143798828125,
                                   :y2 428.5,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 353.5,
                                   :x2 692.143798828125,
                                   :y2 424.765625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 434.015625,
                                   :x2 259.8387145996094,
                                   :y2 514.015625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 63},
               :content {:text "Templates don’t emit code until instantiated, so include the .cpp in the .h instead of the other way around!"},
               :properties {:color "red"}}
              {:id #uuid "66a217db-c162-4db9-8dd4-a17c2b2bda12",
               :page 12,
               :position {:bounding {:x1 67.34375,
                                     :y1 90.140625,
                                     :x2 761.8787841796875,
                                     :y2 513.328125,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects ({:x1 67.34375,
                                   :y1 90.140625,
                                   :x2 726.1715698242188,
                                   :y2 139.140625,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 143.59375,
                                   :x2 590.0025024414062,
                                   :y2 192.59375,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 197.046875,
                                   :x2 761.8787841796875,
                                   :y2 246.046875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 250.5,
                                   :x2 698.456298828125,
                                   :y2 299.5,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 303.96875,
                                   :x2 727.0177612304688,
                                   :y2 352.96875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 357.421875,
                                   :x2 721.1776733398438,
                                   :y2 406.421875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 410.875,
                                   :x2 238.16207885742188,
                                   :y2 459.875,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}
                                  {:x1 67.34375,
                                   :y1 464.328125,
                                   :x2 378.9592590332031,
                                   :y2 513.328125,
                                   :width 1068.9999999999998,
                                   :height 601.3124999999999}),
                          :page 12},
               :content {:text "“A struct simply feels like an open pile of bits with very little in the way of encapsulation or functionality. A class feels like a living and responsible member of society with intelligent services, a strong encapsulation barrier, and a well deﬁned interface.”- Bjarne Stroustrup"},
               :properties {:color "red"}}
              {:id #uuid "66a2180c-8f0d-4486-bee6-6b9b110b3cea",
               :page 15,
               :position {:bounding {:x1 33,
                                     :y1 47,
                                     :x2 1045,
                                     :y2 596,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1721899019751},
               :properties {:color "blue"}}
              {:id #uuid "66a21851-3db2-41a2-b2a1-b0b5c927bf25",
               :page 16,
               :position {:bounding {:x1 37,
                                     :y1 50,
                                     :x2 988,
                                     :y2 589,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1721899088340},
               :properties {:color "red"}}
              {:id #uuid "66a21877-3265-4156-9e90-716ac72f0c14",
               :page 22,
               :position {:bounding {:x1 33,
                                     :y1 53,
                                     :x2 985,
                                     :y2 519,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1721899126112},
               :properties {:color "red"}}
              {:id #uuid "66a218c9-31aa-4f7c-a8c8-b61e92bff575",
               :page 28,
               :position {:bounding {:x1 2,
                                     :y1 49,
                                     :x2 1009,
                                     :y2 574,
                                     :width 1068.9999999999998,
                                     :height 601.3124999999999},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1721899212785},
               :properties {:color "red"}}],
 :extra {:page 37}}
