{:highlights [{:id #uuid "6694b9e6-d1f2-4918-af5b-52418ab1cba4",
               :page 5,
               :position {:bounding {:x1 165.4375,
                                     :y1 830.71875,
                                     :x2 898.6163330078125,
                                     :y2 873.296875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 512.75,
                                   :y1 830.71875,
                                   :x2 898.6163330078125,
                                   :y2 850.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 853.296875,
                                   :x2 249.66510009765625,
                                   :y2 873.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "The performance index favors space utilization over throughput,"},
               :properties {:color "red"}}],
 :extra {:page 4}}
