{:highlights [{:id #uuid "691fba13-a269-4d8d-be23-4bb9e9a5e8c6",
               :page 3,
               :position {:bounding {:x1 108,
                                     :y1 111.193115234375,
                                     :x2 496,
                                     :y2 683.193115234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1763686931244},
               :properties {:color "red"}}
              {:id #uuid "691fbb89-0bef-4ee6-9185-207f65864bd5",
               :page 4,
               :position {:bounding {:x1 104,
                                     :y1 103.08740234375,
                                     :x2 495,
                                     :y2 241.08740234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1763687305448},
               :properties {:color "red"}}
              {:id #uuid "691fbf31-4e2c-4080-96d2-d1db4ed9d6e5",
               :page 5,
               :position {:bounding {:x1 114,
                                     :y1 229.05615234375,
                                     :x2 462,
                                     :y2 411.05615234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763688240879},
               :properties {:color "red"}}
              {:id #uuid "691fc06a-c997-4167-a688-c954ac8040cf",
               :page 5,
               :position {:bounding {:x1 523,
                                     :y1 127.05615234375,
                                     :x2 900,
                                     :y2 246.05615234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763688554337},
               :properties {:color "red"}}
              {:id #uuid "691fc2e2-fd6d-4ce3-8ed2-6cb8c1160199",
               :page 6,
               :position {:bounding {:x1 151,
                                     :y1 108.13671875,
                                     :x2 456,
                                     :y2 368.13671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1763689186063},
               :properties {:color "red"}}
              {:id #uuid "691fde75-a131-4f68-890b-6096249bf72a",
               :page 18,
               :position {:bounding {:x1 151,
                                     :y1 157.58203125,
                                     :x2 667,
                                     :y2 480.58203125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1763696245003},
               :properties {:color "red"}}
              {:id #uuid "691fdeaa-0d57-4782-9c0c-6d4b60aaf649",
               :page 18,
               :position {:bounding {:x1 707,
                                     :y1 157.58203125,
                                     :x2 1224,
                                     :y2 479.58203125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1763696298011},
               :properties {:color "red"}}],
 :extra {:page 18}}
