{:highlights [{:id #uuid "691a765f-1998-4f47-ae04-5cc282a249c3",
               :page 4,
               :position {:bounding {:x1 464,
                                     :y1 67.50927734375,
                                     :x2 814,
                                     :y2 243.50927734375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1763341918408},
               :properties {:color "yellow"}}
              {:id #uuid "691a778d-e666-4cef-bda0-56cf62db11bf",
               :page 4,
               :position {:bounding {:x1 459,
                                     :y1 892.50927734375,
                                     :x2 827,
                                     :y2 1028.50927734375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1763342220240},
               :properties {:color "yellow"}}
              {:id #uuid "691a7e41-efe2-44c7-942d-0d88121cc7b8",
               :page 5,
               :position {:bounding {:x1 518,
                                     :y1 765.11083984375,
                                     :x2 937,
                                     :y2 921.11083984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763343936827},
               :properties {:color "yellow"}}
              {:id #uuid "691a834c-3a04-4955-8617-4fe7891a540f",
               :page 6,
               :position {:bounding {:x1 518,
                                     :y1 768.5517578125,
                                     :x2 939,
                                     :y2 928.5517578125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1763345227623},
               :properties {:color "yellow"}}
              {:id #uuid "691a8ae7-f371-4f79-8bd6-9c42c9137a3d",
               :page 7,
               :position {:bounding {:x1 122,
                                     :y1 853.4462890625,
                                     :x2 450,
                                     :y2 1008.4462890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1763347174448},
               :properties {:color "yellow"}}
              {:id #uuid "691ab72a-db80-4653-9db7-f0d0206bbacb",
               :page 8,
               :position {:bounding {:x1 549,
                                     :y1 73.806640625,
                                     :x2 919,
                                     :y2 237.806640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1763358506071},
               :properties {:color "yellow"}}
              {:id #uuid "691abc4f-aba9-443b-8769-57e171fd32cd",
               :page 10,
               :position {:bounding {:x1 228,
                                     :y1 75.328125,
                                     :x2 780,
                                     :y2 805.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763359822945},
               :properties {:color "yellow"}}
              {:id #uuid "691abcaa-d018-4884-990e-0c08ec040523",
               :page 9,
               :position {:bounding {:x1 73,
                                     :y1 73.43359375,
                                     :x2 944,
                                     :y2 342.43359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763359913370},
               :properties {:color "yellow"}}
              {:id #uuid "691abe40-0d52-4825-8cc8-68347fc3c061",
               :page 9,
               :position {:bounding {:x1 82,
                                     :y1 412.7001953125,
                                     :x2 464,
                                     :y2 506.7001953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763360319651},
               :properties {:color "yellow"}}
              {:id #uuid "691ac2d7-8283-42ab-a9d6-b36ff1278ae5",
               :page 9,
               :position {:bounding {:x1 523,
                                     :y1 466.607421875,
                                     :x2 954,
                                     :y2 756.607421875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763361494335},
               :properties {:color "yellow"}}
              {:id #uuid "691ac5a5-93a4-47ba-ae2d-d80e7cca714d",
               :page 9,
               :position {:bounding {:x1 515,
                                     :y1 812.607421875,
                                     :x2 948,
                                     :y2 1109.607421875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763362212868},
               :properties {:color "yellow"}}
              {:id #uuid "691b0427-0d34-463b-8ef1-7e30567d95cc",
               :page 13,
               :position {:bounding {:x1 112,
                                     :y1 685.646484375,
                                     :x2 628,
                                     :y2 1079.646484375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1763378214846},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
