{:highlights [{:id #uuid "691ef100-a367-4460-9473-e5a50132cf78",
               :page 8,
               :position {:bounding {:x1 159,
                                     :y1 89.8388671875,
                                     :x2 881,
                                     :y2 399.8388671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1763635456387},
               :properties {:color "red"}}
              {:id #uuid "691ef17d-394f-40e1-ab08-20dd63274102",
               :page 9,
               :position {:bounding {:x1 263,
                                     :y1 104.826171875,
                                     :x2 745,
                                     :y2 336.826171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1763635580979},
               :properties {:color "red"}}
              {:id #uuid "691efc70-6c10-4c31-8e79-719ef9c62147",
               :page 10,
               :position {:bounding {:x1 162,
                                     :y1 95.720703125,
                                     :x2 881,
                                     :y2 401.720703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763638384371},
               :properties {:color "red"}}
              {:id #uuid "691efdb2-caea-47f3-843f-af99083e3460",
               :page 10,
               :position {:bounding {:x1 173,
                                     :y1 420.173828125,
                                     :x2 880,
                                     :y2 714.173828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763638706010},
               :properties {:color "red"}}
              {:id #uuid "691eff40-d1e2-4d42-b340-788d95a0347f",
               :page 12,
               :position {:bounding {:x1 166,
                                     :y1 100.3359375,
                                     :x2 882,
                                     :y2 403.3359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1763639103778},
               :properties {:color "red"}}
              {:id #uuid "691effa3-4036-4ce7-9a85-51689f9474f6",
               :page 12,
               :position {:bounding {:x1 170,
                                     :y1 420.7890625,
                                     :x2 880,
                                     :y2 712.7890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1763639203300},
               :properties {:color "red"}}
              {:id #uuid "691effb6-b2b7-4879-baa1-2a0a35da300d",
               :page 12,
               :position {:bounding {:x1 293.5450744628906,
                                     :y1 716.5465965270996,
                                     :x2 335.1375427246094,
                                     :y2 732.6131248474121,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 293.5450744628906,
                                   :y1 716.5465965270996,
                                   :x2 335.1375427246094,
                                   :y2 732.6131248474121,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "Figure"},
               :properties {:color "red"}}
              {:id #uuid "691f01b9-bc6d-4c34-857b-6efaa558bdd9",
               :page 12,
               :position {:bounding {:x1 288.1477355957031,
                                     :y1 1029.661361694336,
                                     :x2 731.7638244628906,
                                     :y2 1045.7278900146484,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 288.1477355957031,
                                   :y1 1029.661361694336,
                                   :x2 731.7638244628906,
                                   :y2 1045.7278900146484,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 12},
               :content {:text "Figure 7-1: User-mode CPU time available using cycle-limit mechanism"},
               :properties {:color "red"}}
              {:id #uuid "691f01de-eb69-4c52-92e4-2b0144740b8b",
               :page 12,
               :position {:bounding {:x1 197,
                                     :y1 734.6953125,
                                     :x2 881,
                                     :y2 1024.6953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1763639773741},
               :properties {:color "red"}}],
 :extra {:page 13}}
