{:highlights [{:id #uuid "66b18715-06b0-45b0-8cb0-f1e173abf3c7",
               :page 57,
               :position {:bounding {:x1 40,
                                     :y1 176,
                                     :x2 1003,
                                     :y2 440,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1722910484459},
               :properties {:color "red"}}
              {:id #uuid "66b1875d-c234-4d14-afc3-8338a5a224a2",
               :page 55,
               :position {:bounding {:x1 121,
                                     :y1 305,
                                     :x2 952,
                                     :y2 493,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1722910556446},
               :properties {:color "red"}}
              {:id #uuid "66b18ba1-f553-4048-8277-f578c6051dc0",
               :page 65,
               :position {:bounding {:x1 53,
                                     :y1 106,
                                     :x2 1017,
                                     :y2 543,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1722911654934},
               :properties {:color "red"}}
              {:id #uuid "66b18bf1-436f-42b4-880d-ffbd55c10865",
               :page 66,
               :position {:bounding {:x1 37,
                                     :y1 92,
                                     :x2 1017,
                                     :y2 543,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1722911728909},
               :properties {:color "red"}}],
 :extra {:page 133}}
