{:highlights [{:id #uuid "65ec0ed3-8449-444c-a2c5-8eed647ca0fc",
               :page 1,
               :position {:bounding {:x1 143.9375,
                                     :y1 669.453125,
                                     :x2 251.9078369140625,
                                     :y2 694.453125,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 669.453125,
                                   :x2 251.9078369140625,
                                   :y2 694.453125,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "Cardinality"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec0f4c-02c3-4318-afcb-44374b470afe",
               :page 1,
               :position {:bounding {:x1 143.9375,
                                     :y1 824.84375,
                                     :x2 401.3502197265625,
                                     :y2 849.84375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 824.84375,
                                   :x2 401.3502197265625,
                                   :y2 849.84375,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "Subsets and Proper Subsets"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec0ff3-5704-4b96-a776-280fb9508f05",
               :page 2,
               :position {:bounding {:x1 143.9375,
                                     :y1 262.671875,
                                     :x2 272.49737548828125,
                                     :y2 287.671875,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 262.671875,
                                   :x2 272.49737548828125,
                                   :y2 287.671875,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "Complements"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec106f-83c9-4737-8557-bda0aad5ec9b",
               :page 2,
               :position {:bounding {:x1 143.9375,
                                     :y1 299.75,
                                     :x2 1080.609375,
                                     :y2 351.828125,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 299.75,
                                   :x2 1080.609375,
                                   :y2 324.75,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 143.9375,
                                   :y1 326.828125,
                                   :x2 954.309814453125,
                                   :y2 351.828125,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "If A and B are two sets, then the relative complement of A in B, or the set difference between B and A, written as B − A or B \\ A, is the set of elements in B, but not in A: B \\ A = {x ∈ B | x /∈ A}."},
               :properties {:color "yellow"}}
              {:id #uuid "65ec10fe-00b2-4b6e-9baf-2667a54e09f4",
               :page 2,
               :position {:bounding {:x1 143.9375,
                                     :y1 608.15625,
                                     :x2 286.5047912597656,
                                     :y2 633.15625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 608.15625,
                                   :x2 286.5047912597656,
                                   :y2 633.15625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "Significant Sets"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec116c-8ed5-451b-9069-ccc6e0e99ce8",
               :page 2,
               :position {:bounding {:x1 166,
                                     :y1 724,
                                     :x2 797,
                                     :y2 943,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1709969771610},
               :properties {:color "yellow"}}
              {:id #uuid "65ec11d5-28ba-4d05-8563-4f12ebbb329d",
               :page 2,
               :position {:bounding {:x1 143.9375,
                                     :y1 962.484375,
                                     :x2 375.17193603515625,
                                     :y2 987.484375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 962.484375,
                                   :x2 375.17193603515625,
                                   :y2 987.484375,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "Products and Power Sets"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1305-c59f-4ac7-a668-b15c0d8e5a82",
               :page 3,
               :position {:bounding {:x1 143.9375,
                                     :y1 203.59375,
                                     :x2 489.85186767578125,
                                     :y2 228.59375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 143.9375,
                                   :y1 203.59375,
                                   :x2 489.85186767578125,
                                   :y2 228.59375,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "Universal and Existential Quantifiers"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
