{:highlights [{:id #uuid "664aad54-689e-4a69-af46-70a3046cce02",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 447.578125,
                                     :x2 364.52313232421875,
                                     :y2 474.578125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 447.578125,
                                   :x2 364.52313232421875,
                                   :y2 474.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Counting Sequences"},
               :properties {:color "yellow"}}
              {:id #uuid "664aad8d-9db2-4d65-b1d9-40c9dff64b41",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 517.359375,
                                     :x2 900.021728515625,
                                     :y2 559.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 774.484375,
                                   :y1 517.359375,
                                   :x2 900.021728515625,
                                   :y2 537.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 539.921875,
                                   :x2 209.13882446289062,
                                   :y2 559.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "sampling without replacement"},
               :properties {:color "red"}}
              {:id #uuid "664aae8d-55c7-42ce-885e-a7810fa85456",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 934.46875,
                                     :x2 299.146728515625,
                                     :y2 954.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 934.46875,
                                   :x2 299.146728515625,
                                   :y2 954.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "First Rule of Counting"},
               :properties {:color "red"}}
              {:id #uuid "664aae9b-64ab-456a-93b1-abf612e981bb",
               :page 1,
               :position {:bounding {:x1 114,
                                     :y1 930,
                                     :x2 910,
                                     :y2 1052,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1716170394285},
               :properties {:color "red"}}
              {:id #uuid "664aaef0-436d-4ad1-8d64-f73f63873733",
               :page 2,
               :position {:bounding {:x1 155.84375,
                                     :y1 472,
                                     :x2 302.7632141113281,
                                     :y2 499,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 472,
                                   :x2 302.7632141113281,
                                   :y2 499,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Counting Sets"},
               :properties {:color "red"}}
              {:id #uuid "664ab39e-fe09-4cd4-9dd1-5153fc2e50d8",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 1090.109375,
                                     :x2 317.0106201171875,
                                     :y2 1110.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1090.109375,
                                   :x2 317.0106201171875,
                                   :y2 1110.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Second Rule of Counting"},
               :properties {:color "red"}}
              {:id #uuid "664ab3e5-c353-4015-897e-b143aceb69fc",
               :page 3,
               :position {:bounding {:x1 305,
                                     :y1 180,
                                     :x2 713,
                                     :y2 365,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1716171748692},
               :properties {:color "red"}}
              {:id #uuid "664ab3f6-9dc3-4cf4-a3b7-f4939288b757",
               :page 3,
               :position {:bounding {:x1 155.84375,
                                     :y1 503.28125,
                                     :x2 449.0920715332031,
                                     :y2 530.28125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 503.28125,
                                   :x2 449.0920715332031,
                                   :y2 530.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Sampling with Replacement"},
               :properties {:color "red"}}
              {:id #uuid "664ab46f-d4b0-48f3-8c63-c0b1e45c7e30",
               :page 3,
               :position {:bounding {:x1 174.40625,
                                     :y1 759.765625,
                                     :x2 297.26617431640625,
                                     :y2 786.765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 759.765625,
                                   :x2 297.26617431640625,
                                   :y2 786.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Coin Tosses"},
               :properties {:color "red"}}
              {:id #uuid "664ab502-fdfe-4fd6-8217-a0119fcc92e0",
               :page 3,
               :position {:bounding {:x1 319,
                                     :y1 917,
                                     :x2 702,
                                     :y2 1119,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1716172033454},
               :properties {:color "red"}}
              {:id #uuid "664ab50e-f4d0-4ff8-986e-7f04256bbfbc",
               :page 4,
               :position {:bounding {:x1 174.40625,
                                     :y1 164.4375,
                                     :x2 303.2615051269531,
                                     :y2 191.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 164.4375,
                                   :x2 303.2615051269531,
                                   :y2 191.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Rolling Dice"},
               :properties {:color "red"}}
              {:id #uuid "664ab549-052a-413b-b081-3b4d1a9d2099",
               :page 4,
               :position {:bounding {:x1 174.40625,
                                     :y1 392.9375,
                                     :x2 842.9622802734375,
                                     :y2 419.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 392.9375,
                                   :x2 842.9622802734375,
                                   :y2 419.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Sampling with Replacement, but where Order Does Not Matter"},
               :properties {:color "red"}}
              {:id #uuid "664ab6b6-1376-480c-97ef-30aa948c5db7",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 890.78125,
                                     :x2 900.001708984375,
                                     :y2 933.484375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 860.9154052734375,
                                   :y1 890.78125,
                                   :x2 900.001708984375,
                                   :y2 910.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 913.484375,
                                   :x2 855.0712280273438,
                                   :y2 933.484375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text " Let’s represent each of the k elements by a 0 in the binary string, and separations between bins by a 1"},
               :properties {:color "red"}}
              {:id #uuid "664ab792-a83b-49a6-ac16-56ce952e0c28",
               :page 4,
               :position {:bounding {:x1 108,
                                     :y1 432,
                                     :x2 907,
                                     :y2 551,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1716172688923},
               :properties {:color "red"}}
              {:id #uuid "664ab7a3-7768-4aa5-920d-ff47aecba6b1",
               :page 4,
               :position {:bounding {:x1 110,
                                     :y1 821,
                                     :x2 909,
                                     :y2 1156,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1716172706652},
               :properties {:color "red"}}
              {:id #uuid "664ab7b7-0853-433a-9e9c-f5a94dc81998",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 380.34375,
                                     :x2 312.980224609375,
                                     :y2 400.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 380.34375,
                                   :x2 312.980224609375,
                                   :y2 400.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Zeroth Rule of Counting"},
               :properties {:color "red"}}
              {:id #uuid "664ab7d4-f574-403e-81a9-06315b9ef979",
               :page 5,
               :position {:bounding {:x1 110,
                                     :y1 374,
                                     :x2 913,
                                     :y2 452,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1716172755332},
               :properties {:color "red"}}
              {:id #uuid "664ab7ed-aaf4-4242-af8f-9e408628aa49",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 534.96875,
                                     :x2 380.2783203125,
                                     :y2 561.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 534.96875,
                                   :x2 380.2783203125,
                                   :y2 561.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Combinatorial Proofs"},
               :properties {:color "red"}}
              {:id #uuid "664ab86c-75d3-4d0e-a897-52d1fa208ebb",
               :page 5,
               :position {:bounding {:x1 109,
                                     :y1 682,
                                     :x2 637,
                                     :y2 799,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1716172907934},
               :properties {:color "red"}}
              {:id #uuid "664ab8fa-699f-4ff2-8b40-0ddb30edee2a",
               :page 5,
               :position {:bounding {:x1 106,
                                     :y1 1065,
                                     :x2 606,
                                     :y2 1196,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1716173050041},
               :properties {:color "red"}}
              {:id #uuid "664ab95c-6bd1-4ca6-be61-ad8f816ac149",
               :page 6,
               :position {:bounding {:x1 174.40625,
                                     :y1 233.609375,
                                     :x2 429.009033203125,
                                     :y2 260.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 233.609375,
                                   :x2 429.009033203125,
                                   :y2 260.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Combinatorial Identities"},
               :properties {:color "red"}}
              {:id #uuid "664ab9b5-1075-424b-bff0-1728a64e89cc",
               :page 6,
               :position {:bounding {:x1 285.59375,
                                     :y1 377.171875,
                                     :x2 433.07733154296875,
                                     :y2 397.171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 285.59375,
                                   :y1 377.171875,
                                   :x2 433.07733154296875,
                                   :y2 397.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "hockey-stick identity"},
               :properties {:color "red"}}
              {:id #uuid "664ab9c8-431c-48a5-9888-84c80e983d92",
               :page 6,
               :position {:bounding {:x1 336,
                                     :y1 306,
                                     :x2 685,
                                     :y2 367,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1716173255483},
               :properties {:color "yellow"}}
              {:id #uuid "664aba38-eb39-4eaa-8448-d6c4e0e778a9",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 512.734375,
                                     :x2 336.67816162109375,
                                     :y2 532.734375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 512.734375,
                                   :x2 336.67816162109375,
                                   :y2 532.734375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "the lowest-numbered element"},
               :properties {:color "red"}}
              {:id #uuid "664aba60-4f88-4871-b94f-71fe2e096b9c",
               :page 6,
               :position {:bounding {:x1 381,
                                     :y1 916,
                                     :x2 642,
                                     :y2 987,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1716173407132},
               :properties {:color "yellow"}}
              {:id #uuid "664abad1-3e00-4091-a673-e8d4c168998d",
               :page 7,
               :position {:bounding {:x1 174.40625,
                                     :y1 508.96875,
                                     :x2 516.8583984375,
                                     :y2 535.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 508.96875,
                                   :x2 516.8583984375,
                                   :y2 535.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Permutations and Derangements"},
               :properties {:color "red"}}
              {:id #uuid "664abb84-ca2f-4ccc-a3b6-6260f1f4e25c",
               :page 7,
               :position {:bounding {:x1 312.515625,
                                     :y1 846.203125,
                                     :x2 556.5858764648438,
                                     :y2 872.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 540.484375,
                                   :y1 846.203125,
                                   :x2 552.375,
                                   :y2 872.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 312.515625,
                                   :y1 848.8125,
                                   :x2 556.5858764648438,
                                   :y2 868.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text " fixed points of the permutation π."},
               :properties {:color "red"}}
              {:id #uuid "664abc18-7bde-4f8a-a015-426ac6c5ddb7",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 962.328125,
                                     :x2 794.4375,
                                     :y2 982.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 962.328125,
                                   :x2 794.4375,
                                   :y2 982.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Definition 10.1 (Derangement). A permutation with no fixed points is called a derangement."},
               :properties {:color "red"}}
              {:id #uuid "664abd39-2680-4a72-ba41-c22e0e9958ad",
               :page 8,
               :position {:bounding {:x1 103,
                                     :y1 517,
                                     :x2 920,
                                     :y2 601,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1716174136115},
               :properties {:color "red"}}
              {:id #uuid "664ace2a-6e47-4431-a0af-29f5ffd383e3",
               :page 9,
               :position {:bounding {:x1 155.84375,
                                     :y1 97.921875,
                                     :x2 536.1033935546875,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 536.1033935546875,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "The Principle of Inclusion-Exclusion"},
               :properties {:color "red"}}
              {:id #uuid "664ace8c-e485-4eba-97e0-b919b2608ddd",
               :page 9,
               :position {:bounding {:x1 369,
                                     :y1 271,
                                     :x2 652,
                                     :y2 300,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1716178571581},
               :properties {:color "red"}}
              {:id #uuid "664acec9-7df3-45de-a59a-6c30168adf23",
               :page 9,
               :position {:bounding {:x1 110,
                                     :y1 341,
                                     :x2 952,
                                     :y2 474,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1716178632198},
               :properties {:color "blue"}}
              {:id #uuid "664ad1c4-1a21-40e2-a55f-b2c6c8c573d0",
               :page 10,
               :position {:bounding {:x1 119.9375,
                                     :y1 98.65625,
                                     :x2 410.1853332519531,
                                     :y2 118.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 98.65625,
                                   :x2 410.1853332519531,
                                   :y2 118.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "Application: Derangements Revisited"},
               :properties {:color "red"}}],
 :extra {:page 1}}
