{:highlights [{:id #uuid "66458bfc-4038-49cd-8f07-04c8297f527d",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 445.203125,
                                     :x2 258.6058044433594,
                                     :y2 472.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 445.203125,
                                   :x2 258.6058044433594,
                                   :y2 472.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Bijections"},
               :properties {:color "red"}}
              {:id #uuid "66458c39-c36e-465c-94e9-b5c96a34176e",
               :page 1,
               :position {:bounding {:x1 171,
                                     :y1 814,
                                     :x2 864,
                                     :y2 1031,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1715833912272},
               :properties {:color "red"}}
              {:id #uuid "66458cb7-13d0-4c94-9ab9-60f9f8555bee",
               :page 1,
               :position {:bounding {:x1 123.82142857142857,
                                     :y1 545.6071428571429,
                                     :x2 1020.7276785714286,
                                     :y2 866.9196428571429,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1719370747622},
               :properties {:color "red"}}
              {:id #uuid "66458d53-31b0-4a46-a77f-d69ddb48530d",
               :page 2,
               :position {:bounding {:x1 155.84375,
                                     :y1 97.921875,
                                     :x2 274.1344909667969,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 274.1344909667969,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Cardinality"},
               :properties {:color "red"}}
              {:id #uuid "66458fa1-0343-4fa7-878f-067cdd161b19",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 614.90625,
                                     :x2 900,
                                     :y2 657.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 378.6154479980469,
                                   :y1 614.90625,
                                   :x2 900,
                                   :y2 634.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 637.46875,
                                   :x2 267.609375,
                                   :y2 657.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "e say that a set S is countable if there is a bijection between S and N or some subset of N"},
               :properties {:color "red"}}
              {:id #uuid "664590bf-313c-4aed-b05a-ad09cb7a789a",
               :page 3,
               :position {:bounding {:x1 581.5128173828125,
                                     :y1 925.109375,
                                     :x2 775.2036743164062,
                                     :y2 945.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 581.5128173828125,
                                   :y1 925.109375,
                                   :x2 775.2036743164062,
                                   :y2 945.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Cantor-Bernstein theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "664594a0-ebba-4382-87a3-8639ce847dbc",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 570.21875,
                                     :x2 415.4052734375,
                                     :y2 597.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 570.21875,
                                   :x2 415.4052734375,
                                   :y2 597.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Cantor’s Diagonalization"},
               :properties {:color "yellow"}}
              {:id #uuid "66459b75-43e6-4569-8199-3c514acf94a1",
               :page 6,
               :position {:bounding {:x1 155.84375,
                                     :y1 935.59375,
                                     :x2 318.6480712890625,
                                     :y2 962.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 935.59375,
                                   :x2 318.6480712890625,
                                   :y2 962.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "The Cantor Set"},
               :properties {:color "red"}}
              {:id #uuid "66459d8d-44ee-4d8e-ab37-0969708eb1b5",
               :page 7,
               :position {:bounding {:x1 155.84375,
                                     :y1 946.671875,
                                     :x2 584.4583740234375,
                                     :y2 973.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 946.671875,
                                   :x2 584.4583740234375,
                                   :y2 973.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Power Sets and Higher Orders of Infinity"},
               :properties {:color "red"}}
              {:id #uuid "664e915d-b72b-48dc-b2b0-eb7a576c3e76",
               :page 4,
               :position {:bounding {:x1 265.6612548828125,
                                     :y1 1109.640625,
                                     :x2 514.9178466796875,
                                     :y2 1129.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 265.6612548828125,
                                   :y1 1109.640625,
                                   :x2 514.9178466796875,
                                   :y2 1129.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "the alphabet {0, 1, 2}) is countable"},
               :properties {:color "red"}}
              {:id #uuid "664e924e-9712-43bd-8138-bc17290ca9a7",
               :page 6,
               :position {:bounding {:x1 114,
                                     :y1 96,
                                     :x2 1046.625,
                                     :y2 470.3125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719376844011},
               :properties {:color "red"}}
              {:id #uuid "667b880b-1d6d-4b4d-a376-f1133caf152c",
               :page 4,
               :position {:bounding {:x1 134.34375,
                                     :y1 1167.0625,
                                     :x2 1007.9452514648438,
                                     :y2 1214.34375,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 384.32928466796875,
                                   :y1 1167.0625,
                                   :x2 1007.9452514648438,
                                   :y2 1189.0625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 134.34375,
                                   :y1 1192.34375,
                                   :x2 172.875,
                                   :y2 1214.34375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text " the set of all polynomials with natural number coefficients, which we denote N(x)"},
               :properties {:color "red"}}
              {:id #uuid "667b9be1-90bd-44d3-a786-6ac3afd2ce8b",
               :page 5,
               :position {:bounding {:x1 127,
                                     :y1 1089,
                                     :x2 911,
                                     :y2 1131,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719376864291},
               :properties {:color "red"}}
              {:id #uuid "667b9bfb-0ef8-4afc-b1f6-ebe1b950a141",
               :page 5,
               :position {:bounding {:x1 126,
                                     :y1 1134,
                                     :x2 1012,
                                     :y2 1187,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719376889904},
               :properties {:color "green"}}
              {:id #uuid "667b9f1f-2896-4b64-91c7-004035044fa4",
               :page 6,
               :position {:bounding {:x1 111,
                                     :y1 1095,
                                     :x2 1014,
                                     :y2 1230.234375,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719377733791},
               :properties {:color "red"}}
              {:id #uuid "667b9fb3-0752-4821-8016-891ab51ea629",
               :page 7,
               :position {:bounding {:x1 122,
                                     :y1 96,
                                     :x2 1016,
                                     :y2 1030,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719377853636},
               :properties {:color "red"}}
              {:id #uuid "667ba17d-6df6-4043-8ab3-4f5bf7a20fca",
               :page 8,
               :position {:bounding {:x1 123,
                                     :y1 351,
                                     :x2 1017,
                                     :y2 1164,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1719378300436},
               :properties {:color "red"}}
              {:id #uuid "667e780e-18ad-44cd-ba1e-b4ade2911181",
               :page 4,
               :position {:bounding {:x1 628.4931640625,
                                     :y1 1087.0625,
                                     :x2 889.5,
                                     :y2 1107.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 628.4931640625,
                                   :y1 1087.0625,
                                   :x2 889.5,
                                   :y2 1107.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "the set of all ternary strings {0, 1, 2}"},
               :properties {:color "red"}}
              {:id #uuid "667e786e-e833-4e58-bd88-5721f6dd95ce",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 864.78125,
                                     :x2 900.0297241210938,
                                     :y2 978.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 697.3079833984375,
                                   :y1 864.78125,
                                   :x2 900.0221557617188,
                                   :y2 884.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 887.359375,
                                   :x2 900.0297241210938,
                                   :y2 907.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 909.921875,
                                   :x2 899.6448364257812,
                                   :y2 929.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 932.5,
                                   :x2 147.04287719726562,
                                   :y2 952.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 262.953125,
                                   :y1 952.46875,
                                   :x2 272.0625,
                                   :y2 978.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 262.953125,
                                   :y1 956.46875,
                                   :x2 757.0646362304688,
                                   :y2 974.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Well, it’s natural to list them in increasing order of length, and then (say) in lexicographic order (or, equivalently, numerically increasing order when viewed as binary numbers) within the strings of each length. This means that the list would look likeε, 0, 1, 00, 01, 10, 11, 000, 001, 010, 011, 100, 101, 110, 111, 1000, . . . ,"},
               :properties {:color "red"}}],
 :extra {:page 8}}
