{:highlights [{:id #uuid "66458bfc-4038-49cd-8f07-04c8297f527d",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 445.203125,
                                     :x2 258.6058044433594,
                                     :y2 472.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 445.203125,
                                   :x2 258.6058044433594,
                                   :y2 472.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Bijections"},
               :properties {:color "red"}}
              {:id #uuid "66458c39-c36e-465c-94e9-b5c96a34176e",
               :page 1,
               :position {:bounding {:x1 171,
                                     :y1 814,
                                     :x2 864,
                                     :y2 1031,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1715833912272},
               :properties {:color "red"}}
              {:id #uuid "66458cb7-13d0-4c94-9ab9-60f9f8555bee",
               :page 1,
               :position {:bounding {:x1 100,
                                     :y1 539,
                                     :x2 916,
                                     :y2 775,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1715834038467},
               :properties {:color "red"}}
              {:id #uuid "66458d53-31b0-4a46-a77f-d69ddb48530d",
               :page 2,
               :position {:bounding {:x1 155.84375,
                                     :y1 97.921875,
                                     :x2 274.1344909667969,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 274.1344909667969,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Cardinality"},
               :properties {:color "red"}}
              {:id #uuid "66458fa1-0343-4fa7-878f-067cdd161b19",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 614.90625,
                                     :x2 900,
                                     :y2 657.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 378.6154479980469,
                                   :y1 614.90625,
                                   :x2 900,
                                   :y2 634.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 637.46875,
                                   :x2 267.609375,
                                   :y2 657.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "e say that a set S is countable if there is a bijection between S and N or some subset of N"},
               :properties {:color "red"}}
              {:id #uuid "664590bf-313c-4aed-b05a-ad09cb7a789a",
               :page 3,
               :position {:bounding {:x1 581.5128173828125,
                                     :y1 925.109375,
                                     :x2 775.2036743164062,
                                     :y2 945.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 581.5128173828125,
                                   :y1 925.109375,
                                   :x2 775.2036743164062,
                                   :y2 945.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Cantor-Bernstein theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "664594a0-ebba-4382-87a3-8639ce847dbc",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 570.21875,
                                     :x2 415.4052734375,
                                     :y2 597.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 570.21875,
                                   :x2 415.4052734375,
                                   :y2 597.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Cantor’s Diagonalization"},
               :properties {:color "yellow"}}
              {:id #uuid "66459b6a-fc4b-4eef-a5aa-21e6df85a752",
               :page 5,
               :position {:bounding {:x1 112,
                                     :y1 975,
                                     :x2 815,
                                     :y2 1007,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1715837801365},
               :properties {:color "red"}}
              {:id #uuid "66459b75-43e6-4569-8199-3c514acf94a1",
               :page 6,
               :position {:bounding {:x1 155.84375,
                                     :y1 935.59375,
                                     :x2 318.6480712890625,
                                     :y2 962.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 935.59375,
                                   :x2 318.6480712890625,
                                   :y2 962.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "The Cantor Set"},
               :properties {:color "red"}}
              {:id #uuid "66459d8d-44ee-4d8e-ab37-0969708eb1b5",
               :page 7,
               :position {:bounding {:x1 155.84375,
                                     :y1 946.671875,
                                     :x2 584.4583740234375,
                                     :y2 973.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 946.671875,
                                   :x2 584.4583740234375,
                                   :y2 973.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Power Sets and Higher Orders of Infinity"},
               :properties {:color "red"}}
              {:id #uuid "66459ffa-7941-405d-94e4-a50e256bb9e1",
               :page 8,
               :position {:bounding {:x1 110,
                                     :y1 311,
                                     :x2 328,
                                     :y2 345,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1715838969154},
               :properties {:color "red"}}],
 :extra {:page 6}}
