{:highlights [{:id #uuid "6646dc81-3eaf-4a5b-a598-10f4e9390601",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 402.96875,
                                     :x2 358.0273132324219,
                                     :y2 429.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 402.96875,
                                   :x2 358.0273132324219,
                                   :y2 429.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The Liar’s Paradox"},
               :properties {:color "red"}}
              {:id #uuid "6646dd75-034a-4042-87ef-1d29089378e5",
               :page 1,
               :position {:bounding {:x1 147.75454711914062,
                                     :y1 762.609375,
                                     :x2 258.1189270019531,
                                     :y2 782.609375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 147.75454711914062,
                                   :y1 762.609375,
                                   :x2 258.1189270019531,
                                   :y2 782.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "self-referential "},
               :properties {:color "red"}}
              {:id #uuid "6646ddf8-b24a-4683-ad07-d12f01c8a0ac",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 1088.1875,
                                     :x2 428.4312744140625,
                                     :y2 1115.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 1088.1875,
                                   :x2 428.4312744140625,
                                   :y2 1115.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Self-Replicating Programs"},
               :properties {:color "red"}}
              {:id #uuid "6646df07-42ac-49b4-942e-cbc5829ab6eb",
               :page 3,
               :position {:bounding {:x1 155.84375,
                                     :y1 199.296875,
                                     :x2 378.763671875,
                                     :y2 226.296875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 199.296875,
                                   :x2 378.763671875,
                                   :y2 226.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "The Halting Problem"},
               :properties {:color "red"}}
              {:id #uuid "6646df9d-368c-427d-8c29-305e06ec55cc",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 539,
                                     :x2 899.9403686523438,
                                     :y2 581.578125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 590.7879638671875,
                                   :y1 539,
                                   :x2 899.9403686523438,
                                   :y2 559,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 561.578125,
                                   :x2 227.53359985351562,
                                   :y2 581.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "a program is just a bit string, so it can be input as data. "},
               :properties {:color "red"}}
              {:id #uuid "6646dfe4-3534-43d6-a136-a350d0b1fec3",
               :page 3,
               :position {:bounding {:x1 109,
                                     :y1 390,
                                     :x2 911,
                                     :y2 530,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1715920867797},
               :properties {:color "red"}}
              {:id #uuid "6646e018-a5bd-4920-9d12-ecaccb63afc6",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 628,
                                     :x2 920,
                                     :y2 689,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1715920919120},
               :properties {:color "red"}}
              {:id #uuid "66483ed6-3062-4111-90ea-a876b53121d6",
               :page 3,
               :position {:bounding {:x1 132,
                                     :y1 739,
                                     :x2 665,
                                     :y2 821,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1716010709464},
               :properties {:color "red"}}
              {:id #uuid "66483f52-e201-4d92-b06a-cd574326842d",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 659.65625,
                                     :x2 326.1973876953125,
                                     :y2 679.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 659.65625,
                                   :x2 326.1973876953125,
                                   :y2 679.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "The Easy Halting Problem"},
               :properties {:color "red"}}
              {:id #uuid "6648415e-0fca-4cdb-9836-2a451052d2d7",
               :page 4,
               :position {:bounding {:x1 127,
                                     :y1 1099,
                                     :x2 756,
                                     :y2 1188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1716011357358},
               :properties {:color "red"}}
              {:id #uuid "6648416a-e2de-4409-9648-d9a1342347f5",
               :page 5,
               :position {:bounding {:x1 127,
                                     :y1 171,
                                     :x2 295,
                                     :y2 231,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1716011369522},
               :properties {:color "red"}}
              {:id #uuid "664841ca-a3ef-4150-b9b1-e23d1a263384",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 462.234375,
                                     :x2 500.1123046875,
                                     :y2 489.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 462.234375,
                                   :x2 500.1123046875,
                                   :y2 489.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Godel’s Incompleteness Theorem"},
               :properties {:color "red"}}],
 :extra {:page 5}}
