{:highlights [{:id #uuid "664e9a4e-3ec1-4fad-9b25-7e3ddcd491ab",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 901.671875,
                                     :x2 383.1962890625,
                                     :y2 928.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 901.671875,
                                   :x2 138.640625,
                                   :y2 928.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 901.671875,
                                   :x2 383.1962890625,
                                   :y2 928.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Random Experiments"},
               :properties {:color "red"}}
              {:id #uuid "664e9ac3-8b9a-4043-b4cb-6ab8c026dd25",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 352.9375,
                                     :x2 350.3094482421875,
                                     :y2 379.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 352.9375,
                                   :x2 138.640625,
                                   :y2 379.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 352.9375,
                                   :x2 350.3094482421875,
                                   :y2 379.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "2 Probability Spaces"},
               :properties {:color "red"}}
              {:id #uuid "664e9aff-2935-41ea-9799-1754fb30ab56",
               :page 2,
               :position {:bounding {:x1 109,
                                     :y1 395,
                                     :x2 910,
                                     :y2 561,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719536221771},
               :properties {:color "red"}}
              {:id #uuid "664e9b7b-3fb4-43b9-b615-b9271f4546b8",
               :page 2,
               :position {:bounding {:x1 114,
                                     :y1 783,
                                     :x2 912,
                                     :y2 908,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719536227748},
               :properties {:color "red"}}
              {:id #uuid "664e9ba5-2308-42d7-9e8d-7056b3d888a6",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 1057.296875,
                                     :x2 256.60467529296875,
                                     :y2 1084.296875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1057.296875,
                                   :x2 138.640625,
                                   :y2 1084.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 1057.296875,
                                   :x2 256.60467529296875,
                                   :y2 1084.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "3 Examples"},
               :properties {:color "red"}}
              {:id #uuid "664e9bb7-5003-446d-8132-32a110873469",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.65625,
                                     :x2 297.26617431640625,
                                     :y2 124.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.65625,
                                   :x2 157.203125,
                                   :y2 124.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.65625,
                                   :x2 297.26617431640625,
                                   :y2 124.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "3.1 Coin Tosses"},
               :properties {:color "red"}}
              {:id #uuid "664e9c79-0226-4b3d-920f-acddca824d3a",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 726.5,
                                     :x2 303.2615051269531,
                                     :y2 753.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 726.5,
                                   :x2 157.203125,
                                   :y2 753.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 726.5,
                                   :x2 303.2615051269531,
                                   :y2 753.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "3.2 Rolling Dice"},
               :properties {:color "red"}}
              {:id #uuid "664e9cf2-905b-4fe7-9628-0fdbcd623f4e",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 1020.859375,
                                     :x2 325.2352294921875,
                                     :y2 1047.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1020.859375,
                                   :x2 157.203125,
                                   :y2 1047.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 1020.859375,
                                   :x2 325.2352294921875,
                                   :y2 1047.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "3.3 Card Shuffling"},
               :properties {:color "red"}}
              {:id #uuid "664e9d29-09b6-491d-8904-5b8d9fa74bc6",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 168.265625,
                                     :x2 307.78704833984375,
                                     :y2 195.265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 168.265625,
                                   :x2 157.203125,
                                   :y2 195.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 168.265625,
                                   :x2 307.78704833984375,
                                   :y2 195.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3.4 Poker Hands"},
               :properties {:color "red"}}
              {:id #uuid "664e9dd6-feda-4f80-b0d0-519d73a1d216",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 518.34375,
                                     :x2 326.78546142578125,
                                     :y2 545.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 518.34375,
                                   :x2 157.203125,
                                   :y2 545.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 518.34375,
                                   :x2 326.78546142578125,
                                   :y2 545.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3.5 Balls and Bins"},
               :properties {:color "red"}}
              {:id #uuid "664e9e8f-0bf2-4872-afb2-f89bfb3b02eb",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 361.1877746582031,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 361.1877746582031,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "3.6 Birthday Paradox"},
               :properties {:color "red"}}
              {:id #uuid "664e9f53-c676-44e8-8cdb-1a158943cc2b",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 700.625,
                                     :x2 438.4784240722656,
                                     :y2 727.625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 700.625,
                                   :x2 157.203125,
                                   :y2 727.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 700.625,
                                   :x2 438.4784240722656,
                                   :y2 727.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "3.7 The Monty Hall Problem"},
               :properties {:color "red"}}
              {:id #uuid "664ea1fd-6ac2-4aa6-a1eb-78f7a7ba656e",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 268.984375,
                                     :x2 256.2052001953125,
                                     :y2 295.984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 268.984375,
                                   :x2 138.640625,
                                   :y2 295.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 268.984375,
                                   :x2 256.2052001953125,
                                   :y2 295.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "4 Summary"},
               :properties {:color "red"}}
              {:id #uuid "664ea22e-62da-4cf9-9a00-1944ac602d05",
               :page 7,
               :position {:bounding {:x1 111,
                                     :y1 307,
                                     :x2 928,
                                     :y2 567,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719536486305},
               :properties {:color "red"}}
              {:id #uuid "667e0903-56a7-480a-9a4f-f53c18f12d06",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 948.859375,
                                     :x2 900.515625,
                                     :y2 968.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 948.859375,
                                   :x2 900.515625,
                                   :y2 968.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Typically, a random experiment consists of drawing a sample of k elements from a set S of cardinality n."},
               :properties {:color "red"}}
              {:id #uuid "667e0945-45da-4ec7-8470-530f67cee446",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 1039.15625,
                                     :x2 899.9854736328125,
                                     :y2 1104.421875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 607.9794921875,
                                   :y1 1039.15625,
                                   :x2 899.327880859375,
                                   :y2 1059.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1061.859375,
                                   :x2 899.9854736328125,
                                   :y2 1081.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1084.421875,
                                   :x2 206.0212860107422,
                                   :y2 1104.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "he outcome of a random experiment is called a sample point, and the sample space (often denoted by Ω) is the set of all possible outcomes of the experiment."},
               :properties {:color "red"}}
              {:id #uuid "667e0997-f94b-4df7-b54f-d7d68fe64b0e",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 1112.71875,
                                     :x2 899.9610595703125,
                                     :y2 1157.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 721.4375,
                                   :y1 1112.71875,
                                   :x2 730.515625,
                                   :y2 1138.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1115.3125,
                                   :x2 899.9610595703125,
                                   :y2 1135.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1137.890625,
                                   :x2 344.8125,
                                   :y2 1157.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "An example of such an experiment is tossing a coin 4 times. In this case, S = {H, T } and we are drawing4 elements with replacement. "},
               :properties {:color "red"}}
              {:id #uuid "667e09c7-6fb0-46ae-a47d-fc8267d5aefe",
               :page 2,
               :position {:bounding {:x1 278,
                                     :y1 77,
                                     :x2 753,
                                     :y2 258,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719536070222},
               :properties {:color "red"}}],
 :extra {:page 7}}
