{:highlights [{:id #uuid "6657d490-8ff5-434c-b5d3-3db0d8847f5e",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 968.59375,
                                     :x2 347.6739501953125,
                                     :y2 995.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 968.59375,
                                   :x2 138.640625,
                                   :y2 995.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 968.59375,
                                   :x2 347.6739501953125,
                                   :y2 995.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Random Variables"},
               :properties {:color "red"}}
              {:id #uuid "6657d564-ba82-4f7c-9f1f-fb21e4c5451c",
               :page 2,
               :position {:bounding {:x1 109,
                                     :y1 370,
                                     :x2 920,
                                     :y2 430,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1717032290876},
               :properties {:color "red"}}
              {:id #uuid "6657d610-b2ec-4c75-a475-d0dabd524871",
               :page 2,
               :position {:bounding {:x1 202,
                                     :y1 627,
                                     :x2 815,
                                     :y2 1045,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1717032463712},
               :properties {:color "red"}}
              {:id #uuid "6657d63b-29c2-44f5-98e4-a1f2190df22d",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 408.50201416015625,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 408.50201416015625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2 Probability Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6657d6e3-b82d-4ef5-b584-903b12baadf3",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 583,
                                     :x2 923,
                                     :y2 644,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1717032674564},
               :properties {:color "red"}}
              {:id #uuid "6657d823-9064-4b8b-a3b7-021fc24b4de3",
               :page 4,
               :position {:bounding {:x1 206,
                                     :y1 80,
                                     :x2 807,
                                     :y2 570,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1717032994585},
               :properties {:color "yellow"}}
              {:id #uuid "6657d842-e97c-4606-9e91-9a52d7006f04",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 583.09375,
                                     :x2 291.55963134765625,
                                     :y2 603.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 583.09375,
                                   :x2 291.55963134765625,
                                   :y2 603.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Bernoulli Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6657d856-317f-412a-90b0-eb09a83a8308",
               :page 4,
               :position {:bounding {:x1 111,
                                     :y1 625,
                                     :x2 904,
                                     :y2 803,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1717033044776},
               :properties {:color "red"}}
              {:id #uuid "6657d868-c7ef-4820-a481-15aee2f9fd68",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 832.703125,
                                     :x2 289.81903076171875,
                                     :y2 852.703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 832.703125,
                                   :x2 289.81903076171875,
                                   :y2 852.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Binomial Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6657d8b5-36dd-4423-bc05-eca427202405",
               :page 4,
               :position {:bounding {:x1 307,
                                     :y1 1104,
                                     :x2 907,
                                     :y2 1153,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1717033140217},
               :properties {:color "red"}}
              {:id #uuid "6657d8be-23f1-4012-ad9f-d9c7d2d0f358",
               :page 5,
               :position {:bounding {:x1 452,
                                     :y1 155,
                                     :x2 571,
                                     :y2 192,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1717033149697},
               :properties {:color "red"}}
              {:id #uuid "6657d8cd-0a48-4235-b721-19320988f320",
               :page 5,
               :position {:bounding {:x1 130,
                                     :y1 316,
                                     :x2 915,
                                     :y2 704,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1717033164375},
               :properties {:color "red"}}
              {:id #uuid "6657d91c-c353-4870-86f6-f5c881b9b398",
               :page 5,
               :position {:bounding {:x1 304,
                                     :y1 929,
                                     :x2 725,
                                     :y2 1002,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1717033243481},
               :properties {:color "red"}}
              {:id #uuid "6657d957-bde1-4770-bbfa-f4122e8d3430",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 1065.6875,
                                     :x2 345.119873046875,
                                     :y2 1085.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1065.6875,
                                   :x2 345.119873046875,
                                   :y2 1085.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Hypergeometric Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6657da13-9d5d-46e9-a0cf-d4e3ea6ca294",
               :page 6,
               :position {:bounding {:x1 105,
                                     :y1 563,
                                     :x2 911,
                                     :y2 729,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717033532708},
               :properties {:color "red"}}
              {:id #uuid "6657da58-1460-4601-a592-3197ef8fd9c9",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 757.125,
                                     :x2 640.5594482421875,
                                     :y2 784.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 757.125,
                                   :x2 138.640625,
                                   :y2 784.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 757.125,
                                   :x2 640.5594482421875,
                                   :y2 784.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "3 Multiple Random Variables and Independence"},
               :properties {:color "yellow"}}
              {:id #uuid "6657dac7-bffe-4a27-9103-286f27ec2c98",
               :page 6,
               :position {:bounding {:x1 112,
                                     :y1 982,
                                     :x2 913,
                                     :y2 1060,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717033669792},
               :properties {:color "red"}}
              {:id #uuid "6657db22-0315-4c1a-878e-05c9cfaa8aeb",
               :page 7,
               :position {:bounding {:x1 115,
                                     :y1 258,
                                     :x2 918,
                                     :y2 381,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1717033761536},
               :properties {:color "red"}}
              {:id #uuid "6657db91-6812-4bc9-bc72-2d5b2ae3da8d",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 570.34375,
                                     :x2 282.3907470703125,
                                     :y2 597.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 570.34375,
                                   :x2 138.640625,
                                   :y2 597.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 570.34375,
                                   :x2 282.3907470703125,
                                   :y2 597.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "4 Expectation"},
               :properties {:color "red"}}
              {:id #uuid "6657dc98-1980-4ea9-8e53-38856e11a5c0",
               :page 7,
               :position {:bounding {:x1 109,
                                     :y1 814,
                                     :x2 913,
                                     :y2 942,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1717034135595},
               :properties {:color "red"}}
              {:id #uuid "6657dd18-6b55-48ed-a625-3fc613a64b9b",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 505.40625,
                                     :x2 275.16717529296875,
                                     :y2 532.40625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 505.40625,
                                   :x2 157.203125,
                                   :y2 532.40625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 505.40625,
                                   :x2 275.16717529296875,
                                   :y2 532.40625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "4.1 Examples"},
               :properties {:color "red"}}
              {:id #uuid "6657dda5-2454-4ffc-ada3-9d81120063c6",
               :page 9,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 430.8450012207031,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 430.8450012207031,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "4.2 Linearity of Expectation"},
               :properties {:color "red"}}
              {:id #uuid "6657dde3-43c8-4353-a981-38d65add459a",
               :page 9,
               :position {:bounding {:x1 114,
                                     :y1 235,
                                     :x2 923,
                                     :y2 975,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1723014429865},
               :properties {:color "red"}}
              {:id #uuid "6657de4b-1c54-40bc-9ac8-3198ceef0770",
               :page 10,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 597.0328369140625,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 597.0328369140625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "4.3 Applications of Linearity of Expectation"},
               :properties {:color "red"}}
              {:id #uuid "668ce658-8488-4b83-927a-d170ec9289b3",
               :page 5,
               :position {:bounding {:x1 111,
                                     :y1 716,
                                     :x2 913,
                                     :y2 1037,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720510043013},
               :properties {:color "red"}}
              {:id #uuid "668ce715-d81d-405a-88c2-c92056e46388",
               :page 5,
               :position {:bounding {:x1 106,
                                     :y1 1099,
                                     :x2 908,
                                     :y2 1182,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720510228976},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
