{:highlights [{:id #uuid "665d1e77-cddd-4bb4-97bf-8a5689f97396",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 254.59375,
                                     :x2 448.3780517578125,
                                     :y2 281.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 254.59375,
                                   :x2 448.3780517578125,
                                   :y2 281.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Functions of Random Variables"},
               :properties {:color "red"}}
              {:id #uuid "665d205b-72d9-452a-b39c-3e75364bed8a",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 994.453125,
                                     :x2 588.1907958984375,
                                     :y2 1021.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 994.453125,
                                   :x2 588.1907958984375,
                                   :y2 1021.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Random Variables: Variance and Covariance"},
               :properties {:color "red"}}
              {:id #uuid "665d20be-7a96-4339-8a0a-5d61b74b4e8b",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 305.6292724609375,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 305.6292724609375,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "1 Random Walk"},
               :properties {:color "red"}}
              {:id #uuid "665d3d9d-2ebf-4d41-984c-25c48613251b",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 358,
                                     :x2 871,
                                     :y2 477,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720485511272},
               :properties {:color "red"}}
              {:id #uuid "665d3e01-b310-46ae-9af4-eb1a7aa00e04",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 658,
                                     :x2 906,
                                     :y2 940,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720485664296},
               :properties {:color "red"}}
              {:id #uuid "665d3f89-8df0-4a51-9d0b-f317dcef05ae",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 994.71875,
                                     :x2 392.374755859375,
                                     :y2 1021.71875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 994.71875,
                                   :x2 138.640625,
                                   :y2 1021.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 994.71875,
                                   :x2 392.374755859375,
                                   :y2 1021.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2 Variance Computation"},
               :properties {:color "red"}}
              {:id #uuid "665d3fd0-46cf-4acb-bbef-b95f314279a7",
               :page 4,
               :position {:bounding {:x1 159,
                                     :y1 184,
                                     :x2 930,
                                     :y2 373,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720486073857},
               :properties {:color "red"}}
              {:id #uuid "665d40de-e0aa-4a22-a9b7-d5430ad7eb75",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 924.234375,
                                     :x2 566.8492431640625,
                                     :y2 951.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 924.234375,
                                   :x2 138.640625,
                                   :y2 951.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 924.234375,
                                   :x2 566.8492431640625,
                                   :y2 951.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3 Sum of Independent Random Variables"},
               :properties {:color "red"}}
              {:id #uuid "665d416e-7d14-477d-8f90-c1bc4feffe44",
               :page 5,
               :position {:bounding {:x1 113,
                                     :y1 88,
                                     :x2 905,
                                     :y2 401,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720486524379},
               :properties {:color "red"}}
              {:id #uuid "665d41c4-081c-409a-8042-80e5846c6195",
               :page 5,
               :position {:bounding {:x1 112,
                                     :y1 471,
                                     :x2 918,
                                     :y2 771,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720486633204},
               :properties {:color "red"}}
              {:id #uuid "665d4294-6532-4cca-8563-cead884345f9",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 206.15625,
                                     :x2 442.9759826660156,
                                     :y2 233.15625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 206.15625,
                                   :x2 138.640625,
                                   :y2 233.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 206.15625,
                                   :x2 442.9759826660156,
                                   :y2 233.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "4 Covariance and Correlation"},
               :properties {:color "red"}}
              {:id #uuid "665d42fd-7f5d-4b54-8447-ec97697b2d6c",
               :page 6,
               :position {:bounding {:x1 108,
                                     :y1 307,
                                     :x2 909,
                                     :y2 414,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717388028137},
               :properties {:color "red"}}
              {:id #uuid "665d435f-7ba7-4587-bb7a-50f0a351812e",
               :page 6,
               :position {:bounding {:x1 106,
                                     :y1 454,
                                     :x2 918,
                                     :y2 744,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720486739942},
               :properties {:color "red"}}
              {:id #uuid "665d4f8a-a6c8-45d1-a4ed-d3dbdb42eef4",
               :page 6,
               :position {:bounding {:x1 115,
                                     :y1 798,
                                     :x2 911,
                                     :y2 916,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717391241161},
               :properties {:color "red"}}
              {:id #uuid "665d4faf-e7fb-4f1c-81e8-4d142add7a0c",
               :page 6,
               :position {:bounding {:x1 114,
                                     :y1 974,
                                     :x2 909,
                                     :y2 1186,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720487091002},
               :properties {:color "red"}}
              {:id #uuid "665d5127-55e1-4959-ac63-6834df5c8b10",
               :page 7,
               :position {:bounding {:x1 112,
                                     :y1 88,
                                     :x2 924,
                                     :y2 469,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720487097025},
               :properties {:color "red"}}
              {:id #uuid "668c85fe-1698-4b45-81d6-8b311db419a9",
               :page 1,
               :position {:bounding {:x1 114,
                                     :y1 361,
                                     :x2 947,
                                     :y2 922,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720485372964},
               :properties {:color "red"}}
              {:id #uuid "668c88cf-b5f0-4bd6-ab90-6a9b47ccc8e2",
               :page 4,
               :position {:bounding {:x1 156,
                                     :y1 377,
                                     :x2 905,
                                     :y2 892,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720486109448},
               :properties {:color "red"}}],
 :extra {:page 4}}
