{:highlights [{:id #uuid "665e97f7-f1b4-4220-bb97-f8846383c37d",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 898.234375,
                                     :x2 363.9393310546875,
                                     :y2 925.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 898.234375,
                                   :x2 138.640625,
                                   :y2 925.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 898.234375,
                                   :x2 363.9393310546875,
                                   :y2 925.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Markov’s Inequality"},
               :properties {:color "red"}}
              {:id #uuid "665e984d-f904-4ac7-b36e-f7874c61a71b",
               :page 1,
               :position {:bounding {:x1 108,
                                     :y1 1048,
                                     :x2 910,
                                     :y2 1185,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1717475403306},
               :properties {:color "red"}}
              {:id #uuid "665e9f04-0042-4efc-bd19-b3e9870ffef1",
               :page 3,
               :position {:bounding {:x1 232,
                                     :y1 45,
                                     :x2 774,
                                     :y2 362,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1717477123433},
               :properties {:color "red"}}
              {:id #uuid "665ea055-06bb-441e-9920-5fcd4d9039f5",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 784.453125,
                                     :x2 397.22296142578125,
                                     :y2 811.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 784.453125,
                                   :x2 138.640625,
                                   :y2 811.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 784.453125,
                                   :x2 397.22296142578125,
                                   :y2 811.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2 Chebyshev’s Inequality"},
               :properties {:color "red"}}
              {:id #uuid "665ea139-6069-4e30-8316-6946ec587d41",
               :page 3,
               :position {:bounding {:x1 99,
                                     :y1 885,
                                     :x2 934,
                                     :y2 1011,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1717477687883},
               :properties {:color "red"}}
              {:id #uuid "665ea1ca-50fc-46c3-8041-b3de16a6ae9d",
               :page 4,
               :position {:bounding {:x1 112,
                                     :y1 200,
                                     :x2 909,
                                     :y2 329,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1717477832778},
               :properties {:color "red"}}
              {:id #uuid "665ea26e-1aca-4d9b-b1db-cb0062a1a58a",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 938.359375,
                                     :x2 286.82379150390625,
                                     :y2 965.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 938.359375,
                                   :x2 138.640625,
                                   :y2 965.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 938.359375,
                                   :x2 286.82379150390625,
                                   :y2 965.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3 Applications"},
               :properties {:color "red"}}
              {:id #uuid "665ea292-39d4-4023-b017-afda3e63c871",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 867.21875,
                                     :x2 444.3830871582031,
                                     :y2 894.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 867.21875,
                                   :x2 138.640625,
                                   :y2 894.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 867.21875,
                                   :x2 444.3830871582031,
                                   :y2 894.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "4 The Law of Large Numbers"},
               :properties {:color "red"}}
              {:id #uuid "665fd718-8fa7-4079-bd22-49ca145a935b",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 1030.09375,
                                     :x2 487.51025390625,
                                     :y2 1057.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1030.09375,
                                   :x2 157.203125,
                                   :y2 1057.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 1030.09375,
                                   :x2 487.51025390625,
                                   :y2 1057.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3.1 Estimating the Bias of a Coin"},
               :properties {:color "red"}}
              {:id #uuid "665fd778-4648-41c7-8f23-01d650ecf726",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 532.7845458984375,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 532.7845458984375,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "3.2 Estimating a General Expectation"},
               :properties {:color "red"}}
              {:id #uuid "665fd816-6f07-48f3-85df-250792ce88c4",
               :page 5,
               :position {:bounding {:x1 101,
                                     :y1 80,
                                     :x2 924,
                                     :y2 303,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1717557268737},
               :properties {:color "red"}}
              {:id #uuid "665fda90-42f6-469b-a16d-4757e245e344",
               :page 6,
               :position {:bounding {:x1 108,
                                     :y1 1032,
                                     :x2 912,
                                     :y2 1190,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1717557903077},
               :properties {:color "red"}}],
 :extra {:page 5}}
