{:highlights [{:id #uuid "6653dff1-3a7d-4347-ac60-5e5835b0efab",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 715.015625,
                                     :x2 240.33624267578125,
                                     :y2 742.015625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 715.015625,
                                   :x2 138.640625,
                                   :y2 742.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 715.015625,
                                   :x2 240.33624267578125,
                                   :y2 742.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Hashing"},
               :properties {:color "red"}}
              {:id #uuid "6653e08c-cf71-4264-bfdc-743ff12e285d",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 762.21875,
                                     :x2 899.9510498046875,
                                     :y2 804.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 762.21875,
                                   :x2 899.9510498046875,
                                   :y2 782.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 784.78125,
                                   :x2 584.176025390625,
                                   :y2 804.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "One of the basic issues in hashing is the tradeoff between the size of the hash table and the number of collisions. Here is a simple question that quantifies the tradeoff:"},
               :properties {:color "red"}}
              {:id #uuid "6653e0a4-9642-4d16-84d6-5ea486b0f826",
               :page 1,
               :position {:bounding {:x1 165.4375,
                                     :y1 832.96875,
                                     :x2 900.034912109375,
                                     :y2 880.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 171.5815887451172,
                                   :y1 832.96875,
                                   :x2 900.034912109375,
                                   :y2 852.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 531.71875,
                                   :y1 852.375,
                                   :x2 539.109375,
                                   :y2 867.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 855.546875,
                                   :x2 530.25,
                                   :y2 875.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 540.390625,
                                   :y1 855.546875,
                                   :x2 550.5,
                                   :y2 875.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 531.71875,
                                   :y1 865.84375,
                                   :x2 542.03125,
                                   :y2 880.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "uppose a hash function distributes keys evenly over a table of size n. How many keys can we hash before the probability of a collision exceeds (say) 12 ?"},
               :properties {:color "red"}}
              {:id #uuid "6653e4d2-30ed-4a61-a448-d0937abc4e8a",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 323.90625,
                                     :x2 326.78546142578125,
                                     :y2 350.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 323.90625,
                                   :x2 157.203125,
                                   :y2 350.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 323.90625,
                                   :x2 326.78546142578125,
                                   :y2 350.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "1.1 Balls and Bins"},
               :properties {:color "red"}}
              {:id #uuid "6653e541-c4ea-490b-b7fc-3f2302744ee3",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 645.453125,
                                     :x2 422.62188720703125,
                                     :y2 672.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 645.453125,
                                   :x2 157.203125,
                                   :y2 672.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 645.453125,
                                   :x2 422.62188720703125,
                                   :y2 672.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "1.2 Using the Union Bound"},
               :properties {:color "red"}}
              {:id #uuid "6653e618-c88c-4e31-a670-93cc815bc4a8",
               :page 2,
               :position {:bounding {:x1 108,
                                     :y1 688,
                                     :x2 919,
                                     :y2 1084,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719813548361},
               :properties {:color "red"}}
              {:id #uuid "6653e629-d428-4003-b418-4384b05348dc",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 515.0579223632812,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 515.0579223632812,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "1.3 The Birthday Paradox Revisited"},
               :properties {:color "red"}}
              {:id #uuid "6653e680-0798-48bb-871b-3d904e1e0620",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 321.78125,
                                     :x2 429.8944396972656,
                                     :y2 348.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 321.78125,
                                   :x2 157.203125,
                                   :y2 348.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 321.78125,
                                   :x2 429.8944396972656,
                                   :y2 348.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "1.4 A More Accurate Bound"},
               :properties {:color "red"}}
              {:id #uuid "6653e7f5-c3ab-4221-9c74-2759463ee46d",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 330.84375,
                                     :x2 294.2080078125,
                                     :y2 350.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 330.84375,
                                   :x2 294.2080078125,
                                   :y2 350.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Further Simplification"},
               :properties {:color "red"}}
              {:id #uuid "6653e81a-e8c0-4493-a01a-cff57bd234fa",
               :page 3,
               :position {:bounding {:x1 112,
                                     :y1 486,
                                     :x2 917,
                                     :y2 1140,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720420342921},
               :properties {:color "red"}}
              {:id #uuid "6653e96f-53a2-4248-8591-d6b3864b8593",
               :page 5,
               :position {:bounding {:x1 175,
                                     :y1 616,
                                     :x2 847,
                                     :y2 708,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1716775278120},
               :properties {:color "red"}}
              {:id #uuid "665409f7-00fb-48c8-a78f-72ef0e0920bf",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 961.0625,
                                     :x2 350.44805908203125,
                                     :y2 988.0625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 961.0625,
                                   :x2 138.640625,
                                   :y2 988.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 961.0625,
                                   :x2 350.44805908203125,
                                   :y2 988.0625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "2 Coupon Collecting"},
               :properties {:color "red"}}
              {:id #uuid "66540ed3-1ffd-48dd-8c9c-ef04f354e449",
               :page 4,
               :position {:bounding {:x1 666.2945556640625,
                                     :y1 662.8125,
                                     :x2 838.7503662109375,
                                     :y2 682.8125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 666.2945556640625,
                                   :y1 662.8125,
                                   :x2 838.7503662109375,
                                   :y2 682.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Taylor series expansion"},
               :properties {:color "red"}}
              {:id #uuid "66540f56-dd53-4e24-befc-3a33f8e2971f",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 437.09375,
                                     :x2 899.9677734375,
                                     :y2 479.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 476.8456115722656,
                                   :y1 437.09375,
                                   :x2 899.9677734375,
                                   :y2 457.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 459.671875,
                                   :x2 222.31820678710938,
                                   :y2 479.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text " the number of boxes required to collect all the coupons is close to n ln n."},
               :properties {:color "red"}}
              {:id #uuid "66540fc4-b653-4cfd-b821-442872188954",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 655.75,
                                     :x2 319.23114013671875,
                                     :y2 682.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 655.75,
                                   :x2 138.640625,
                                   :y2 682.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 655.75,
                                   :x2 319.23114013671875,
                                   :y2 682.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "3 Load Balancing"},
               :properties {:color "red"}}
              {:id #uuid "66541069-e5e9-4b86-a0da-5d9e74b9d132",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 914.546875,
                                     :x2 899.9425048828125,
                                     :y2 934.546875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 914.546875,
                                   :x2 899.9425048828125,
                                   :y2 934.546875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "The question therefore is: What can we do with little or no overhead in scheduling and communication cost?"},
               :properties {:color "red"}}
              {:id #uuid "66541080-5d55-4cdc-b14a-216f7c3facfc",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 959.078125,
                                     :x2 415.4613342285156,
                                     :y2 986.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 959.078125,
                                   :x2 157.203125,
                                   :y2 986.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 959.078125,
                                   :x2 415.4613342285156,
                                   :y2 986.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "3.1 Back to Balls and Bins"},
               :properties {:color "red"}}
              {:id #uuid "66541118-756a-4ab4-adbc-279517656c26",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 301.328125,
                                     :x2 459.01788330078125,
                                     :y2 328.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 301.328125,
                                   :x2 157.203125,
                                   :y2 328.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 301.328125,
                                   :x2 459.01788330078125,
                                   :y2 328.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "3.2 Applying the Union Bound"},
               :properties {:color "red"}}
              {:id #uuid "665411c1-5551-49cc-a24b-072ebd30c837",
               :page 7,
               :position {:bounding {:x1 104,
                                     :y1 335,
                                     :x2 936,
                                     :y2 1180,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719817201861},
               :properties {:color "red"}}
              {:id #uuid "6654128d-1ffb-4138-9b7d-02b8ad239193",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 991.625,
                                     :x2 899.9880981445312,
                                     :y2 1035.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 875.6181030273438,
                                   :y1 991.625,
                                   :x2 899.9880981445312,
                                   :y2 1011.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1014.203125,
                                   :x2 352.59375,
                                   :y2 1034.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 363.828125,
                                   :y1 1014.203125,
                                   :x2 681.6451416015625,
                                   :y2 1034.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 351.59375,
                                   :y1 1020.9375,
                                   :x2 361.90625,
                                   :y2 1035.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text " for a subset S (where |S| = k), let BS be the event that all balls in S land in bin 1. "},
               :properties {:color "red"}}
              {:id #uuid "66541605-c373-4ac1-9aed-4d72e4c782cb",
               :page 8,
               :position {:bounding {:x1 107,
                                     :y1 92,
                                     :x2 923,
                                     :y2 742,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1719817302604},
               :properties {:color "red"}}
              {:id #uuid "668245c2-4b94-4922-908a-38b401c2c788",
               :page 2,
               :position {:bounding {:x1 116,
                                     :y1 365,
                                     :x2 907,
                                     :y2 631,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719813568896},
               :properties {:color "red"}}
              {:id #uuid "66824a94-ac62-4c40-8906-b977eef52b34",
               :page 5,
               :position {:bounding {:x1 111,
                                     :y1 1003,
                                     :x2 909,
                                     :y2 1190,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719814803894},
               :properties {:color "red"}}
              {:id #uuid "66825380-d1e9-4300-8668-ccf4c6a95960",
               :page 6,
               :position {:bounding {:x1 107,
                                     :y1 88,
                                     :x2 906,
                                     :y2 405,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719814820815},
               :properties {:color "red"}}
              {:id #uuid "668253aa-8fbf-4255-9d11-4a31d3a0e3e3",
               :page 6,
               :position {:bounding {:x1 110,
                                     :y1 774,
                                     :x2 906,
                                     :y2 945,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719817129296},
               :properties {:color "red"}}
              {:id #uuid "668253ba-708a-44c7-bf01-0f0d3d39beb5",
               :page 6,
               :position {:bounding {:x1 94,
                                     :y1 996,
                                     :x2 907,
                                     :y2 1189,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719817145617},
               :properties {:color "red"}}
              {:id #uuid "668253c9-acad-4e16-997a-a0fa9f23aa4f",
               :page 7,
               :position {:bounding {:x1 109,
                                     :y1 87,
                                     :x2 911,
                                     :y2 284,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719817159738},
               :properties {:color "red"}}
              {:id #uuid "668392b2-0915-4524-89ef-c7bab62f678e",
               :page 4,
               :position {:bounding {:x1 110,
                                     :y1 485,
                                     :x2 918,
                                     :y2 1200,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720420385680},
               :properties {:color "red"}}
              {:id #uuid "668392cb-6939-45f3-b5d0-696ac57d27b6",
               :page 5,
               :position {:bounding {:x1 111,
                                     :y1 90,
                                     :x2 918,
                                     :y2 609,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719898826792},
               :properties {:color "red"}}],
 :extra {:page 4}}
