{:highlights [{:id #uuid "6657fd62-7ec7-4713-b0c7-d9284f446c56",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 524.140625,
                                     :x2 399.02783203125,
                                     :y2 551.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 524.140625,
                                   :x2 138.640625,
                                   :y2 551.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 524.140625,
                                   :x2 399.02783203125,
                                   :y2 551.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Geometric Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6657fde7-7a93-486f-9a9d-ec0018cb58af",
               :page 1,
               :position {:bounding {:x1 105,
                                     :y1 813,
                                     :x2 928,
                                     :y2 1099,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1720397353240},
               :properties {:color "red"}}
              {:id #uuid "6657fe3d-8bef-4b19-9592-10284965afa5",
               :page 2,
               :position {:bounding {:x1 116,
                                     :y1 97,
                                     :x2 903,
                                     :y2 426,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1717042751919},
               :properties {:color "red"}}
              {:id #uuid "6657fe89-fb6b-401e-a4c4-9b523c376686",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 437.03125,
                                     :x2 730.354248046875,
                                     :y2 464.03125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 437.03125,
                                   :x2 157.203125,
                                   :y2 464.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 437.03125,
                                   :x2 730.354248046875,
                                   :y2 464.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "1.1 Mean and Variance of a Geometric Random Variable"},
               :properties {:color "red"}}
              {:id #uuid "6657ff36-676c-4984-a4e6-be000faba93e",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 631,
                                     :x2 907,
                                     :y2 931,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720396921999},
               :properties {:color "red"}}
              {:id #uuid "6657ffbb-069e-4f15-a0ce-ebfd3e83ecf6",
               :page 3,
               :position {:bounding {:x1 112,
                                     :y1 90,
                                     :x2 912,
                                     :y2 483,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720396934054},
               :properties {:color "red"}}
              {:id #uuid "6658016e-9e75-4a2c-a7d2-c35f8fe514ff",
               :page 3,
               :position {:bounding {:x1 104,
                                     :y1 507,
                                     :x2 910,
                                     :y2 1192,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1720396952250},
               :properties {:color "yellow"}}
              {:id #uuid "6658027e-3cd5-4336-8e8f-39855731907d",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 397.70196533203125,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 157.203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 97.921875,
                                   :x2 397.70196533203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "1.2 Memoryless Property"},
               :properties {:color "red"}}
              {:id #uuid "66594859-0109-4f71-835a-d4b673361ff7",
               :page 4,
               :position {:bounding {:x1 108,
                                     :y1 319,
                                     :x2 912,
                                     :y2 687,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720396962647},
               :properties {:color "red"}}
              {:id #uuid "66594889-8f54-406f-9220-ec80e2b1bc97",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 704.328125,
                                     :x2 507.83221435546875,
                                     :y2 731.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 704.328125,
                                   :x2 157.203125,
                                   :y2 731.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 704.328125,
                                   :x2 507.83221435546875,
                                   :y2 731.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "1.3 Application: Coupon Collecting"},
               :properties {:color "red"}}
              {:id #uuid "66594989-8d9f-47ac-ba17-2e3e5cfab3e6",
               :page 5,
               :position {:bounding {:x1 115,
                                     :y1 84,
                                     :x2 915,
                                     :y2 747,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720397108330},
               :properties {:color "red"}}
              {:id #uuid "665949cd-6b54-45c0-879c-e9a8b152c9bb",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 772.96875,
                                     :x2 369.513916015625,
                                     :y2 799.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 772.96875,
                                   :x2 138.640625,
                                   :y2 799.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 772.96875,
                                   :x2 369.513916015625,
                                   :y2 799.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "2 Poisson Distribution"},
               :properties {:color "red"}}
              {:id #uuid "66594a2a-b6b9-4be2-9e90-13b361a53915",
               :page 5,
               :position {:bounding {:x1 108,
                                     :y1 810,
                                     :x2 915,
                                     :y2 1164,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1720397555956},
               :properties {:color "red"}}
              {:id #uuid "66594b2b-2bb9-4227-8c01-736cc4568e9b",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 771.515625,
                                     :x2 700.8485107421875,
                                     :y2 798.515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 771.515625,
                                   :x2 157.203125,
                                   :y2 798.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 771.515625,
                                   :x2 700.8485107421875,
                                   :y2 798.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "2.1 Mean and Variance of a Poisson Random Variable"},
               :properties {:color "red"}}
              {:id #uuid "66594bad-eb0c-4ad9-938c-d1300a9468af",
               :page 6,
               :position {:bounding {:x1 112,
                                     :y1 840,
                                     :x2 881,
                                     :y2 1206,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1720397867869},
               :properties {:color "yellow"}}
              {:id #uuid "66594c84-069b-413b-a1b5-b9e4472baea8",
               :page 8,
               :position {:bounding {:x1 118,
                                     :y1 89,
                                     :x2 908,
                                     :y2 716,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1717128323685},
               :properties {:color "red"}}
              {:id #uuid "66594cbd-0f26-4640-a5e1-4a0780440d7e",
               :page 7,
               :position {:bounding {:x1 688.773193359375,
                                     :y1 315.390625,
                                     :x2 875.609375,
                                     :y2 335.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 688.773193359375,
                                   :y1 315.390625,
                                   :x2 875.609375,
                                   :y2 335.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "replacing i by (i − 1) + 1)"},
               :properties {:color "red"}}
              {:id #uuid "66594d04-d2ec-4353-b542-af57d910af2f",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 642.8125,
                                     :x2 671.671875,
                                     :y2 669.8125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 642.8125,
                                   :x2 157.203125,
                                   :y2 669.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 642.8125,
                                   :x2 671.671875,
                                   :y2 669.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "2.2 Sum of Independent Poisson Random Variables"},
               :properties {:color "red"}}
              {:id #uuid "66594d32-050e-4aeb-8ff9-07e4eb880638",
               :page 7,
               :position {:bounding {:x1 111,
                                     :y1 760,
                                     :x2 909,
                                     :y2 1197,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720397906408},
               :properties {:color "red"}}
              {:id #uuid "66594d73-5105-44e0-affe-6e2874b52d83",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 833.8125,
                                     :x2 476.69781494140625,
                                     :y2 860.8125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 833.8125,
                                   :x2 157.203125,
                                   :y2 860.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 833.8125,
                                   :x2 476.69781494140625,
                                   :y2 860.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "2.3 Poisson as Limit of Binomial"},
               :properties {:color "red"}}
              {:id #uuid "66594e4e-ecbf-4880-b6db-60acd95f6a8b",
               :page 9,
               :position {:bounding {:x1 104,
                                     :y1 88,
                                     :x2 905,
                                     :y2 1043,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1720399232999},
               :properties {:color "red"}}
              {:id #uuid "668b2d3c-b56a-4d50-88f5-3ad15da56e56",
               :page 4,
               :position {:bounding {:x1 104,
                                     :y1 741,
                                     :x2 910,
                                     :y2 1129,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1720397115824},
               :properties {:color "red"}}
              {:id #uuid "668b303c-c182-4350-88a2-b506c8fba9b1",
               :page 7,
               :position {:bounding {:x1 110,
                                     :y1 82,
                                     :x2 924,
                                     :y2 543,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1720397883646},
               :properties {:color "red"}}
              {:id #uuid "668b356c-0280-407d-862e-c5745bfd9f0d",
               :page 8,
               :position {:bounding {:x1 100,
                                     :y1 868,
                                     :x2 914,
                                     :y2 1190,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1720399211776},
               :properties {:color "red"}}],
 :extra {:page 9}}
