{:highlights [{:id #uuid "65ec1472-f3d7-4782-a580-e1ba6a03e744",
               :page 1,
               :position {:bounding {:x1 199.484375,
                                     :y1 325.9375,
                                     :x2 460.0192565917969,
                                     :y2 359.9375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 199.484375,
                                   :y1 325.9375,
                                   :x2 460.0192565917969,
                                   :y2 359.9375,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "Propositional Logic"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec14bf-25a8-496e-8c86-c180fd1dc4a0",
               :page 1,
               :position {:bounding {:x1 153.53125,
                                     :y1 916.625,
                                     :x2 1151.938720703125,
                                     :y2 971.515625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 921.7776489257812,
                                   :y1 916.625,
                                   :x2 1151.938720703125,
                                   :y2 942.625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 153.53125,
                                   :y1 945.515625,
                                   :x2 336.9510498046875,
                                   :y2 971.515625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text " Propositions should not include fuzzy terms"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1770-a1e3-422d-9cf9-bb724e90530d",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 856.203125,
                                     :x2 649.8699951171875,
                                     :y2 876.203125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 856.203125,
                                   :x2 649.8699951171875,
                                   :y2 876.203125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Propositions may be joined together to form more complex statements."},
               :properties {:color "yellow"}}
              {:id #uuid "65ec183c-5ed6-4742-b720-515b93b47183",
               :page 1,
               :position {:bounding {:x1 129,
                                     :y1 932,
                                     :x2 712,
                                     :y2 1051,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1709971515624},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1879-3b84-42e3-8406-f7815d4c5072",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 1115.3125,
                                     :x2 900.515625,
                                     :y2 1157.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 883.53173828125,
                                   :y1 1115.3125,
                                   :x2 898.782470703125,
                                   :y2 1135.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1137.890625,
                                   :x2 900.515625,
                                   :y2 1157.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "A propositional form that is always true regardless of the truth values of its variables is called a tautology."},
               :properties {:color "yellow"}}
              {:id #uuid "65ec18b1-f912-4de3-92a4-a089b57d5db4",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 1160.453125,
                                     :x2 758.328125,
                                     :y2 1180.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1160.453125,
                                   :x2 758.328125,
                                   :y2 1180.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Conversely, a statement such as P ∧ ¬P, which is always false, is called a contradiction."},
               :properties {:color "yellow"}}
              {:id #uuid "65ec19b7-a0ad-401a-b1fe-f3290f6b0642",
               :page 2,
               :position {:bounding {:x1 101,
                                     :y1 635,
                                     :x2 913,
                                     :y2 961,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1709971894976},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1a0a-a7b9-4b2a-9b4b-d2e06514fa40",
               :page 3,
               :position {:bounding {:x1 211.953125,
                                     :y1 354.078125,
                                     :x2 323.5,
                                     :y2 374.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 211.953125,
                                   :y1 354.078125,
                                   :x2 323.5,
                                   :y2 374.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "vacuously true."},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1ab4-2ec7-4a78-9d39-050db77f1b6b",
               :page 3,
               :position {:bounding {:x1 114,
                                     :y1 455,
                                     :x2 912,
                                     :y2 698,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1709972147551},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1ae6-a783-4264-a2f6-cfd4eefa3810",
               :page 3,
               :position {:bounding {:x1 771.71875,
                                     :y1 701.765625,
                                     :x2 793.40625,
                                     :y2 721.765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 771.71875,
                                   :y1 701.765625,
                                   :x2 793.40625,
                                   :y2 721.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "iff "},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1b4c-f863-47b9-b1d1-aacaae743978",
               :page 3,
               :position {:bounding {:x1 113,
                                     :y1 851,
                                     :x2 546,
                                     :y2 949,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1709972299119},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1b9f-3553-4460-8755-d4904e705448",
               :page 3,
               :position {:bounding {:x1 224,
                                     :y1 1060,
                                     :x2 792,
                                     :y2 1194,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1709972383101},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1bc0-4c84-43d0-aa71-4523fa315372",
               :page 4,
               :position {:bounding {:x1 155.84375,
                                     :y1 253.28125,
                                     :x2 270.9551696777344,
                                     :y2 280.28125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 253.28125,
                                   :x2 270.9551696777344,
                                   :y2 280.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Quantifiers"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1f6c-1ba4-4c41-b1ff-91285fce96a4",
               :page 5,
               :position {:bounding {:x1 417,
                                     :y1 810,
                                     :x2 612,
                                     :y2 889,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1709973355070},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1f87-6f94-4ff4-b19c-a5972c92d8fc",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 678.84375,
                                     :x2 438.748046875,
                                     :y2 705.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 678.84375,
                                   :x2 438.748046875,
                                   :y2 705.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Much Ado About Negation"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1fe3-4ed9-4864-b8a0-3c28f135f67f",
               :page 5,
               :position {:bounding {:x1 423,
                                     :y1 1148,
                                     :x2 619,
                                     :y2 1181,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1709973474453},
               :properties {:color "yellow"}}
              {:id #uuid "65ec1feb-a834-4846-82de-1a6d80097c09",
               :page 6,
               :position {:bounding {:x1 419,
                                     :y1 88,
                                     :x2 614,
                                     :y2 123,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1709973482386},
               :properties {:color "yellow"}}
              {:id #uuid "65ec2096-f319-487a-b078-66effaf1de96",
               :page 6,
               :position {:bounding {:x1 318,
                                     :y1 383,
                                     :x2 697,
                                     :y2 418,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1709973651184},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
