{:highlights [{:id #uuid "6670df56-4313-48e1-802d-8bb8b1190571",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 563.484375,
                                     :x2 296.0610046386719,
                                     :y2 590.484375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 563.484375,
                                   :x2 138.640625,
                                   :y2 590.484375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 563.484375,
                                   :x2 296.0610046386719,
                                   :y2 590.484375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 The parabola"},
               :properties {:color "red"}}
              {:id #uuid "6670df9b-491d-4205-93fa-69459a16b62b",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 795.796875,
                                     :x2 426.64569091796875,
                                     :y2 822.796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 795.796875,
                                   :x2 138.640625,
                                   :y2 822.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 795.796875,
                                   :x2 426.64569091796875,
                                   :y2 822.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "2 Expected value is optimal"},
               :properties {:color "red"}}
              {:id #uuid "6670dfee-2cf0-4a90-b6ac-91e906f330c6",
               :page 1,
               :position {:bounding {:x1 112,
                                     :y1 838,
                                     :x2 737,
                                     :y2 940,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718673389088},
               :properties {:color "yellow"}}
              {:id #uuid "6670e038-7d8b-461c-bd78-b84536f8e2d5",
               :page 1,
               :position {:bounding {:x1 115,
                                     :y1 1083,
                                     :x2 914,
                                     :y2 1132,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718673463602},
               :properties {:color "red"}}
              {:id #uuid "6670e050-528b-481f-aa5a-784aafdd0c65",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 615.14599609375,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 615.14599609375,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "3 Joint Distributions: conditional expectation"},
               :properties {:color "red"}}
              {:id #uuid "6670e082-aff1-4a4c-9497-cccddaba9b46",
               :page 2,
               :position {:bounding {:x1 109,
                                     :y1 168,
                                     :x2 912,
                                     :y2 261,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718673537817},
               :properties {:color "red"}}
              {:id #uuid "6670e126-e80e-4f09-9d07-a0d6a511bee5",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 269,
                                     :x2 908,
                                     :y2 379,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718673701819},
               :properties {:color "red"}}
              {:id #uuid "6670e14b-f03a-4694-93b5-d5127e2d71db",
               :page 2,
               :position {:bounding {:x1 111,
                                     :y1 441,
                                     :x2 900,
                                     :y2 553,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718673738465},
               :properties {:color "red"}}
              {:id #uuid "6670e162-8d69-499d-b816-b3c03ba5ca2f",
               :page 2,
               :position {:bounding {:x1 114,
                                     :y1 571,
                                     :x2 684,
                                     :y2 662,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718673760598},
               :properties {:color "red"}}
              {:id #uuid "6670e1be-cb0c-412e-881c-9d31d874653f",
               :page 2,
               :position {:bounding {:x1 174.40625,
                                     :y1 745.375,
                                     :x2 605.3330688476562,
                                     :y2 772.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 745.375,
                                   :x2 605.3330688476562,
                                   :y2 772.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Iterated Expectation and Wald’s identity"},
               :properties {:color "red"}}
              {:id #uuid "6670e5a6-c239-468b-90bb-3682525a41dc",
               :page 2,
               :position {:bounding {:x1 116,
                                     :y1 786,
                                     :x2 909,
                                     :y2 872,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718674888842},
               :properties {:color "red"}}
              {:id #uuid "6670e5e3-6308-4def-a431-54f7a0497c69",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 881,
                                     :x2 914,
                                     :y2 1184,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718674914829},
               :properties {:color "red"}}
              {:id #uuid "6670e5ed-6d51-45ec-9af0-bd58274ef03a",
               :page 3,
               :position {:bounding {:x1 114,
                                     :y1 95,
                                     :x2 908,
                                     :y2 144,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718674924812},
               :properties {:color "red"}}
              {:id #uuid "6670e63b-8a2b-4e4b-b69b-68b74f6078bc",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 353.078125,
                                     :x2 736.5459594726562,
                                     :y2 380.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 353.078125,
                                   :x2 138.640625,
                                   :y2 380.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 353.078125,
                                   :x2 736.5459594726562,
                                   :y2 380.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "4 Minimum Mean Square Estimate (MMSE): an example"},
               :properties {:color "red"}}
              {:id #uuid "6670e715-2e7d-4d57-bd8e-39f3c918de80",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 885.828125,
                                     :x2 433.51629638671875,
                                     :y2 912.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 885.828125,
                                   :x2 157.203125,
                                   :y2 912.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 885.828125,
                                   :x2 433.51629638671875,
                                   :y2 912.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "4.1 Application and warning"},
               :properties {:color "red"}}
              {:id #uuid "6670e76c-b214-46ec-a6eb-53df818bf1da",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 195.859375,
                                     :x2 341.5527038574219,
                                     :y2 222.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 195.859375,
                                   :x2 138.640625,
                                   :y2 222.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 195.859375,
                                   :x2 341.5527038574219,
                                   :y2 222.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "5 Linear Regression"},
               :properties {:color "red"}}
              {:id #uuid "6670e7a3-92cc-4e72-bf27-231a85fbf3c1",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 244.046875,
                                     :x2 283.40423583984375,
                                     :y2 271.046875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 244.046875,
                                   :x2 157.203125,
                                   :y2 271.046875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 244.046875,
                                   :x2 283.40423583984375,
                                   :y2 271.046875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "5.1 Discussion"},
               :properties {:color "red"}}
              {:id #uuid "6670e7eb-6439-4c79-b578-82312e499985",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 526,
                                     :x2 356.5240478515625,
                                     :y2 553,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 526,
                                   :x2 157.203125,
                                   :y2 553,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 526,
                                   :x2 356.5240478515625,
                                   :y2 553,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "5.2 The mathematics"},
               :properties {:color "red"}}
              {:id #uuid "6670ea36-9725-418e-aa45-a43f0a654d2e",
               :page 5,
               :position {:bounding {:x1 105.546875,
                                     :y1 611.96875,
                                     :x2 563.330322265625,
                                     :y2 634.96875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 105.546875,
                                   :y1 611.96875,
                                   :x2 138.328125,
                                   :y2 634.96875,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 153.484375,
                                   :y1 611.96875,
                                   :x2 563.330322265625,
                                   :y2 634.96875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 5},
               :content {:text "5.3 Linear estimation as explanatory of variance"},
               :properties {:color "red"}}
              {:id #uuid "6670ea47-2415-4eff-b3af-a3565f532712",
               :page 6,
               :position {:bounding {:x1 105.546875,
                                     :y1 86.6875,
                                     :x2 221.54928588867188,
                                     :y2 109.6875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 105.546875,
                                   :y1 86.6875,
                                   :x2 121.984375,
                                   :y2 109.6875,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 137.140625,
                                   :y1 86.6875,
                                   :x2 221.54928588867188,
                                   :y2 109.6875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "6 Statistics"},
               :properties {:color "red"}}
              {:id #uuid "6670ea60-db81-40f2-80ec-485ab54a7b3d",
               :page 6,
               :position {:bounding {:x1 105.546875,
                                     :y1 391.03125,
                                     :x2 322.1931457519531,
                                     :y2 414.03125,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 105.546875,
                                   :y1 391.03125,
                                   :x2 121.984375,
                                   :y2 414.03125,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 137.140625,
                                   :y1 391.03125,
                                   :x2 322.1931457519531,
                                   :y2 414.03125,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "7 Other types of error"},
               :properties {:color "red"}}
              {:id #uuid "6670ea83-c404-44ac-87a5-bde2d32dbb97",
               :page 6,
               :position {:bounding {:x1 105.546875,
                                     :y1 585.25,
                                     :x2 421.8407897949219,
                                     :y2 608.25,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 105.546875,
                                   :y1 585.25,
                                   :x2 121.984375,
                                   :y2 608.25,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 137.140625,
                                   :y1 585.25,
                                   :x2 421.8407897949219,
                                   :y2 608.25,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "8 Prediction from more variables"},
               :properties {:color "red"}}
              {:id #uuid "6670f021-8b80-4e5b-a724-5b5975b23546",
               :page 5,
               :position {:bounding {:x1 286,
                                     :y1 257,
                                     :x2 591,
                                     :y2 306,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718677536503},
               :properties {:color "red"}}
              {:id #uuid "6670f12d-55a8-40e8-b6fd-f6b5015c0050",
               :page 5,
               :position {:bounding {:x1 98,
                                     :y1 708,
                                     :x2 574,
                                     :y2 956,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718677804570},
               :properties {:color "red"}}],
 :extra {:page 2}}
