{:highlights [{:id #uuid "66627774-bfbc-4b87-91ce-eb10632c24ed",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 545.65625,
                                     :x2 561.5992431640625,
                                     :y2 572.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 545.65625,
                                   :x2 138.640625,
                                   :y2 572.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 545.65625,
                                   :x2 561.5992431640625,
                                   :y2 572.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Continuous Uniform Probability Space"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
