{:highlights [{:id #uuid "6667becf-184e-4394-a924-1bfe178cc392",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 379.875,
                                     :x2 286.7716064453125,
                                     :y2 406.875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 379.875,
                                   :x2 138.640625,
                                   :y2 406.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 379.875,
                                   :x2 286.7716064453125,
                                   :y2 406.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Introduction"},
               :properties {:color "red"}}
              {:id #uuid "6667bf7d-c2ee-46af-8507-203003c546b9",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 930.84375,
                                     :x2 330.0234680175781,
                                     :y2 957.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 930.84375,
                                   :x2 138.640625,
                                   :y2 957.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 930.84375,
                                   :x2 330.0234680175781,
                                   :y2 957.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "2 A First Example"},
               :properties {:color "red"}}
              {:id #uuid "6667bfa6-e386-4b74-a3d3-388debaabf38",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 1048.578125,
                                     :x2 352.83880615234375,
                                     :y2 1075.578125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1048.578125,
                                   :x2 138.640625,
                                   :y2 1075.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 1048.578125,
                                   :x2 352.83880615234375,
                                   :y2 1075.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "3 A Second Example"},
               :properties {:color "red"}}
              {:id #uuid "6667bfd6-fab0-4ada-9d73-4cb0e87ab371",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 384.8561706542969,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 384.8561706542969,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "4 Finite Markov Chains"},
               :properties {:color "red"}}
              {:id #uuid "6667bff0-3de8-449b-952d-14edfddbb053",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 385.59759521484375,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 385.59759521484375,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "5 Invariant Distribution"},
               :properties {:color "red"}}
              {:id #uuid "6667c016-f3c0-43bb-8eff-8a274bebcef7",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 594.8680419921875,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 594.8680419921875,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "6 Convergence to the Invariant Distribution"},
               :properties {:color "red"}}
              {:id #uuid "66684624-415e-4329-aa31-8b953dd53292",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 883.453125,
                                     :x2 569.599609375,
                                     :y2 910.453125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 883.453125,
                                   :x2 138.640625,
                                   :y2 910.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 883.453125,
                                   :x2 569.599609375,
                                   :y2 910.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "7 Random Walk on an Undirected Graph"},
               :properties {:color "red"}}
              {:id #uuid "6668464d-72be-4665-a010-3d0d5a698686",
               :page 9,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.65625,
                                     :x2 292.8637390136719,
                                     :y2 124.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.65625,
                                   :x2 138.640625,
                                   :y2 124.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.65625,
                                   :x2 292.8637390136719,
                                   :y2 124.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "8 Hitting Time"},
               :properties {:color "red"}}
              {:id #uuid "66684680-3d91-41e4-9b5d-eca35c5a62f8",
               :page 11,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 411.34375,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 138.640625,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 307.03125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 327.40625,
                                   :y1 97.921875,
                                   :x2 397.921875,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 308.34375,
                                   :y1 103.671875,
                                   :x2 324.515625,
                                   :y2 123.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 399.21875,
                                   :y1 103.671875,
                                   :x2 411.34375,
                                   :y2 123.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "9 Probability of A before B"},
               :properties {:color "red"}}
              {:id #uuid "66684728-d3c9-47ee-8da2-e38c3b236265",
               :page 1,
               :position {:bounding {:x1 353,
                                     :y1 977,
                                     :x2 681,
                                     :y2 1116,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1718109991271},
               :properties {:color "red"}}
              {:id #uuid "66684797-f4fc-494e-8ee4-4e95a5766196",
               :page 2,
               :position {:bounding {:x1 368.625,
                                     :y1 457.6875,
                                     :x2 882.765625,
                                     :y2 477.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 368.625,
                                   :y1 457.6875,
                                   :x2 882.765625,
                                   :y2 477.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Figure 1 is called the state transition diagram of the Markov chain. "},
               :properties {:color "red"}}
              {:id #uuid "666847f2-bf6f-4153-88ef-b0fb64b52a54",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 511.15625,
                                     :x2 523.7750244140625,
                                     :y2 531.15625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 511.15625,
                                   :x2 523.7750244140625,
                                   :y2 531.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "The key property of a Markov chain is that it is amnesic"},
               :properties {:color "red"}}
              {:id #uuid "66684841-2e8b-420e-a113-629d597bda33",
               :page 2,
               :position {:bounding {:x1 625.25,
                                     :y1 632.328125,
                                     :x2 830.452392578125,
                                     :y2 652.328125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 625.25,
                                   :y1 632.328125,
                                   :x2 830.452392578125,
                                   :y2 652.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "transition probability matrix"},
               :properties {:color "red"}}
              {:id #uuid "66684861-fa12-4092-989f-dd149576b7ec",
               :page 2,
               :position {:bounding {:x1 113,
                                     :y1 691,
                                     :x2 780,
                                     :y2 889,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1718110310630},
               :properties {:color "red"}}
              {:id #uuid "666848ab-0093-433d-b76c-7962d1d30631",
               :page 3,
               :position {:bounding {:x1 185,
                                     :y1 96,
                                     :x2 834,
                                     :y2 403,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718110387393},
               :properties {:color "yellow"}}
              {:id #uuid "666848f5-d55d-45c7-8092-b0cbd9b90aec",
               :page 3,
               :position {:bounding {:x1 222,
                                     :y1 417,
                                     :x2 791,
                                     :y2 638,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718110460366},
               :properties {:color "red"}}
              {:id #uuid "6668491a-f517-4126-b06a-910b2f47976c",
               :page 3,
               :position {:bounding {:x1 406,
                                     :y1 713,
                                     :x2 599,
                                     :y2 859,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718110489488},
               :properties {:color "red"}}
              {:id #uuid "66684926-1ed7-4901-a28e-9059010974c1",
               :page 3,
               :position {:bounding {:x1 202,
                                     :y1 904,
                                     :x2 810,
                                     :y2 1150,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1718110501145},
               :properties {:color "red"}}
              {:id #uuid "666849bd-687d-432e-a6fd-535e2acab04d",
               :page 4,
               :position {:bounding {:x1 109,
                                     :y1 143,
                                     :x2 914,
                                     :y2 469,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718110652578},
               :properties {:color "red"}}
              {:id #uuid "66684b32-db3c-408d-b88a-c98767ea70f8",
               :page 4,
               :position {:bounding {:x1 110,
                                     :y1 870,
                                     :x2 909,
                                     :y2 1184,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718111025492},
               :properties {:color "red"}}
              {:id #uuid "6668f847-a104-4592-b424-077dac519650",
               :page 5,
               :position {:bounding {:x1 114,
                                     :y1 171,
                                     :x2 916,
                                     :y2 253,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718155334631},
               :properties {:color "red"}}
              {:id #uuid "6668f8ea-38f7-4ad6-9e96-d2df068a891b",
               :page 5,
               :position {:bounding {:x1 116,
                                     :y1 290,
                                     :x2 668,
                                     :y2 318,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718155497162},
               :properties {:color "red"}}
              {:id #uuid "6668f9d1-1448-465a-b5da-b74f711caeea",
               :page 5,
               :position {:bounding {:x1 114,
                                     :y1 627,
                                     :x2 913,
                                     :y2 1009,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718155771400},
               :properties {:color "red"}}
              {:id #uuid "6668facb-b140-46f0-bdc3-a1d1a69f0dd3",
               :page 6,
               :position {:bounding {:x1 113,
                                     :y1 271,
                                     :x2 910,
                                     :y2 330,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1718155978255},
               :properties {:color "red"}}
              {:id #uuid "6668fd0a-3328-45a1-b695-e6e5344e5314",
               :page 6,
               :position {:bounding {:x1 113,
                                     :y1 520,
                                     :x2 916,
                                     :y2 920,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1718156553444},
               :properties {:color "red"}}
              {:id #uuid "6668fd76-56b8-438e-9e4a-a8040225c270",
               :page 6,
               :position {:bounding {:x1 114,
                                     :y1 949,
                                     :x2 911,
                                     :y2 1059,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1718156661184},
               :properties {:color "red"}}
              {:id #uuid "6668fe5f-aa03-4400-85d7-20f3082e298c",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 265.109375,
                                     :x2 899.9503173828125,
                                     :y2 307.671875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 329.8758544921875,
                                   :y1 265.109375,
                                   :x2 899.9503173828125,
                                   :y2 285.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 287.671875,
                                   :x2 695.7671508789062,
                                   :y2 307.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Instead, we’ll consider a “slow” shuffle in which, at each step, we pick two random cards (with replacement) in the current deck and switch their positions."},
               :properties {:color "red"}}
              {:id #uuid "666906b0-6792-470c-9b02-69dd5e9c8628",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 660.4375,
                                     :x2 900.00927734375,
                                     :y2 703.015625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 580.9447021484375,
                                   :y1 660.4375,
                                   :x2 900.00927734375,
                                   :y2 680.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 683.015625,
                                   :x2 600.6515502929688,
                                   :y2 703.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "assuming G is connected and not bipartite, the random walk on G converges to a unique invariant distribution"},
               :properties {:color "red"}}
              {:id #uuid "66690769-1da6-4398-9890-313ed4053583",
               :page 8,
               :position {:bounding {:x1 115,
                                     :y1 713,
                                     :x2 910,
                                     :y2 995,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1718159213962},
               :properties {:color "yellow"}}
              {:id #uuid "666909fe-96ae-417d-895d-93e5b00ae7d2",
               :page 9,
               :position {:bounding {:x1 115,
                                     :y1 139,
                                     :x2 909,
                                     :y2 217,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1718159869455},
               :properties {:color "yellow"}}
              {:id #uuid "66690a57-4b2b-4687-9aed-3e7fd16e7360",
               :page 9,
               :position {:bounding {:x1 93,
                                     :y1 504,
                                     :x2 906,
                                     :y2 800,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1718159958617},
               :properties {:color "red"}}
              {:id #uuid "66690add-38d3-4299-affe-3fc8459ad3c5",
               :page 9,
               :position {:bounding {:x1 111,
                                     :y1 804,
                                     :x2 904,
                                     :y2 993,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1718160091794},
               :properties {:color "red"}}
              {:id #uuid "66690b2e-1dcc-4486-ab4d-a2a718d5df2a",
               :page 10,
               :position {:bounding {:x1 274,
                                     :y1 79,
                                     :x2 724,
                                     :y2 339,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1718160172976},
               :properties {:color "yellow"}}
              {:id #uuid "66690c30-aba9-4d39-a3a8-beb72989908a",
               :page 11,
               :position {:bounding {:x1 114,
                                     :y1 140,
                                     :x2 911,
                                     :y2 213,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1718160430863},
               :properties {:color "red"}}
              {:id #uuid "66690cfc-2b1e-4914-bcae-bf19a9d5c375",
               :page 11,
               :position {:bounding {:x1 114,
                                     :y1 217,
                                     :x2 651,
                                     :y2 365,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1718160635700},
               :properties {:color "red"}}],
 :extra {:page 8}}
