{:highlights [{:id #uuid "65ed003e-be25-44cd-a69f-d10a4f5c6fa1",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 612,
                                     :x2 899.9931640625,
                                     :y2 654.578125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 269.151123046875,
                                   :y1 612,
                                   :x2 899.9931640625,
                                   :y2 632,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 634.578125,
                                   :x2 327.74493408203125,
                                   :y2 654.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "A proof is a finite sequence of steps, called logical deductions, which establishes the truth of a desired statement"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed01de-3190-4fde-a985-18f15f96266e",
               :page 2,
               :position {:bounding {:x1 155.84375,
                                     :y1 303.171875,
                                     :x2 286.16595458984375,
                                     :y2 330.171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 303.171875,
                                   :x2 286.16595458984375,
                                   :y2 330.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Direct Proof"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed025f-ad64-4584-bc73-1a10f0146439",
               :page 2,
               :position {:bounding {:x1 376,
                                     :y1 671,
                                     :x2 641,
                                     :y2 835,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1710031455084},
               :properties {:color "yellow"}}
              {:id #uuid "65ed02d4-4eee-4760-86db-7710745a6ea6",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 98.65625,
                                     :x2 899.669189453125,
                                     :y2 141.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 415.4431457519531,
                                   :y1 98.65625,
                                   :x2 899.669189453125,
                                   :y2 118.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 121.21875,
                                   :x2 630.95654296875,
                                   :y2 141.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "the set of integers is closed under addition and multiplication. The set of natural numbers is also closed under addition and multiplication"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed03fe-7aac-4c88-8a98-1a65d9b3438f",
               :page 4,
               :position {:bounding {:x1 155.84375,
                                     :y1 97.921875,
                                     :x2 410.1524658203125,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 97.921875,
                                   :x2 410.1524658203125,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Proof by Contraposition"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0463-52aa-4935-b40f-97c502df6fb2",
               :page 4,
               :position {:bounding {:x1 254,
                                     :y1 240,
                                     :x2 763,
                                     :y2 421,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1710031971207},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0606-097f-4795-85bc-a6372f8c8fc9",
               :page 4,
               :position {:bounding {:x1 109,
                                     :y1 911,
                                     :x2 913,
                                     :y2 969,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1710032389468},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0701-a141-4b8a-bfcb-497fef9b51aa",
               :page 5,
               :position {:bounding {:x1 155.84375,
                                     :y1 267.265625,
                                     :x2 398.7458801269531,
                                     :y2 294.265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 267.265625,
                                   :x2 398.7458801269531,
                                   :y2 294.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Proof by Contradiction"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0799-1b6b-4fab-98e9-3174dfaad42f",
               :page 5,
               :position {:bounding {:x1 234,
                                     :y1 531,
                                     :x2 781,
                                     :y2 763,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1710032792027},
               :properties {:color "yellow"}}
              {:id #uuid "65ed07c6-219f-43c6-b651-b13039fed3a8",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 791.25,
                                     :x2 899.6533813476562,
                                     :y2 833.828125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 299.94354248046875,
                                   :y1 791.25,
                                   :x2 899.6533813476562,
                                   :y2 811.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 813.828125,
                                   :x2 403.671875,
                                   :y2 833.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "A proof by contradiction shows that ¬P =⇒ ¬R ∧ R ≡ False. The contrapositive of this statement is hence True =⇒ P."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0994-9201-43a7-94e7-12392df290cf",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 1068.90625,
                                     :x2 411.1642761230469,
                                     :y2 1095.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 1068.90625,
                                   :x2 411.1642761230469,
                                   :y2 1095.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Notation and basic facts"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0dd2-dc3c-4d28-bb69-76d0a4acf911",
               :page 6,
               :position {:bounding {:x1 155.84375,
                                     :y1 1050.03125,
                                     :x2 313.2662353515625,
                                     :y2 1077.03125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 1050.03125,
                                   :x2 313.2662353515625,
                                   :y2 1077.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Proof by Cases"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0ef3-611b-435f-9fd1-b8bacb369bf0",
               :page 7,
               :position {:bounding {:x1 155.84375,
                                     :y1 844.109375,
                                     :x2 556.2759399414062,
                                     :y2 871.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 844.109375,
                                   :x2 556.2759399414062,
                                   :y2 871.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Common Errors When Writing Proofs"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed0fd9-e405-4979-b79a-6decfc3dfdce",
               :page 8,
               :position {:bounding {:x1 262.8221740722656,
                                     :y1 242.53125,
                                     :x2 814.1594543457031,
                                     :y2 262.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 262.8221740722656,
                                   :y1 242.53125,
                                   :x2 814.1594543457031,
                                   :y2 262.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Lesson #1: When writing proofs, do not assume the claim you aim to prove"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed1043-20f4-492d-bc81-121acea5e9ce",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 273.421875,
                                     :x2 899.9495849609375,
                                     :y2 316,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 273.421875,
                                   :x2 899.9495849609375,
                                   :y2 293.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 296,
                                   :x2 262.2285461425781,
                                   :y2 316,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Lesson #2 is about the number zero: In particular, never forget to consider the case where your variables take on the value 0."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed106d-c757-4e8a-acad-42e65be242e9",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 629.03125,
                                     :x2 682.6425170898438,
                                     :y2 649.03125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 629.03125,
                                   :x2 682.6425170898438,
                                   :y2 649.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "Lesson #3 says to be careful when mixing negative numbers and inequalities."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed10d7-277b-4227-8055-873fb173d00f",
               :page 8,
               :position {:bounding {:x1 171.46023559570312,
                                     :y1 900.34375,
                                     :x2 463.16705322265625,
                                     :y2 927.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 171.46023559570312,
                                   :y1 900.34375,
                                   :x2 463.16705322265625,
                                   :y2 927.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "tyle and substance in proofs"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed111c-8cb1-4c56-bc56-9e72d4b8e89e",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 1060.53125,
                                     :x2 898.0576171875,
                                     :y2 1103.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 475.57958984375,
                                   :y1 1060.53125,
                                   :x2 898.0576171875,
                                   :y2 1080.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1083.109375,
                                   :x2 847.0692138671875,
                                   :y2 1103.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "A justification can be stated without proof only if you are absolutely confident that (1) it is correct and (2) the reader will automatically agree that it is correct."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed11a9-f910-4959-8fef-1bf5645c48fb",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 1136.5625,
                                     :x2 899.091064453125,
                                     :y2 1179.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 706.859375,
                                   :y1 1136.5625,
                                   :x2 899.091064453125,
                                   :y2 1156.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1159.140625,
                                   :x2 490.501953125,
                                   :y2 1179.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "A subsidiary result that is useful in a more complex proof is called a lemma."},
               :properties {:color "red"}}
              {:id #uuid "65ed11c3-e071-4f1a-845b-b5f322613dda",
               :page 8,
               :position {:bounding {:x1 500.024169921875,
                                     :y1 1159.140625,
                                     :x2 899.98486328125,
                                     :y2 1179.140625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 500.024169921875,
                                   :y1 1159.140625,
                                   :x2 899.98486328125,
                                   :y2 1179.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "t is often a good idea to break down a long proof into"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed16da-8470-4acd-a04e-0dc3e07cb3fb",
               :page 9,
               :position {:bounding {:x1 155.84375,
                                     :y1 396.890625,
                                     :x2 251.48638916015625,
                                     :y2 423.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 396.890625,
                                   :x2 251.48638916015625,
                                   :y2 423.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Exercises"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed16df-7a39-41e5-82f7-0f7b7b63dff4",
               :page 9,
               :position {:bounding {:x1 155.84375,
                                     :y1 396.890625,
                                     :x2 251.48638916015625,
                                     :y2 423.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 396.890625,
                                   :x2 251.48638916015625,
                                   :y2 423.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Exercises"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed16e5-7e11-4d9f-99f1-3b7dd9c7cb3c",
               :page 9,
               :position {:bounding {:x1 155.84375,
                                     :y1 396.890625,
                                     :x2 251.48638916015625,
                                     :y2 423.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 396.890625,
                                   :x2 251.48638916015625,
                                   :y2 423.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "Exercises"},
               :properties {:color "red"}}],
 :extra {:page 9}}
