{:highlights [{:id #uuid "65ed45d8-20d2-4174-a79b-dfaf206322ec",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 254.59375,
                                     :x2 408.23809814453125,
                                     :y2 281.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 254.59375,
                                   :x2 408.23809814453125,
                                   :y2 281.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Mathematical Induction"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed4605-aa2b-4e25-aff2-a96370d8e5c1",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 301.796875,
                                     :x2 899.9578857421875,
                                     :y2 344.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 798.6824340820312,
                                   :y1 301.796875,
                                   :x2 899.9578857421875,
                                   :y2 321.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 324.375,
                                   :x2 745.6015625,
                                   :y2 344.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "nduction is a powerful tool which is used to establish that a statement holds for all natural numbers"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed4757-d8dd-49b3-b0ca-1c9f95b66ba2",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 553,
                                     :x2 914,
                                     :y2 684,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1710049110496},
               :properties {:color "yellow"}}
              {:id #uuid "65ed4a88-0db1-4133-8ed2-6d9562ea284b",
               :page 4,
               :position {:bounding {:x1 155.84375,
                                     :y1 685.1875,
                                     :x2 574.60107421875,
                                     :y2 712.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 685.1875,
                                   :x2 574.60107421875,
                                   :y2 712.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Strengthening the Induction Hypothesis"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed675a-f3c2-4bd1-b385-5000180ca2c7",
               :page 6,
               :position {:bounding {:x1 155.84375,
                                     :y1 343.4375,
                                     :x2 559.2119140625,
                                     :y2 370.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 343.4375,
                                   :x2 559.2119140625,
                                   :y2 370.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Simple Induction vs. Strong Induction"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed682b-aaca-4743-9733-a9b0f6fde3be",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 435.78125,
                                     :x2 899.9900512695312,
                                     :y2 504.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 540.0301513671875,
                                   :y1 435.78125,
                                   :x2 899.9900512695312,
                                   :y2 455.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 458.359375,
                                   :x2 899.97412109375,
                                   :y2 478.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 189.203125,
                                   :y1 469.703125,
                                   :x2 200.125,
                                   :y2 487.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 202.765625,
                                   :y1 477.359375,
                                   :x2 209.40625,
                                   :y2 492.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 480.921875,
                                   :x2 189.671875,
                                   :y2 500.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 226.328125,
                                   :y1 480.921875,
                                   :x2 312.0360107421875,
                                   :y2 500.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 202.765625,
                                   :y1 489.5,
                                   :x2 227.15625,
                                   :y2 504.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Instead of just assuming P(k) is true (as was the case with simple induction), we assume the stronger statement that P(0), P(1), . . . , and P(k) are all true(i.e., that Vk i=0 P(i) is true)"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed690e-2985-4622-86ef-1a8826eb82f1",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 647.375,
                                     :x2 899.939453125,
                                     :y2 689.953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 497.394287109375,
                                   :y1 647.375,
                                   :x2 899.939453125,
                                   :y2 667.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 669.953125,
                                   :x2 651.5708618164062,
                                   :y2 689.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "strong induction does have an appealing advantage — it can make proofs easier, since we get to assume a stronger hypothesis"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed69b1-dd80-43eb-8c31-18310c8fef4d",
               :page 7,
               :position {:bounding {:x1 230.515625,
                                     :y1 225.765625,
                                     :x2 808.9189453125,
                                     :y2 245.765625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 230.515625,
                                   :y1 225.765625,
                                   :x2 808.9189453125,
                                   :y2 245.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Every natural number n > 1 can be written as a product of one or more primes."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed6a7a-61c9-4db4-b90f-dcaa8055aef8",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 677.078125,
                                     :x2 899.9382934570312,
                                     :y2 719.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 668.9862670898438,
                                   :y1 677.078125,
                                   :x2 899.9382934570312,
                                   :y2 697.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 699.640625,
                                   :x2 194.89706420898438,
                                   :y2 719.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "weak and strong induction are equivalen"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed6a9b-331d-4ed4-a883-f420afdb9583",
               :page 7,
               :position {:bounding {:x1 155.84375,
                                     :y1 778.25,
                                     :x2 565.6510009765625,
                                     :y2 805.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 778.25,
                                   :x2 565.6510009765625,
                                   :y2 805.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Recursion, programming and induction"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed6bcf-f356-40bf-a6b3-9c83514961f0",
               :page 7,
               :position {:bounding {:x1 215.210205078125,
                                     :y1 882.859375,
                                     :x2 369.368896484375,
                                     :y2 902.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 215.210205078125,
                                   :y1 882.859375,
                                   :x2 369.368896484375,
                                   :y2 902.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Fibonacci’s rabbits."},
               :properties {:color "yellow"}}
              {:id #uuid "65ed6e23-a935-4c0a-8f35-f6dac629976e",
               :page 10,
               :position {:bounding {:x1 155.84375,
                                     :y1 870.78125,
                                     :x2 280.0546569824219,
                                     :y2 897.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 870.78125,
                                   :x2 280.0546569824219,
                                   :y2 897.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "False proofs"},
               :properties {:color "yellow"}}
              {:id #uuid "65ed6ed4-8eb1-4072-b60f-6bfb72a092f1",
               :page 10,
               :position {:bounding {:x1 230.515625,
                                     :y1 1045.890625,
                                     :x2 445.8206481933594,
                                     :y2 1065.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 230.515625,
                                   :y1 1045.890625,
                                   :x2 445.8206481933594,
                                   :y2 1065.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "All horses are the same color."},
               :properties {:color "yellow"}}
              {:id #uuid "65eec4cc-f5ac-45a1-a744-ee0309977069",
               :page 11,
               :position {:bounding {:x1 155.84375,
                                     :y1 516.890625,
                                     :x2 346.7342834472656,
                                     :y2 543.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 516.890625,
                                   :x2 346.7342834472656,
                                   :y2 543.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 11},
               :content {:text "Practice Problems"},
               :properties {:color "yellow"}}
              {:id #uuid "667387cb-6581-411d-81ee-3e4426e3f056",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 946.21875,
                                     :x2 498.6883544921875,
                                     :y2 966.21875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 946.21875,
                                   :x2 498.6883544921875,
                                   :y2 966.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "It seems our Induction Hypothesis is too “weak”; "},
               :properties {:color "red"}}
              {:id #uuid "667387f3-efdf-4254-bb6c-ba3ae0b14367",
               :page 4,
               :position {:bounding {:x1 416.0605773925781,
                                     :y1 754.953125,
                                     :x2 900.026611328125,
                                     :y2 774.953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 416.0605773925781,
                                   :y1 754.953125,
                                   :x2 900.026611328125,
                                   :y2 774.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text " for all n ≥ 1, the sum of the first n odd numbers is a perfect square."},
               :properties {:color "red"}}
              {:id #uuid "66738837-0d9c-4516-9315-4a50c6d0b97d",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 121.21875,
                                     :x2 899.669189453125,
                                     :y2 163.796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 352.609375,
                                   :y1 121.21875,
                                   :x2 899.669189453125,
                                   :y2 141.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 748.875,
                                   :y1 141.28125,
                                   :x2 756.265625,
                                   :y2 156.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 143.796875,
                                   :x2 761.2933959960938,
                                   :y2 163.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "The even better news is that there is a surprising pattern emerging: The sum of the first n odd numbers is not just a perfect square, but is equal precisely to n2!"},
               :properties {:color "red"}}],
 :extra {:page 10}}
