{:highlights [{:id #uuid "65f044a9-d836-46a2-9ea3-b9a418e9b120",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 254.59375,
                                     :x2 472.40264892578125,
                                     :y2 281.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 254.59375,
                                   :x2 472.40264892578125,
                                   :y2 281.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The Stable Matching Problem"},
               :properties {:color "yellow"}}
              {:id #uuid "65f045dc-cc00-4f1e-b089-97b56a54a638",
               :page 1,
               :position {:bounding {:x1 155.84375,
                                     :y1 967.53125,
                                     :x2 522.7423095703125,
                                     :y2 994.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 967.53125,
                                   :x2 522.7423095703125,
                                   :y2 994.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The Propose-and-Reject Algorithm"},
               :properties {:color "yellow"}}
              {:id #uuid "65f04770-f84f-48ba-9ff6-5256d4a80919",
               :page 2,
               :position {:bounding {:x1 155.84375,
                                     :y1 915.390625,
                                     :x2 384.1309814453125,
                                     :y2 942.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 915.390625,
                                   :x2 384.1309814453125,
                                   :y2 942.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "The Residency Match"},
               :properties {:color "yellow"}}
              {:id #uuid "65f0499d-13dc-489a-8c0d-5d2afc7a275c",
               :page 3,
               :position {:bounding {:x1 155.84375,
                                     :y1 463.8125,
                                     :x2 657.5216064453125,
                                     :y2 490.8125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 463.8125,
                                   :x2 657.5216064453125,
                                   :y2 490.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Properties of the Propose-and-Reject Algorithm"},
               :properties {:color "yellow"}}
              {:id #uuid "65f049ed-e865-4231-94da-20c69c752f5a",
               :page 3,
               :position {:bounding {:x1 219.703125,
                                     :y1 588.234375,
                                     :x2 560.5606079101562,
                                     :y2 608.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 219.703125,
                                   :y1 588.234375,
                                   :x2 560.5606079101562,
                                   :y2 608.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "The propose-and-reject algorithm always halts"},
               :properties {:color "yellow"}}
              {:id #uuid "65f04a51-93ad-4db5-9013-c440ecfce9bc",
               :page 3,
               :position {:bounding {:x1 174.40625,
                                     :y1 812.171875,
                                     :x2 263.41790771484375,
                                     :y2 839.171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 812.171875,
                                   :x2 263.41790771484375,
                                   :y2 839.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Stability"},
               :properties {:color "yellow"}}
              {:id #uuid "65f04b04-de9a-40ad-ba9a-17b23869ffb6",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 952.03125,
                                     :x2 899.9949340820312,
                                     :y2 997.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 373,
                                   :y1 952.03125,
                                   :x2 899.9949340820312,
                                   :y2 967.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 194.703125,
                                   :y1 954.671875,
                                   :x2 372.9997863769531,
                                   :y2 974.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 386.984375,
                                   :y1 954.671875,
                                   :x2 899.9949340820312,
                                   :y2 974.671875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 977.25,
                                   :x2 365.16925048828125,
                                   :y2 997.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "A matching is unstable4 if there is a job and a candidate who both prefer working with each other over their current matching"},
               :properties {:color "yellow"}}
              {:id #uuid "65f04b86-5681-4004-8bf6-54e7aba2ab97",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 977.25,
                                     :x2 900.96875,
                                     :y2 1019.8125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 679.9729614257812,
                                   :y1 977.25,
                                   :x2 900.96875,
                                   :y2 997.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 999.8125,
                                   :x2 457.830322265625,
                                   :y2 1019.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "So a matching of n jobs and n candidates is stable if it has no rogue couples."},
               :properties {:color "yellow"}}
              {:id #uuid "65f14426-e530-4740-8d5d-8c38baea2da0",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 604.078125,
                                     :x2 899.939453125,
                                     :y2 646.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 745.6435546875,
                                   :y1 604.078125,
                                   :x2 899.939453125,
                                   :y2 624.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 626.65625,
                                   :x2 400.3337707519531,
                                   :y2 646.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Do stable matchings always exist? Surely the answer is yes"},
               :properties {:color "red"}}
              {:id #uuid "65f145d7-9825-4f6c-9179-cf944494a4ae",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 385.625,
                                     :x2 900.028076171875,
                                     :y2 428.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 385.625,
                                   :x2 900.028076171875,
                                   :y2 405.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 444.921875,
                                   :y1 405.6875,
                                   :x2 455.234375,
                                   :y2 420.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 408.1875,
                                   :x2 444.8695983886719,
                                   :y2 428.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 457.15625,
                                   :y1 408.1875,
                                   :x2 604.880615234375,
                                   :y2 428.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "We conclude that any proof that there always exists a stable matching in the stable matching problem must use the fact that there are two different types6 in an essential way. "},
               :properties {:color "yellow"}}
              {:id #uuid "65f14617-7452-4ca9-9be9-a2e063b68f05",
               :page 5,
               :position {:bounding {:x1 174.40625,
                                     :y1 497.875,
                                     :x2 262.3566589355469,
                                     :y2 524.875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 497.875,
                                   :x2 262.3566589355469,
                                   :y2 524.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Analysis"},
               :properties {:color "yellow"}}
              {:id #uuid "65f149d4-c462-4aef-8d56-a7d7939ae277",
               :page 6,
               :position {:bounding {:x1 234.31988525390625,
                                     :y1 731.859375,
                                     :x2 405.6822509765625,
                                     :y2 751.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 234.31988525390625,
                                   :y1 731.859375,
                                   :x2 405.6822509765625,
                                   :y2 751.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Well-ordering principle"},
               :properties {:color "yellow"}}
              {:id #uuid "65f14a67-5700-4fda-8b6c-4fe5f8348bd1",
               :page 6,
               :position {:bounding {:x1 419,
                                     :y1 728,
                                     :x2 799,
                                     :y2 759,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1710312037780},
               :properties {:color "yellow"}}
              {:id #uuid "65f14aad-ecbd-42aa-bc76-d8f35d4c0930",
               :page 5,
               :position {:bounding {:x1 117,
                                     :y1 800,
                                     :x2 918,
                                     :y2 857,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1710312107830},
               :properties {:color "yellow"}}
              {:id #uuid "65f14b21-e901-4b31-9265-14fd1ec0a005",
               :page 7,
               :position {:bounding {:x1 114,
                                     :y1 193,
                                     :x2 757,
                                     :y2 235,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1710312224688},
               :properties {:color "yellow"}}
              {:id #uuid "65f14c03-c79a-4dc0-87be-655de811f115",
               :page 7,
               :position {:bounding {:x1 113,
                                     :y1 458,
                                     :x2 668,
                                     :y2 491,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1710312450158},
               :properties {:color "yellow"}}
              {:id #uuid "65f14c2a-d3ab-4cc3-b16b-36e086085e2a",
               :page 7,
               :position {:bounding {:x1 155.84375,
                                     :y1 743.921875,
                                     :x2 270.0914306640625,
                                     :y2 770.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 155.84375,
                                   :y1 743.921875,
                                   :x2 270.0914306640625,
                                   :y2 770.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Optimality"},
               :properties {:color "yellow"}}
              {:id #uuid "65f14cf6-6fc5-43c8-860f-551f46b4e7d5",
               :page 8,
               :position {:bounding {:x1 111,
                                     :y1 272,
                                     :x2 922,
                                     :y2 332,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1710312693025},
               :properties {:color "yellow"}}
              {:id #uuid "65f15033-5c55-49da-aaa0-519eb0473dd7",
               :page 2,
               :position {:bounding {:x1 93,
                                     :y1 86,
                                     :x2 914,
                                     :y2 394,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1710313522273},
               :properties {:color "yellow"}}
              {:id #uuid "65f1508d-0fe7-4bc5-844d-431de89608ad",
               :page 8,
               :position {:bounding {:x1 106,
                                     :y1 650,
                                     :x2 919,
                                     :y2 713,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1710313619071},
               :properties {:color "yellow"}}
              {:id #uuid "65f150ba-44a4-4fb0-9536-f6082824c77a",
               :page 8,
               :position {:bounding {:x1 114,
                                     :y1 1038,
                                     :x2 862,
                                     :y2 1073,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1710313656822},
               :properties {:color "yellow"}}
              {:id #uuid "65f15644-da64-4cf9-8ebb-a69294820067",
               :page 9,
               :position {:bounding {:x1 108,
                                     :y1 633,
                                     :x2 783,
                                     :y2 681,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1710315075525},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
