{:highlights [{:id #uuid "662c9e4c-38d4-49d1-b346-edb500a39a41",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 310.96875,
                                     :x2 390.0818176269531,
                                     :y2 337.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 310.96875,
                                   :x2 390.0818176269531,
                                   :y2 337.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Public Key Cryptography"},
               :properties {:color "yellow"}}
              {:id #uuid "662c9f12-3203-48d8-9e5a-3b717d5672b7",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 600.515625,
                                     :x2 900.0352172851562,
                                     :y2 665.65625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 431.29827880859375,
                                   :y1 600.515625,
                                   :x2 900.0352172851562,
                                   :y2 620.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 623.09375,
                                   :x2 900.0015869140625,
                                   :y2 643.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 645.65625,
                                   :x2 395.96875,
                                   :y2 665.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text " ideally we would like to know that the encryption function E is chosen so that just knowing E(x) (without knowing the decryption function D) doesn’t allow one to discover anything about the original message x"},
               :properties {:color "yellow"}}
              {:id #uuid "662ca490-14bd-44c0-b0a3-3c98d92699a8",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 843,
                                     :x2 899.96728515625,
                                     :y2 930.71875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 555.7161865234375,
                                   :y1 843,
                                   :x2 897.8062133789062,
                                   :y2 863,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 865.578125,
                                   :x2 899.96728515625,
                                   :y2 885.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 888.140625,
                                   :x2 899.010009765625,
                                   :y2 908.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 910.71875,
                                   :x2 185.21090698242188,
                                   :y2 930.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The central idea behind the RSA cryptosystem is that Bob is able to implement a digital lock, to which only he has the key. Now by making this digital lock public, he gives Alice (or, indeed, anybody else) a way to send him a secure message which only he can open"},
               :properties {:color "yellow"}}
              {:id #uuid "662ca69c-6cb0-4b21-b4e2-0e0061a196d9",
               :page 2,
               :position {:bounding {:x1 115,
                                     :y1 263,
                                     :x2 908,
                                     :y2 626.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719277969091},
               :properties {:color "yellow"}}
              {:id #uuid "662ca727-d93c-4ae0-836a-e5b6443ccf0c",
               :page 2,
               :position {:bounding {:x1 113,
                                     :y1 832,
                                     :x2 914,
                                     :y2 885,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1714202406356},
               :properties {:color "yellow"}}
              {:id #uuid "662ca738-038e-49fc-8107-451caf58ca75",
               :page 2,
               :position {:bounding {:x1 112,
                                     :y1 958,
                                     :x2 918,
                                     :y2 1193,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1719279728736},
               :properties {:color "red"}}
              {:id #uuid "662ca9a3-7b47-4c5b-85f8-cb085462a481",
               :page 3,
               :position {:bounding {:x1 115,
                                     :y1 515,
                                     :x2 923,
                                     :y2 1028,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719280639240},
               :properties {:color "yellow"}}
              {:id #uuid "662cbfd3-8a47-42bc-a0f9-862016e3dfb0",
               :page 3,
               :position {:bounding {:x1 112,
                                     :y1 1035,
                                     :x2 922,
                                     :y2 1187,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1714208722512},
               :properties {:color "red"}}
              {:id #uuid "662de6c8-6c3e-4d39-8c32-69efafaf3898",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 143.796875,
                                     :x2 898.7032470703125,
                                     :y2 186.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 555.032958984375,
                                   :y1 143.796875,
                                   :x2 898.7032470703125,
                                   :y2 163.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 166.375,
                                   :x2 245.23992919921875,
                                   :y2 186.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "The security of RSA hinges upon the following basic assumption"},
               :properties {:color "red"}}
              {:id #uuid "662de6ce-7349-4d70-aa4e-d644d4c8feaa",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 143.796875,
                                     :x2 898.7032470703125,
                                     :y2 186.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 550.65869140625,
                                   :y1 143.796875,
                                   :x2 898.7032470703125,
                                   :y2 163.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 166.375,
                                   :x2 249.743896484375,
                                   :y2 186.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text " The security of RSA hinges upon the following basic assumption:"},
               :properties {:color "yellow"}}
              {:id #uuid "662de715-a801-40e5-a56a-1bce30c9f5da",
               :page 4,
               :position {:bounding {:x1 203,
                                     :y1 195,
                                     :x2 814,
                                     :y2 239,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1714284308703},
               :properties {:color "yellow"}}
              {:id #uuid "662de7f6-2cc3-48df-91b4-93c6e6dee61b",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 751.921875,
                                     :x2 899.9974365234375,
                                     :y2 794.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 751.921875,
                                   :x2 899.9974365234375,
                                   :y2 771.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 774.5,
                                   :x2 195.89480590820312,
                                   :y2 794.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "we can tell efficiently whether or not n is prime, but in the case that it is not prime we cannot efficiently find its factors."},
               :properties {:color "red"}}
              {:id #uuid "662de870-8e14-4b1d-8f65-5ade5c69fd74",
               :page 4,
               :position {:bounding {:x1 117,
                                     :y1 869,
                                     :x2 922,
                                     :y2 931,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1714284655461},
               :properties {:color "yellow"}}
              {:id #uuid "662de95b-599b-41e3-9ed4-5a3bcee9ac12",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 513.265625,
                                     :x2 658.5781860351562,
                                     :y2 533.265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 513.265625,
                                   :x2 658.5781860351562,
                                   :y2 533.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "There are really only two non-trivial things that Alice and Bob have to do:"},
               :properties {:color "red"}}
              {:id #uuid "662de968-f322-426f-bb62-f9119152e0de",
               :page 4,
               :position {:bounding {:x1 172.56167602539062,
                                     :y1 554.1875,
                                     :x2 701.802001953125,
                                     :y2 574.1875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.56167602539062,
                                   :y1 554.1875,
                                   :x2 701.802001953125,
                                   :y2 574.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "ob has to find prime numbers p and q, each having many (say, 512) bits."},
               :properties {:color "yellow"}}
              {:id #uuid "662de977-11b1-44f2-80ec-822fee235454",
               :page 4,
               :position {:bounding {:x1 165.4375,
                                     :y1 589.828125,
                                     :x2 900.0270385742188,
                                     :y2 632.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 172.93667602539062,
                                   :y1 589.828125,
                                   :x2 900.0270385742188,
                                   :y2 609.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 165.4375,
                                   :y1 612.390625,
                                   :x2 415.5463562011719,
                                   :y2 632.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "oth Alice and Bob have to compute exponentials mod N. (Alice has to compute xe (mod N), and Bob has to compute yd (mod N).)"},
               :properties {:color "red"}}
              {:id #uuid "662dea30-cc85-490a-9506-47abb8044520",
               :page 4,
               :position {:bounding {:x1 119,
                                     :y1 934,
                                     :x2 908,
                                     :y2 1003,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1714285103708},
               :properties {:color "red"}}
              {:id #uuid "667a207c-94e9-408a-bf9d-7682b1405cc5",
               :page 3,
               :position {:bounding {:x1 110,
                                     :y1 92,
                                     :x2 915,
                                     :y2 459,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719279739284},
               :properties {:color "red"}}],
 :extra {:page 1}}
