{:highlights [{:id #uuid "663330a8-f98b-4d7b-8020-7fb217d38f37",
               :page 2,
               :position {:bounding {:x1 108,
                                     :y1 89,
                                     :x2 913,
                                     :y2 180,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1714630823392},
               :properties {:color "yellow"}}
              {:id #uuid "663330ee-349b-45cf-a2e5-605646e99803",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 254.59375,
                                     :x2 282.5083312988281,
                                     :y2 281.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 254.59375,
                                   :x2 138.640625,
                                   :y2 281.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 254.59375,
                                   :x2 282.5083312988281,
                                   :y2 281.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "1 Polynomials"},
               :properties {:color "yellow"}}
              {:id #uuid "66333100-c320-4821-8690-d5bb50cc6a12",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 810.84375,
                                     :x2 417.26641845703125,
                                     :y2 837.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 810.84375,
                                   :x2 138.640625,
                                   :y2 837.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 810.84375,
                                   :x2 417.26641845703125,
                                   :y2 837.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "2 Polynomial Interpolation"},
               :properties {:color "yellow"}}
              {:id #uuid "6633335c-20a0-4185-be53-d453150795b9",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 831.96875,
                                     :x2 379.8344421386719,
                                     :y2 858.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 831.96875,
                                   :x2 157.203125,
                                   :y2 858.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 831.96875,
                                   :x2 379.8344421386719,
                                   :y2 858.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2.1 Proof of Property 2"},
               :properties {:color "yellow"}}
              {:id #uuid "663334b5-c65d-4727-a23c-53a82396dfb9",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 97.921875,
                                     :x2 330.6069641113281,
                                     :y2 124.921875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 97.921875,
                                   :x2 330.6069641113281,
                                   :y2 124.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Polynomial Division"},
               :properties {:color "yellow"}}
              {:id #uuid "66333570-b29b-4b9c-a00d-d41548ef986e",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 849.390625,
                                     :x2 379.8344421386719,
                                     :y2 876.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 849.390625,
                                   :x2 157.203125,
                                   :y2 876.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 174.40625,
                                   :y1 849.390625,
                                   :x2 379.8344421386719,
                                   :y2 876.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "2.2 Proof of Property 1"},
               :properties {:color "yellow"}}
              {:id #uuid "66333665-bbec-40b8-8d6d-ddacefb53f45",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 639.25,
                                     :x2 288.14752197265625,
                                     :y2 666.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 639.25,
                                   :x2 138.640625,
                                   :y2 666.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 639.25,
                                   :x2 288.14752197265625,
                                   :y2 666.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "3 Finite Fields"},
               :properties {:color "yellow"}}
              {:id #uuid "663336ee-1d59-47f2-822c-0cddc8874b5c",
               :page 5,
               :position {:bounding {:x1 119.9375,
                                     :y1 822.015625,
                                     :x2 899.9490356445312,
                                     :y2 887.15625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 730.3931884765625,
                                   :y1 822.015625,
                                   :x2 899.9453735351562,
                                   :y2 842.015625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 844.578125,
                                   :x2 899.9490356445312,
                                   :y2 864.578125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 867.15625,
                                   :x2 882.9998168945312,
                                   :y2 887.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "On the other hand, we cannot subtract two natural numbers and guarantee that the result is a natural number, and dividing two integers does not generally result in an integer, so everything falls apart for natural numbers and integers."},
               :properties {:color "red"}}
              {:id #uuid "6633374b-76e4-4e9d-bff4-f9a3131383be",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 98.65625,
                                     :x2 899.9581298828125,
                                     :y2 163.796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 657.0252075195312,
                                   :y1 98.65625,
                                   :x2 899.723876953125,
                                   :y2 118.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 121.21875,
                                   :x2 899.9581298828125,
                                   :y2 141.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 143.796875,
                                   :x2 304.69580078125,
                                   :y2 163.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "This remarkable fact—that these properties hold even when we restrict ourselves to a finite set of values—is the key to several applications that we will presently see"},
               :properties {:color "red"}}
              {:id #uuid "663383f5-cfbb-41ac-b0d0-b5d9047c3074",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 694.765625,
                                     :x2 899.64013671875,
                                     :y2 737.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 496.210693359375,
                                   :y1 694.765625,
                                   :x2 899.64013671875,
                                   :y2 714.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 717.34375,
                                   :x2 257.90625,
                                   :y2 737.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "Therefore, they hold whenever we work with integers modulo a prime m."},
               :properties {:color "yellow"}}
              {:id #uuid "6633843b-1576-4664-9fb6-fa058285de25",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 748.21875,
                                     :x2 899.9869995117188,
                                     :y2 792.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 748.21875,
                                   :x2 899.9869995117188,
                                   :y2 768.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 770.796875,
                                   :x2 155.4375,
                                   :y2 790.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 170.125,
                                   :y1 770.796875,
                                   :x2 390.23931884765625,
                                   :y2 790.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 153.609375,
                                   :y1 777.53125,
                                   :x2 166.875,
                                   :y2 792.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "When we work with numbers modulo a prime m, we say that we are working over a finite field, denoted by Fm or GF(m) (for Galois Field). "},
               :properties {:color "red"}}
              {:id #uuid "6633856a-2a0c-46b6-81fc-9bc0b0593175",
               :page 6,
               :position {:bounding {:x1 119.9375,
                                     :y1 984.5625,
                                     :x2 252.15554809570312,
                                     :y2 1011.5625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 984.5625,
                                   :x2 138.640625,
                                   :y2 1011.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 984.5625,
                                   :x2 252.15554809570312,
                                   :y2 1011.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 6},
               :content {:text "4 Counting"},
               :properties {:color "yellow"}}
              {:id #uuid "66338626-84ea-45bf-a03c-c746695459e8",
               :page 7,
               :position {:bounding {:x1 358,
                                     :y1 671,
                                     :x2 675,
                                     :y2 915,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1714652708925},
               :properties {:color "yellow"}}
              {:id #uuid "6633864f-5936-4bfa-9615-60bdb00359d0",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 923.125,
                                     :x2 899.9444580078125,
                                     :y2 965.703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 923.125,
                                   :x2 899.9444580078125,
                                   :y2 943.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 945.703125,
                                   :x2 246.531005859375,
                                   :y2 965.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Note that the reason that we can count the number of polynomials in this setting is because we are working over a finite field."},
               :properties {:color "red"}}
              {:id #uuid "663480dd-2769-419e-a551-2fb5543f3278",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 1068.109375,
                                     :x2 307.4107666015625,
                                     :y2 1095.109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 1068.109375,
                                   :x2 138.640625,
                                   :y2 1095.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.84375,
                                   :y1 1068.109375,
                                   :x2 307.4107666015625,
                                   :y2 1095.109375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "5 Secret Sharing"},
               :properties {:color "yellow"}}
              {:id #uuid "66348322-a9cc-4ebd-9d20-4b605d28dc16",
               :page 8,
               :position {:bounding {:x1 134,
                                     :y1 263,
                                     :x2 919,
                                     :y2 412,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1719288569827},
               :properties {:color "yellow"}}
              {:id #uuid "667a2cdd-ef65-4a8e-b888-c62534ba165e",
               :page 3,
               :position {:bounding {:x1 114,
                                     :y1 148,
                                     :x2 916,
                                     :y2 252,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719282908510},
               :properties {:color "red"}}
              {:id #uuid "667a2cf3-9f6b-47c3-843b-5a5e1141f49a",
               :page 3,
               :position {:bounding {:x1 116,
                                     :y1 468,
                                     :x2 905,
                                     :y2 778,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719282930441},
               :properties {:color "red"}}
              {:id #uuid "667a2db5-97a0-4e7b-8cd6-d1a9bbb65d12",
               :page 3,
               :position {:bounding {:x1 115,
                                     :y1 908,
                                     :x2 912,
                                     :y2 1143,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1719283124627},
               :properties {:color "red"}}
              {:id #uuid "667a2f09-ef0b-4767-9fd2-67c8736f050f",
               :page 4,
               :position {:bounding {:x1 128,
                                     :y1 154,
                                     :x2 1015,
                                     :y2 927,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719283464314},
               :properties {:color "green"}}
              {:id #uuid "667a3066-e5ff-463f-9a35-ceba618815ff",
               :page 4,
               :position {:bounding {:x1 110,
                                     :y1 920,
                                     :x2 913,
                                     :y2 1185,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1719283813851},
               :properties {:color "red"}}
              {:id #uuid "667a3087-52d8-41e7-8099-a8f2704c799a",
               :page 5,
               :position {:bounding {:x1 112,
                                     :y1 93,
                                     :x2 912,
                                     :y2 619,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719283846895},
               :properties {:color "red"}}
              {:id #uuid "667a3224-acde-46ea-b7a2-4ee71396aa8d",
               :page 5,
               :position {:bounding {:x1 110,
                                     :y1 681,
                                     :x2 907,
                                     :y2 969,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1719284259198},
               :properties {:color "red"}}
              {:id #uuid "667a3234-f3bb-439d-b2bc-8b2aea4c6db2",
               :page 6,
               :position {:bounding {:x1 115,
                                     :y1 99,
                                     :x2 908,
                                     :y2 172,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1719284275173},
               :properties {:color "red"}}
              {:id #uuid "667a33a5-856c-4787-b9e5-2c31b36674d2",
               :page 7,
               :position {:bounding {:x1 110,
                                     :y1 94,
                                     :x2 908,
                                     :y2 218,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719284644440},
               :properties {:color "red"}}
              {:id #uuid "667a33bd-407a-4374-9799-26bdd905508d",
               :page 7,
               :position {:bounding {:x1 316,
                                     :y1 361,
                                     :x2 704,
                                     :y2 573,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1719284672203},
               :properties {:color "red"}}
              {:id #uuid "667a4306-106b-48dd-b9b7-8388c94c2380",
               :page 8,
               :position {:bounding {:x1 115,
                                     :y1 428,
                                     :x2 908,
                                     :y2 876,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1719288581152},
               :properties {:color "red"}}],
 :extra {:page 2}}
