{:highlights [{:id #uuid "6642f7db-b6cf-4388-b924-39aa0fe8c7d0",
               :page 1,
               :position {:bounding {:x1 174.40625,
                                     :y1 783.390625,
                                     :x2 328.4364013671875,
                                     :y2 810.390625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 783.390625,
                                   :x2 328.4364013671875,
                                   :y2 810.390625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Erasure Errors"},
               :properties {:color "red"}}
              {:id #uuid "6642f892-406e-435e-8f1d-beaf97eeae37",
               :page 1,
               :position {:bounding {:x1 315,
                                     :y1 902,
                                     :x2 688,
                                     :y2 970,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1715665041006},
               :properties {:color "red"}}
              {:id #uuid "6642f8c3-cecb-4fca-b597-8d79d2ee0fa7",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 121.21875,
                                     :x2 900.0447998046875,
                                     :y2 186.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 468.2929992675781,
                                   :y1 121.21875,
                                   :x2 900.0447998046875,
                                   :y2 141.21875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 143.796875,
                                   :x2 899.9793701171875,
                                   :y2 163.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 166.375,
                                   :x2 394.183349609375,
                                   :y2 186.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "We will show how to encode the initial message consisting of n packets into a redundant encoding consisting of n + k packets such that the recipient can reconstruct the message from any n received packets."},
               :properties {:color "red"}}
              {:id #uuid "6642f8df-e3a7-4e49-b3d8-6e07819246f1",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 166.375,
                                     :x2 899.9515991210938,
                                     :y2 209.078125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 398.64190673828125,
                                   :y1 166.375,
                                   :x2 899.9515991210938,
                                   :y2 186.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 189.078125,
                                   :x2 683.5770874023438,
                                   :y2 209.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Note that in this setting the packets are labeled with headers, and thus the recipient knows exactly which packets were dropped during transmission."},
               :properties {:color "yellow"}}
              {:id #uuid "6642fff2-99d7-4314-8f13-10b27e62bf5e",
               :page 3,
               :position {:bounding {:x1 174.40625,
                                     :y1 896.640625,
                                     :x2 540.5902099609375,
                                     :y2 923.640625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 896.640625,
                                   :x2 540.5902099609375,
                                   :y2 923.640625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "Polynomial Interpolation Revisited"},
               :properties {:color "yellow"}}
              {:id #uuid "66430116-d716-4a31-aba4-a4af10a23019",
               :page 4,
               :position {:bounding {:x1 174.40625,
                                     :y1 592.515625,
                                     :x2 329.39892578125,
                                     :y2 619.515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 592.515625,
                                   :x2 329.39892578125,
                                   :y2 619.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "General Errors"},
               :properties {:color "red"}}
              {:id #uuid "66430269-efa7-44cb-861d-e2ddce881c84",
               :page 4,
               :position {:bounding {:x1 119.9375,
                                     :y1 817.125,
                                     :x2 899.9832763671875,
                                     :y2 859.703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 218.60882568359375,
                                   :y1 817.125,
                                   :x2 899.9832763671875,
                                   :y2 837.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 839.703125,
                                   :x2 718.5531616210938,
                                   :y2 859.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "As we shall see, Alice can still guard against k general errors, at the expense of transmitting only 2k additional characters (twice as many as in the erasure case we saw above)."},
               :properties {:color "red"}}
              {:id #uuid "664305e4-f282-472a-a876-d11450ba6f26",
               :page 6,
               :position {:bounding {:x1 105,
                                     :y1 124,
                                     :x2 849,
                                     :y2 388,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1715668451423},
               :properties {:color "red"}}
              {:id #uuid "664306bc-a0a3-47b1-bfcf-9deba807d356",
               :page 7,
               :position {:bounding {:x1 119.9375,
                                     :y1 468.125,
                                     :x2 215.0417938232422,
                                     :y2 488.125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 468.125,
                                   :x2 215.0417938232422,
                                   :y2 488.125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 7},
               :content {:text "Finer Points"},
               :properties {:color "red"}}
              {:id #uuid "6643084b-91a8-4c86-83d3-eece42a50c03",
               :page 8,
               :position {:bounding {:x1 174.40625,
                                     :y1 205.890625,
                                     :x2 495.27880859375,
                                     :y2 232.890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.40625,
                                   :y1 205.890625,
                                   :x2 495.27880859375,
                                   :y2 232.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "(Optional) Distance properties"},
               :properties {:color "red"}}
              {:id #uuid "66436a4c-2a4e-48aa-b22c-e62286468599",
               :page 8,
               :position {:bounding {:x1 119.9375,
                                     :y1 743.34375,
                                     :x2 899.9849853515625,
                                     :y2 785.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 743.34375,
                                   :x2 899.9849853515625,
                                   :y2 763.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 765.90625,
                                   :x2 202.61978149414062,
                                   :y2 785.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 8},
               :content {:text "To make this precise, the Minimum Distance of a code is defined as the distance between the two closest codewords."},
               :properties {:color "red"}}
              {:id #uuid "66442291-9e95-4bb0-bdc2-325eb7556f05",
               :page 9,
               :position {:bounding {:x1 113,
                                     :y1 546,
                                     :x2 923,
                                     :y2 602,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1715741328547},
               :properties {:color "yellow"}}
              {:id #uuid "66443ac2-7d36-4b8c-b771-394de1202557",
               :page 5,
               :position {:bounding {:x1 190.21875,
                                     :y1 713.90625,
                                     :x2 368.5167236328125,
                                     :y2 733.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 190.21875,
                                   :y1 713.90625,
                                   :x2 368.5167236328125,
                                   :y2 733.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "error-locator polynomia"},
               :properties {:color "red"}}],
 :extra {:page 5}}
