{:highlights [{:id #uuid "66acbd7f-f047-435d-a9d9-738c07a55d39",
               :page 6,
               :position {:bounding {:x1 36,
                                     :y1 21,
                                     :x2 1012,
                                     :y2 574,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1722596733334},
               :properties {:color "red"}}
              {:id #uuid "66acbdbb-c7f3-4011-a868-9503afff8bc5",
               :page 8,
               :position {:bounding {:x1 55,
                                     :y1 18,
                                     :x2 1020,
                                     :y2 344,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1722596794229},
               :properties {:color "red"}}
              {:id #uuid "66acbdc5-980b-4c31-9b26-54f768fa624b",
               :page 9,
               :position {:bounding {:x1 56,
                                     :y1 25,
                                     :x2 868,
                                     :y2 351,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1722596808323},
               :properties {:color "red"}}
              {:id #uuid "66acbdfb-4f7c-40f0-9ec8-2ccab14e60bb",
               :page 10,
               :position {:bounding {:x1 20,
                                     :y1 13,
                                     :x2 742,
                                     :y2 360,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1722596857082},
               :properties {:color "yellow"}}
              {:id #uuid "66acbe27-fc6b-4fc9-a327-e524c43cbbb4",
               :page 11,
               :position {:bounding {:x1 73,
                                     :y1 21,
                                     :x2 1014,
                                     :y2 564,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1722596901844},
               :properties {:color "red"}}],
 :extra {:page 92}}
