{:highlights [{:id #uuid "679b69dd-6db0-4486-866b-912ce48d97b0",
               :page 2,
               :position {:bounding {:x1 126.390625,
                                     :y1 545.375,
                                     :x2 696.765625,
                                     :y2 565.375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 126.390625,
                                   :y1 545.375,
                                   :x2 696.765625,
                                   :y2 565.375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "The most important part of your lexical analyzer is the rules section. "},
               :properties {:color "red"}}
              {:id #uuid "679b69e8-0bf2-48cf-9a08-5009fa296e03",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 963.515625,
                                     :x2 918.0338745117188,
                                     :y2 1006.109375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 126.390625,
                                   :y1 963.515625,
                                   :x2 918.0338745117188,
                                   :y2 983.515625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 986.109375,
                                   :x2 263.178955078125,
                                   :y2 1006.109375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "The Declarations and User subroutines sections are optional and allow you to write declarations and helper functions in C."},
               :properties {:color "yellow"}}
              {:id #uuid "679b69eb-acd7-4eb1-aa94-2929763df0a7",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 986.109375,
                                     :x2 917.6597290039062,
                                     :y2 1028.6875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 279.20489501953125,
                                   :y1 986.109375,
                                   :x2 917.6597290039062,
                                   :y2 1006.109375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1008.6875,
                                   :x2 418.1972961425781,
                                   :y2 1028.6875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "he Deﬁnitions section is also optional, but often very useful as deﬁnitions allow you to give names to regular expressions"},
               :properties {:color "red"}}
              {:id #uuid "679b6a02-b28b-4f3d-b685-1fc29420ae15",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 1088.34375,
                                     :x2 917.9664306640625,
                                     :y2 1133.5,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 362.90625,
                                   :y1 1088.34375,
                                   :x2 414.703125,
                                   :y2 1114.34375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 312.8682861328125,
                                   :y1 1090.921875,
                                   :x2 917.9664306640625,
                                   :y2 1110.921875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1113.5,
                                   :x2 305.3688659667969,
                                   :y2 1133.5,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "Here, DIGIT is the name given to the regular expression matching any single character between 0 and 9"},
               :properties {:color "purple"}}
              {:id #uuid "679b6a0f-718f-459b-b1f8-2bd303192953",
               :page 2,
               :position {:bounding {:x1 125,
                                     :y1 115,
                                     :x2 615,
                                     :y2 540,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1738238478474},
               :properties {:color "red"}}
              {:id #uuid "679b6a2e-1915-455f-abd5-e27972852fab",
               :page 2,
               :position {:bounding {:x1 77,
                                     :y1 645,
                                     :x2 619,
                                     :y2 756,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1738238507543},
               :properties {:color "red"}}
              {:id #uuid "679b6a39-eb50-42a8-bde9-582489b5dd2f",
               :page 2,
               :position {:bounding {:x1 341.02655029296875,
                                     :y1 763.234375,
                                     :x2 598.0840454101562,
                                     :y2 789.234375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 493.078125,
                                   :y1 763.234375,
                                   :x2 598.0840454101562,
                                   :y2 789.234375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 341.02655029296875,
                                   :y1 765.8125,
                                   :x2 598.0840454101562,
                                   :y2 785.8125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "the global variable cool_yylval"},
               :properties {:color "red"}}
              {:id #uuid "679b6a72-35a0-4034-bdbf-338da34bfaf6",
               :page 2,
               :position {:bounding {:x1 89.984375,
                                     :y1 833.578125,
                                     :x2 918.0281982421875,
                                     :y2 879.59375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 126.390625,
                                   :y1 833.578125,
                                   :x2 918.0281982421875,
                                   :y2 853.578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 853.59375,
                                   :x2 156.81253051757812,
                                   :y2 879.59375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 857.59375,
                                   :x2 885.7380981445312,
                                   :y2 875.78125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "An important point to remember is that if the current input (i.e., the result of the function call to yylex()) matches multiple rules, Flex picks the rule that matches the largest number of characters."},
               :properties {:color "red"}}
              {:id #uuid "679b6a8c-7b36-496b-aa9f-1b7a609642fd",
               :page 2,
               :position {:bounding {:x1 89.984375,
                                     :y1 999.015625,
                                     :x2 918.0091552734375,
                                     :y2 1041.59375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 647.75,
                                   :y1 999.015625,
                                   :x2 918.0091552734375,
                                   :y2 1019.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1021.59375,
                                   :x2 651.8253784179688,
                                   :y2 1041.59375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "If multiple rules match the same number of characters, then the rule appearing ﬁrst in the ﬁle is chosen"},
               :properties {:color "red"}}
              {:id #uuid "679b6abf-7592-4303-8a59-1d82a4bf0510",
               :page 2,
               :position {:bounding {:x1 89.984375,
                                     :y1 1044.046875,
                                     :x2 918.0448608398438,
                                     :y2 1086.640625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 126.390625,
                                   :y1 1044.046875,
                                   :x2 918.0448608398438,
                                   :y2 1064.046875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1066.640625,
                                   :x2 253.78125,
                                   :y2 1086.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "When writing rules in Flex, it may be necessary to perform diﬀerent actions depending on previously encountered tokens. "},
               :properties {:color "yellow"}}
              {:id #uuid "679b6b26-7862-4003-8617-ebacc3e41fe1",
               :page 3,
               :position {:bounding {:x1 89.984375,
                                     :y1 291.640625,
                                     :x2 917.953857421875,
                                     :y2 359.390625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 463.3125,
                                   :y1 291.640625,
                                   :x2 534.265625,
                                   :y2 317.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 126.390625,
                                   :y1 294.21875,
                                   :x2 917.953857421875,
                                   :y2 314.21875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 316.796875,
                                   :x2 917.6746826171875,
                                   :y2 336.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 339.390625,
                                   :x2 235.2945556640625,
                                   :y2 359.390625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 3},
               :content {:text "There is also a special default state called INITIAL which is active unless you explicitly indicate the beginning of a new state. You might ﬁnd this syntax useful for various aspects of this assignment, such as error reporting."},
               :properties {:color "red"}}
              {:id #uuid "679b6ee1-9b9f-4190-85ab-cb251f84dfbf",
               :page 3,
               :position {:bounding {:x1 89.984375,
                                     :y1 389.75,
                                     :x2 374.55645751953125,
                                     :y2 416.75,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 89.984375,
                                   :y1 389.75,
                                   :x2 110.125,
                                   :y2 416.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 130.359375,
                                   :y1 389.75,
                                   :x2 374.55645751953125,
                                   :y2 416.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 3},
               :content {:text "3 Files and Directories"},
               :properties {:color "red"}}
              {:id #uuid "679b6f80-9c33-48ac-a161-837f0746ad9f",
               :page 3,
               :position {:bounding {:x1 112.203125,
                                     :y1 644.71875,
                                     :x2 609.8690185546875,
                                     :y2 664.71875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 112.203125,
                                   :y1 644.71875,
                                   :x2 609.8690185546875,
                                   :y2 664.71875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 3},
               :content {:text "This ﬁle contains a skeleton for a lexical description for Cool. "},
               :properties {:color "red"}}
              {:id #uuid "67a163dd-20f5-4e74-8e67-232102420b31",
               :page 4,
               :position {:bounding {:x1 89.984375,
                                     :y1 173.40625,
                                     :x2 918.0010375976562,
                                     :y2 261.171875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 89.984375,
                                   :y1 173.40625,
                                   :x2 918.0010375976562,
                                   :y2 193.40625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 196,
                                   :x2 918,
                                   :y2 216,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 218.578125,
                                   :x2 917.9834594726562,
                                   :y2 238.578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 241.171875,
                                   :x2 612.0422973632812,
                                   :y2 261.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "In this assignment, you are expected to write Flex rules that match on the appropriate regular expressions deﬁning valid tokens in Cool as described in Section 10 and Figure 1 of the Cool manual and perform the appropriate actions, such as returning a token of the correct type, recording the value of a lexeme where appropriate, or reporting an error when an error is encountered."},
               :properties {:color "red"}}
              {:id #uuid "67a163f4-bdda-43d7-8c7f-4cd343dffd15",
               :page 4,
               :position {:bounding {:x1 89.984375,
                                     :y1 241.171875,
                                     :x2 917.990478515625,
                                     :y2 306.359375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 623.734375,
                                   :y1 241.171875,
                                   :x2 917.95751953125,
                                   :y2 261.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 263.765625,
                                   :x2 917.990478515625,
                                   :y2 283.765625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 286.359375,
                                   :x2 193.4522705078125,
                                   :y2 306.359375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "Before you start on this assignment, make sure to read Section 10 and Figure 1 of the Cool manual; then study the diﬀerent tokens deﬁned in cool-parse.h."},
               :properties {:color "yellow"}}
              {:id #uuid "67a16728-cf66-4ed6-b6f8-81f6617d936f",
               :page 4,
               :position {:bounding {:x1 89.984375,
                                     :y1 286.359375,
                                     :x2 917.6659240722656,
                                     :y2 328.953125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 198.08401489257812,
                                   :y1 286.359375,
                                   :x2 917.6659240722656,
                                   :y2 306.359375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 308.953125,
                                   :x2 880.90625,
                                   :y2 328.953125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "Your implementation needs to deﬁne Flex rules that match the regular expressions deﬁning each token deﬁned in cool-parse.h and perform the appropriate action for each matched token. "},
               :properties {:color "purple"}}
              {:id #uuid "67a1692a-1532-4ec7-a6d2-f25c43f5157a",
               :page 4,
               :position {:bounding {:x1 126.390625,
                                     :y1 421.90625,
                                     :x2 371.9993896484375,
                                     :y2 441.90625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 126.390625,
                                   :y1 421.90625,
                                   :x2 371.9993896484375,
                                   :y2 441.90625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "Your scanner should be robus"},
               :properties {:color "red"}}
              {:id #uuid "67a16a93-da04-49da-8371-4e67f50c2e11",
               :page 5,
               :position {:bounding {:x1 89.984375,
                                     :y1 366.328125,
                                     :x2 917.66064453125,
                                     :y2 408.921875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 644.6253662109375,
                                   :y1 366.328125,
                                   :x2 917.66064453125,
                                   :y2 386.328125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 388.921875,
                                   :x2 510.4473876953125,
                                   :y2 408.921875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 5},
               :content {:text "o save space and time, a common compiler practice is to store lexemes in a string table."},
               :properties {:color "red"}}
              {:id #uuid "67d352af-20df-41ac-80f6-28879df1c539",
               :page 5,
               :position {:bounding {:x1 103.171875,
                                     :y1 130.265625,
                                     :x2 918.0204467773438,
                                     :y2 178.859375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 103.171875,
                                   :y1 130.265625,
                                   :x2 112.21875,
                                   :y2 156.265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 202.984375,
                                   :y1 130.265625,
                                   :x2 222.0914306640625,
                                   :y2 156.265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 555.28125,
                                   :y1 130.265625,
                                   :x2 688.9201049804688,
                                   :y2 156.265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 103.171875,
                                   :y1 134.265625,
                                   :x2 918.0204467773438,
                                   :y2 154.265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 112.203125,
                                   :y1 152.859375,
                                   :x2 125.796875,
                                   :y2 178.859375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 163.203125,
                                   :y1 152.859375,
                                   :x2 169.359375,
                                   :y2 178.859375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 112.203125,
                                   :y1 156.859375,
                                   :x2 177.78125,
                                   :y2 175.046875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 5},
               :content {:text " If you see “*)” outside a comment, report this error as \"Unmatched *)\", rather than tokenizing it as* and )."},
               :properties {:color "red"}}
              {:id #uuid "67d372ca-5d7a-4aab-af3e-f8484b05929a",
               :page 4,
               :position {:bounding {:x1 112.203125,
                                     :y1 961.125,
                                     :x2 917.9933471679688,
                                     :y2 1003.71875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 416.09375,
                                   :y1 961.125,
                                   :x2 917.9933471679688,
                                   :y2 981.125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 112.203125,
                                   :y1 983.71875,
                                   :x2 770.2150268554688,
                                   :y2 1003.71875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "Report only the ﬁrst string constant error to occur, and then resume lexing after the end of the string. The end of the string is deﬁned as either"},
               :properties {:color "red"}}
              {:id #uuid "67d37c6c-5b55-4849-8481-f40a69cf99a6",
               :page 6,
               :position {:bounding {:x1 360.1400146484375,
                                     :y1 218.578125,
                                     :x2 823.9795532226562,
                                     :y2 238.578125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 360.1400146484375,
                                   :y1 218.578125,
                                   :x2 823.9795532226562,
                                   :y2 238.578125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 6},
               :content {:text "he codes for all tokens are deﬁned in the ﬁle cool-parse.h. "},
               :properties {:color "red"}}],
 :extra {:page 6}}
