{:highlights [{:id #uuid "66c47440-ebe0-42f8-85e8-bc573a177e04",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 377.28125,
                                     :x2 918.0343017578125,
                                     :y2 419.875,
                                     :width 992.126,
                                     :height 1403.1496666666667},
                          :rects ({:x1 126.390625,
                                   :y1 377.28125,
                                   :x2 918.0343017578125,
                                   :y2 397.28125,
                                   :width 992.126,
                                   :height 1403.1496666666667}
                                  {:x1 89.984375,
                                   :y1 399.875,
                                   :x2 633.712890625,
                                   :y2 419.875,
                                   :width 992.126,
                                   :height 1403.1496666666667}),
                          :page 1},
               :content {:text "For this assignment, you are to write a lexical analyzer, also called a scanner, using a lexical analyzer generator. (The C++ tool is called ﬂex; the Java tool is called jlex.)"},
               :properties {:color "red"}}],
 :extra {:page 1}}
