{:highlights [{:id #uuid "66c47440-ebe0-42f8-85e8-bc573a177e04",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 377.28125,
                                     :x2 918.0343017578125,
                                     :y2 419.875,
                                     :width 992.126,
                                     :height 1403.1496666666667},
                          :rects ({:x1 126.390625,
                                   :y1 377.28125,
                                   :x2 918.0343017578125,
                                   :y2 397.28125,
                                   :width 992.126,
                                   :height 1403.1496666666667}
                                  {:x1 89.984375,
                                   :y1 399.875,
                                   :x2 633.712890625,
                                   :y2 419.875,
                                   :width 992.126,
                                   :height 1403.1496666666667}),
                          :page 1},
               :content {:text "For this assignment, you are to write a lexical analyzer, also called a scanner, using a lexical analyzer generator. (The C++ tool is called ﬂex; the Java tool is called jlex.)"},
               :properties {:color "red"}}
              {:id #uuid "6711c45d-437c-4317-8bf4-4e704e0fdb34",
               :page 1,
               :position {:bounding {:x1 62,
                                     :y1 764.9999999999999,
                                     :x2 929,
                                     :y2 1187,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1729217909954},
               :properties {:color "red"}}
              {:id #uuid "6711c4b0-d3a2-48d9-89c1-7340b6e8b708",
               :page 2,
               :position {:bounding {:x1 79,
                                     :y1 124,
                                     :x2 634,
                                     :y2 587,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729217711037},
               :properties {:color "yellow"}}
              {:id #uuid "6711c59d-67fb-4777-8137-e1a2dd61b90a",
               :page 2,
               :position {:bounding {:x1 58,
                                     :y1 587,
                                     :x2 924,
                                     :y2 875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729217947860},
               :properties {:color "red"}}
              {:id #uuid "6711c5b7-1589-48ae-8249-db6ffe7fffc5",
               :page 2,
               :position {:bounding {:x1 73,
                                     :y1 873,
                                     :x2 924,
                                     :y2 1086,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729218152391},
               :properties {:color "red"}}
              {:id #uuid "6711c671-1b8e-466e-abd8-e16818e1217e",
               :page 2,
               :position {:bounding {:x1 80.00000000000001,
                                     :y1 1083,
                                     :x2 930,
                                     :y2 1180,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1729218408141},
               :properties {:color "red"}}
              {:id #uuid "6711c682-7c83-4a13-a118-5af4b074560f",
               :page 3,
               :position {:bounding {:x1 80.00000000000001,
                                     :y1 126.99999999999999,
                                     :x2 927,
                                     :y2 486,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1729218415512},
               :properties {:color "red"}}],
 :extra {:page 3}}
