{:highlights [{:id #uuid "672c9cbe-baf1-4fc8-b233-4f8761da411f",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 949.625,
                                     :x2 917.9909057617188,
                                     :y2 1014.796875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 804.4910888671875,
                                   :y1 949.625,
                                   :x2 917.680908203125,
                                   :y2 969.625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 972.203125,
                                   :x2 917.9909057617188,
                                   :y2 992.203125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 994.796875,
                                   :x2 600.6737060546875,
                                   :y2 1014.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "Your program need not do any error checking: you may assume that all commands are valid and that the appropriate number and type of arguments are on the stack for evaluation"},
               :properties {:color "red"}}
              {:id #uuid "672c9cc6-1563-4f38-9344-7fd63321d7cf",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 205.796875,
                                     :x2 584.0896606445312,
                                     :y2 232.796875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 89.984375,
                                   :y1 205.796875,
                                   :x2 110.125,
                                   :y2 232.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 130.359375,
                                   :y1 205.796875,
                                   :x2 584.0896606445312,
                                   :y2 232.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "1 Overview of the Programming Project"},
               :properties {:color "red"}}
              {:id #uuid "672c9d05-9ed6-46cd-a35f-242e8701aae5",
               :page 1,
               :position {:bounding {:x1 250,
                                     :y1 357,
                                     :x2 733,
                                     :y2 544,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1730977028695},
               :properties {:color "red"}}
              {:id #uuid "672c9d49-e4f7-43e0-a182-f8b21aef5ecc",
               :page 1,
               :position {:bounding {:x1 271.3039245605469,
                                     :y1 1014.671875,
                                     :x2 904.546875,
                                     :y2 1040.671875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 678.015625,
                                   :y1 1014.671875,
                                   :x2 748.953125,
                                   :y2 1040.671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 895.484375,
                                   :y1 1014.671875,
                                   :x2 904.546875,
                                   :y2 1040.671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 271.3039245605469,
                                   :y1 1017.25,
                                   :x2 904.546875,
                                   :y2 1037.25,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text " Your interpreter should exit gracefully; do not call abort() after receiving an x"},
               :properties {:color "red"}}
              {:id #uuid "672c9d9f-236f-40f2-bf32-62b1ee4c5f82",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 1130.203125,
                                     :x2 917.998046875,
                                     :y2 1176.21875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 792.4650268554688,
                                   :y1 1130.203125,
                                   :x2 917.998046875,
                                   :y2 1150.203125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 344.75,
                                   :y1 1150.21875,
                                   :x2 415.703125,
                                   :y2 1176.21875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 475.71875,
                                   :y1 1150.21875,
                                   :x2 670.671875,
                                   :y2 1176.21875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1152.796875,
                                   :x2 917.9677124023438,
                                   :y2 1172.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "If you wish, you may use the classes deﬁned in atoi.cl in the [cool root]/examples directory to perform string to"},
               :properties {:color "red"}}
              {:id #uuid "672c9da8-fec2-4b32-bc82-e7eacffc85a0",
               :page 2,
               :position {:bounding {:x1 89.984375,
                                     :y1 132.859375,
                                     :x2 237.33038330078125,
                                     :y2 152.859375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 89.984375,
                                   :y1 132.859375,
                                   :x2 237.33038330078125,
                                   :y2 152.859375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 2},
               :content {:text "integer conversion"},
               :properties {:color "red"}}
              {:id #uuid "672c9e56-c27a-419e-8b6a-672f9b9d39c7",
               :page 1,
               :position {:bounding {:x1 362,
                                     :y1 814,
                                     :x2 653,
                                     :y2 922,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1730977365208},
               :properties {:color "red"}}
              {:id #uuid "672cac66-ac02-4ae2-93d8-864d76d7663a",
               :page 1,
               :position {:bounding {:x1 89.984375,
                                     :y1 1062.4375,
                                     :x2 918.0313110351562,
                                     :y2 1131.03125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 786.640625,
                                   :y1 1062.4375,
                                   :x2 917.9484252929688,
                                   :y2 1082.4375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 228.484375,
                                   :y1 1082.4375,
                                   :x2 347.140625,
                                   :y2 1108.4375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1085.015625,
                                   :x2 918.0313110351562,
                                   :y2 1105.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1105.03125,
                                   :x2 204.5299530029297,
                                   :y2 1131.03125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 89.984375,
                                   :y1 1109.03125,
                                   :x2 579.2647094726562,
                                   :y2 1127.21875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "One approach is to deﬁne a class StackCommand with a number of generic operations, and then to deﬁne subclasses of StackCommand, one for each kind of command in the language. "},
               :properties {:color "red"}}],
 :extra {:page 2}}
