{:highlights [{:id #uuid "64aba7d8-bd02-484f-884a-f4f14d674ba5",
               :page 1,
               :position {:bounding {:x1 101.375,
                                     :y1 424.734375,
                                     :x2 205.48117065429688,
                                     :y2 450.734375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 101.375,
                                   :y1 424.734375,
                                   :x2 205.48117065429688,
                                   :y2 450.734375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 1},
               :content {:text "Overview"},
               :properties {:color "yellow"}}
              {:id #uuid "64aba7f7-195c-4a6d-82e9-7a56fe5b80c4",
               :page 3,
               :position {:bounding {:x1 101.375,
                                     :y1 297.15625,
                                     :x2 535.8359375,
                                     :y2 323.15625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 101.375,
                                   :y1 297.15625,
                                   :x2 535.8359375,
                                   :y2 323.15625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 3},
               :content {:text "Problem 1: Extracting data from tweets"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
