{:highlights [{:id #uuid "64d43523-8886-4e11-a5c9-9f5f69378cf1",
               :page 1,
               :position {:bounding {:x1 108.328125,
                                     :y1 737.859375,
                                     :x2 219.564697265625,
                                     :y2 765.859375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 108.328125,
                                   :y1 737.859375,
                                   :x2 219.564697265625,
                                   :y2 765.859375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Overview"},
               :properties {:color "yellow"}}
              {:id #uuid "64d43543-e2c6-408e-95fe-8a3acc64c808",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 471.81890869140625,
                                     :y2 1271.609375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 108.328125,
                                   :y1 1240.609375,
                                   :x2 471.81890869140625,
                                   :y2 1271.609375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 294.109375,
                                   :y1 1242.609375,
                                   :x2 366.7307434082031,
                                   :y2 1267.625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Problem 1: Test Graph<String>"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
