{:highlights [{:id #uuid "64aba7d8-bd02-484f-884a-f4f14d674ba5",
               :page 1,
               :position {:bounding {:x1 101.375,
                                     :y1 424.734375,
                                     :x2 205.48117065429688,
                                     :y2 450.734375,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 101.375,
                                   :y1 424.734375,
                                   :x2 205.48117065429688,
                                   :y2 450.734375,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 1},
               :content {:text "Overview"},
               :properties {:color "yellow"}}
              {:id #uuid "64aba7f7-195c-4a6d-82e9-7a56fe5b80c4",
               :page 3,
               :position {:bounding {:x1 101.375,
                                     :y1 297.15625,
                                     :x2 535.8359375,
                                     :y2 323.15625,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 101.375,
                                   :y1 297.15625,
                                   :x2 535.8359375,
                                   :y2 323.15625,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 3},
               :content {:text "Problem 1: Extracting data from tweets"},
               :properties {:color "yellow"}}
              {:id #uuid "64ad111e-5afd-4f74-ae7c-db79792d2497",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 826.8704833984375,
                                     :y2 350.078125,
                                     :width 928,
                                     :height 1313.2005411591058},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 928,
                                   :height 1313.2005411591058}
                                  {:x1 148.203125,
                                   :y1 276.40625,
                                   :x2 826.8704833984375,
                                   :y2 297.40625,
                                   :width 928,
                                   :height 1313.2005411591058}
                                  {:x1 148.203125,
                                   :y1 303.328125,
                                   :x2 797.93701171875,
                                   :y2 327.328125,
                                   :width 928,
                                   :height 1313.2005411591058}
                                  {:x1 148.203125,
                                   :y1 329.078125,
                                   :x2 770.6307373046875,
                                   :y2 350.078125,
                                   :width 928,
                                   :height 1313.2005411591058}),
                          :page 2},
               :content {:text "Again, keep your tests small. Don’t use unreasonable amounts of resources (such as MAX_INT size lists). We won’t expect your test suite to catch bugs related to running out of resources; every program fails when it runs out of resources."},
               :properties {:color "yellow"}}
              {:id #uuid "64b8d6d2-6cd4-4863-8dc7-4b082cf8dca4",
               :page 4,
               :position {:bounding {:x1 108.328125,
                                     :y1 101.296875,
                                     :x2 515.5543212890625,
                                     :y2 129.296875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 108.328125,
                                   :y1 101.296875,
                                   :x2 515.5543212890625,
                                   :y2 129.296875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Problem 2: Filtering lists of tweets"},
               :properties {:color "yellow"}}
              {:id #uuid "64c76059-5305-4d92-a6f0-c0a67a939a85",
               :page 4,
               :position {:bounding {:x1 108.328125,
                                     :y1 656.578125,
                                     :x2 547.5582275390625,
                                     :y2 684.578125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 108.328125,
                                   :y1 656.578125,
                                   :x2 547.5582275390625,
                                   :y2 684.578125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Problem 3: Inferring a social network"},
               :properties {:color "yellow"}}
              {:id #uuid "64cca397-71b0-4819-aae3-32856983f08c",
               :page 4,
               :position {:bounding {:x1 108.328125,
                                     :y1 1236.859375,
                                     :x2 384.963623046875,
                                     :y2 1264.859375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 108.328125,
                                   :y1 1236.859375,
                                   :x2 384.963623046875,
                                   :y2 1264.859375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Problem 4: Get smarter"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
