{:highlights [{:id #uuid "67dc9f0f-51a7-40c9-986e-b5f156d0c0c7",
               :page 4,
               :position {:bounding {:x1 120,
                                     :y1 803.953125,
                                     :x2 285.1455383300781,
                                     :y2 835.953125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 120,
                                   :y1 803.953125,
                                   :x2 285.1455383300781,
                                   :y2 835.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "Peak-Finding"},
               :properties {:color "red"}}],
 :extra {:page 1}}
