{:highlights [{:id #uuid "64a761e8-8447-44de-b06e-41e9c52b520b",
               :page 2,
               :position {:bounding {:x1 568,
                                     :y1 283,
                                     :x2 1595,
                                     :y2 686,
                                     :width 1933.985507743859,
                                     :height 1366.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1688691175130},
               :properties {:color "yellow"}}
              {:id #uuid "64a76252-78d2-405c-9172-04d828dd0ab3",
               :page 2,
               :position {:bounding {:x1 577,
                                     :y1 906,
                                     :x2 1479,
                                     :y2 1335,
                                     :width 1933.985507743859,
                                     :height 1366.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1688691281640},
               :properties {:color "yellow"}}
              {:id #uuid "64a76279-34ab-4b4a-9904-88a55ff6fefb",
               :page 3,
               :position {:bounding {:x1 582,
                                     :y1 36,
                                     :x2 1564,
                                     :y2 1237,
                                     :width 1933.985507743859,
                                     :height 1366.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1688691319784},
               :properties {:color "yellow"}}
              {:id #uuid "64a76288-b51b-48bb-91fd-2b457f34f3b7",
               :page 4,
               :position {:bounding {:x1 967,
                                     :y1 276,
                                     :x2 1562,
                                     :y2 727,
                                     :width 1933.985507743859,
                                     :height 1366.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1688691335532},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
