{:highlights [{:id #uuid "646eb522-d018-44c1-b4f5-124004eb305f",
               :page 1,
               :position {:bounding {:x1 259,
                                     :y1 1161,
                                     :x2 1222,
                                     :y2 1518,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684976929135},
               :properties {:color "yellow"}}
              {:id #uuid "646eb5eb-9dff-4230-8589-b755ee91da5b",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1138.91845703125,
                                     :y2 1752.8125,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 848.9963989257812,
                                   :y1 1710.171875,
                                   :x2 1138.91845703125,
                                   :y2 1730.171875,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 1732.8125,
                                   :x2 814.9501342773438,
                                   :y2 1752.8125,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 2},
               :content {:text " The first three test programs in this project assume that the bootstrap code was not yet implemented"},
               :properties {:color "yellow"}}
              {:id #uuid "646eb61d-34c0-4dcc-9f59-847eb6006a08",
               :page 1,
               :position {:bounding {:x1 260,
                                     :y1 1550,
                                     :x2 1192,
                                     :y2 1778,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684977180594},
               :properties {:color "yellow"}}
              {:id #uuid "646eb62f-ea71-43e4-b7f9-0de1db70453e",
               :page 2,
               :position {:bounding {:x1 247,
                                     :y1 34,
                                     :x2 1212,
                                     :y2 1074,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1684977198267},
               :properties {:color "yellow"}}
              {:id #uuid "646eb6e3-fc8b-49e8-9d90-7d931d4bfbeb",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1177.9722900390625,
                                     :y2 88.671875,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 695.2179565429688,
                                   :y1 46.03125,
                                   :x2 1177.9722900390625,
                                   :y2 66.03125,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 68.671875,
                                   :x2 546.115478515625,
                                   :y2 88.671875,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 3},
               :content {:text "The last two test programs assume that the bootstrap code is generated by the VM translator"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
