{:highlights [{:id #uuid "647fbc75-4a89-4620-bccd-7105002e30ab",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1175.425537109375,
                                     :y2 450.9375,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 385.65625,
                                   :x2 1175.425537109375,
                                   :y2 405.65625,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 408.296875,
                                   :x2 1129.4149169921875,
                                   :y2 428.296875,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 430.9375,
                                   :x2 903.9733276367188,
                                   :y2 450.9375,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 1},
               :content {:text "In this project we build a syntax analyzer that parses Jack programs according to the Jack grammar, producing an XML file that renders the program's structure using marked-up text. In the next project, the logic that generates the XML output will be morphed into logic that generates VM code."},
               :properties {:color "yellow"}}
              {:id #uuid "647fbc95-a3cc-4f45-821a-93765e69be63",
               :page 1,
               :position {:bounding {:x1 283.734375,
                                     :y1 344.171875,
                                     :x2 372.48455810546875,
                                     :y2 366.171875,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 283.734375,
                                   :y1 344.171875,
                                   :x2 372.48455810546875,
                                   :y2 366.171875,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 1},
               :content {:text "Objective"},
               :properties {:color "yellow"}}
              {:id #uuid "647fbcb0-6bce-4e7b-b500-c8c64d8dd7d3",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1175.425537109375,
                                     :y2 450.9375,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 385.65625,
                                   :x2 1175.425537109375,
                                   :y2 405.65625,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 408.296875,
                                   :x2 1129.4149169921875,
                                   :y2 428.296875,
                                   :width 1270,
                                   :height 1796.7531783721297}
                                  {:x1 273.546875,
                                   :y1 430.9375,
                                   :x2 903.9733276367188,
                                   :y2 450.9375,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 1},
               :content {:text "In this project we build a syntax analyzer that parses Jack programs according to the Jack grammar, producing an XML file that renders the program's structure using marked-up text. In the next project, the logic that generates the XML output will be morphed into logic that generates VM code."},
               :properties {:color "yellow"}}
              {:id #uuid "647fc60c-809f-4759-87cd-71b5288a479a",
               :page 3,
               :position {:bounding {:x1 283.734375,
                                     :y1 245.6875,
                                     :x2 347.6506652832031,
                                     :y2 267.6875,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects ({:x1 283.734375,
                                   :y1 245.6875,
                                   :x2 347.6506652832031,
                                   :y2 267.6875,
                                   :width 1270,
                                   :height 1796.7531783721297}),
                          :page 3},
               :content {:text "Testing"},
               :properties {:color "yellow"}}
              {:id #uuid "647fc65a-52b1-4f0a-895d-9ee129685958",
               :page 3,
               :position {:bounding {:x1 256,
                                     :y1 278,
                                     :x2 1208,
                                     :y2 695,
                                     :width 1270,
                                     :height 1796.7531783721297},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1686095449286},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
