{:highlights [{:id #uuid "645d3dd5-9777-4355-b767-c8eb07e716cd",
               :page 2,
               :position {:bounding {:x1 224,
                                     :y1 10,
                                     :x2 970,
                                     :y2 623,
                                     :width 1069,
                                     :height 1512.3851556533912},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1683832276151},
               :properties {:color "yellow"}}
              {:id #uuid "645d3ec2-3744-46b6-a20c-8ef5bf08240d",
               :page 2,
               :position {:bounding {:x1 220,
                                     :y1 854,
                                     :x2 1007,
                                     :y2 1114,
                                     :width 1069,
                                     :height 1512.3851556533912},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1683832513486},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
