{:highlights [{:id #uuid "64b5fed2-513c-43c2-9fa2-8ecaffc9d9d3",
               :page 1,
               :position {:bounding {:x1 154,
                                     :y1 298,
                                     :x2 854,
                                     :y2 631,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1689648849539},
               :properties {:color "yellow"}}
              {:id #uuid "64b60031-e071-444b-90a6-d5e1c655e745",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 745.375,
                                     :x2 244.20135498046875,
                                     :y2 773.375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 745.375,
                                   :x2 244.20135498046875,
                                   :y2 773.375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "yellow"}}
              {:id #uuid "64b60080-48cc-4c84-b4c5-4318e6185aeb",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 587.796875,
                                     :x2 359.635986328125,
                                     :y2 615.796875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 587.796875,
                                   :x2 359.635986328125,
                                   :y2 615.796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Download starter files"},
               :properties {:color "yellow"}}
              {:id #uuid "64b60099-918e-488d-96f0-e31bac5432e3",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 1108.046875,
                                     :x2 208.123046875,
                                     :y2 1136.046875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1108.046875,
                                   :x2 208.123046875,
                                   :y2 1136.046875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Logistics"},
               :properties {:color "yellow"}}
              {:id #uuid "64b73ef4-5c24-48ee-b2aa-5bb6aaad848b",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 372.6875,
                                     :x2 309.6168212890625,
                                     :y2 400.6875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 372.6875,
                                   :x2 309.6168212890625,
                                   :y2 400.6875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Interpreter details"},
               :properties {:color "yellow"}}
              {:id #uuid "64b73f30-744e-4337-a6f9-73a0d5ea5362",
               :page 4,
               :position {:bounding {:x1 98.328125,
                                     :y1 434.765625,
                                     :x2 278.5078125,
                                     :y2 459.765625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 434.765625,
                                   :x2 278.5078125,
                                   :y2 459.765625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Scheme features"},
               :properties {:color "yellow"}}
              {:id #uuid "64b73f60-c55e-48cd-947c-ab14d710f81b",
               :page 5,
               :position {:bounding {:x1 98.328125,
                                     :y1 332.21875,
                                     :x2 367.2978515625,
                                     :y2 357.21875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 332.21875,
                                   :x2 367.2978515625,
                                   :y2 357.21875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Implementation overview"},
               :properties {:color "yellow"}}
              {:id #uuid "64b73f9f-c899-48d6-bb95-524577573395",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 235.921875,
                                     :x2 348.4713134765625,
                                     :y2 260.921875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 235.921875,
                                   :x2 348.4713134765625,
                                   :y2 260.921875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Running the interpreter"},
               :properties {:color "yellow"}}
              {:id #uuid "64b74050-e00a-4a2f-b3f4-0e0ffd13c32d",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 820.40625,
                                     :x2 463.3494873046875,
                                     :y2 848.40625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 820.40625,
                                   :x2 463.3494873046875,
                                   :y2 848.40625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Part 0: Testing Your Interpreter"},
               :properties {:color "yellow"}}
              {:id #uuid "64b74151-38df-46f1-b4c3-bc80a3bb20e6",
               :page 6,
               :position {:bounding {:x1 98.328125,
                                     :y1 1009.25,
                                     :x2 311.91839599609375,
                                     :y2 1037.25,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1009.25,
                                   :x2 311.91839599609375,
                                   :y2 1037.25,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Part I: The Reader"},
               :properties {:color "yellow"}}
              {:id #uuid "64b741ad-4975-49ce-9c42-cc3a86520aaf",
               :page 8,
               :position {:bounding {:x1 98.328125,
                                     :y1 69.578125,
                                     :x2 268.4360046386719,
                                     :y2 94.578125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 69.578125,
                                   :x2 268.4360046386719,
                                   :y2 94.578125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 8},
               :content {:text "Problem 1 (2 pt)"},
               :properties {:color "yellow"}}
              {:id #uuid "64b7422c-9186-4989-b619-5203b4b38997",
               :page 5,
               :position {:bounding {:x1 116,
                                     :y1 475,
                                     :x2 913,
                                     :y2 1225,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1689731626104},
               :properties {:color "yellow"}}
              {:id #uuid "64b74a9c-f341-4445-908b-4ed89007607f",
               :page 9,
               :position {:bounding {:x1 98.328125,
                                     :y1 761.625,
                                     :x2 348.0487060546875,
                                     :y2 789.625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 761.625,
                                   :x2 348.0487060546875,
                                   :y2 789.625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Part II: The Evaluator"},
               :properties {:color "yellow"}}
              {:id #uuid "64b74acc-7087-4cc7-bbce-81d206e025eb",
               :page 10,
               :position {:bounding {:x1 98.328125,
                                     :y1 374.734375,
                                     :x2 363.4941101074219,
                                     :y2 399.734375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 374.734375,
                                   :x2 363.4941101074219,
                                   :y2 399.734375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Some Core Functionality"},
               :properties {:color "yellow"}}
              {:id #uuid "64b74ae3-d26c-4d8c-b98b-fc9fd9b91501",
               :page 10,
               :position {:bounding {:x1 98.328125,
                                     :y1 434.0625,
                                     :x2 249.53695678710938,
                                     :y2 456.0625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 434.0625,
                                   :x2 249.53695678710938,
                                   :y2 456.0625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Problem 2 (1 pt)"},
               :properties {:color "yellow"}}
              {:id #uuid "64b74e8a-240e-4ef3-9fa5-c13f255facff",
               :page 11,
               :position {:bounding {:x1 98.328125,
                                     :y1 352.765625,
                                     :x2 249.53695678710938,
                                     :y2 374.765625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 352.765625,
                                   :x2 249.53695678710938,
                                   :y2 374.765625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Problem 3 (1 pt)"},
               :properties {:color "yellow"}}
              {:id #uuid "64b753de-80a6-4164-988e-c44caaa3f2d8",
               :page 12,
               :position {:bounding {:x1 98.328125,
                                     :y1 163.921875,
                                     :x2 249.53695678710938,
                                     :y2 185.921875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 163.921875,
                                   :x2 249.53695678710938,
                                   :y2 185.921875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Problem 4 (1 pt)"},
               :properties {:color "yellow"}}
              {:id #uuid "64b889ec-8e42-408b-87e3-fe1bf7d00c8b",
               :page 13,
               :position {:bounding {:x1 98.328125,
                                     :y1 709.1875,
                                     :x2 249.53695678710938,
                                     :y2 731.1875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 709.1875,
                                   :x2 249.53695678710938,
                                   :y2 731.1875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 13},
               :content {:text "Problem 5 (1 pt)"},
               :properties {:color "yellow"}}
              {:id #uuid "64b89059-23e3-4e4a-852e-05a79f309da2",
               :page 15,
               :position {:bounding {:x1 98.328125,
                                     :y1 409.046875,
                                     :x2 249.53695678710938,
                                     :y2 431.046875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 409.046875,
                                   :x2 249.53695678710938,
                                   :y2 431.046875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 15},
               :content {:text "Problem 6 (1 pt)"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
