{:highlights [{:id #uuid "64b5fed2-513c-43c2-9fa2-8ecaffc9d9d3",
               :page 1,
               :position {:bounding {:x1 154,
                                     :y1 298,
                                     :x2 854,
                                     :y2 631,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1689648849539},
               :properties {:color "yellow"}}
              {:id #uuid "64b60031-e071-444b-90a6-d5e1c655e745",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 745.375,
                                     :x2 244.20135498046875,
                                     :y2 773.375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 745.375,
                                   :x2 244.20135498046875,
                                   :y2 773.375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "yellow"}}
              {:id #uuid "64b60080-48cc-4c84-b4c5-4318e6185aeb",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 587.796875,
                                     :x2 359.635986328125,
                                     :y2 615.796875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 587.796875,
                                   :x2 359.635986328125,
                                   :y2 615.796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Download starter files"},
               :properties {:color "yellow"}}
              {:id #uuid "64b60099-918e-488d-96f0-e31bac5432e3",
               :page 2,
               :position {:bounding {:x1 98.328125,
                                     :y1 1108.046875,
                                     :x2 208.123046875,
                                     :y2 1136.046875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 1108.046875,
                                   :x2 208.123046875,
                                   :y2 1136.046875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 2},
               :content {:text "Logistics"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
