{:highlights [{:id #uuid "66a8765e-22cb-453b-acc6-bca6383e0f8b",
               :page 1,
               :position {:bounding {:x1 120.046875,
                                     :y1 873.015625,
                                     :x2 640.1509399414062,
                                     :y2 893.015625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 120.046875,
                                   :y1 873.015625,
                                   :x2 640.1509399414062,
                                   :y2 893.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "In this lab, you will write a simple HTTP proxy that caches web objects."},
               :properties {:color "red"}}
              {:id #uuid "66a876b9-a259-40a8-8041-9fa00ceb77df",
               :page 1,
               :position {:bounding {:x1 120.046875,
                                     :y1 873.015625,
                                     :x2 898.804443359375,
                                     :y2 938.1875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 644.7474365234375,
                                   :y1 873.015625,
                                   :x2 898.4971313476562,
                                   :y2 893.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 895.59375,
                                   :x2 898.804443359375,
                                   :y2 915.59375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 918.1875,
                                   :x2 755.186767578125,
                                   :y2 938.1875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "For the ﬁrst part of the lab, you will set up the proxy to accept incoming connections, read and parse requests, forward requests to web servers, read the servers’ responses, and forward those responses to the corresponding client"},
               :properties {:color "yellow"}}
              {:id #uuid "66a876ca-b643-48c1-b03d-85e18ca4450a",
               :page 1,
               :position {:bounding {:x1 120.046875,
                                     :y1 963.375,
                                     :x2 898.8053588867188,
                                     :y2 1005.96875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 313.7935791015625,
                                   :y1 963.375,
                                   :x2 898.8053588867188,
                                   :y2 983.375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 985.96875,
                                   :x2 211.72183227539062,
                                   :y2 1005.96875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text " In the second part, you will upgrade your proxy to deal with multiple concurrent connections"},
               :properties {:color "red"}}
              {:id #uuid "66a876da-7fdc-454e-be28-9399efccb3b7",
               :page 1,
               :position {:bounding {:x1 120.046875,
                                     :y1 985.96875,
                                     :x2 898.8046875,
                                     :y2 1051.140625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 817.3052368164062,
                                   :y1 985.96875,
                                   :x2 898.4937744140625,
                                   :y2 1005.96875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 1008.546875,
                                   :x2 898.8046875,
                                   :y2 1028.546875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 120.046875,
                                   :y1 1031.140625,
                                   :x2 212.9603729248047,
                                   :y2 1051.140625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "In the third and last part, you will add caching to your proxy using a simple main memory cache of recently accessed web content."},
               :properties {:color "green"}}],
 :extra {:page 2}}
