{:highlights [{:id #uuid "66b30fa1-90d1-4ed0-9488-daad54b54d3a",
               :page 66,
               :position {:bounding {:x1 34,
                                     :y1 311,
                                     :x2 967,
                                     :y2 492,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1723010976693},
               :properties {:color "red"}}],
 :extra {:page 100}}
