{:highlights [{:id #uuid "69201696-b94c-4ca4-8aee-aa6ecc851e6e",
               :page 2,
               :position {:bounding {:x1 117,
                                     :y1 106.03515625,
                                     :x2 498,
                                     :y2 473.03515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1763710613523},
               :properties {:color "yellow"}}
              {:id #uuid "69202635-d80b-4a1d-ad82-37c84a764961",
               :page 5,
               :position {:bounding {:x1 539,
                                     :y1 282.71630859375,
                                     :x2 898,
                                     :y2 573.71630859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1763714613071},
               :properties {:color "yellow"}}
              {:id #uuid "69203a02-73e5-427c-8ca6-8fa9160d794c",
               :page 8,
               :position {:bounding {:x1 146,
                                     :y1 92.9072265625,
                                     :x2 466,
                                     :y2 382.9072265625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1763719681055},
               :properties {:color "red"}}
              {:id #uuid "692040de-a8ca-408c-b38e-9c5064bc6921",
               :page 10,
               :position {:bounding {:x1 134,
                                     :y1 101.4287109375,
                                     :x2 484,
                                     :y2 448.4287109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763721436293},
               :properties {:color "yellow"}}
              {:id #uuid "692041a3-3b78-4be0-b21e-aaadfd378173",
               :page 10,
               :position {:bounding {:x1 531,
                                     :y1 115.4287109375,
                                     :x2 901,
                                     :y2 341.4287109375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1763721634775},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
