{:highlights [{:id #uuid "66a9c57d-7d3d-4fe1-bd7c-ac1a08ff1bfe",
               :page 30,
               :position {:bounding {:x1 646.3911743164062,
                                     :y1 423.328125,
                                     :x2 654.4288940429688,
                                     :y2 456.328125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 646.3911743164062,
                                   :y1 423.328125,
                                   :x2 654.4288940429688,
                                   :y2 456.328125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 30},
               :content {:text "/"},
               :properties {:color "red"}}
              {:id #uuid "66a9c57d-c994-4f0e-9171-1c4f981c77a4",
               :page 30,
               :position {:bounding {:x1 190.703125,
                                     :y1 423.328125,
                                     :x2 808.46728515625,
                                     :y2 456.328125,
                                     :width 1068.9999999999998,
                                     :height 801.7499999999999},
                          :rects ({:x1 190.703125,
                                   :y1 423.328125,
                                   :x2 808.46728515625,
                                   :y2 456.328125,
                                   :width 1068.9999999999998,
                                   :height 801.7499999999999}),
                          :page 30},
               :content {:text nil},
               :properties {:color "red"}}],
 :extra {:page 19}}
