{:highlights [{:id #uuid "668cd1e8-09e4-4d91-a385-d5d515d661a8",
               :page 2,
               :position {:bounding {:x1 136,
                                     :y1 300,
                                     :x2 902,
                                     :y2 583,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1720504807920},
               :properties {:color "red"}}
              {:id #uuid "668cd292-5c93-43d8-a259-67895339e300",
               :page 2,
               :position {:bounding {:x1 119.9375,
                                     :y1 739.96875,
                                     :x2 452.6460876464844,
                                     :y2 765.96875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.9375,
                                   :y1 739.96875,
                                   :x2 452.6460876464844,
                                   :y2 765.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "General Overview of Unix Shells"},
               :properties {:color "red"}}
              {:id #uuid "668cd2d9-52a5-4257-98e6-8542a3f1731b",
               :page 3,
               :position {:bounding {:x1 119.9375,
                                     :y1 1081.796875,
                                     :x2 344.7000732421875,
                                     :y2 1116.796875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 165.75,
                                   :y1 1081.796875,
                                   :x2 214.25,
                                   :y2 1116.796875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 1085.28125,
                                   :x2 344.7000732421875,
                                   :y2 1111.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "The tsh Speciﬁcation"},
               :properties {:color "red"}}],
 :extra {:page 8}}
