{:highlights [{:id #uuid "66a6efef-467b-4ea9-b101-57bd1d34aca5",
               :page 15,
               :position {:bounding {:x1 55.578125,
                                     :y1 81.59375,
                                     :x2 1026.333740234375,
                                     :y2 158.140625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 81.765625,
                                   :y1 81.59375,
                                   :x2 1012.003173828125,
                                   :y2 122.59375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 55.578125,
                                   :y1 117.140625,
                                   :x2 1026.333740234375,
                                   :y2 158.140625,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 15},
               :content {:text "You can imagine a stream to be a character buffer that automatically interacts with the external source"},
               :properties {:color "red"}}
              {:id #uuid "66a6f01a-6f72-407b-b360-f72165402039",
               :page 14,
               :position {:bounding {:x1 43,
                                     :y1 198,
                                     :x2 1048,
                                     :y2 514,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1722216473758},
               :properties {:color "red"}}
              {:id #uuid "66a6f02b-2d83-4916-9451-4f9271cb5f56",
               :page 15,
               :position {:bounding {:x1 21,
                                     :y1 192,
                                     :x2 1043,
                                     :y2 532,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1722216490265},
               :properties {:color "red"}}
              {:id #uuid "66a6f067-ae40-4959-98a1-b82620430f8d",
               :page 17,
               :position {:bounding {:x1 363.875,
                                     :y1 246.171875,
                                     :x2 705.0001220703125,
                                     :y2 305.171875,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 363.875,
                                   :y1 246.171875,
                                   :x2 705.0001220703125,
                                   :y2 305.171875,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 17},
               :content {:text "stringstream"},
               :properties {:color "yellow"}}
              {:id #uuid "66a6f087-a2a1-499e-a8a5-c63e1fb086d3",
               :page 21,
               :position {:bounding {:x1 244.6875,
                                     :y1 57,
                                     :x2 821.4600830078125,
                                     :y2 106,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 244.6875,
                                   :y1 57,
                                   :x2 821.4600830078125,
                                   :y2 106,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 21},
               :content {:text "stringstream constructors"},
               :properties {:color "red"}}
              {:id #uuid "66a6f14f-008e-4985-a2f5-abea0a92b61d",
               :page 22,
               :position {:bounding {:x1 262,
                                     :y1 182,
                                     :x2 732,
                                     :y2 347,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1722216782813},
               :properties {:color "red"}}
              {:id #uuid "66a6f15a-25f5-4639-9384-037d6a92ebd9",
               :page 23,
               :position {:bounding {:x1 263,
                                     :y1 183,
                                     :x2 734,
                                     :y2 346,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1722216793501},
               :properties {:color "red"}}
              {:id #uuid "66a6f173-d110-4666-9c95-3a12aaefff0e",
               :page 24,
               :position {:bounding {:x1 255,
                                     :y1 400,
                                     :x2 724,
                                     :y2 574,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1722216821589},
               :properties {:color "red"}}
              {:id #uuid "66a6f183-1dde-4c46-a360-eb368e4fd848",
               :page 25,
               :position {:bounding {:x1 243,
                                     :y1 413,
                                     :x2 724,
                                     :y2 572,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1722216833888},
               :properties {:color "red"}}
              {:id #uuid "66a6f1d6-f176-43eb-8639-2d60cdb3eff6",
               :page 27,
               :position {:bounding {:x1 108,
                                     :y1 194,
                                     :x2 983,
                                     :y2 560,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1722216918032},
               :properties {:color "red"}}
              {:id #uuid "66a6f2a6-e8a7-4a0f-842d-3d6d8c49ac59",
               :page 37,
               :position {:bounding {:x1 56,
                                     :y1 53,
                                     :x2 1034,
                                     :y2 528,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1722217125200},
               :properties {:color "red"}}
              {:id #uuid "66a6f2c6-2509-4465-a4ec-17924fcb8419",
               :page 38,
               :position {:bounding {:x1 112,
                                     :y1 51,
                                     :x2 985,
                                     :y2 544,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1722217157354},
               :properties {:color "red"}}
              {:id #uuid "66a6f3c1-45d1-4c79-9c32-fc4b31afc5ea",
               :page 41,
               :position {:bounding {:x1 72,
                                     :y1 44,
                                     :x2 1056,
                                     :y2 551,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1722217425797},
               :properties {:color "yellow"}}
              {:id #uuid "66a6f3dd-6ce4-4768-933e-42c6d68a2f6e",
               :page 42,
               :position {:bounding {:x1 65,
                                     :y1 49,
                                     :x2 1054,
                                     :y2 554,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1722217436012},
               :properties {:color "red"}}
              {:id #uuid "66a6f4bb-c771-41e0-8cda-319b5c2dcea6",
               :page 44,
               :position {:bounding {:x1 151,
                                     :y1 52,
                                     :x2 1060,
                                     :y2 550,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1722217658008},
               :properties {:color "red"}}
              {:id #uuid "66a77aac-b8d4-4c49-a760-f6b2e3dfbd76",
               :page 46,
               :position {:bounding {:x1 86,
                                     :y1 90,
                                     :x2 1042,
                                     :y2 475,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1722251958937},
               :properties {:color "red"}}
              {:id #uuid "66a77ac9-1ab9-49ed-ae3e-edda7a86a28e",
               :page 47,
               :position {:bounding {:x1 86,
                                     :y1 81,
                                     :x2 1013,
                                     :y2 472,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1722251983000},
               :properties {:color "red"}}
              {:id #uuid "66a77bef-23b1-4c59-9d0d-4bcf1f9b3279",
               :page 50,
               :position {:bounding {:x1 23,
                                     :y1 216,
                                     :x2 1060,
                                     :y2 526,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1722252270319},
               :properties {:color "yellow"}}
              {:id #uuid "66a77bfe-d4f7-43ad-82f8-7f97645140ea",
               :page 51,
               :position {:bounding {:x1 253,
                                     :y1 263,
                                     :x2 1014,
                                     :y2 470,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1722252285640},
               :properties {:color "red"}}
              {:id #uuid "66a77c12-22e5-4db1-b4ee-1b0b67b6f457",
               :page 52,
               :position {:bounding {:x1 243,
                                     :y1 261,
                                     :x2 1016,
                                     :y2 450,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1722252309101},
               :properties {:color "red"}}
              {:id #uuid "66a77c40-b16f-4a23-ad5c-0d49a1f8ff1d",
               :page 54,
               :position {:bounding {:x1 243,
                                     :y1 238,
                                     :x2 1039,
                                     :y2 548,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1722252351553},
               :properties {:color "red"}}],
 :extra {:page 87}}
