{:highlights [{:id #uuid "66ada06c-b325-4a06-887e-061616e23ef5",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 125,
                                     :x2 1058,
                                     :y2 573,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1722654841177},
               :properties {:color "red"}}
              {:id #uuid "66ada091-1a9f-475c-9f05-7e7cf16810b4",
               :page 10,
               :position {:bounding {:x1 10,
                                     :y1 130,
                                     :x2 1056,
                                     :y2 574,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1722654872004},
               :properties {:color "red"}}
              {:id #uuid "66ada0f5-6160-46d7-bf43-9045b19cfadb",
               :page 11,
               :position {:bounding {:x1 62,
                                     :y1 199,
                                     :x2 1056,
                                     :y2 454,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1722654972664},
               :properties {:color "red"}}
              {:id #uuid "66ada115-d5a9-45c2-b624-e72d8749f995",
               :page 12,
               :position {:bounding {:x1 32,
                                     :y1 98,
                                     :x2 1053,
                                     :y2 536,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1722655001316},
               :properties {:color "red"}}
              {:id #uuid "66ada14d-127b-41eb-8776-c26b005712e4",
               :page 15,
               :position {:bounding {:x1 19,
                                     :y1 100,
                                     :x2 1038,
                                     :y2 536,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1722655052933},
               :properties {:color "red"}}
              {:id #uuid "66b0340b-4299-4d47-a6db-3655cdf65f29",
               :page 64,
               :position {:bounding {:x1 27,
                                     :y1 164,
                                     :x2 1008,
                                     :y2 550,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1722823690285},
               :properties {:color "red"}}],
 :extra {:page 79}}
