{:highlights [{:id #uuid "66a79092-20b5-44ed-b603-f78069de875b",
               :page 79,
               :position {:bounding {:x1 0,
                                     :y1 218.125,
                                     :x2 1069,
                                     :y2 1212.625,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 50.34375,
                                   :y1 218.125,
                                   :x2 137.046875,
                                   :y2 257.125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 147.1875,
                                   :y1 218.125,
                                   :x2 346.890625,
                                   :y2 257.125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 357.140625,
                                   :y1 218.125,
                                   :x2 379.1875,
                                   :y2 257.125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 389.421875,
                                   :y1 218.125,
                                   :x2 1051.3109130859375,
                                   :y2 257.125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 131.046875,
                                   :y1 225.125,
                                   :x2 137.046875,
                                   :y2 251.84375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 147.1875,
                                   :y1 225.125,
                                   :x2 346.890625,
                                   :y2 251.84375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 357.140625,
                                   :y1 225.125,
                                   :x2 379.1875,
                                   :y2 251.84375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 389.421875,
                                   :y1 225.125,
                                   :x2 1051.3109130859375,
                                   :y2 251.84375,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 371.046875,
                                   :y1 250.46875,
                                   :x2 862.84375,
                                   :y2 289.46875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 371.046875,
                                   :y1 257.46875,
                                   :x2 862.84375,
                                   :y2 284.1875,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 1034.578125,
                                   :y1 572.828125,
                                   :x2 1051.584716796875,
                                   :y2 587.828125,
                                   :width 1069,
                                   :height 601.3125}
                                  {:x1 0,
                                   :y1 611.3125,
                                   :x2 1069,
                                   :y2 1212.625,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 79},
               :content {:text "using map_iterator = std::unordered_map<forward_list<Student>, unordered_set>::const_iterator;79"},
               :properties {:color "red"}}
              {:id #uuid "66a792f4-be9d-47c0-a8fc-76bc2d0ce4a2",
               :page 90,
               :position {:bounding {:x1 415.625,
                                     :y1 57,
                                     :x2 650.5929565429688,
                                     :y2 106,
                                     :width 1069,
                                     :height 601.3125},
                          :rects ({:x1 415.625,
                                   :y1 57,
                                   :x2 650.5929565429688,
                                   :y2 106,
                                   :width 1069,
                                   :height 601.3125}),
                          :page 90},
               :content {:text "references"},
               :properties {:color "red"}}
              {:id #uuid "66a838d9-f4b7-4120-94f6-4d68059ea8e5",
               :page 93,
               :position {:bounding {:x1 84,
                                     :y1 178,
                                     :x2 984,
                                     :y2 487,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 93},
               :content {:text "[:span]", :image 1722300632411},
               :properties {:color "red"}}
              {:id #uuid "66a8394a-9f9f-41e5-ab2b-e30fb6de83e3",
               :page 94,
               :position {:bounding {:x1 229,
                                     :y1 286,
                                     :x2 832,
                                     :y2 443,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 94},
               :content {:text "[:span]", :image 1722300745639},
               :properties {:color "red"}}
              {:id #uuid "66a83981-2344-47d4-a37a-b04b9b27229b",
               :page 95,
               :position {:bounding {:x1 234,
                                     :y1 286,
                                     :x2 861,
                                     :y2 449,
                                     :width 1069,
                                     :height 601.3125},
                          :rects (),
                          :page 95},
               :content {:text "[:span]", :image 1722300800774},
               :properties {:color "red"}}],
 :extra {:page 95}}
