{:highlights [{:id #uuid "6383fcfc-5cbc-4f86-86ee-c966cbbb0db2",
               :page 1,
               :position {:bounding {:x1 98.328125,
                                     :y1 94.703125,
                                     :x2 215.0790252685547,
                                     :y2 127.703125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 98.328125,
                                   :y1 94.703125,
                                   :x2 215.0790252685547,
                                   :y2 127.703125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "valgrind"},
               :properties {:color "yellow"}}
              {:id #uuid "6383fd72-a483-48c4-94b7-3a6a1a41221d",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 830.375732421875,
                                     :y2 737.4375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 687.9375,
                                   :x2 830.375732421875,
                                   :y2 709.9375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 98.328125,
                                   :y1 715.4375,
                                   :x2 476.9764404296875,
                                   :y2 737.4375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "When you run your program in valgrind, however, valgrind explicitly tracks which variables are initialized and which are not. "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
