{:highlights [{:id #uuid "679b6112-f5a2-4b17-a68b-404e23492d72",
               :page 1,
               :position {:bounding {:x1 130,
                                     :y1 473,
                                     :x2 910,
                                     :y2 801,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1738236176942},
               :properties {:color "yellow"}}
              {:id #uuid "679b62bb-ac61-460d-af74-a2115e0c6bdf",
               :page 2,
               :position {:bounding {:x1 128,
                                     :y1 103,
                                     :x2 925,
                                     :y2 1137,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1738236602055},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
