{:highlights [{:id #uuid "667258e2-6195-48b3-8efd-0c3345b892c3",
               :page 1,
               :position {:bounding {:x1 119.9375,
                                     :y1 818.84375,
                                     :x2 898.4066162109375,
                                     :y2 883.984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 780.881591796875,
                                   :y1 818.84375,
                                   :x2 898.2926025390625,
                                   :y2 838.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 841.421875,
                                   :x2 898.4066162109375,
                                   :y2 861.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.9375,
                                   :y1 863.984375,
                                   :x2 605.290283203125,
                                   :y2 883.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The program is structured so that it loads a chunk into the L1 cache, does all the reads and writes that it needs to on that chunk, then discards the chunk, loads in the next chunk, and so on."},
               :properties {:color "red"}}],
 :extra {:page 2}}
