{:highlights [{:id #uuid "63877a3c-cad3-447a-9455-8867f50b58dd",
               :page 220,
               :position {:bounding {:x1 200.1875,
                                     :y1 1210.46875,
                                     :x2 627.265625,
                                     :y2 1243.46875,
                                     :width 1067.0514149679198,
                                     :height 1508.7445855668166},
                          :rects ({:x1 200.1875,
                                   :y1 1210.46875,
                                   :x2 627.265625,
                                   :y2 1243.46875,
                                   :width 1067.0514149679198,
                                   :height 1508.7445855668166}
                                  {:x1 601.21875,
                                   :y1 1215.46875,
                                   :x2 616.09375,
                                   :y2 1240.25,
                                   :width 1067.0514149679198,
                                   :height 1508.7445855668166}),
                          :page 220},
               :content {:text "孙子曰：凡用兵之法，将受命于 君"},
               :properties {:color "yellow"}}
              {:id #uuid "63877a75-0080-4747-9a4f-484cc3e8e22a",
               :page 21,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 842.140625,
                                     :y2 321.5660400390625,
                                     :width 1067,
                                     :height 1508.6718879878827},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 1067,
                                   :height 1508.6718879878827}
                                  {:x1 795.140625,
                                   :y1 215.421875,
                                   :x2 842.140625,
                                   :y2 321.5660400390625,
                                   :width 1067,
                                   :height 1508.6718879878827}),
                          :page 21},
               :content {:text "始计第"},
               :properties {:color "yellow"}}
              {:id #uuid "6481b426-2b0b-49a7-9f60-8927e00f135e",
               :page 205,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 881.39404296875,
                                     :y2 587.78125,
                                     :width 992.5116666666665,
                                     :height 1403.35},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 196.84375,
                                   :y1 509.609375,
                                   :x2 881.39404296875,
                                   :y2 540.609375,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 144.828125,
                                   :y1 556.78125,
                                   :x2 602.1405029296875,
                                   :y2 587.78125,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 144.828125,
                                   :y1 561.78125,
                                   :x2 424.46875,
                                   :y2 583.0625,
                                   :width 992.5116666666665,
                                   :height 1403.35}),
                          :page 205},
               :content {:text "建立感情最好的工具就是语言，语言不同如何表达？所以要学好 外语，“工欲 善其事 ，必先利其器”"},
               :properties {:color "yellow"}}
              {:id #uuid "6481b52f-9a74-4076-9fa4-011ecb281f43",
               :page 138,
               :position {:bounding {:x1 0,
                                     :y1 302,
                                     :x2 864.25732421875,
                                     :y2 1203.140625,
                                     :width 992.5116666666665,
                                     :height 1403.35},
                          :rects ({:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 372.8084411621094,
                                   :y1 1124.984375,
                                   :x2 864.25732421875,
                                   :y2 1155.984375,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 128.875,
                                   :y1 1172.140625,
                                   :x2 631.3346557617188,
                                   :y2 1203.140625,
                                   :width 992.5116666666665,
                                   :height 1403.35}
                                  {:x1 128.875,
                                   :y1 1177.140625,
                                   :x2 542.2601318359375,
                                   :y2 1198.421875,
                                   :width 992.5116666666665,
                                   :height 1403.35}),
                          :page 138},
               :content {:text "今天不会外国语，太落伍了！如何通行天下？至少要会英文，而且必要学到 一 个境界。"},
               :properties {:color "yellow"}}],
 :extra {:page 139}}
